2013/brp 2013-02-07/research/poc-berichtenverwerker/trunk/service-specifiek/src/main/resources/BewerkenNationaliteitSpecifiek.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ToevoegenNationaliteitSpecifiek" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:brp="http://www.brp.nl/basis" xmlns:brp_a="http://www.brp.nl/basis/antwoord"
	xmlns:brp_tn="http://www.brp.nl/actie/toevoegennationaliteit" xmlns:brp_wn="http://www.brp.nl/actie/wijzigennationaliteit"
    xmlns:brp_vn="http://www.brp.nl/actie/verwijderennationaliteit"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.brp.nl/contract/BewerkenNationaliteitSpecifiek/"
	targetNamespace="http://www.brp.nl/contract/BewerkenNationaliteitSpecifiek/">

	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="BRP_Basis.xsd" namespace="http://www.brp.nl/basis" />
			<xsd:import schemaLocation="BRP_Basis_Antwoord.xsd" namespace="http://www.brp.nl/basis/antwoord" />
			<xsd:import schemaLocation="ToevoegenNationaliteitSpecifiek.xsd" namespace="http://www.brp.nl/actie/toevoegennationaliteit" />
			<xsd:import schemaLocation="WijzigenNationaliteitSpecifiek.xsd" namespace="http://www.brp.nl/actie/wijzigennationaliteit" />
            <xsd:import schemaLocation="VerwijderenNationaliteitSpecifiek.xsd" namespace="http://www.brp.nl/actie/verwijderennationaliteit" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ToevoegenNationaliteitSpecifiekRequest">
		<wsdl:part element="brp_tn:ToevoegenNationaliteit" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ToevoegenNationaliteitSpecifiekResponse">
		<wsdl:part element="brp_a:StandaardAntwoord" name="parameters" />
	</wsdl:message>
	<wsdl:message name="WijzigenNationaliteitSpecifiekRequest">
		<wsdl:part element="brp_wn:WijzigNationaliteit" name="parameters" />
	</wsdl:message>
	<wsdl:message name="WijzigenNationaliteitSpecifiekResponse">
		<wsdl:part element="brp_a:StandaardAntwoord" name="parameters" />
	</wsdl:message>
    <wsdl:message name="VerwijderenNationaliteitSpecifiekRequest">
        <wsdl:part element="brp_vn:VerwijderNationaliteit" name="parameters" />
    </wsdl:message>
    <wsdl:message name="VerwijderenNationaliteitSpecifiekResponse">
        <wsdl:part element="brp_a:StandaardAntwoord" name="parameters" />
    </wsdl:message>

	<wsdl:portType name="BewerkenNationaliteitSpecifiekPortType">
		<wsdl:operation name="ToevoegenNationaliteitSpecifiek">
			<wsdl:input message="tns:ToevoegenNationaliteitSpecifiekRequest" />
			<wsdl:output message="tns:ToevoegenNationaliteitSpecifiekResponse" />
		</wsdl:operation>
		<wsdl:operation name="WijzigenNationaliteitSpecifiek">
			<wsdl:input message="tns:WijzigenNationaliteitSpecifiekRequest" />
			<wsdl:output message="tns:WijzigenNationaliteitSpecifiekResponse" />
		</wsdl:operation>
        <wsdl:operation name="VerwijderenNationaliteitSpecifiek">
            <wsdl:input message="tns:VerwijderenNationaliteitSpecifiekRequest" />
            <wsdl:output message="tns:VerwijderenNationaliteitSpecifiekResponse" />
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BewerkenNationaliteitSpecifiekBinding" type="tns:BewerkenNationaliteitSpecifiekPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ToevoegenNationaliteitSpecifiek">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="WijzigenNationaliteitSpecifiek">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="VerwijderenNationaliteitSpecifiek">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BewerkenNationaliteitSpecifiekService">
		<wsdl:port binding="tns:BewerkenNationaliteitSpecifiekBinding" name="BewerkenNationaliteitSpecifiekPort">
			<soap:address location="http://localhost:8080/berichtenverwerker/services/bewerkennationaliteitspecifiek" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
