Broncode/operatiebrp-code-145.3/brp/brp-leveren/brp-leveren-delivery/brp-delivery-bevraging-gba-ws/src/main/resources/reference/LrdPlus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1" xmlns:LRDPlus="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"  xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:LO3="http://www.bprbzk.nl/GBA/LO3/version1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--Edited version of raw WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1" elementFormDefault="qualified">
   <import namespace="http://www.bprbzk.nl/GBA/LO3/version1.1"/>
   <element name="vraag">
    <complexType>
     <sequence>
      <element name="in0" type="LRDPlus:Vraag"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_int">
    <sequence>
     <element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="Zoekparameter">
    <sequence>
     <element name="rubrieknummer" type="xsd:int"/>
     <element name="zoekwaarde" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfZoekparameter">
    <sequence>
     <element name="item" type="LRDPlus:Zoekparameter" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="Vraag">
    <sequence>
     <element name="indicatieAdresvraag" nillable="true" type="xsd:byte"/>
     <element name="indicatieZoekenInHistorie" nillable="true" type="xsd:byte"/>
     <element name="masker" nillable="true" type="LRDPlus:ArrayOf_xsd_int"/>
     <element name="parameters" nillable="true" type="LRDPlus:ArrayOfZoekparameter"/>
    </sequence>
   </complexType>
   <element name="vraagResponse">
    <complexType>
     <sequence>
      <element name="vraagReturn" type="LRDPlus:Antwoord"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Resultaat">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="letter" nillable="true" type="xsd:string"/>
     <element name="omschrijving" nillable="true" type="xsd:string"/>
     <element name="referentie" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Antwoord">
    <sequence>
     <element name="persoonslijsten" nillable="true" type="LO3:ArrayOf_PL"/>
     <element name="resultaat" nillable="true" type="LRDPlus:Resultaat"/>
    </sequence>
   </complexType>
   <element name="changePassword">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePasswordResponse">
    <complexType>
     <sequence>
      <element name="changePasswordReturn" type="LRDPlus:Resultaat"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bprbzk.nl/GBA/LO3/version1.1" elementFormDefault="qualified">
   <import namespace="http://www.bprbzk.nl/GBA/LRDPlus/version1.1"/>
   <complexType name="Element">
    <sequence>
     <element name="nummer" type="xsd:short"/>
     <element name="waarde" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Categorievoorkomen">
    <sequence>
     <element name="categorienummer" type="xsd:byte"/>
     <element name="elementen" nillable="true" type="LO3:ArrayOf_Element"/>
    </sequence>
   </complexType>
   <complexType name="Categoriestapel">
    <sequence>
     <element name="categorievoorkomens" nillable="true" type="LO3:ArrayOf_Categorievoorkomen"/>
    </sequence>
   </complexType>
   <complexType name="PL">
    <sequence>
     <element name="categoriestapels" nillable="true" type="LO3:ArrayOf_Categoriestapel"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_Element">
    <sequence>
     <element name="item" type="LO3:Element" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_Categorievoorkomen">
    <sequence>
     <element name="item" type="LO3:Categorievoorkomen" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_Categoriestapel">
    <sequence>
     <element name="item" type="LO3:Categoriestapel" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_PL">
    <sequence>
     <element name="item" type="LO3:PL" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="changePasswordRequest">

      <wsdl:part name="parameters" element="LRDPlus:changePassword"/>

   </wsdl:message>

   <wsdl:message name="changePasswordResponse">

      <wsdl:part name="parameters" element="LRDPlus:changePasswordResponse"/>

   </wsdl:message>

   <wsdl:message name="vraagRequest">

      <wsdl:part name="parameters" element="LRDPlus:vraag"/>

   </wsdl:message>

   <wsdl:message name="vraagResponse">

      <wsdl:part name="parameters" element="LRDPlus:vraagResponse"/>

   </wsdl:message>

   <wsdl:portType name="LrdPlus">

      <wsdl:operation name="vraag">

         <wsdl:input name="vraagRequest" message="LRDPlus:vraagRequest"/>

         <wsdl:output name="vraagResponse" message="LRDPlus:vraagResponse"/>

      </wsdl:operation>

      <wsdl:operation name="changePassword">

         <wsdl:input name="changePasswordRequest" message="LRDPlus:changePasswordRequest"/>

         <wsdl:output name="changePasswordResponse" message="LRDPlus:changePasswordResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LrdPlusSoapBinding" type="LRDPlus:LrdPlus">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="vraag">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vraagRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="vraagResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LrdPlusService">

      <wsdl:port name="LrdPlus" binding="LRDPlus:LrdPlusSoapBinding">

         <wsdlsoap:address location="https://www.bprbzk.nl/gba-v/online/lo3services/adhoc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
