Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgVerblijfAdres_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 07-04-2017 -->
<!-- -->
<!-- Wijzigingen: -->
<!-- 1) Minimaal één bron verplicht bij AH Wijziging bijzondere verblijfsrechtelijke positie -->
<!-- 2) Diverse aanpassingen commentlines en verschuivingen volgorde complexTypes (xsd-verbetering) -->
<!-- 3) Aanpassing AdministratieveHandelingBron Correctie adres; Document en RechtsgrondCode mogelijk -->
<!-- 4) Toevoeging administratieve handelingen Correctie migratie, Correctie verblijfsrecht en Correctie bijzondere verblijfsrechtelijke positie -->
<!-- 5) Toevoeging bericht 'RegistreerVerblijf' en handeling 'Constatering verblijf kind -->
<!-- 6) Naamgeving complexTypes; suffix verwijst naar XSD-onderdeel waar definitie is uitgewerkt; VerblijfAdres of BijhoudingBasis (algemeen complexType) --> 
<!-- 7) Naamgeving complexTypes aangepast aan conventies; XSD-verbetering -->
<!-- 8) Toevoeging bericht 'RegistreerImmigratie' en handelingen 'Vestiging niet ingeschrevene' en 'Vestiging niet-ingezetene' -->
<!-- 9) Toevoeging berichtspecificatie handeling 'Wijziging gemeente infrastructureel bij overledene -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020005">
	<include schemaLocation="brp0200_bhgVerblijfAdres_Basis.xsd"/>
	<!-- ... -->
	<element name="bhg_vbaRegistreerVerblijf" type="brp:Bijhouding_RegistreerVerblijf_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerVerblijf_R" type="brp:BijhoudingResultaat_RegistreerVerblijf_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerImmigratie" type="brp:Bijhouding_RegistreerImmigratie_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerImmigratie_R" type="brp:BijhoudingResultaat_RegistreerImmigratie_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerVerhuizing" type="brp:Bijhouding_RegistreerVerhuizing_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerVerhuizing_R" type="brp:BijhoudingResultaat_RegistreerVerhuizing_VerblijfAdres"/>
	<element name="bhg_vbaActualiseerInfrastructureleWijziging" type="brp:Bijhouding_ActualiseerInfrastructureleWijziging_VerblijfAdres"/>
	<element name="bhg_vbaActualiseerInfrastructureleWijziging_R" type="brp:BijhoudingResultaat_ActualiseerInfrastructureleWijziging_VerblijfAdres"/>
	<element name="bhg_vbaCorrigeerAdres" type="brp:Bijhouding_CorrigeerAdres_VerblijfAdres"/>
	<element name="bhg_vbaCorrigeerAdres_R" type="brp:BijhoudingResultaat_CorrigeerAdres_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerVerblijfsrecht" type="brp:Bijhouding_RegistreerVerblijfsrecht_VerblijfAdres"/>
	<element name="bhg_vbaRegistreerVerblijfsrecht_R" type="brp:BijhoudingResultaat_RegistreerVerblijfsrecht_VerblijfAdres"/>
	<element name="bhg_vbaCorrigeerVerblijfsrecht" type="brp:Bijhouding_CorrigeerVerblijfsrecht_VerblijfAdres"/>
	<element name="bhg_vbaCorrigeerVerblijfsrecht_R" type="brp:BijhoudingResultaat_CorrigeerVerblijfsrecht_VerblijfAdres"/>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerVerblijf -->
	<complexType name="Bijhouding_RegistreerVerblijf_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="constateringVerblijfKind" type="brp:Handeling_ConstateringVerblijfKind_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Constaering verblijf kind -->
	<complexType name="Handeling_ConstateringVerblijfKind_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_ConstateringVerblijfKind">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_ConstateringVerblijfKind_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerImmigratie -->
	<complexType name="Bijhouding_RegistreerImmigratie_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="vestigingNietIngeschrevene" type="brp:Handeling_VestigingNietIngeschrevene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="vestigingNietIngezetene" type="brp:Handeling_VestigingNietIngezetene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Vestiging niet ingeschrevene -->
	<complexType name="Handeling_VestigingNietIngeschrevene_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_VestigingNietIngeschrevene">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VestigingNietIngeschrevene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Vestiging niet-ingezetene -->
	<complexType name="Handeling_VestigingNietIngezetene_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_VestigingNietIngezetene">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VestigingNietIngezetene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerImmigratie -->
	<complexType name="BijhoudingResultaat_RegistreerImmigratie_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="vestigingNietIngeschrevene" type="brp:Handeling_VestigingNietIngeschrevene_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="vestigingNietIngezetene" type="brp:Handeling_VestigingNietIngezetene_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerVerblijf -->
	<complexType name="BijhoudingResultaat_RegistreerVerblijf_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="constateringVerblijfKind" type="brp:Handeling_ConstateringVerblijfKind_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerVerhuizing -->
	<complexType name="Bijhouding_RegistreerVerhuizing_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="verhuizingBinnengemeentelijk" type="brp:Handeling_VerhuizingBinnengemeentelijk_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingIntergemeentelijk" type="brp:Handeling_VerhuizingIntergemeentelijk_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingNaarBuitenland" type="brp:Handeling_VerhuizingNaarBuitenland_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Verhuizing Binnengemeentelijk -->
	<complexType name="Handeling_VerhuizingBinnengemeentelijk_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingBinnengemeentelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingBinnengemeentelijk_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Verhuizing Intergemeentelijk -->
	<complexType name="Handeling_VerhuizingIntergemeentelijk_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingIntergemeentelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingIntergemeentelijk_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Verhuizing naar buitenland -->
	<complexType name="Handeling_VerhuizingNaarBuitenland_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingNaarBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingNaarBuitenland_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerVerhuizing -->
	<complexType name="BijhoudingResultaat_RegistreerVerhuizing_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="verhuizingBinnengemeentelijk" type="brp:Handeling_VerhuizingBinnengemeentelijk_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingIntergemeentelijk" type="brp:Handeling_VerhuizingIntergemeentelijk_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingNaarBuitenland" type="brp:Handeling_VerhuizingNaarBuitenland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht ActualiseerInfrastructureleWijziging -->
	<complexType name="Bijhouding_ActualiseerInfrastructureleWijziging_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="wijzigingGemeenteInfrastructureel" type="brp:Handeling_WijzigingGemeenteInfrastructureel_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingGemeenteInfrastructureelBijOverledene" type="brp:Handeling_WijzigingGemeenteInfrastructureelBijOverledene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingAdresInfrastructureel" type="brp:Handeling_WijzigingAdresInfrastructureel_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wjziging gemeente infrastructureel -->
	<complexType name="Handeling_WijzigingGemeenteInfrastructureel_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingGemeenteInfrastructureel">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingGemeenteInfrastructureel_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wjziging gemeente infrastructureel bij overledene-->
	<complexType name="Handeling_WijzigingGemeenteInfrastructureelBijOverledene_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingGemeenteInfrastructureelBijOverledene">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingGemeenteInfrastructureelBijOverledene_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging adres infrastructureel -->
	<complexType name="Handeling_WijzigingAdresInfrastructureel_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingAdresInfrastructureel">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingAdresInfrastructureel_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht ActualiseerInfrastructureleWijziging -->
	<complexType name="BijhoudingResultaat_ActualiseerInfrastructureleWijziging_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="wijzigingGemeenteInfrastructureel" type="brp:Handeling_WijzigingGemeenteInfrastructureel_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingAdresInfrastructureel" type="brp:Handeling_WijzigingAdresInfrastructureel_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht CorrigeerAdres -->
	<complexType name="Bijhouding_CorrigeerAdres_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieAdres" type="brp:Handeling_CorrectieAdres_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieMigratie" type="brp:Handeling_CorrectieMigratie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie adres -->
	<complexType name="Handeling_CorrectieAdres_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieAdres">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAdres_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie migratie -->
	<complexType name="Handeling_CorrectieMigratie_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieMigratie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieMigratie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht CorrigeerAdres  -->
	<complexType name="BijhoudingResultaat_CorrigeerAdres_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieAdres" type="brp:Handeling_CorrectieAdres_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieMigratie" type="brp:Handeling_CorrectieMigratie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerVerblijfsrecht -->
	<complexType name="Bijhouding_RegistreerVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="wijzigingVerblijfsrecht" type="brp:Handeling_WijzigingVerblijfsrecht_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging Verblijfsrecht -->
	<complexType name="Handeling_WijzigingVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingVerblijfsrecht">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingVerblijfsrecht_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging bijzondere verblijfsrechtelijke positie -->
	<complexType name="Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingBijzondereVerblijfsrechtelijkePositie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerVerblijfsrecht -->
	<complexType name="BijhoudingResultaat_RegistreerVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="wijzigingVerblijfsrecht" type="brp:Handeling_WijzigingVerblijfsrecht_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht CorrigeerVerblijfsrecht -->
	<complexType name="Bijhouding_CorrigeerVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieVerblijfsrecht" type="brp:Handeling_CorrectieVerblijfsrecht_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_CorrectieBijzondereVerblijfsrechtelijkePositie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Corrrectie Verblijfsrecht -->
	<complexType name="Handeling_CorrectieVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieVerblijfsrecht">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieVerblijfsrecht_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie bijzondere verblijfsrechtelijke positie -->
	<complexType name="Handeling_CorrectieBijzondereVerblijfsrechtelijkePositie_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieBijzondereVerblijfsrechtelijkePositie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieBijzondereVerblijfsrechtelijkePositie_VerblijfAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht CorrigeerVerblijfsrecht -->
	<complexType name="BijhoudingResultaat_CorrigeerVerblijfsrecht_VerblijfAdres">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieVerblijfsrecht" type="brp:Handeling_CorrectieVerblijfsrecht_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_CorrectieBijzondereVerblijfsrechtelijkePositie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
