Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgBijzondereBijhouding_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Initiële versie; uitwerking eerste versie berichten 'bhg_bbhActualiseerPersoonsgegevens' en 'bhg_bbhCorrigeerPersoonsgegevens' -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_bhgBijzondereBijhouding_Basis.xsd"/>
	<element name="bhg_bbhActualiseerPersoonsgegevens" type="brp:Bijhouding_ActualiseerPersoonsgegevens_BijzBijh"/>
	<element name="bhg_bbhActualiseerPersoonsgegevens_R" type="brp:BijhoudingResultaat_ActualiseerPersoonsgegevens_BijzBijh"/>
	<element name="bhg_bbhCorrigeerPersoonsgegevens" type="brp:Bijhouding_CorrigeerPersoonsgegevens_BijzBijh"/>
	<element name="bhg_bbhCorrigeerPersoonsgegevens_R" type="brp:BijhoudingResultaat_CorrigeerPersoonsgegevens_BijzBijh"/>
	<!-- ... -->
	<!-- Bijhoudingbericht Actualiseer persoonsgegevens -->
	<complexType name="Bijhouding_ActualiseerPersoonsgegevens_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="wijzigingIdentificatienummers" type="brp:Handeling_WijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingBuitenlandsPersoonsnummer" type="brp:Handeling_WijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingDocumentindicatie" type="brp:Handeling_WijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging identificatienummers -->
	<complexType name="Handeling_WijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingIdentificatienummers">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging buitenlands persoonsnummer -->
	<complexType name="Handeling_WijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingBuitenlandsPersoonsnummer">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging documentindicatie -->
	<complexType name="Handeling_WijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingDocumentindicatie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht Actualiseer persoonsgegevens -->
	<complexType name="BijhoudingResultaat_ActualiseerPersoonsgegevens_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="wijzigingIdentificatienummers" type="brp:Handeling_WijzigingIdentificatienummers_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingBuitenlandsPersoonsnummer" type="brp:Handeling_WijzigingBuitenlandsPersoonsnummer_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingDocumentindicatie" type="brp:Handeling_WijzigingDocumentindicatie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht Corrigeer persoonsgegevens -->
	<complexType name="Bijhouding_CorrigeerPersoonsgegevens_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieBuitenlandsPersoonsnummer" type="brp:Handeling_CorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="opschortingBijhoudingPersoonsgegevensRedenFoutief" type="brp:Handeling_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieBijhouding" type="brp:Handeling_CorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Correctie buitenlands persoonsnummer -->
	<complexType name="Handeling_CorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging buitenlands persoonsnummer -->
	<complexType name="Handeling_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_OpschortingBijhoudingPersoonsgegevensRedenFoutief">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Correctie bijhouding -->
	<complexType name="Handeling_CorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieBijhouding">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht Corrigeer persoonsgegevens -->
	<complexType name="BijhoudingResultaat_CorrigeerPersoonsgegevens_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieBuitenlandsPersoonsnummer" type="brp:Handeling_CorrectieBuitenlandsPersoonsnummer_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="opschortingBijhoudingPersoonsgegevensRedenFoutief" type="brp:Handeling_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieBijhouding" type="brp:Handeling_CorrectieBijhouding_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
