Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgAfstamming_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- -->
<!-- Wijzigingen: -->
<!-- 1) Toevoeging nieuwe AH-en 'Wijizging oudergegevens' en 'Wijziging kindgegevens' -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020005">
	<include schemaLocation="brp0200_bhgAfstamming_Basis.xsd"/>
	<element name="bhg_afsRegistreerGeboorte" type="brp:Bijhouding_RegistreerGeboorte_Afstamming"/>
	<element name="bhg_afsRegistreerGeboorte_R" type="brp:BijhoudingResultaat_RegistreerGeboorte_Afstamming"/>
	<element name="bhg_afsRegistreerErkenning" type="brp:Bijhouding_RegistreerErkenning_Afstamming"/>
	<element name="bhg_afsRegistreerErkenning_R" type="brp:BijhoudingResultaat_RegistreerErkenning_Afstamming"/>
	<element name="bhg_afsActualiseerAfstamming" type="brp:Bijhouding_ActualiseerAfstamming_Afstamming"/>
	<element name="bhg_afsActualiseerAfstamming_R" type="brp:BijhoudingResultaat_ActualiseerAfstamming_Afstamming"/>
	<element name="bhg_afsRegistreerAdoptie" type="brp:Bijhouding_RegistreerAdoptie_Afstamming"/>
	<element name="bhg_afsRegistreerAdoptie_R" type="brp:BijhoudingResultaat_RegistreerAdoptie_Afstamming"/>
	<element name="bhg_afsCorrigeerAfstamming" type="brp:Bijhouding_CorrigeerAfstamming_Afstamming"/>
	<element name="bhg_afsCorrigeerAfstamming_R" type="brp:BijhoudingResultaat_CorrigeerAfstamming_Afstamming"/>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerGeboorte -->
	<complexType name="Bijhouding_RegistreerGeboorte_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="geboorteInNederland" type="brp:Handeling_GeboorteInNederland_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geboorteInNederlandMetErkenningOpGeboortedatum" type="brp:Handeling_GeboorteInNederlandMetErkenningOpGeboortedatum_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geboorteInNederlandMetErkenningNaGeboortedatum" type="brp:Handeling_GeboorteInNederlandMetErkenningNaGeboortedatum_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Geboorte in Nederland -->
	<complexType name="Handeling_GeboorteInNederland_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_GeboorteInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_GeboorteInNederland_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Geboorte in Nederland met erkenning op geboortedatum -->
	<complexType name="Handeling_GeboorteInNederlandMetErkenningOpGeboortedatum_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_GeboorteInNederlandMetErkenningOpGeboortedatum">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_GeboorteInNederlandMetErkenningOpGeboortedatum_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Geboorte in Nederland met erkenning na geboortedatum  -->
	<complexType name="Handeling_GeboorteInNederlandMetErkenningNaGeboortedatum_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_GeboorteInNederlandMetErkenningNaGeboortedatum">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_GeboorteInNederlandMetErkenningNaGeboortedatum_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerGeboorte -->
	<complexType name="BijhoudingResultaat_RegistreerGeboorte_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="geboorteInNederland" type="brp:Handeling_GeboorteInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geboorteInNederlandMetErkenningOpGeboortedatum" type="brp:Handeling_GeboorteInNederlandMetErkenningOpGeboortedatum_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geboorteInNederlandMetErkenningNaGeboortedatum" type="brp:Handeling_GeboorteInNederlandMetErkenningNaGeboortedatum_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerErkenning -->
	<complexType name="Bijhouding_RegistreerErkenning_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice> 
						<element name="erkenning" type="brp:Handeling_Erkenning_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="vernietigingErkenning" type="brp:Handeling_VernietigingErkenning_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Erkenning -->
	<complexType name="Handeling_Erkenning_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_Erkenning">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_Erkenning_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Vernietiging erkenning -->
	<complexType name="Handeling_VernietigingErkenning_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_VernietigingErkenning">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VernietigingErkenning_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... --> 
	<!-- Bijhoudingresultaatbericht RegistreerErkenning -->
	<complexType name="BijhoudingResultaat_RegistreerErkenning_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="erkenning" type="brp:Handeling_Erkenning_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="vernietigingErkenning" type="brp:Handeling_VernietigingErkenning_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht ActualiseerAfstamming -->
	<complexType name="Bijhouding_ActualiseerAfstamming_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice> 
						<element name="vaststellingOuderschap" type="brp:Handeling_VaststellingOuderschap_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontkenningOuderschap" type="brp:Handeling_OntkenningOuderschap_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingOudergegevens" type="brp:Handeling_WijzigingOudergegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingKindgegevens" type="brp:Handeling_WijzigingKindgegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: VaststellingOuderschap -->
	<complexType name="Handeling_VaststellingOuderschap_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_VaststellingOuderschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VaststellingOuderschap_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: OntkenningOuderschap -->
	<complexType name="Handeling_OntkenningOuderschap_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_OntkenningOuderschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntkenningOuderschap_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Wijziging oudergegevens -->
	<complexType name="Handeling_WijzigingOudergegevens_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingOudergegevens">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingOudergegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Wijziging kindgegevens -->
	<complexType name="Handeling_WijzigingKindgegevens_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingKindgegevens">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingKindgegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... --> 
	<!-- Bijhoudingresultaatbericht ActualiseerAfstamming -->
	<complexType name="BijhoudingResultaat_ActualiseerAfstamming_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="vaststellingOuderschap" type="brp:Handeling_VaststellingOuderschap_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontkenningOuderschap" type="brp:Handeling_OntkenningOuderschap_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingOudergegevens" type="brp:Handeling_WijzigingOudergegevens_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingKindgegevens" type="brp:Handeling_WijzigingKindgegevens_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerAdoptie -->
	<complexType name="Bijhouding_RegistreerAdoptie_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="adoptie" type="brp:Handeling_Adoptie_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="omzettingAdoptie" type="brp:Handeling_OmzettingAdoptie_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Adoptie -->
	<complexType name="Handeling_Adoptie_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_Adoptie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_Adoptie_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Adoptie -->
	<complexType name="Handeling_OmzettingAdoptie_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_OmzettingAdoptie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OmzettingAdoptie_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... --> 
	<!-- Bijhoudingresultaatbericht RegistreerAdoptie -->
	<complexType name="BijhoudingResultaat_RegistreerAdoptie_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="adoptie" type="brp:Handeling_Adoptie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="omzettingAdoptie" type="brp:Handeling_OmzettingAdoptie_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht CorrigeerAfstamming -->
	<complexType name="Bijhouding_CorrigeerAfstamming_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieAfstamming" type="brp:Handeling_CorrectieAfstamming_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieOudergegevens" type="brp:Handeling_CorrectieOudergegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieKindgegevens" type="brp:Handeling_CorrectieKindgegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Correctie afstamming -->
	<complexType name="Handeling_CorrectieAfstamming_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieAfstamming">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAfstamming_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Correctie oudergegevens -->
	<complexType name="Handeling_CorrectieOudergegevens_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieOudergegevens">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieOudergegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling: Correctie kindgegevens -->
	<complexType name="Handeling_CorrectieKindgegevens_Afstamming">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieKindgegevens">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieKindgegevens_Afstamming" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... --> 
	<!-- Bijhoudingresultaatbericht CorrigeerAfstamming -->
	<complexType name="BijhoudingResultaat_CorrigeerAfstamming_Afstamming">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieAfstamming" type="brp:Handeling_CorrectieAfstamming_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieOudergegevens" type="brp:Handeling_CorrectieOudergegevens_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieKindgegevens" type="brp:Handeling_CorrectieKindgegevens_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>