Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgHuwelijkGeregistreerdPartnerschap_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Aanpassing berichtspecificaties Wijizging partnergegevens Huwelijk/Geregistreerd partnerschap; BZVU verwijderd -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020008">
	<include schemaLocation="brp0200_bhgHuwelijkGeregistreerdPartnerschap_Basis.xsd"/>
	<element name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap" type="brp:Bijhouding_RegistreerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<element name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap_R" type="brp:BijhoudingResultaat_RegistreerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<element name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap" type="brp:Bijhouding_ActualiseerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<element name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap_R" type="brp:BijhoudingResultaat_ActualiseerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<element name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap" type="brp:Bijhouding_CorrigeerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<element name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap_R" type="brp:BijhoudingResultaat_CorrigeerHuwelijkGeregistreerdPartnerschap_HuwGp"/>
	<!-- ... -->
	<!-- Bijhoudingbericht RegistreerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="Bijhouding_RegistreerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="voltrekkingHuwelijkInNederland" type="brp:Handeling_VoltrekkingHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkInNederland" type="brp:Handeling_OntbindingHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="voltrekkingHuwelijkInBuitenland" type="brp:Handeling_VoltrekkingHuwelijkInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkInBuitenland" type="brp:Handeling_OntbindingHuwelijkInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="aangaanGeregistreerdPartnerschapInNederland" type="brp:Handeling_AangaanGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="beeindigingGeregistreerdPartnerschapInNederland" type="brp:Handeling_BeeindigingGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="aangaanGeregistreerdPartnerschapInBuitenland" type="brp:Handeling_AangaanGeregistreerdPartnerschapInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="beeindigingGeregistreerdPartnerschapInBuitenland" type="brp:Handeling_BeeindigingGeregistreerdPartnerschapInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="omzettingGeregistreerdPartnerschapInHuwelijk" type="brp:Handeling_OmzettingGeregistreerdPartnerschapInHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="nietigverklaringHuwelijkInNederland" type="brp:Handeling_NietigverklaringHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="nietigverklaringGeregistreerdPartnerschapInNederland" type="brp:Handeling_NietigverklaringGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Voltrekking huwelijk in Nederland -->
	<complexType name="Handeling_VoltrekkingHuwelijkInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_VoltrekkingHuwelijkInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VoltrekkingHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Ontbinding huwelijk in Nederland -->
	<complexType name="Handeling_OntbindingHuwelijkInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Voltrekking huwelijk in buitenland -->
	<complexType name="Handeling_VoltrekkingHuwelijkInBuitenland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_VoltrekkingHuwelijkInBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VoltrekkingHuwelijkInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Ontbinding huwelijk in buitenland -->
	<complexType name="Handeling_OntbindingHuwelijkInBuitenland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkInBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkInBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Aangaan geregistreerd partnerschap in Nederland -->
	<complexType name="Handeling_AangaanGeregistreerdPartnerschapInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_AangaanGeregistreerdPartnerschapInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_AangaanGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Beeindiging geregistreerd partnerschap in Nederland -->
	<complexType name="Handeling_BeeindigingGeregistreerdPartnerschapInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_BeeindigingGeregistreerdPartnerschapInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_BeeindigingGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Aangaan geregistreerd partnerschap in buitenland -->
	<complexType name="Handeling_AangaanGeregistreerdPartnerschapInBuitenland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_AangaanGeregistreerdPartnerschapInBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_AangaanGeregistreerdPartnerschapInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Beeindiging geregistreerd partnerschap in buitenland -->
	<complexType name="Handeling_BeeindigingGeregistreerdPartnerschapInBuitenland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_BeeindigingGeregistreerdPartnerschapInBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_BeeindigingGeregistreerdPartnerschapInBuitenland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Omzetting geregistreerd partnerschap in huwelijk -->
	<complexType name="Handeling_OmzettingGeregistreerdPartnerschapInHuwelijk_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_OmzettingGeregistreerdPartnerschapInHuwelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OmzettingGeregistreerdPartnerschapInHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Nietigverklaring huwelijk in Nederland -->
	<complexType name="Handeling_NietigverklaringHuwelijkInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_NietigverklaringHuwelijkInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_NietigverklaringHuwelijkInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Nietigverklaring geregistreerd partnerschap in Nederland -->
	<complexType name="Handeling_NietigverklaringGeregistreerdPartnerschapInNederland_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_NietigverklaringGeregistreerdPartnerschapInNederland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_NietigverklaringGeregistreerdPartnerschapInNederland_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht RegistreerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="BijhoudingResultaat_RegistreerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="voltrekkingHuwelijkInNederland" type="brp:Handeling_VoltrekkingHuwelijkInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkInNederland" type="brp:Handeling_OntbindingHuwelijkInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="voltrekkingHuwelijkInBuitenland" type="brp:Handeling_VoltrekkingHuwelijkInBuitenland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkInBuitenland" type="brp:Handeling_OntbindingHuwelijkInBuitenland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="aangaanGeregistreerdPartnerschapInNederland" type="brp:Handeling_AangaanGeregistreerdPartnerschapInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="beeindigingGeregistreerdPartnerschapInNederland" type="brp:Handeling_BeeindigingGeregistreerdPartnerschapInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="aangaanGeregistreerdPartnerschapInBuitenland" type="brp:Handeling_AangaanGeregistreerdPartnerschapInBuitenland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="beeindigingGeregistreerdPartnerschapInBuitenland" type="brp:Handeling_BeeindigingGeregistreerdPartnerschapInBuitenland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="omzettingGeregistreerdPartnerschapInHuwelijk" type="brp:Handeling_OmzettingGeregistreerdPartnerschapInHuwelijk_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="nietigverklaringHuwelijkInNederland" type="brp:Handeling_NietigverklaringHuwelijkInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="nietigverklaringGeregistreerdPartnerschapInNederland" type="brp:Handeling_NietigverklaringGeregistreerdPartnerschapInNederland_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht ActualiseerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="Bijhouding_ActualiseerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="wijzigingPartnergegevensHuwelijk" type="brp:Handeling_WijzigingPartnergegevensHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingPartnergegevensGeregistreerdPartnerschap" type="brp:Handeling_WijzigingPartnergegevensGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging partnergegevens huwelijk -->
	<complexType name="Handeling_WijzigingPartnergegevensHuwelijk_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingPartnergegevensHuwelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingPartnergegevensHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Wijziging partnergegevens geregistreerd partnerschap -->
	<complexType name="Handeling_WijzigingPartnergegevensGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingPartnergegevensGeregistreerdPartnerschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingPartnergegevensGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht ActualiseerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="BijhoudingResultaat_ActualiseerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="wijzigingPartnergegevensHuwelijk" type="brp:Handeling_WijzigingPartnergegevensHuwelijk_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="wijzigingPartnergegevensGeregistreerdPartnerschap" type="brp:Handeling_WijzigingPartnergegevensGeregistreerdPartnerschap_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingbericht CorrigeerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="Bijhouding_CorrigeerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="ongedaanmakingHuwelijk" type="brp:Handeling_OngedaanmakingHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ongedaanmakingGeregistreerdPartnerschap" type="brp:Handeling_OngedaanmakingGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieHuwelijk" type="brp:Handeling_CorrectieHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieGeregistreerdPartnerschap" type="brp:Handeling_CorrectieGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctiePartnergegevensHuwelijk" type="brp:Handeling_CorrectiePartnergegevensHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctiePartnergegevensGeregistreerdPartnerschap" type="brp:Handeling_CorrectiePartnergegevensGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Ongedaanmaking huwelijk -->
	<complexType name="Handeling_OngedaanmakingHuwelijk_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_OngedaanmakingHuwelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OngedaanmakingHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Ongedaanmaking geregistreerd partnerschap -->
	<complexType name="Handeling_OngedaanmakingGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_OngedaanmakingGeregistreerdPartnerschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OngedaanmakingGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie huwelijk -->
	<complexType name="Handeling_CorrectieHuwelijk_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieHuwelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie geregistreerd partnerschap -->
	<complexType name="Handeling_CorrectieGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieGeregistreerdPartnerschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bezienVanuitPersonen" type="brp:Container_AdministratieveHandelingBezienVanuitPersonenMaxEen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie partnergegevens huwelijk -->
	<complexType name="Handeling_CorrectiePartnergegevensHuwelijk_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_CorrectiePartnergegevensHuwelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectiePartnergegevensHuwelijk_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie partnergegevens geregistreerd partnerschap -->
	<complexType name="Handeling_CorrectiePartnergegevensGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Handeling_CorrectiePartnergegevensGeregistreerdPartnerschap">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnenRechtsgrondcodeAkteDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectiePartnergegevensGeregistreerdPartnerschap_HuwGp" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijhoudingresultaatbericht CorrigeerHuwelijkGeregistreerdPartnerschap -->
	<complexType name="BijhoudingResultaat_CorrigeerHuwelijkGeregistreerdPartnerschap_HuwGp">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="ongedaanmakingHuwelijk" type="brp:Handeling_OngedaanmakingHuwelijk_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ongedaanmakingGeregistreerdPartnerschap" type="brp:Handeling_OngedaanmakingGeregistreerdPartnerschap_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="correctieHuwelijk" type="brp:Handeling_CorrectieHuwelijk_BijhoudingResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
						<element name="correctieGeregistreerdPartnerschap" type="brp:Handeling_CorrectieGeregistreerdPartnerschap_BijhoudingResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
						<element name="correctiePartnergegevensHuwelijk" type="brp:Handeling_CorrectiePartnergegevensHuwelijk_BijhoudingResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
						<element name="correctiePartnergegevensGeregistreerdPartnerschap" type="brp:Handeling_CorrectiePartnergegevensGeregistreerdPartnerschap_BijhoudingResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
