Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_iscMigratievoorziening_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Aanpassing complexType PersoonAdres nav parser-fout (te weing onderscheid obv underscore); bij verwijzing naar objecttype PersoonAdres ontbrak toevoeging 'Adres' in complexType  -->
<!-- 2) Aanpassing specificaties administratieve handeling GBA-Erkenning; acties mbt Nationaliteit komen te vervallen -->
<!-- 3) Toevoeging berichtspecificaties administratieve handelingen 'GBA-Wissen persoon', 'GBA-Vernietiging erkenning', 'GBA-Vaststelling ouderschap, 'GBA-Ontkenning ouderschap', 'GBA-Adoptie' -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020005">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- -->
	<!-- GBA - Geboorte in Nederland -->
	<complexType name="Container_Handeling_Acties_GBAGeboorteInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAGeboorteInNederland">
				<sequence>
					<element name="registratieGeborene" type="brp:Actie_RegistratieGeborene_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteit_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloos_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieGeborene_GBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeborene">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenAfstammingGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenAfstammingGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="ouder" type="brp:Objecttype_OuderGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="persoon" type="brp:Objecttype_PersoonGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="geboorte" type="brp:Groep_PersoonGeboorteGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeboorteGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeboorte">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Oudergegevens Actie RegistratieGeborene -->
	<complexType name="Objecttype_OuderGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_Identificatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="ouderschap" type="brp:Groep_OuderOuderschapGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderschapGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderschap">
				<sequence>
					<element name="indicatieOuderUitWieKindIsGeboren" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Nationaliteit bij geborene (verwijzing op basis van referentieID) -->
	<complexType name="Actie_RegistratieNationaliteit_GBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNationaliteit">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNationaliteitGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieNationaliteitGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteitenRegistratie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Indicatie Staatloos bij geborene (verwijzing op basis van referentieID)  -->
	<complexType name="Actie_RegistratieStaatloos_GBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieStaatloos">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieStaatloosGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieStaatloosGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_StaatloosGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_StaatloosGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="staatloos" type="brp:Indicator_StaatloosGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_StaatloosGBAGeboorteInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Indicator_Staatloos">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Geboorte in Nederland met erkenning op geboortedatum -->
	<complexType name="Container_Handeling_Acties_GBAGeboorteInNederlandMetErkenningOpGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAGeboorteInNederlandMetErkenningOpGeboortedatum">
				<sequence>
					<element name="registratieGeborene" type="brp:Actie_RegistratieGeborene_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteit_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloos_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Geboorte in Nederland met erkenning na geboortedatum -->
	<complexType name="Container_Handeling_Acties_GBAGeboorteInNederlandMetErkenningNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAGeboorteInNederlandMetErkenningNaGeboortedatum">
				<sequence>
					<element name="registratieGeborene" type="brp:Actie_RegistratieGeborene_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieOuder" type="brp:Actie_RegistratieOuder_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaam_GBAGeboorteInNLMetErkNaGeboortedatum_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteit_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="beeindigingNationaliteit" type="brp:Actie_BeeindigingNationaliteit_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloos_GBAGeboorteInNL_MigVrz" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieGeborene_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeborene">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenAfstammingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenAfstammingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindGBAGeboorteInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="ouder" type="brp:Objecttype_OuderGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OuderGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_Identificatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Ouder igv Erkenning bij aangifte geboorte na geboortedatum -->
	<complexType name="Actie_RegistratieOuder_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOuder">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenAfstammingGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenAfstammingGBAGeboorteNLMetErkenningNaGeboortedatumRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie GeslachtsnaamVoornaam bij geborene (verwijzing op basis van referentieID) -->
	<complexType name="Actie_RegistratieGeslachtsnaamVoornaam_GBAGeboorteInNLMetErkNaGeboortedatum_Bijhouding">	               
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeslachtsnaamVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Beeindiging Nationaliteit - Wijziging voor Geborene (verwijzing op basis van referentieID)-->
	<complexType name="Actie_BeeindigingNationaliteit_GBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingNationaliteit">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>					
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingNationaliteitGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingNationaliteitGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteitenBeeindigingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteitenBeeindigingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonNationaliteiten">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteitBeeindigingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteitBeeindigingGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonNationaliteit">
				<sequence>
					<element name="redenVerliesCode" type="brp:RedenVerliesCode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonNationaliteit"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Erkenning -->
	<complexType name="Container_Handeling_Acties_GBAErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAErkenning">
				<sequence>
					<element name="registratieOuder" type="brp:Actie_RegistratieOuderGBAErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie ouder -->
	<complexType name="Actie_RegistratieOuderGBAErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOuder">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonGBAErkenningRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGBAErkenningRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenGBAErkenningRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenGBAErkenningRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindGBAErkenningRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindGBAErkenningRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingGBAErkenningRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingGBAErkenningRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenGBAErkenningRegistratieOuder_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenGBAErkenningRegistratieOuder_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie GeslachtsnaamVoornaam bij ingeschrevene -->
	<complexType name="Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz">	               
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeslachtsnaamVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Vernietiging erkenning -->
	<complexType name="Container_Handeling_Acties_GBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAVernietigingErkenning">
				<sequence>
					<element name="vervalOuder" type="brp:Actie_VervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie VervalOuder - GBA Vernietiging erkenning -->
	<complexType name="Actie_VervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_VervalOuder">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderVervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OuderVervalOuderGBAVernietigingErkenning_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Vaststelling ouderschap -->
	<complexType name="Container_Handeling_Acties_GBAVaststellingOuderschap_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAVaststellingOuderschap">
				<sequence>
					<element name="registratieOuder" type="brp:Actie_RegistratieOuderGBAErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Ontkenning Ouderschap -->
	<complexType name="Container_Handeling_Acties_GBAOntkenningOuderschap_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOntkenningOuderschap">
				<sequence>
					<element name="vervalOuder" type="brp:Actie_VervalOuderGBAVernietigingErkenning_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Adoptie -->
	<complexType name="Container_Handeling_Acties_GBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAAdoptie">
				<sequence>
					<element name="registratieOuder" type="brp:Actie_RegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="beeindigingOuder" type="brp:Actie_BeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamGBAErkenning_MigVrz" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie RegistratieOuder - Adoptie -->
	<complexType name="Actie_RegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOuder">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonRegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonRegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenRegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenRegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindRegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindRegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingRegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingRegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenRegistratieOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenRegistratieOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderGBAGeboorteInNLMetErkNaGeboortedatum_MigVrz" nillable="false" minOccurs="1" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie BeeindigingOuder - GBA-Adoptie -->
	<complexType name="Actie_BeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingOuder">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderBeeindigingOuderGBAAdoptie_MigVrz" nillable="false" minOccurs="1" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OuderBeeindigingOuderGBAAdoptie_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Wijziging geslachtsnaam -->
	<complexType name="Container_Handeling_Acties_GBAWijzigingGeslachtsnaam_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAWijzigingGeslachtsnaam">
				<sequence>
					<element name="registratieGeslachtsnaam" type="brp:Actie_RegistratieGeslachtsnaam_GBAWijzigingGeslachtsnaam_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieGeslachtsnaam_GBAWijzigingGeslachtsnaam_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeslachtsnaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_GBAWijzigingGeslachtsnaam_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_GBAWijzigingGeslachtsnaam_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponentenGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Wijziging voornaam -->
	<complexType name="Container_Handeling_Acties_GBAWijzigingVoornaam_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAWijzigingVoornaam">
				<sequence>
					<element name="registratieVoornaam" type="brp:Actie_RegistratieVoornaam_GBAWijzigingVoornaam_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieVoornaam_GBAWijzigingVoornaam_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_GBAWijzigingVoornaam_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_GBAWijzigingVoornaam_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="voornamen" type="brp:Container_PersoonVoornamenGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Wijziging geslachtsaanduiding -->
	<complexType name="Container_Handeling_Acties_GBAWijzigingGeslachtsaanduiding_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAWijzigingGeslachtsaanduiding">
				<sequence>
					<element name="registratieNaamGeslacht" type="brp:Actie_RegistratieNaamGeslacht_GBAWijzigingGeslachtsaanduiding_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieNaamGeslacht_GBAWijzigingGeslachtsaanduiding_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNaamGeslacht">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_GBAWijzigingGeslachtsaanduiding_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_GBAWijzigingGeslachtsaanduiding_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamGBA_MigVrz" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduidingGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="voornamen" type="brp:Container_PersoonVoornamenGBA_MigVrz" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Voltrekking huwelijk in Nederland -->
	<complexType name="Container_Handeling_Acties_GBAVoltrekkingHuwelijkInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAVoltrekkingHuwelijkInNederland">
				<sequence>
					<element name="registratieAanvangHuwelijk" type="brp:Actie_RegistratieAanvangHuwelijk_GBAVoltrekkingHuwInNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAanvangHuwelijk_GBAVoltrekkingHuwInNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAanvangHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_GBAVoltrekkingHuwelijkInNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GBAVoltrekkingHuwelijkInNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_VoltrekkingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
				</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_HuwelijkGeregistreerdPartnerschapRelatie_VoltrekkingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_RelatieRelatie">
				<sequence>
					<element name="datumAanvang" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA Ontbinding Huwelijk in Nederland -->
	<complexType name="Container_Handeling_Acties_GBAOntbindingHuwelijkInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOntbindingHuwelijkInNederland">
				<sequence>
					<element name="registratieEindeHuwelijk" type="brp:Actie_RegistratieEindeHuwelijk_GBAOntbindingHuwInNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieEindeHuwelijk_GBAOntbindingHuwInNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieEindeHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_GBAOntbindingHuwelijkInNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GBAOntbindingHuwelijkInNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschapOntbindingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_RelatieRelatie">
				<sequence>
					<element name="redenEindeCode" type="brp:RedenEindeRelatieCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Aangaan geregistreerd partnerschap in Nederland -->
	<complexType name="Container_Handeling_Acties_GBAAangaanGeregistreerdPartnerschapInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAAangaanGeregistreerdPartnerschapInNederland">
				<sequence>
					<element name="registratieAanvangGeregistreerdPartnerschap" type="brp:Actie_RegistratieAanvangGeregistreerdPartnerschap_GBAAangaanGpInNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAanvangGeregistreerdPartnerschap_GBAAangaanGpInNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAanvangGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_GBAAangaanGeregistreerdPartnerschapInNederland_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GBAAangaanGeregistreerdPartnerschapInNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_VoltrekkingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Beeindiging geregistreerd partnerschap in Nederland -->
	<complexType name="Container_Handeling_Acties_GBABeeindigingGeregistreerdPartnerschapInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBABeeindigingGeregistreerdPartnerschapInNederland">
				<sequence>
					<element name="registratieEindeGeregistreerdPartnerschap" type="brp:Actie_RegistratieAEindeGeregistreerdPartnerschap_GBABeeindigingGpInNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAEindeGeregistreerdPartnerschap_GBABeeindigingGpInNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieEindeGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_GBABeeindigingGeregistreerdPartnerschapInNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GBABeeindigingGeregistreerdPartnerschapInNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!--- ... -->
	<!-- GBA - Omzetting geregistreerd partnerschap in huwelijk -->
	<complexType name="Container_Handeling_Acties_GBAOmzettingGeregistreerdPartnerschapInHuwelijk_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOmzettingGeregistreerdPartnerschapInHuwelijk">
				<sequence>
					<element name="registratieEindeGeregistreerdPartnerschap" type="brp:Actie_RegistratieEindeGeregistreerdPartnerschap_GBAOmzettingGpInHuw_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieEindeGeregistreerdPartnerschap_GBAOmzettingGpInHuw_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieEindeGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_GBAOmzettingGeregistreerdPartnerschapInHuwelijk_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GBAOmzettingGeregistreerdPartnerschapInHuwelijk_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Gemeenschappelijk gebruikte complexType Partner GBA Huwelijk/Geregistreerd partnerschap -->
	<complexType name="Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_PartnerGBA_Bijhouding" nillable="false" minOccurs="2" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PartnerGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_Identificatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Overlijden in Nederland -->
	<complexType name="Container_Handeling_Acties_GBAOverlijdenInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOverlijdenInNederland">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijden_GBAOverlijdenInNL_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieOverlijden_GBAOverlijdenInNL_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_GBAOverlijdenInNederland_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_GBAOverlijdenInNederland_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Verhuizing intergemeentelijk GBA naar BRP -->
	<complexType name="Container_Handeling_Acties_GBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAVerhuizingIntergemeentelijkGBANaarBRP">
				<sequence>
					<element name="registratieAdres" type="brp:Actie_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieVerstrekkingsbeperking" type="brp:Actie_RegistratieVerstrekkingsbeperkingIngeschrevene_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie RegistratieAdres - GBA Intergemeentelijke verhuizing van GBA naar BRP -->
	<complexType name="Actie_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAdres">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_AdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_AdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="adressen" type="brp:Container_PersoonAdressenAdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonAdressenAdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonAdressen">
				<sequence>
					<element name="adres" type="brp:Objecttype_PersoonAdresAdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonAdresAdresNederland_RegistratieAdresGBAVerhuizingIntergemeentelijkGBANaarBRP_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonAdres">
				<sequence>
					<element name="soortCode" type="brp:SoortAdresCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenWijzigingCode" type="brp:RedenWijzigingVerblijfCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="aangeverAdreshoudingCode" type="brp:AangeverCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="datumAanvangAdreshouding" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatiecodeAdresseerbaarObject" type="brp:IdentificatiecodeAdresseerbaarObject" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="identificatiecodeNummeraanduiding" type="brp:IdentificatiecodeNummeraanduiding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="afgekorteNaamOpenbareRuimte" type="brp:AfgekorteNaamOpenbareRuimte" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsnaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="locatieTenOpzichteVanAdres" type="brp:LocatieTenOpzichteVanAdres" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="locatieomschrijving" type="brp:Locatieomschrijving" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonAdres"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- GBA - Wissen persoon -->
	<complexType name="Container_Handeling_Acties_GBAWissenPersoon_MigVrz">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAWissenPersoon">
				<sequence>
					<element name="registratieBijhouding" type="brp:Actie_RegistratieBijhoudingGBAWissenPersoon_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Bijhouding - Opschorting bijhouding persoonsgegevens reden foutief -->
	<complexType name="Actie_RegistratieBijhoudingGBAWissenPersoon_MigVrz">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBijhouding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBijhoudingGBAWissenPersoon_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBijhoudingGBAWissenPersoon_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingGBAWissenPersoon_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingGBAWissenPersoon_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence>
					<element name="nadereBijhoudingsaardCode" type="brp:NadereBijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Algemene berichtelementen Migratievoorziening -->
	<!-- ... -->
	<!-- Naam- en geslachtgegevens in gebruik bij Geboorte, NaamGeslacht -->
	<complexType name="Groep_PersoonGeslachtsaanduidingGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaamGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Voornamen" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamenGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaamGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaamGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVoornaam">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naam" type="brp:Voornaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonVoornaam"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamcomponentenGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Container_PersoonGeslachtsnaamcomponenten">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponentGBA_MigVrz" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponentGBA_MigVrz">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonGeslachtsnaamcomponent">
				<sequence>
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="stam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonGeslachtsnaamcomponent"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
