02 Software/01 Broncode/operatiebrp-code-145.3/migratie/migr-isc-telling/src/test/resources/schema/soa.dtd

<!ELEMENT dataset (
    public.jbpm_processdefinition*,

    public.jbpm_action*,
    public.jbpm_bytearray*,
    public.jbpm_byteblock*,
    public.jbpm_comment*,
    public.jbpm_decisionconditions*,
    public.jbpm_delegation*,
    public.jbpm_event*,
    public.jbpm_exceptionhandler*,
    public.jbpm_id_group*,
    public.jbpm_id_membership*,
    public.jbpm_id_permissions*,
    public.jbpm_id_user*,
    public.jbpm_job*,
    public.jbpm_log*,
    public.jbpm_moduledefinition*,
    public.jbpm_moduleinstance*,
    public.jbpm_node*,
    public.jbpm_pooledactor*,
    public.jbpm_processinstance*,
    public.jbpm_runtimeaction*,
    public.jbpm_swimlane*,
    public.jbpm_swimlaneinstance*,
    public.jbpm_task*,
    public.jbpm_taskactorpool*,
    public.jbpm_taskcontroller*,
    public.jbpm_taskinstance*,
    public.jbpm_token*,
    public.jbpm_tokenvariablemap*,
    public.jbpm_transition*,
    public.jbpm_variableaccess*,
    public.jbpm_variableinstance*,
    public.mig_lock_anummer*,
    public.mig_bericht*,
    public.mig_configuratie*,
    public.mig_correlatie*,
    public.mig_extractie_proces*,
    public.mig_runtime*,
    public.mig_fout*,
    public.mig_lock*,
    public.mig_proces_relatie*,
    public.mig_telling_bericht*,
    public.mig_telling_proces*)>

<!ELEMENT public.jbpm_action EMPTY>
<!ATTLIST public.jbpm_action
    id_ CDATA #REQUIRED
    class CDATA #REQUIRED
    name_ CDATA #IMPLIED
    ispropagationallowed_ CDATA #IMPLIED
    actionexpression_ CDATA #IMPLIED
    isasync_ CDATA #IMPLIED
    referencedaction_ CDATA #IMPLIED
    actiondelegation_ CDATA #IMPLIED
    event_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    expression_ CDATA #IMPLIED
    timername_ CDATA #IMPLIED
    duedate_ CDATA #IMPLIED
    repeat_ CDATA #IMPLIED
    transitionname_ CDATA #IMPLIED
    timeraction_ CDATA #IMPLIED
    eventindex_ CDATA #IMPLIED
    exceptionhandler_ CDATA #IMPLIED
    exceptionhandlerindex_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_bytearray EMPTY>
<!ATTLIST public.jbpm_bytearray
    id_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    filedefinition_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_byteblock EMPTY>
<!ATTLIST public.jbpm_byteblock
    processfile_ CDATA #REQUIRED
    bytes_ CDATA #IMPLIED
    index_ CDATA #REQUIRED
>

<!ELEMENT public.jbpm_comment EMPTY>
<!ATTLIST public.jbpm_comment
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    actorid_ CDATA #IMPLIED
    time_ CDATA #IMPLIED
    message_ CDATA #IMPLIED
    token_ CDATA #IMPLIED
    taskinstance_ CDATA #IMPLIED
    tokenindex_ CDATA #IMPLIED
    taskinstanceindex_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_decisionconditions EMPTY>
<!ATTLIST public.jbpm_decisionconditions
    decision_ CDATA #REQUIRED
    transitionname_ CDATA #IMPLIED
    expression_ CDATA #IMPLIED
    index_ CDATA #REQUIRED
>

<!ELEMENT public.jbpm_delegation EMPTY>
<!ATTLIST public.jbpm_delegation
    id_ CDATA #REQUIRED
    classname_ CDATA #IMPLIED
    configuration_ CDATA #IMPLIED
    configtype_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_event EMPTY>
<!ATTLIST public.jbpm_event
    id_ CDATA #REQUIRED
    eventtype_ CDATA #IMPLIED
    type_ CDATA #IMPLIED
    graphelement_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    node_ CDATA #IMPLIED
    transition_ CDATA #IMPLIED
    task_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_exceptionhandler EMPTY>
<!ATTLIST public.jbpm_exceptionhandler
    id_ CDATA #REQUIRED
    exceptionclassname_ CDATA #IMPLIED
    type_ CDATA #IMPLIED
    graphelement_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    graphelementindex_ CDATA #IMPLIED
    node_ CDATA #IMPLIED
    transition_ CDATA #IMPLIED
    task_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_id_group EMPTY>
<!ATTLIST public.jbpm_id_group
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    type_ CDATA #IMPLIED
    parent_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_id_membership EMPTY>
<!ATTLIST public.jbpm_id_membership
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    role_ CDATA #IMPLIED
    user_ CDATA #IMPLIED
    group_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_id_permissions EMPTY>
<!ATTLIST public.jbpm_id_permissions
    entity_ CDATA #REQUIRED
    class_ CDATA #IMPLIED
    name_ CDATA #IMPLIED
    action_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_id_user EMPTY>
<!ATTLIST public.jbpm_id_user
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    email_ CDATA #IMPLIED
    password_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_job EMPTY>
<!ATTLIST public.jbpm_job
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    duedate_ CDATA #IMPLIED
    processinstance_ CDATA #IMPLIED
    token_ CDATA #IMPLIED
    taskinstance_ CDATA #IMPLIED
    issuspended_ CDATA #IMPLIED
    isexclusive_ CDATA #IMPLIED
    lockowner_ CDATA #IMPLIED
    locktime_ CDATA #IMPLIED
    exception_ CDATA #IMPLIED
    retries_ CDATA #IMPLIED
    name_ CDATA #IMPLIED
    repeat_ CDATA #IMPLIED
    transitionname_ CDATA #IMPLIED
    action_ CDATA #IMPLIED
    graphelementtype_ CDATA #IMPLIED
    graphelement_ CDATA #IMPLIED
    node_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_log EMPTY>
<!ATTLIST public.jbpm_log
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    index_ CDATA #IMPLIED
    date_ CDATA #IMPLIED
    token_ CDATA #IMPLIED
    parent_ CDATA #IMPLIED
    message_ CDATA #IMPLIED
    exception_ CDATA #IMPLIED
    action_ CDATA #IMPLIED
    node_ CDATA #IMPLIED
    enter_ CDATA #IMPLIED
    leave_ CDATA #IMPLIED
    duration_ CDATA #IMPLIED
    newlongvalue_ CDATA #IMPLIED
    transition_ CDATA #IMPLIED
    child_ CDATA #IMPLIED
    sourcenode_ CDATA #IMPLIED
    destinationnode_ CDATA #IMPLIED
    variableinstance_ CDATA #IMPLIED
    oldbytearray_ CDATA #IMPLIED
    newbytearray_ CDATA #IMPLIED
    olddatevalue_ CDATA #IMPLIED
    newdatevalue_ CDATA #IMPLIED
    olddoublevalue_ CDATA #IMPLIED
    newdoublevalue_ CDATA #IMPLIED
    oldlongidclass_ CDATA #IMPLIED
    oldlongidvalue_ CDATA #IMPLIED
    newlongidclass_ CDATA #IMPLIED
    newlongidvalue_ CDATA #IMPLIED
    oldstringidclass_ CDATA #IMPLIED
    oldstringidvalue_ CDATA #IMPLIED
    newstringidclass_ CDATA #IMPLIED
    newstringidvalue_ CDATA #IMPLIED
    oldlongvalue_ CDATA #IMPLIED
    oldstringvalue_ CDATA #IMPLIED
    newstringvalue_ CDATA #IMPLIED
    taskinstance_ CDATA #IMPLIED
    taskactorid_ CDATA #IMPLIED
    taskoldactorid_ CDATA #IMPLIED
    swimlaneinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_moduledefinition EMPTY>
<!ATTLIST public.jbpm_moduledefinition
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    starttask_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_moduleinstance EMPTY>
<!ATTLIST public.jbpm_moduleinstance
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    processinstance_ CDATA #IMPLIED
    taskmgmtdefinition_ CDATA #IMPLIED
    name_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_node EMPTY>
<!ATTLIST public.jbpm_node
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    description_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    isasync_ CDATA #IMPLIED
    isasyncexcl_ CDATA #IMPLIED
    action_ CDATA #IMPLIED
    superstate_ CDATA #IMPLIED
    subprocname_ CDATA #IMPLIED
    subprocessdefinition_ CDATA #IMPLIED
    decisionexpression_ CDATA #IMPLIED
    decisiondelegation CDATA #IMPLIED
    script_ CDATA #IMPLIED
    signal_ CDATA #IMPLIED
    createtasks_ CDATA #IMPLIED
    endtasks_ CDATA #IMPLIED
    nodecollectionindex_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_pooledactor EMPTY>
<!ATTLIST public.jbpm_pooledactor
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    actorid_ CDATA #IMPLIED
    swimlaneinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_processdefinition EMPTY>
<!ATTLIST public.jbpm_processdefinition
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    description_ CDATA #IMPLIED
    version_ CDATA #IMPLIED
    isterminationimplicit_ CDATA #IMPLIED
    startstate_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_processinstance EMPTY>
<!ATTLIST public.jbpm_processinstance
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    key_ CDATA #IMPLIED
    start_ CDATA #IMPLIED
    end_ CDATA #IMPLIED
    issuspended_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    roottoken_ CDATA #IMPLIED
    superprocesstoken_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_runtimeaction EMPTY>
<!ATTLIST public.jbpm_runtimeaction
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    eventtype_ CDATA #IMPLIED
    type_ CDATA #IMPLIED
    graphelement_ CDATA #IMPLIED
    processinstance_ CDATA #IMPLIED
    action_ CDATA #IMPLIED
    processinstanceindex_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_swimlane EMPTY>
<!ATTLIST public.jbpm_swimlane
    id_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    actoridexpression_ CDATA #IMPLIED
    pooledactorsexpression_ CDATA #IMPLIED
    assignmentdelegation_ CDATA #IMPLIED
    taskmgmtdefinition_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_swimlaneinstance EMPTY>
<!ATTLIST public.jbpm_swimlaneinstance
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    actorid_ CDATA #IMPLIED
    swimlane_ CDATA #IMPLIED
    taskmgmtinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_task EMPTY>
<!ATTLIST public.jbpm_task
    id_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    description_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    isblocking_ CDATA #IMPLIED
    issignalling_ CDATA #IMPLIED
    condition_ CDATA #IMPLIED
    duedate_ CDATA #IMPLIED
    priority_ CDATA #IMPLIED
    actoridexpression_ CDATA #IMPLIED
    pooledactorsexpression_ CDATA #IMPLIED
    taskmgmtdefinition_ CDATA #IMPLIED
    tasknode_ CDATA #IMPLIED
    startstate_ CDATA #IMPLIED
    assignmentdelegation_ CDATA #IMPLIED
    swimlane_ CDATA #IMPLIED
    taskcontroller_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_taskactorpool EMPTY>
<!ATTLIST public.jbpm_taskactorpool
    taskinstance_ CDATA #REQUIRED
    pooledactor_ CDATA #REQUIRED
>

<!ELEMENT public.jbpm_taskcontroller EMPTY>
<!ATTLIST public.jbpm_taskcontroller
    id_ CDATA #REQUIRED
    taskcontrollerdelegation_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_taskinstance EMPTY>
<!ATTLIST public.jbpm_taskinstance
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    description_ CDATA #IMPLIED
    actorid_ CDATA #IMPLIED
    create_ CDATA #IMPLIED
    start_ CDATA #IMPLIED
    end_ CDATA #IMPLIED
    duedate_ CDATA #IMPLIED
    priority_ CDATA #IMPLIED
    iscancelled_ CDATA #IMPLIED
    issuspended_ CDATA #IMPLIED
    isopen_ CDATA #IMPLIED
    issignalling_ CDATA #IMPLIED
    isblocking_ CDATA #IMPLIED
    task_ CDATA #IMPLIED
    token_ CDATA #IMPLIED
    procinst_ CDATA #IMPLIED
    swimlaninstance_ CDATA #IMPLIED
    taskmgmtinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_token EMPTY>
<!ATTLIST public.jbpm_token
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    start_ CDATA #IMPLIED
    end_ CDATA #IMPLIED
    nodeenter_ CDATA #IMPLIED
    nextlogindex_ CDATA #IMPLIED
    isabletoreactivateparent_ CDATA #IMPLIED
    isterminationimplicit_ CDATA #IMPLIED
    issuspended_ CDATA #IMPLIED
    lock_ CDATA #IMPLIED
    node_ CDATA #IMPLIED
    processinstance_ CDATA #IMPLIED
    parent_ CDATA #IMPLIED
    subprocessinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_tokenvariablemap EMPTY>
<!ATTLIST public.jbpm_tokenvariablemap
    id_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    token_ CDATA #IMPLIED
    contextinstance_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_transition EMPTY>
<!ATTLIST public.jbpm_transition
    id_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    description_ CDATA #IMPLIED
    processdefinition_ CDATA #IMPLIED
    from_ CDATA #IMPLIED
    to_ CDATA #IMPLIED
    condition_ CDATA #IMPLIED
    fromindex_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_variableaccess EMPTY>
<!ATTLIST public.jbpm_variableaccess
    id_ CDATA #REQUIRED
    variablename_ CDATA #IMPLIED
    access_ CDATA #IMPLIED
    mappedname_ CDATA #IMPLIED
    script_ CDATA #IMPLIED
    processstate_ CDATA #IMPLIED
    taskcontroller_ CDATA #IMPLIED
    index_ CDATA #IMPLIED
>

<!ELEMENT public.jbpm_variableinstance EMPTY>
<!ATTLIST public.jbpm_variableinstance
    id_ CDATA #REQUIRED
    class_ CDATA #REQUIRED
    version_ CDATA #REQUIRED
    name_ CDATA #IMPLIED
    converter_ CDATA #IMPLIED
    token_ CDATA #IMPLIED
    tokenvariablemap_ CDATA #IMPLIED
    processinstance_ CDATA #IMPLIED
    bytearrayvalue_ CDATA #IMPLIED
    datevalue_ CDATA #IMPLIED
    doublevalue_ CDATA #IMPLIED
    longidclass_ CDATA #IMPLIED
    longvalue_ CDATA #IMPLIED
    stringidclass_ CDATA #IMPLIED
    stringvalue_ CDATA #IMPLIED
    taskinstance_ CDATA #IMPLIED
>

<!ELEMENT public.mig_lock_anummer EMPTY>
<!ATTLIST public.mig_lock_anummer
    id CDATA #REQUIRED
    lock_id CDATA #REQUIRED
    anummer CDATA #REQUIRED
    tijdstip CDATA #REQUIRED
>

<!ELEMENT public.mig_bericht EMPTY>
<!ATTLIST public.mig_bericht
    id CDATA #REQUIRED
    tijdstip CDATA #IMPLIED
    kanaal CDATA #IMPLIED
    richting CDATA #IMPLIED
    message_id CDATA #IMPLIED
    correlation_id CDATA #IMPLIED
    bericht CDATA #REQUIRED
    naam CDATA #IMPLIED
    process_instance_id CDATA #IMPLIED
    verzendende_partij CDATA #IMPLIED
    ontvangende_partij CDATA #IMPLIED
    actie CDATA #IMPLIED
    indicatie_geteld CDATA #IMPLIED
>

<!ELEMENT public.mig_configuratie EMPTY>
<!ATTLIST public.mig_configuratie
    configuratie CDATA #REQUIRED
    waarde CDATA #IMPLIED
>

<!ELEMENT public.mig_correlatie EMPTY>
<!ATTLIST public.mig_correlatie
    message_id CDATA #REQUIRED
    kanaal CDATA #REQUIRED
    process_instance_id CDATA #REQUIRED
    token_id CDATA #REQUIRED
    node_id CDATA #REQUIRED
    verzendende_partij CDATA #IMPLIED
    ontvangende_partij CDATA #IMPLIED
>

<!ELEMENT public.mig_extractie_proces EMPTY>
<!ATTLIST public.mig_extractie_proces
    process_instance_id CDATA #REQUIRED
    proces_naam CDATA #REQUIRED
    bericht_type CDATA #REQUIRED
    kanaal CDATA #REQUIRED
    foutreden CDATA #IMPLIED
    anummer CDATA #IMPLIED
    startdatum CDATA #REQUIRED
    wacht_startdatum CDATA #IMPLIED
    einddatum CDATA #IMPLIED
    wacht_einddatum CDATA #IMPLIED
    indicatie_gestart_geteld CDATA #IMPLIED
    indicatie_beeindigd_geteld CDATA #IMPLIED
>

<!ELEMENT public.mig_runtime EMPTY>
<!ATTLIST public.mig_runtime
    runtime_naam CDATA #REQUIRED
    startdatum CDATA #REQUIRED
    client_naam CDATA #REQUIRED
>

<!ELEMENT public.mig_fout EMPTY>
<!ATTLIST public.mig_fout
    id CDATA #REQUIRED
    tijdstip CDATA #REQUIRED
    proces CDATA #REQUIRED
    process_instance_id CDATA #REQUIRED
    proces_init_gemeente CDATA #IMPLIED
    proces_doel_gemeente CDATA #IMPLIED
    code CDATA #REQUIRED
    melding CDATA #IMPLIED
    resolutie CDATA #IMPLIED
>

<!ELEMENT public.mig_lock EMPTY>
<!ATTLIST public.mig_lock
    id CDATA #REQUIRED
    tijdstip CDATA #REQUIRED
    process_instance_id CDATA #REQUIRED
>

<!ELEMENT public.mig_proces_relatie EMPTY>
<!ATTLIST public.mig_proces_relatie
    process_instance_id_een CDATA #REQUIRED
    process_instance_id_twee CDATA #REQUIRED
>

<!ELEMENT public.mig_telling_bericht EMPTY>
<!ATTLIST public.mig_telling_bericht
    datum CDATA #REQUIRED
    bericht_type CDATA #REQUIRED
    kanaal CDATA #REQUIRED
    aantal_ingaand CDATA #REQUIRED
    aantal_uitgaand CDATA #REQUIRED
>

<!ELEMENT public.mig_telling_proces EMPTY>
<!ATTLIST public.mig_telling_proces
    datum CDATA #REQUIRED
    proces_naam CDATA #REQUIRED
    bericht_type CDATA #REQUIRED
    kanaal CDATA #REQUIRED
    aantal_gestarte_processen CDATA #REQUIRED
    aantal_beeindigde_processen CDATA #REQUIRED
>

