2013/brp 2013-02-07/BRP/branches/0.2.4-poc-levering-mutaties/business/src/main/resources/xsd/levering_verhuizing1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema targetNamespace="http://www.egem.nl/StUF/StUF0301" xmlns:stuf="http://www.egem.nl/StUF/StUF0301" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:attribute name="entiteittype">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="zender">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stuf:organisatie" minOccurs="0" />
				<xs:element ref="stuf:applicatie" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referentienummer">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="organisatie">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="ontvanger">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stuf:organisatie" minOccurs="0" />
				<xs:element ref="stuf:applicatie" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="functie">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="berichtcode">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="applicatie">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
