01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_bhgReisdocument_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 07-04-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Naamgevingsconventies complexTypes doorgevoerd -->
<!-- 2) Uitwerking Correctie reisdocument -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020003">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Verkrijging reisdocument -->
	<complexType name="Container_Handeling_Acties_VerkrijgingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerkrijgingReisdocument">
				<sequence>
					<element name="registratieReisdocument" type="brp:Actie_RegistratieReisdocumentVerkrijgingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Reisdocument - Verkrijging reisdocument -->
	<complexType name="Actie_RegistratieReisdocumentVerkrijgingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_RegistratieReisdocument">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonReisdocumentenVerkrijgingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentenVerkrijgingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenVerkrijgingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenVerkrijgingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentVerkrijgingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentVerkrijgingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="autoriteitVanAfgifte" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Onttrekking reisdocument -->
	<complexType name="Container_Handeling_Acties_OnttrekkingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OnttrekkingReisdocument">
				<sequence>
					<element name="registratieReisdocument" type="brp:Actie_RegistratieReisdocumentOnttrekkingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Reisdocument - Onttrekking -->
	<complexType name="Actie_RegistratieReisdocumentOnttrekkingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_RegistratieReisdocument">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonReisdocumentenOnttrekkingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentenOnttrekkingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenOnttrekkingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenOnttrekkingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentOnttrekkingReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentOnttrekkingReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="datumInhoudingVermissing" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="aanduidingInhoudingVermissingCode" type="brp:AanduidingInhoudingVermissingReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Signalering reisdocument -->
	<complexType name="Container_Handeling_Acties_SignaleringReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_SignaleringReisdocument">
				<sequence>
					<element name="registratieSignaleringReisdocument"	type="brp:Actie_RegistratieSignaleringReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Registratie Signalering reisdocument - Signalering reisdocument -->
	<complexType name="Actie_RegistratieSignaleringReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_RegistratieSignaleringReisdocument">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objecttype_PersoonIndicatiesSignaleringReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonIndicatiesSignaleringReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesSignaleringReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicatiesSignaleringReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<choice>
						<element name="signaleringMetBetrekkingTotVerstrekkenReisdocument"	type="brp:PersoonIndicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PersoonIndicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Indicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1"	maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie reisdocument -->
	<complexType name="Container_Handeling_Acties_CorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieReisdocument">
				<sequence>
					<element name="correctievervalReisdocument"	type="brp:Actie_CorrectievervalReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="correctieregistratieReisdocument"	type="brp:Actie_CorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="correctievervalSignaleringReisdocument"	type="brp:Actie_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="correctieregistratieSignaleringReisdocument"	type="brp:Actie_CorrectieregistratieSignaleringReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieverval Reisdocument - Correctie reisdocument -->
	<complexType name="Actie_CorrectievervalReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalReisdocument">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objecttype_Persoon_CorrectievervalReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenCorrectievervalReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenCorrectievervalReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentCorrectievervalReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentCorrectievervalReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieregistratie Reisdocument - Correctie reisdocument -->
	<complexType name="Actie_CorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieReisdocument">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objecttype_Persoon_CorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenCorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenCorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentCorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentCorrectieregistratieReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="autoriteitVanAfgifte" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInhoudingVermissing" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="aanduidingInhoudingVermissingCode" type="brp:AanduidingInhoudingVermissingReisdocumentCode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieverval Signalering reisdocument - Correctie reisdocument -->
	<complexType name="Actie_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalSignaleringReisdocument">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objecttype_Persoon_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<choice>
						<element name="signaleringMetBetrekkingTotVerstrekkenReisdocument" type="brp:PersoonIndicatie_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="PersoonIndicatie_CorrectievervalSignaleringReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Indicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieregsitratie Signalering reisdocument - Correctie reisdocument -->
	<complexType name="Actie_CorrectieregistratieSignaleringReisdocumentCorrectieReisdocument_Reisdocument">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieSignaleringReisdocument">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objecttype_PersoonIndicatiesSignaleringReisdocument_Reisdocument" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
