01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_bhgDocumentVerzoekMededeling_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 14-07-2017 -->
<!-- -->
<!-- Wijzigingen: -->
<!-- 1) Bronnen verplicht bij acties van volgende administratieve handelingen; maximaal één bron: -->
<!--    - Verwijdering gegevens na adoptie -->
<!--    - Verwijdering kindgegevens na adoptie -->
<!--    - Overschrijving geslacht en naam na geslachtswijziging -->
<!--    - Overschrijving oudergegevens na geslachtswijziging -->
<!--    - Overschrijving kindgegevens na geslachtswijziging -->
<!--    - Overschrijving partnergegevens na geslachtswijziging -->
<!-- 2) Aanpassing berichtspecificaties 'Wijziging verstrekkingsbeperking'; actie 'beeindigingVerstrekkingsbeperking' toegevoegd. -->
<!-- 3) Aanpassing berichtspecificaties 'Wijziging curatele'; actie 'beeindigingOnderCuratele' toegevoegd. -->
<!-- 4) Aanpassing berichtspecificaties 'Wijziging gezag'; kardinaliteit acties en actie 'beeindigingGezag' toegevoegd. -->
<!-- 5) Aanpassing berichtspecificaties 'Wijziging gezag' en 'Wijziging gezag/Correctie gezag'; onnodige choices verwijderd (XSD-verbetering) -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020005">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Wijziging verstrekkingsbeperking; gebruik gemeenschappelijke actie in Bijhouding_Basis -->
	<complexType name="Container_Handeling_Acties_WijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingVerstrekkingsbeperking">
				<sequence>
					<element name="registratieVerstrekkingsbeperking" type="brp:Actie_RegistratieVerstrekkingsbeperkingIngeschrevene_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingVerstrekkingsbeperking" type="brp:Actie_BeeindigingVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_BeeindigingVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingVerstrekkingsbeperking">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingVolledigeVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonBeeindigingPartieleVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingVolledigeVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="volledigeVerstrekkingsbeperking" type="brp:Indicator_BeeindigingVolledigeVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BeeindigingVolledigeVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_VolledigeVerstrekkingsbeperking">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBeeindigingPartieleVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonVerstrekkingsbeperkingen">
				<sequence> 
					<element name="verstrekkingsbeperking" type="brp:Objecttype_PersoonBeeindigingPartieleVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBeeindigingPartieleVerstrekkingsbeperkingWijzigingVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVerstrekkingsbeperking">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonVerstrekkingsbeperking"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging gezag -->
	<complexType name="Container_Handeling_Acties_WijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingGezag">
				<sequence>
					<element name="registratieGezag" type="brp:Actie_RegistratieGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingGezag" type="brp:Actie_BeeindigingGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie gezag - Wijziging gezag -->
	<complexType name="Actie_RegistratieGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGezag">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>					
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieDerdeHeeftGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenRegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_RegistratieDerdeHeeftGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="derdeHeeftGezag" type="brp:Indicator_RegistratieDerdeHeeftGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_RegistratieDerdeHeeftGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_DerdeHeeftGezag">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>	
	<complexType name="Container_RelatieBetrokkenhedenRegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Kind_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Kind_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_Ouder_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_Ouder_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderlijkGezag">
				<sequence>
					<element name="indicatieOuderHeeftGezag" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Beeindiging gezag - Wijziging gezag -->
	<complexType name="Actie_BeeindigingGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingGezag">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>					
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingDerdeHeeftGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenBeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingDerdeHeeftGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="derdeHeeftGezag" type="brp:Indicator_BeeindigingDerdeHeeftGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BeeindigingDerdeHeeftGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_DerdeHeeftGezag">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenBeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Kind_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Kind_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_Ouder_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_Ouder_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="2"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag_BeeindigingOuderlijkGezagWijzigingGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderlijkGezag">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging curatele -->
	<complexType name="Container_Handeling_Acties_WijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingCuratele">
				<sequence>
					<element name="registratieOnderCuratele" type="brp:Actie_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingOnderCuratele" type="brp:Actie_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie OnderCuratele - Wijziging curatele -->
	<complexType name="Actie_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOnderCuratele">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onderCuratele" type="brp:Indicator_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_OnderCuratele">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Beeindiging OnderCuratele - Wijziging curatele -->
	<complexType name="Actie_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingOnderCuratele">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onderCuratele" type="brp:Indicator_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BeeindigingOnderCurateleWijzigingCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_OnderCuratele">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie verstrekkingsbeperking -->
	<complexType name="Container_Handeling_Acties_CorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieVerstrekkingsbeperking">
				<sequence>
					<element name="correctievervalVolledigeVerstrekkingsbeperking" type="brp:Actie_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="correctieregistratieVolledigeVerstrekkingsbeperking" type="brp:Actie_CorrectieregistratieVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="correctievervalVerstrekkingsbeperking" type="brp:Actie_CorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="correctieregistratieVerstrekkingsbeperking" type="brp:Actie_CorrectieregistratieVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval VolledigeVerstrekkingsbeperking - Correctie verstrekkingsbeperking -->
	<complexType name="Actie_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalVolledigeVerstrekkingsbeperking">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="volledigeVerstrekkingsbeperking" type="brp:Indicator_VolledigeVerstrekkingsbeperkingCorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_VolledigeVerstrekkingsbeperkingCorrectievervalVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_VolledigeVerstrekkingsbeperking">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie VolledigeVerstrekkingsbeperking - Correctie verstrekkingsbeperking -->
	<complexType name="Actie_CorrectieregistratieVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieVolledigeVerstrekkingsbeperking">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieVolledigeVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_VolledigeVerstrekkingsbeperking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Verstrekkingsbeperking - Correctie verstrekkingsbeperking -->
	<complexType name="Actie_CorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalVerstrekkingsbeperking">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonCorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonCorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonVerstrekkingsbeperkingen">
				<sequence>
					<element name="verstrekkingsbeperking" type="brp:Objecttype_PersoonVerstrekkingsbeperkingCorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVerstrekkingsbeperkingCorrectievervalVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVerstrekkingsbeperking">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonVerstrekkingsbeperking"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Verstrekkingsbeperking - Correctie verstrekkingsbeperking -->
	<complexType name="Actie_CorrectieregistratieVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieVerstrekkingsbeperking">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieVerstrekkingsbeperkingCorrectieVerstrekkingsbeperking_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonVerstrekkingsbeperkingen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie gezag -->
	<complexType name="Container_Handeling_Acties_CorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieGezag">
				<sequence>
					<element name="correctievervalDerdeHeeftGezag" type="brp:Actie_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieDerdeHeeftGezag" type="brp:Actie_CorrectieregistratieDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctievervalOuderlijkGezag" type="brp:Actie_CorrectievervalOuderlijkGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieOuderlijkGezag" type="brp:Actie_CorrectieregistratieOuderlijkGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval DerdeHeeftgezag - Correctie gezag -->
	<complexType name="Actie_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalDerdeHeeftGezag">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="derdeHeeftGezag" type="brp:Indicator_DerdeHeeftGezagCorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_DerdeHeeftGezagCorrectievervalDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_DerdeHeeftGezag">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie DerdeHeeftgezag - Correctie gezag -->
	<complexType name="Actie_CorrectieregistratieDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieDerdeHeeftGezag">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>					
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieDerdeHeeftGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieDerdeHeeftGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieDerdeHeeftGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval OuderlijkGezag - Correctie gezag -->
	<complexType name="Actie_CorrectievervalOuderlijkGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalOuderlijkGezag">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalOuderlijkGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalOuderlijkGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenCorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Pad Persoon-Kind-FRB-Ouder tbv verval 'OuderlijkGezag' bij Ouder-Betrokkenheid -->	
	<complexType name="Container_RelatieBetrokkenhedenCorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Kind_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Kind_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenOuder_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenOuder_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag_CorrectievervalOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderlijkGezag">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval OuderlijkGezag - Correctie gezag -->
	<complexType name="Actie_CorrectieregistratieOuderlijkGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieOuderlijkGezag">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieOuderlijkGezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieOuderlijkGezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenCorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Pad Persoon-Kind-FRB-Ouder tbv verval 'OuderlijkGezag' bij Ouder-Betrokkenheid -->	
	<complexType name="Container_RelatieBetrokkenhedenCorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Kind_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Kind_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenOuder_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenOuder_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_CorrectieregistratieOuderlijkgezagCorrectieGezag_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_RegistratieOuderlijkGezagWijzigingGezag_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie curatele -->
	<complexType name="Container_Handeling_Acties_CorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieCuratele">
				<sequence>
					<element name="correctievervalOnderCuratele" type="brp:Actie_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieOnderCuratele" type="brp:Actie_CorrectieregistratieOnderCurateleCorrectieCuratele_DocVrzMed" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval OnderCuratele - Correctie curatele -->
	<complexType name="Actie_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalOnderCuratele">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onderCuratele" type="brp:Indicator_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_CorrectievervalOnderCurateleCorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Indicator_OnderCuratele">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie OnderCuratele - Correctie curatele -->
	<complexType name="Actie_CorrectieregistratieOnderCurateleCorrectieCuratele_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieOnderCuratele">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieOnderCurateleWijzigingCuratele_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Verwijdering gegevens na adoptie -->
	<complexType name="Container_Handeling_Acties_VerwijderingGegevensNaAdoptie_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerwijderingGegevensNaAdoptie">
				<sequence>
					<element name="verwijderingGegevensNaAdoptie" type="brp:Actie_VerwijderingGegevensNaAdoptie_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Verwijdering gegevens na adoptie - Verwijdering gegevens na adoptie -->
	<complexType name="Actie_VerwijderingGegevensNaAdoptie_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_VerwijderingGegevensNaAdoptie">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonVerwijderingOverschrijvingGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVerwijderingOverschrijvingGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Verwijdering kindgegevens na adoptie -->
	<complexType name="Container_Handeling_Acties_VerwijderingKindgegevensNaAdoptie_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerwijderingKindgegevensNaAdoptie">
				<sequence>
					<element name="verwijderingKind" type="brp:Actie_VerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Verwijdering kind - Verwijdering kindgegevens na adoptie/Overschrijving kindgegevens na geslachstwijziging -->
	<complexType name="Actie_VerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_VerwijderingKind">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OuderVerwijderingKindVerwijderingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overschrijving geslacht en naam geslachtswijziging -->
	<complexType name="Container_Handeling_Acties_OverschrijvingGeslachtEnNaamNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverschrijvingGeslachtEnNaamNaGeslachtswijziging">
				<sequence>
					<element name="overschrijvingGegevensNaGeslachtswijziging" type="brp:Actie_OverschrijvingGegevensNaGeslachtswijziging_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Overschrijving gegevens na geslchtswijziging - Overschrijving gegevens na geslachtswijziging -->
	<complexType name="Actie_OverschrijvingGegevensNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_OverschrijvingGegevensNaGeslachtswijziging">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonVerwijderingOverschrijvingGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overschrijving oudergegevens na geslachtswijziging -->
	<complexType name="Container_Handeling_Acties_OverschrijvingOudergegevensNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverschrijvingOudergegevensNaGeslachtswijziging">
				<sequence>
					<element name="overschrijvingGegevensGerelateerdeNaGeslachtswijziging" type="brp:Actie_OverschrijvingOuderGegevensOverschrijvingGegevensGerelateerdeNaGeslachtswijziging_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Overschrijving gegevens gerelateerde na geslachtswijziging - Overschrijving oudergegevens na geslachtswijziging -->
	<complexType name="Actie_OverschrijvingOuderGegevensOverschrijvingGegevensGerelateerdeNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijziging">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_KindOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_KindOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekkingOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekkingOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderEnKindGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OuderOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderEnKindGegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overschrijving kindgegevens na geslachtswijziging -->
	<complexType name="Container_Handeling_Acties_OverschrijvingKindgegevensNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverschrijvingKindgegevensNaGeslachtswijziging">
				<sequence>
					<element name="overschrijvingGegevensGerelateerdeNaGeslachtswijziging" type="brp:Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Overschrijving gegevens gerelateerde na geslachtswijziging - Overschrijving kindgegevens na geslachtswijziging -->
	<complexType name="Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijziging">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingKindgegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_OuderOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingOuderEnKindGegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overschrijving partnergegevens na geslachtswijziging -->
	<complexType name="Container_Handeling_Acties_OverschrijvingPartnergegevensNaGeslachtswijziging_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverschrijvingPartnergegevensNaGeslachtswijziging">
				<sequence>
					<element name="overschrijvingGegevensGerelateerdeNaGeslachtswijziging" type="brp:Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Overschrijving gegevens gerelateerde na geslachtswijziging - Overschrijving partnergegevens na geslachtswijziging -->
	<complexType name="Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Actie_OverschrijvingGegevensGerelateerdeNaGeslachtswijziging">
				<sequence>
					<element name="peildatumVerwijdering" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnenMaxEen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenhedenOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_PartnerOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed" nillable="false" minOccurs="1" maxOccurs="1"/>				
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PartnerOverschrijvingGegevensGerelateerdeNaGeslachtswijzigingOverschrijvingPartnergegevens_DocVrzMed">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/> 
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
