01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_lvgBevraging_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 14-07-2017 -->
<!-- -->
<!-- Wijzigingen: -->
<!-- 1) Toevoeging berichtspecificaties GeefRelatiegegevensGBA -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020006">
	<include schemaLocation="brp0200_lvgBevraging_Basis.xsd"/>
	<!-- ... -->
	<element name="lvg_bvgZoekPersoon" type="brp:Bevraging_ZoekPersoon_Verzoek"/>
	<element name="lvg_bvgZoekPersoon_R" type="brp:Bevraging_ZoekPersoon_Resultaat"/>
	<element name="lvg_bvgZoekPersoonOpAdres" type="brp:Bevraging_ZoekPersoonOpAdres_Verzoek"/>
	<element name="lvg_bvgZoekPersoonOpAdres_R" type="brp:Bevraging_ZoekPersoonOpAdres_Resultaat"/>
	<element name="lvg_bvgZoekPseudoPersoon" type="brp:Bevraging_ZoekPseudoPersoon_Verzoek"/>
	<element name="lvg_bvgZoekPseudoPersoon_R" type="brp:Bevraging_ZoekPseudoPersoon_Resultaat"/>
	<element name="lvg_bvgGeefDetailsPersoon" type="brp:Bevraging_GeefDetailsPersoon_Verzoek"/>
	<element name="lvg_bvgGeefDetailsPersoon_R" type="brp:Bevraging_GeefDetailsPersoon_Resultaat"/>
	<element name="lvg_bvgGeefMedebewoners" type="brp:Bevraging_GeefMedebewoners_Verzoek"/>
	<element name="lvg_bvgGeefMedebewoners_R" type="brp:Bevraging_GeefMedebewoners_Resultaat"/>
	<element name="lvg_bvgGeefKandidaatOuder" type="brp:Bevraging_GeefKandidaatOuder_Verzoek"/>
	<element name="lvg_bvgGeefKandidaatOuder_R" type="brp:Bevraging_GeefKandidaatOuder_Resultaat"/>
	<element name="lvg_bvgGeefRelatiegegevensGBA" type="brp:Bevraging_GeefRelatiegegevensGBA_Verzoek"/>
	<element name="lvg_bvgGeefRelatiegegevensGBA_R" type="brp:Bevraging_GeefRelatiegegevensGBA_Resultaat"/>
	<!-- ... -->
	<!-- Bevragingbericht: Zoek Persoon -->
	<complexType name="Bevraging_ZoekPersoon_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="zoekcriteria" type="brp:Container_BerichtZoekcriteria_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Zoek Persoon -->
	<complexType name="Bevraging_ZoekPersoon_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_ZoekPersoonResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingbericht: Zoek Persoon op adres -->
	<complexType name="Bevraging_ZoekPersoonOpAdres_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="zoekcriteria" type="brp:Container_BerichtZoekcriteria_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Zoek Persoon -->
	<complexType name="Bevraging_ZoekPersoonOpAdres_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_ZoekPersoonResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingbericht: Zoek Pseudo-Persoon -->
	<complexType name="Bevraging_ZoekPseudoPersoon_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="zoekcriteria" type="brp:Container_BerichtZoekcriteria_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Zoek Pseudo-Persoon -->
	<complexType name="Bevraging_ZoekPseudoPersoon_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_ZoekPseudoPersoonResultaat" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingbericht: Geef Details Persoon -->
	<complexType name="Bevraging_GeefDetailsPersoon_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_GeefDetailsPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatiecriteria" type="brp:Groep_BerichtIdentificatiecriteria_GeefDetailsPersoon" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="scopeElementen" type="brp:Container_BerichtScopeElementen_GeefDetailsPersoon" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Geef Details Persoon -->
	<complexType name="Bevraging_GeefDetailsPersoon_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_GeefDetailsPersoonResultaat" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingbericht: Geef medebewoners -->
	<complexType name="Bevraging_GeefMedebewoners_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_GeefMedebewoners" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatiecriteria" type="brp:Groep_BerichtIdentificatiecriteria_GeefMedebewoners" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Geef medebewoners -->
	<complexType name="Bevraging_GeefMedebewoners_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_GeefMedebewonersResultaat" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bervagingbericht: Bepaal kandidaat Ouder -->
	<complexType name="Bevraging_GeefKandidaatOuder_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_GeefKandidaatOuder" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatiecriteria" type="brp:Groep_BerichtIdentificatiecriteria_GeefKandidaatOuder" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaat: Geef kandidaat Ouder -->
	<complexType name="Bevraging_GeefKandidaatOuder_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_GeefKandidaatOuderResultaat" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingbericht: Geef relatiegegevens GBA -->
	<complexType name="Bevraging_GeefRelatiegegevensGBA_Verzoek">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_GeefKandidaatOuder" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatiecriteria" type="brp:Groep_BerichtIdentificatiecriteria_GeefDetailsPersoon" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bevragingresultaatbericht: Geef relatiegegevens GBA -->
	<complexType name="Bevraging_GeefRelatiegegevensGBA_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat_Brp" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_BevragingSynchronisatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="personen" type="brp:Container_BerichtPersonen_GeefRelatiegegevensGBAResultaat" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
