01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_bhgNaamGeslacht_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 14-07-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Wijziging administratieve handeling 'Wijziging naam'; wijziging gehele samengestelde naam mogelijk. -->
<!-- 2) Wijziging geslachtsaanduiding niet mogelijk igv Wijziging naam -->
<!-- 3) Aanpassing berichtspecificatie Correctie naam; bij Correctieverval geslachtsnaamcomponent maxOccurs= "1" -->
<!-- 4) Aanpassing berichtspecificatie Correctie naam; Correctieverval/registratie per Voornaam (aspectbeschrijving Correcties) -->
<!-- 5) Aanpassing berichtspecificatie Correctie naamgebruik; geslachstnaamstam is verplicht -->
<!-- 6) Aanpassing berichtspecificatie Correctie geslachtsaanduiding; kardinaliteit Correctieverval geslachtsaanduiding is nu 1..n -->
<!-- 7) Wijziging administratieve handeling 'Wijziging geslachtsaanduuding'; bij actie 'Registratie voornaam' is de container 'Voornamen' verplicht. -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Wijziging naam -->
	<complexType name="Container_Handeling_Acties_WijzigingNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingNaam">
				<sequence>
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamWijzigingNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Registratie Geslachtsnaam/Voornaam bij Wijziging naam -->
	<complexType name="Actie_RegistratieGeslachtsnaamVoornaamWijzigingNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeslachtsnaamVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamWijzigingNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieGeslachtsnaamVoornaamWijzigingNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Voornamen" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging Geslachtsaanduiding -->
	<complexType name="Container_Handeling_Acties_WijzigingGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingGeslachtsaanduiding">
				<sequence>
					<element name="registratieGeslachtsaanduiding" type="brp:Actie_RegistratieGeslachtsaanduidingWijzigingGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieVoornaam" type="brp:Actie_RegistratieVoornaamWijzigingGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie geslachtsaanduiding bij Wijziging geslachtsaanduiding -->
	<complexType name="Actie_RegistratieGeslachtsaanduidingWijzigingGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeslachtsaanduiding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGeslachtsaanduidingPersoonGerelateerde_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie voornaam bij Wijziging geslachtsaanduiding -->
	<complexType name="Actie_RegistratieVoornaamWijzigingGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_RegistratieVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieVoornaamWijzigingGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieVoornaamWijzigingGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging Naamgebruik -->
	<complexType name="Container_Handeling_Acties_WijzigingNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingNaamgebruik">
				<sequence>
					<element name="registratieNaamgebruik" type="brp:Actie_RegistratieNaamgebruikIngeschrevene_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie Naam -->
	<complexType name="Container_Handeling_Acties_CorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieNaam">
				<sequence>
					<element name="correctievervalGeslachtsnaam" type="brp:Actie_CorrectievervalGeslachtsnaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieGeslachtsnaam" type="brp:Actie_CorrectieregistratieGeslachtsnaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctievervalVoornaam" type="brp:Actie_CorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieVoornaam" type="brp:Actie_CorrectieregistratieVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctievervalSamengesteldeNaam" type="brp:Actie_CorrectievervalSamengesteldeNaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieSamengesteldeNaam" type="brp:Actie_CorrectieregistratieSamengesteldeNaamCorrectieNaam_NamGsl" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Geslachtsnaam -->
	<complexType name="Actie_CorrectievervalGeslachtsnaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalGeslachtsnaam">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalGeslachtsnaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalGeslachtsnaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamCorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamCorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Container_PersoonGeslachtsnaamcomponenten">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponentCorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponentCorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonGeslachtsnaamcomponent">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonGeslachtsnaamcomponent"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Geslachtsnaam -->
	<complexType name="Actie_CorrectieregistratieGeslachtsnaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieGeslachtsnaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieGeslachtsnaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieGeslachtsnaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Voornaam -->
	<complexType name="Actie_CorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalVoornaam">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="voornamen" type="brp:Container_PersoonVoornamenCorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamenCorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaamCorrectievervalVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaamCorrectievervalVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVoornaam">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonVoornaam"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Voornaam -->
	<complexType name="Actie_CorrectieregistratieVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="voornamen" type="brp:Container_PersoonVoornamenCorrectieregistratieVoornaamCorrectieNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamenCorrectieregistratieVoornaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaam_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval SamengesteldeNaam -->
	<complexType name="Actie_CorrectievervalSamengesteldeNaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalSamengesteldeNaam">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalPersoonSamengesteldeNaam_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie SamengesteldeNaam -->
	<complexType name="Actie_CorrectieregistratieSamengesteldeNaamCorrectieNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieSamengesteldeNaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratiePersoonSamengesteldeNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratiePersoonSamengesteldeNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamCorrectieregistratiePersoonSamengesteldeNaam_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaamCorrectieregistratiePersoonSamengesteldeNaam_NamGsl">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Voornamen" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie geslachtsaanduiding -->
	<complexType name="Container_Handeling_Acties_CorrectieGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieGeslachtsaanduiding">
				<sequence>
					<element name="correctievervalGeslachtsaanduiding" type="brp:Actie_CorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="unbounded" />
					<element name="correctieregistratieGeslachtsaanduiding" type="brp:Actie_CorrectieregistratieGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval geslachtsaanduiding -->
	<complexType name="Actie_CorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalGeslachtsaanduiding">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonCorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonCorrectievervalGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie geslachtsaanduiding -->
	<complexType name="Actie_CorrectieregistratieGeslachtsaanduidingCorrectieGeslachtsaanduiding_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieGeslachtsaanduiding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieGeslachtsaanduidingPersoonGerelateerde_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>	
	<!-- ... -->
	<!-- Container Acties Correctie Naamgebruik -->
	<complexType name="Container_Handeling_Acties_CorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieNaamgebruik">
				<sequence>
					<element name="correctievervalNaamgebruik" type="brp:Actie_CorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="correctieregistratieNaamgebruik" type="brp:Actie_CorrectieregistratieNaamgebruikCorrectieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Naamgebruik -->
	<complexType name="Actie_CorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalNaamgebruik">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="naamgebruik" type="brp:Groep_PersoonCorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonCorrectievervalNaamgebruikCorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Groep_PersoonNaamgebruik">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Naamgebruik -->
	<complexType name="Actie_CorrectieregistratieNaamgebruikCorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieNaamgebruik">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieNaamgebruikCorrectieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieNaamgebruikCorrectieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="naamgebruik" type="brp:Groep_PersoonNaamgebruikCorrectieregistratieNaamgebruik_NamGsl" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonNaamgebruikCorrectieregistratieNaamgebruik_NamGsl">
		<complexContent>
			<restriction base="brp:Groep_PersoonNaamgebruik">
				<sequence>
					<element name="code" type="brp:NaamgebruikCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
