01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_bhgBijzondereBijhouding_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 14-07-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Initiële versie; eerste versie berichtspecificaties t.b.v. de administratieve handelingen: --> 
<!--    - Correctie documentindicatie -->
<!--    - Wijziging nummerverwijzing -->
<!--    - Correctie nummerverwijzing -->
<!--    - Correctie inschrijving -->
<!--    - Correctie persoonskaart -->
<!-- 2) Aanpassing berichtspecificatie  Wijizging documentindicatie'; alleen actie 'Beeindiging onverwerkt document aanwezig' van toepassing. -->
<!-- 3) Voor handeling Correctie documentindicatie alleen bron i.g.v. verval met NAV = "S" -->
<!-- 4) Aanpassing berichtspecificatie Wijziging buitenlands persoonsnummer; voor actie 'Registratie buitenlands persoonsnummer' bronnen verplicht -->
<!-- 7) Aanpassing berichtspecificatie Opschorting bijhouding persoonsgegevens reden F; bronnen niet van toepassing -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Wijziging identificatienummers -->
	<complexType name="Container_Handeling_Acties_WijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingIdentificatienummers">
				<sequence>
					<element name="registratieIdentificatienummers" type="brp:Actie_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Identificatienummers - Wijziging identificatienummers -->
	<complexType name="Actie_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieIdentificatienummers">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="administratienummer" type="brp:Administratienummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging nummerverwijzing -->
	<complexType name="Container_Handeling_Acties_WijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingNummerverwijzing">
				<sequence>
					<element name="registratieNummerverwijzingVolgend" type="brp:Actie_RegistratieNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="registratieNummerverwijzingVorig" type="brp:Actie_RegistratieNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Nummerverwijzing volgend - Wijziging nummerverwijzing -->
	<complexType name="Actie_RegistratieNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNummerverwijzingVolgend">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nummerverwijzing" type="brp:Groep_PersoonNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonNummerverwijzingVolgendWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonNummerverwijzing">
				<sequence>
					<element name="volgendeBurgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="volgendeAdministratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Nummerverwijzing volgend - Wijziging nummerverwijzing -->
	<complexType name="Actie_RegistratieNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNummerverwijzingVorig">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nummerverwijzing" type="brp:Groep_PersoonNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonNummerverwijzingVorigWijzigingNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonNummerverwijzing">
				<sequence>
					<element name="vorigeBurgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="vorigeAdministratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging buitenlands persoonsnummer -->
	<complexType name="Container_Handeling_Acties_WijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingBuitenlandsPersoonsnummer">
				<sequence>
					<element name="registratieBuitenlandsPersoonsnummer" type="brp:Actie_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Buitenlands persoonsnummer - Wijziging buitenlands persoonsnummer -->
	<complexType name="Actie_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="nummer" type="brp:BuitenlandsPersoonsnummer" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging documentindicatie -->
	<complexType name="Container_Handeling_Acties_WijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingDocumentindicatie">
				<sequence>
					<element name="beeindigingOnverwerktDocumentAanwezig" type="brp:Actie_BeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Beeindiging Documentindicatie - Wijziging documentindicatie -->
	<complexType name="Actie_BeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingOnverwerktDocumentAanwezig">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesBeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicatiesBeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onverwerktDocumentAanwezig" type="brp:Indicator_OnverwerktDocumentAanwezigBeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnverwerktDocumentAanwezigBeeindigingOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Indicator_OnverwerktDocumentAanwezig">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie nummerverwijzing -->
	<complexType name="Container_Handeling_Acties_CorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieNummerverwijzing">
				<sequence>
					<element name="correctievervalNummerverwijzing" type="brp:Actie_CorrectievervalNummerverwijzingCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieNummerverwijzing" type="brp:Actie_CorrectieregistratieNummerverwijzingCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval nummerverwijzing - CorrectieNummerverwijzing -->
	<complexType name="Actie_CorrectievervalNummerverwijzingCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalNummerverwijzing">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonCorrectievervalNummerverwijzingCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonCorrectievervalNummerverwijzingCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nummerverwijzing" type="brp:Groep_PersoonNummerverwijzingCorrectievervalCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonNummerverwijzingCorrectievervalCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonNummerverwijzing">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie nummerverwijzing - CorrectieNummerverwijzing -->
	<complexType name="Actie_CorrectieregistratieNummerverwijzingCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieNummerverwijzing">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonCorrectieregistratieNummerverwijzingCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonCorrectieregistratieNummerverwijzingCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nummerverwijzing" type="brp:Groep_PersoonNummerverwijzingCorrectieregistratieCorrectieNummerverwijzing_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonNummerverwijzingCorrectieregistratieCorrectieNummerverwijzing_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonNummerverwijzing">
				<sequence>
					<element name="vorigeBurgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="volgendeBurgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="vorigeAdministratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="volgendeAdministratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie buitenlands persoonsnummer -->
	<complexType name="Container_Handeling_Acties_CorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="correctievervalBuitenlandsPersoonsnummer" type="brp:Actie_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="correctieregistratieBuitenlandsPersoonsnummer" type="brp:Actie_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval BuitenlandsPersoonsnummer -->
	<complexType name="Actie_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalBuitenlandsPersoonsnummer">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie BuitenlandsPersoonsnummer -->
	<complexType name="Actie_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="nummer" type="brp:BuitenlandsPersoonsnummer" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Opschorting bijhouding persoonsgegevens reden foutief -->
	<complexType name="Container_Handeling_Acties_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OpschortingBijhoudingPersoonsgegevensRedenFoutief">
				<sequence>
					<element name="registratieBijhouding" type="brp:Actie_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Bijhouding - Opschorting bijhouding persoonsgegevens reden foutief -->
	<complexType name="Actie_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBijhouding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence>
					<element name="nadereBijhoudingsaardCode" type="brp:NadereBijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie documentindicatie -->
	<complexType name="Container_Handeling_Acties_CorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieDocumentindicatie">
				<sequence>
					<element name="correctievervalOnverwerktDocumentAanwezig" type="brp:Actie_CorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="correctieregistratieOnverwerktDocumentAanwezig" type="brp:Actie_CorrectieregistratieOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval OnverwerktDocumentAanwezig - Correctie documentindicatie -->
	<complexType name="Actie_CorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalOnverwerktDocumentAanwezig">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesCorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicatiesCorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onverwerktDocumentAanwezig" type="brp:Indicator_OnverwerktDocumentAanwezigCorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnverwerktDocumentAanwezigCorrectievervalOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Indicator_OnverwerktDocumentAanwezig">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie OnverwerktDocumentAanwezig - Correctie documentindicatie -->
	<complexType name="Actie_CorrectieregistratieOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieOnverwerktDocumentAanwezig">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesCorrectieregistratieOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicatiesCorrectieregistratieOnverwerktDocumentAanwezigCorrectieDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onverwerktDocumentAanwezig" type="brp:Indicator_OnverwerktDocumentAanwezigCorrectieregistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnverwerktDocumentAanwezigCorrectieregistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Indicator_OnverwerktDocumentAanwezig">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie inschrijving -->
	<complexType name="Container_Handeling_Acties_CorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieInschrijving">
				<sequence>
					<element name="correctievervalInschrijving" type="brp:Actie_CorrectievervalInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="correctieregistratieInschrijving" type="brp:Actie_CorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>	
	<!-- ... -->
	<!-- Actie Correctieverval Inschrijving - Correctie inschrijving -->
	<complexType name="Actie_CorrectievervalInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalInschrijving">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="inschrijving" type="brp:Groep_PersoonInschrijvingCorrectievervalInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonInschrijvingCorrectievervalInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonInschrijving">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Inschrijving - Correctie inschrijving -->
	<complexType name="Actie_CorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieInschrijving">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="inschrijving" type="brp:Groep_PersoonInschrijvingCorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonInschrijvingCorrectieregistratieInschrijvingCorrectieInschrijving_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonInschrijving">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie bijhouding -->
	<complexType name="Container_Handeling_Acties_CorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieBijhouding">
				<sequence>
					<element name="correctievervalBijhouding" type="brp:Actie_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="correctieregistratieBijhouding" type="brp:Actie_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Bijhouding - Correctie bijhouding -->
	<complexType name="Actie_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalBijhouding">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingCorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingCorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Bijhouding - Correctie bijhouding -->
	<complexType name="Actie_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieBijhouding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingCorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingCorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijhoudingsaardCode" type="brp:BijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nadereBijhoudingsaardCode" type="brp:NadereBijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie persoonskaart -->
	<complexType name="Container_Handeling_Acties_CorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectiePersoonskaart">
				<sequence>
					<element name="correctievervalPersoonskaart" type="brp:Actie_CorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="correctieregistratiePersoonskaart" type="brp:Actie_CorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>	
	<!-- ... -->
	<!-- Actie Correctieverval Persoonskaart - Correctie Persoonskaart -->
	<complexType name="Actie_CorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalPersoonskaart">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="persoonskaart" type="brp:Groep_PersoonPersoonskaartCorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonPersoonskaartCorrectievervalPersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonPersoonskaart">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Persoonskaart - Correctie Persoonskaart -->
	<complexType name="Actie_CorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratiePersoonskaart">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="persoonskaart" type="brp:Groep_PersoonPersoonskaartCorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonPersoonskaartCorrectieregistratiePersoonskaartCorrectiePersoonskaart_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonPersoonskaart">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="indicatieVolledigGeconverteerd" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
