01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/03 Xsds/brp0200_bhgVerkiezingen_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 07-04-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Aanpassing naamgeving complexTypes -->
<!-- 2) Uitwerking eerste versie berichten Verkiezingshandelingen -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Wijziging uitsluiting kiesrecht -->
	<complexType name="Container_Handeling_Acties_WijzigingUitsluitingKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingUitsluitingKiesrecht">
				<sequence>
					<element name="registratieUitsluitingKiesrecht" type="brp:Actie_RegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Registratie Uitsluiting kiesrecht - Wijziging uitsluiting kiesrecht -->
	<complexType name="Actie_RegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_RegistratieUitsluitingKiesrecht">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="uitsluitingKiesrecht" type="brp:Groep_PersoonRegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonRegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Groep_PersoonUitsluitingKiesrecht">
				<sequence>
					<element name="indicatie" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="datumVoorzienEinde" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging deelname EU verkiezingen -->
	<complexType name="Container_Handeling_Acties_WijzigingDeelnameEUVerkiezingen_Vrkzng">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingDeelnameEUVerkiezingen">
				<sequence>
					<element name="registratieDeelnameEUVerkiezingen" type="brp:Actie_RegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Registratie Deelname EU verkiezingen - Wijziging deelname EU verkiezingen -->
	<complexType name="Actie_RegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_RegistratieDeelnameEUVerkiezingen">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="deelnameEUVerkiezingen" type="brp:Groep_PersoonRegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonRegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng">
		<complexContent>
			<restriction base="brp:Groep_PersoonDeelnameEUVerkiezingen">
				<sequence>
					<element name="indicatieDeelname" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="datumAanleidingAanpassing" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="datumVoorzienEindeUitsluiting" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie kiesrecht -->
	<complexType name="Container_Handeling_Acties_CorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieKiesrecht">
				<sequence>
					<element name="correctievervalUitsluitingKiesrecht" type="brp:Actie_CorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="correctieregistratieUitsluitingKiesrecht" type="brp:Actie_CorrectieregistratieUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="correctievervalDeelnameEUVerkiezingen" type="brp:Actie_CorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieverval uitsluiting kiesrecht - Correctie kiesrecht -->
	<complexType name="Actie_CorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalUitsluitingKiesrecht">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="uitsluitingKiesrecht" type="brp:Groep_PersoonCorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonCorrectievervalUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Groep_PersoonUitsluitingKiesrecht">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieregistratie Uitsluiting kiesrecht - Correctie kiesrecht -->
	<complexType name="Actie_CorrectieregistratieUitsluitingKiesrechtCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieUitsluitingKiesrecht">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieUitsluitingKiesrechtWijzigingUitsluitingKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieverval Deelname EU verkiezingen - Correctie kiesrecht -->
	<complexType name="Actie_CorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalDeelnameEUVerkiezingen">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonCorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonCorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="deelnameEUVerkiezingen" type="brp:Groep_PersoonCorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonCorrectievervalDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Groep_PersoonDeelnameEUVerkiezingen">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Correctieregistratie Deelname EU verkiezingen - Correctie kiesrecht -->
	<complexType name="Actie_CorrectieregistratieDeelnameEUVerkiezingenCorrectieKiesrecht_Vrkzng">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieDeelnameEUVerkiezingen">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieDeelnameEUVerkiezingenWijzigingDeelnameEUVerkiezingen_Vrkzng" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
