2013/brp 2013-02-07/gen/trunk/generatoren/algemeen/src/main/resources/generatie-info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD voor rapportages die de generatoren produceren. -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://www.bprbzk.nl/BRP/generatoren/rapportage" xmlns:gen="http://www.bprbzk.nl/BRP/generatoren/rapportage">

    <element name="generatorenRapportage" type="gen:generatorenRapportage"/>

    <complexType name="generatorenRapportage">
        <sequence>
            <element type="gen:generatoren" name="generatoren" />
        </sequence>
    </complexType>
    <complexType name="generatoren">
        <sequence>
            <element type="gen:generator" name="generator" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <complexType name="generator">
        <sequence>
            <element type="gen:generatie-klassen" name="generatie-klassen" />
        </sequence>
        <attribute type="gen:generatorNaam" name="naam" />
    </complexType>
    <complexType name="generatie-klassen">
        <sequence>
            <element type="gen:klasse" name="klasse" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <complexType name="klasse">
        <sequence>
            <element type="string" name="metaregisterVersie" />
            <element type="string" name="generator-versie" />
            <element type="string" name="generatorBuildTijdstip" />
            <element type="string" name="generatieTijdstip" />
        </sequence>
        <attribute type="string" name="naam" />
    </complexType>

    <simpleType name="generatorNaam">
        <restriction base="string">
            <enumeration value="attribuutTypenJavaGenerator" />
            <enumeration value="berichtModelJavaGenerator" />
            <enumeration value="dynamischeStamgegevensJavaGenerator" />
            <enumeration value="logischModelJavaGenerator" />
            <enumeration value="operationeelModelJavaGenerator" />
            <enumeration value="serialisatieModelJavaGenerator" />
            <enumeration value="statischeStamgegevensJavaGenerator" />
            <enumeration value="symbolTableJavaGenerator" />
            <enumeration value="bindingUtilGenerator" />
            <enumeration value="hisVolledigModelJavaGenerator" />
        </restriction>
    </simpleType>
</schema>
