02 Software/01 Broncode/operatiebrp-code-145.3/brp/brp-leveren/brp-leveren-delivery/brp-delivery-bevraging-gba-ws/src/main/resources/reference/vraag-v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.bprbzk.nl/GBA/GBA-V/vraag-v0.1"
	xmlns="http://www.bprbzk.nl/GBA/GBA-V/vraag-v0.1"
	xmlns:lo3="http://www.bprbzk.nl/GBA/GBA-V/lo3-v1.0" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">
 
	<xsd:import namespace="http://www.bprbzk.nl/GBA/GBA-V/lo3-v1.0" schemaLocation="./lo3-v1.0.xsd" />

	<xsd:element name="vraagPLRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="parameters" nillable="false"	type="ArrayOfZoekparameter" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="vraagAIRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="parameters" nillable="false" type="ArrayOfZoekparameter" />
				<xsd:element name="opvraagreden" type="OpvraagredenParameter" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="vraagResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="1" name="persoonslijsten" type="lo3:ArrayOf_PL" />
				<xsd:element minOccurs="1" maxOccurs="1" name="resultaat" type="Resultaat" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- structuur van Zoekparameter en Resultaat in onderstaande elementen is gelijk aan LO3 Adhoc webservice --> 
	<xsd:complexType name="ArrayOfZoekparameter">
		<xsd:sequence>
			<xsd:element name="item" type="Zoekparameter" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Zoekparameter">
		<xsd:sequence>
			<xsd:element name="rubrieknummer" type="xsd:int" />
			<xsd:element name="zoekwaarde" nillable="true" type="lo3:TeletexString" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Resultaat">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:int" />
			<xsd:element name="letter" nillable="true" type="xsd:string" />
			<xsd:element name="omschrijving" nillable="true" type="xsd:string" />
			<xsd:element name="referentie" nillable="true" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="OpvraagredenParameter">
    	<xsd:restriction base="xsd:string">
		    <xsd:length value="1"/>
    		<xsd:enumeration value="B"/>
    		<xsd:enumeration value="I"/>
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>