Broncode/operatiebrp-code-145.3/brp/brp-leveren/brp-leveren-delivery/brp-delivery-bevraging-gba-ws/src/main/resources/xsd/ws.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:LO3="http://www.bprbzk.nl/GBA/LO3/version1.1"
        xmlns:WS="http://brp.bzk.nl/delivery/bevraging/gba/ws"
        targetNamespace="http://brp.bzk.nl/delivery/bevraging/gba/ws" elementFormDefault="qualified">
    <import schemaLocation="lo3.xsd" namespace="http://www.bprbzk.nl/GBA/LO3/version1.1"/>

    <element name="vraag">
        <complexType>
            <sequence>
                <element name="in0" type="WS:Vraag"/>
            </sequence>
        </complexType>
    </element>
    <element name="vraagPL">
        <complexType>
            <sequence>
                <element name="in0" type="WS:VraagPL"/>
            </sequence>
        </complexType>
    </element>
    <element name="vraagResponse">
        <complexType>
            <sequence>
                <element name="vraagReturn" type="WS:Antwoord"/>
            </sequence>
        </complexType>
    </element>

    <complexType name="ArrayOf_xsd_int">
        <sequence>
            <element name="item" type="int" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="Zoekparameter">
        <sequence>
            <element name="rubrieknummer" type="int"/>
            <element name="zoekwaarde" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="ArrayOfZoekparameter">
        <sequence>
            <element name="item" type="WS:Zoekparameter" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    <complexType name="Vraag">
        <sequence>
            <element name="indicatieAdresvraag" nillable="true" type="byte"/>
            <element name="indicatieZoekenInHistorie" nillable="true" type="byte"/>
            <element name="masker" nillable="true" type="WS:ArrayOf_xsd_int"/>
            <element name="parameters" nillable="true" type="WS:ArrayOfZoekparameter"/>
        </sequence>
    </complexType>
    <complexType name="VraagPL">
        <sequence>
            <element name="parameters" nillable="false" type="WS:ArrayOfZoekparameter"/>
        </sequence>
    </complexType>
    <complexType name="Resultaat">
        <sequence>
            <element name="code" type="int"/>
            <element name="letter" nillable="true" type="string"/>
            <element name="omschrijving" nillable="true" type="string"/>
            <element name="referentie" nillable="true" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Antwoord">
        <sequence>
            <element name="persoonslijsten" nillable="true" type="LO3:ArrayOf_PL"/>
            <element name="resultaat" nillable="true" type="WS:Resultaat"/>
        </sequence>
    </complexType>
</schema>
