2016/migratie 2016-02-09/migr-synchronisatie-dal/src/main/resources/schema/brp_kern.dtd

<!ELEMENT dataset (
        (autaut.bijhautorisatiesrtadmhnd|
                autaut.dienst|
                autaut.dienstbundel|
                autaut.dienstbundelgroep|
                autaut.dienstbundelgroepattr|
                autaut.dienstbundello3rubriek|
                autaut.effectafnemerindicaties|
                autaut.his_dienst|
                autaut.his_dienstattendering|
                autaut.his_dienstbundel|
                autaut.his_dienstbundelgroep|
                autaut.his_dienstbundelgroepattr|
                autaut.his_dienstbundello3rubriek|
                autaut.his_dienstselectie|
                autaut.his_levsautorisatie|
                autaut.his_partijfiatuitz|
                autaut.his_persafnemerindicatie|
                autaut.his_toegangbijhautorisatie|
                autaut.his_toeganglevsautorisatie|
                autaut.levsautorisatie|
                autaut.partijfiatuitz|
                autaut.persafnemerindicatie|
                autaut.protocolleringsniveau|
                autaut.srtdienst|
                autaut.toegangbijhautorisatie|
                autaut.toeganglevsautorisatie|
                ber.ber|
                ber.berpers|
                ber.bijhresultaat|
                ber.bijhsituatie|
                ber.historievorm|
                ber.richting|
                ber.srtber|
                ber.srtmelding|
                ber.srtsynchronisatie|
                ber.verwerkingsresultaat|
                ber.verwerkingswijze|
                brm.his_regelsituatie|
                brm.regeleffect|
                brm.regelsituatie|
                brm.regelsrtber|
                brm.srtregel|
                conv.convaandinhingvermissingreis|
                conv.convaangifteadresh|
                conv.convadellijketitelpredikaat|
                conv.convlo3rubriek|
                conv.convrdnbeeindigennation|
                conv.convrdnontbindinghuwelijkger|
                conv.convrdnopnamenation|
                conv.convrdnopschorting|
                conv.convrnideelnemer|
                conv.convsrtnlreisdoc|
                conv.convvoorvoegsel|
                ist.autorisatietabel|
                ist.stapel|
                ist.stapelrelatie|
                ist.stapelvoorkomen|
                kern.aandinhingvermissingreisdoc|
                kern.aandverblijfsr|
                kern.aang|
                kern.actie|
                kern.actiebron|
                kern.adellijketitel|
                kern.admhnd|
                kern.admhndgedeblokkeerdemelding|
                kern.auttypevanafgiftereisdoc|
                kern.betr|
                kern.bijhaard|
                kern.burgerzakenmodule|
                kern.categorieadmhnd|
                kern.doc|
                kern.element|
                kern.functieadres|
                kern.gedeblokkeerdemelding|
                kern.gegeveninonderzoek|
                kern.gegeveninterugmelding|
                kern.gem|
                kern.geslachtsaand|
                kern.his_betr|
                kern.his_doc|
                kern.his_onderzoek|
                kern.his_onderzoekafgeleidadminis|
                kern.his_ouderouderlijkgezag|
                kern.his_ouderouderschap|
                kern.his_partij|
                kern.his_partijbijhouding|
                kern.his_partijonderzoek|
                kern.his_partijrol|
                kern.his_persadres|
                kern.his_persafgeleidadministrati|
                kern.his_persbijhouding|
                kern.his_persdeelneuverkiezingen|
                kern.his_persgeboorte|
                kern.his_persgeslachtsaand|
                kern.his_persgeslnaamcomp|
                kern.his_persids|
                kern.his_persindicatie|
                kern.his_persinschr|
                kern.his_persmigratie|
                kern.his_persnaamgebruik|
                kern.his_persnation|
                kern.his_persnrverwijzing|
                kern.his_personderzoek|
                kern.his_persoverlijden|
                kern.his_perspk|
                kern.his_persreisdoc|
                kern.his_perssamengesteldenaam|
                kern.his_persuitslkiesr|
                kern.his_persverblijfsr|
                kern.his_persverificatie|
                kern.his_persverstrbeperking|
                kern.his_persvoornaam|
                kern.his_relatie|
                kern.his_terugmelding|
                kern.his_terugmeldingcontactpers|
                kern.koppelvlak|
                kern.landgebied|
                kern.naamgebruik|
                kern.naderebijhaard|
                kern.nation|
                kern.onderzoek|
                kern.partij|
                kern.partijonderzoek|
                kern.partijrol|
                kern.pers|
                kern.persadres|
                kern.perscache|
                kern.persgeslnaamcomp|
                kern.persindicatie|
                kern.persnation|
                kern.personderzoek|
                kern.persreisdoc|
                kern.persverificatie|
                kern.persverstrbeperking|
                kern.persvoornaam|
                kern.plaats|
                kern.predicaat|
                kern.rdneinderelatie|
                kern.rdnverknlnation|
                kern.rdnverliesnlnation|
                kern.rdnwijzverblijf|
                kern.rechtsgrond|
                kern.regel|
                kern.regelverantwoording|
                kern.relatie|
                kern.rol|
                kern.srtactie|
                kern.srtadmhnd|
                kern.srtbetr|
                kern.srtdoc|
                kern.srtelement|
                kern.srtelementautorisatie|
                kern.srtindicatie|
                kern.srtmigratie|
                kern.srtnlreisdoc|
                kern.srtpartij|
                kern.srtpartijonderzoek|
                kern.srtpers|
                kern.srtpersonderzoek|
                kern.srtrechtsgrond|
                kern.srtrelatie|
                kern.statusonderzoek|
                kern.statusterugmelding|
                kern.stelsel|
                kern.terugmelding|
                kern.voorvoegsel|
                migblok.blokkering|
                migblok.rdnblokkering|
                prot.levsaantek|
                prot.levsaantekpers|
                public.dbversion|
                verconv.lo3aandouder|
                verconv.lo3ber|
                verconv.lo3berbron|
                verconv.lo3categoriemelding|
                verconv.lo3melding|
                verconv.lo3severity|
                verconv.lo3srtaandouder|
                verconv.lo3srtmelding|
                verconv.lo3voorkomen)*)>

        <!ELEMENT autaut.bijhautorisatiesrtadmhnd EMPTY>
        <!ATTLIST autaut.bijhautorisatiesrtadmhnd
                id CDATA #REQUIRED
                toegangbijhautorisatie CDATA #REQUIRED
                srtadmhnd CDATA #REQUIRED
                >

        <!ELEMENT autaut.dienst EMPTY>
        <!ATTLIST autaut.dienst
                id CDATA #REQUIRED
                dienstbundel CDATA #REQUIRED
                srt CDATA #REQUIRED
                effectafnemerindicaties CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                indblok CDATA #IMPLIED
                attenderingscriterium CDATA #IMPLIED
                eersteselectiedat CDATA #IMPLIED
                selectieperiodeinmaanden CDATA #IMPLIED
                >

        <!ELEMENT autaut.dienstbundel EMPTY>
        <!ATTLIST autaut.dienstbundel
                id CDATA #REQUIRED
                levsautorisatie CDATA #REQUIRED
                naam CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                naderepopulatiebeperking CDATA #IMPLIED
                indnaderepopbeperkingvolconv CDATA #IMPLIED
                toelichting CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.dienstbundelgroep EMPTY>
        <!ATTLIST autaut.dienstbundelgroep
                id CDATA #REQUIRED
                dienstbundel CDATA #REQUIRED
                groep CDATA #REQUIRED
                indformelehistorie CDATA #IMPLIED
                indmaterielehistorie CDATA #IMPLIED
                indverantwoording CDATA #IMPLIED
                >

        <!ELEMENT autaut.dienstbundelgroepattr EMPTY>
        <!ATTLIST autaut.dienstbundelgroepattr
                id CDATA #REQUIRED
                dienstbundelgroep CDATA #REQUIRED
                attr CDATA #REQUIRED
                >

        <!ELEMENT autaut.dienstbundello3rubriek EMPTY>
        <!ATTLIST autaut.dienstbundello3rubriek
                id CDATA #REQUIRED
                dienstbundel CDATA #REQUIRED
                rubr CDATA #REQUIRED
                >

        <!ELEMENT autaut.effectafnemerindicaties EMPTY>
        <!ATTLIST autaut.effectafnemerindicaties
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT autaut.his_dienst EMPTY>
        <!ATTLIST autaut.his_dienst
                id CDATA #REQUIRED
                dienst CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_dienstattendering EMPTY>
        <!ATTLIST autaut.his_dienstattendering
                id CDATA #REQUIRED
                dienst CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                attenderingscriterium CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_dienstbundel EMPTY>
        <!ATTLIST autaut.his_dienstbundel
                id CDATA #REQUIRED
                dienstbundel CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                naam CDATA #REQUIRED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                naderepopulatiebeperking CDATA #IMPLIED
                indnaderepopbeperkingvolconv CDATA #IMPLIED
                toelichting CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_dienstbundelgroep EMPTY>
        <!ATTLIST autaut.his_dienstbundelgroep
                id CDATA #REQUIRED
                dienstbundelgroep CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                indformelehistorie CDATA #REQUIRED
                indmaterielehistorie CDATA #REQUIRED
                indverantwoording CDATA #REQUIRED
                >

        <!ELEMENT autaut.his_dienstbundelgroepattr EMPTY>
        <!ATTLIST autaut.his_dienstbundelgroepattr
                id CDATA #REQUIRED
                dienstbundelgroepattr CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_dienstbundello3rubriek EMPTY>
        <!ATTLIST autaut.his_dienstbundello3rubriek
                id CDATA #REQUIRED
                dienstbundello3rubriek CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_dienstselectie EMPTY>
        <!ATTLIST autaut.his_dienstselectie
                id CDATA #REQUIRED
                dienst CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                eersteselectiedat CDATA #IMPLIED
                selectieperiodeinmaanden CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_levsautorisatie EMPTY>
        <!ATTLIST autaut.his_levsautorisatie
                id CDATA #REQUIRED
                levsautorisatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                naam CDATA #REQUIRED
                protocolleringsniveau CDATA #REQUIRED
                indaliassrtadmhndleveren CDATA #REQUIRED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                populatiebeperking CDATA #IMPLIED
                indpopbeperkingvolconv CDATA #IMPLIED
                toelichting CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_partijfiatuitz EMPTY>
        <!ATTLIST autaut.his_partijfiatuitz
                id CDATA #REQUIRED
                partijfiatuitz CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                partijbijhvoorstel CDATA #IMPLIED
                srtdoc CDATA #IMPLIED
                srtadmhnd CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_persafnemerindicatie EMPTY>
        <!ATTLIST autaut.his_persafnemerindicatie
                id CDATA #REQUIRED
                persafnemerindicatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                dienstinh CDATA #IMPLIED
                dienstverval CDATA #IMPLIED
                dataanvmaterieleperiode CDATA #IMPLIED
                dateindevolgen CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_toegangbijhautorisatie EMPTY>
        <!ATTLIST autaut.his_toegangbijhautorisatie
                id CDATA #REQUIRED
                toegangbijhautorisatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.his_toeganglevsautorisatie EMPTY>
        <!ATTLIST autaut.his_toeganglevsautorisatie
                id CDATA #REQUIRED
                toeganglevsautorisatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                naderepopulatiebeperking CDATA #IMPLIED
                afleverpunt CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.levsautorisatie EMPTY>
        <!ATTLIST autaut.levsautorisatie
                id CDATA #REQUIRED
                stelsel CDATA #REQUIRED
                indmodelautorisatie CDATA #REQUIRED
                naam CDATA #IMPLIED
                protocolleringsniveau CDATA #IMPLIED
                indaliassrtadmhndleveren CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                populatiebeperking CDATA #IMPLIED
                indpopbeperkingvolconv CDATA #IMPLIED
                toelichting CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.partijfiatuitz EMPTY>
        <!ATTLIST autaut.partijfiatuitz
                id CDATA #REQUIRED
                partij CDATA #REQUIRED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                partijbijhvoorstel CDATA #IMPLIED
                srtdoc CDATA #IMPLIED
                srtadmhnd CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.persafnemerindicatie EMPTY>
        <!ATTLIST autaut.persafnemerindicatie
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                afnemer CDATA #REQUIRED
                levsautorisatie CDATA #REQUIRED
                dataanvmaterieleperiode CDATA #IMPLIED
                dateindevolgen CDATA #IMPLIED
                >

        <!ELEMENT autaut.protocolleringsniveau EMPTY>
        <!ATTLIST autaut.protocolleringsniveau
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT autaut.srtdienst EMPTY>
        <!ATTLIST autaut.srtdienst
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT autaut.toegangbijhautorisatie EMPTY>
        <!ATTLIST autaut.toegangbijhautorisatie
                id CDATA #REQUIRED
                geautoriseerde CDATA #REQUIRED
                ondertekenaar CDATA #IMPLIED
                transporteur CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT autaut.toeganglevsautorisatie EMPTY>
        <!ATTLIST autaut.toeganglevsautorisatie
                id CDATA #REQUIRED
                geautoriseerde CDATA #REQUIRED
                levsautorisatie CDATA #REQUIRED
                ondertekenaar CDATA #IMPLIED
                transporteur CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                naderepopulatiebeperking CDATA #IMPLIED
                afleverpunt CDATA #IMPLIED
                indblok CDATA #IMPLIED
                >

        <!ELEMENT ber.ber EMPTY>
        <!ATTLIST ber.ber
                id CDATA #REQUIRED
                srt CDATA #IMPLIED
                richting CDATA #REQUIRED
                zendendepartij CDATA #IMPLIED
                zendendesysteem CDATA #IMPLIED
                ontvangendepartij CDATA #IMPLIED
                ontvangendesysteem CDATA #IMPLIED
                referentienr CDATA #IMPLIED
                crossreferentienr CDATA #IMPLIED
                tsverzending CDATA #IMPLIED
                tsontv CDATA #IMPLIED
                verwerkingswijze CDATA #IMPLIED
                rol CDATA #IMPLIED
                srtsynchronisatie CDATA #IMPLIED
                levsautorisatie CDATA #IMPLIED
                dienst CDATA #IMPLIED
                verwerking CDATA #IMPLIED
                bijhouding CDATA #IMPLIED
                hoogstemeldingsniveau CDATA #IMPLIED
                admhnd CDATA #IMPLIED
                data CDATA #IMPLIED
                antwoordop CDATA #IMPLIED
                >

        <!ELEMENT ber.berpers EMPTY>
        <!ATTLIST ber.berpers
                id CDATA #REQUIRED
                ber CDATA #REQUIRED
                pers CDATA #REQUIRED
                >

        <!ELEMENT ber.bijhresultaat EMPTY>
        <!ATTLIST ber.bijhresultaat
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.bijhsituatie EMPTY>
        <!ATTLIST ber.bijhsituatie
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.historievorm EMPTY>
        <!ATTLIST ber.historievorm
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.richting EMPTY>
        <!ATTLIST ber.richting
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.srtber EMPTY>
        <!ATTLIST ber.srtber
                id CDATA #REQUIRED
                identifier CDATA #REQUIRED
                naam CDATA #REQUIRED
                module CDATA #IMPLIED
                koppelvlak CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT ber.srtmelding EMPTY>
        <!ATTLIST ber.srtmelding
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.srtsynchronisatie EMPTY>
        <!ATTLIST ber.srtsynchronisatie
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.verwerkingsresultaat EMPTY>
        <!ATTLIST ber.verwerkingsresultaat
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT ber.verwerkingswijze EMPTY>
        <!ATTLIST ber.verwerkingswijze
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT brm.his_regelsituatie EMPTY>
        <!ATTLIST brm.his_regelsituatie
                id CDATA #REQUIRED
                regelsituatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                bijhaard CDATA #IMPLIED
                naderebijhaard CDATA #IMPLIED
                effect CDATA #REQUIRED
                indactief CDATA #REQUIRED
                >

        <!ELEMENT brm.regeleffect EMPTY>
        <!ATTLIST brm.regeleffect
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT brm.regelsituatie EMPTY>
        <!ATTLIST brm.regelsituatie
                id CDATA #REQUIRED
                regelsrtber CDATA #REQUIRED
                bijhaard CDATA #IMPLIED
                naderebijhaard CDATA #IMPLIED
                effect CDATA #IMPLIED
                indactief CDATA #IMPLIED
                >

        <!ELEMENT brm.regelsrtber EMPTY>
        <!ATTLIST brm.regelsrtber
                id CDATA #REQUIRED
                regel CDATA #REQUIRED
                srtber CDATA #REQUIRED
                >

        <!ELEMENT brm.srtregel EMPTY>
        <!ATTLIST brm.srtregel
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT conv.convaandinhingvermissingreis EMPTY>
        <!ATTLIST conv.convaandinhingvermissingreis
                id CDATA #REQUIRED
                rubr3570aandinhingdanwelverm CDATA #REQUIRED
                aandinhingvermissingreisdoc CDATA #REQUIRED
                >

        <!ELEMENT conv.convaangifteadresh EMPTY>
        <!ATTLIST conv.convaangifteadresh
                id CDATA #REQUIRED
                rubr7210omsvandeaangifteadre CDATA #REQUIRED
                aang CDATA #IMPLIED
                rdnwijzverblijf CDATA #IMPLIED
                >

        <!ELEMENT conv.convadellijketitelpredikaat EMPTY>
        <!ATTLIST conv.convadellijketitelpredikaat
                id CDATA #REQUIRED
                rubr0221adellijketitelpredik CDATA #REQUIRED
                geslachtsaand CDATA #REQUIRED
                adellijketitel CDATA #IMPLIED
                predicaat CDATA #IMPLIED
                >

        <!ELEMENT conv.convlo3rubriek EMPTY>
        <!ATTLIST conv.convlo3rubriek
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT conv.convrdnbeeindigennation EMPTY>
        <!ATTLIST conv.convrdnbeeindigennation
                id CDATA #REQUIRED
                rubr6410rdnbeeindigennation CDATA #REQUIRED
                rdnverlies CDATA #IMPLIED
                >

        <!ELEMENT conv.convrdnontbindinghuwelijkger EMPTY>
        <!ATTLIST conv.convrdnontbindinghuwelijkger
                id CDATA #REQUIRED
                rubr0741rdnontbindinghuwelij CDATA #REQUIRED
                rdneinderelatie CDATA #REQUIRED
                >

        <!ELEMENT conv.convrdnopnamenation EMPTY>
        <!ATTLIST conv.convrdnopnamenation
                id CDATA #REQUIRED
                rubr6310rdnopnamenation CDATA #REQUIRED
                rdnverk CDATA #IMPLIED
                >

        <!ELEMENT conv.convrdnopschorting EMPTY>
        <!ATTLIST conv.convrdnopschorting
                id CDATA #REQUIRED
                rubr6720omsrdnopschortingbij CDATA #REQUIRED
                naderebijhaard CDATA #REQUIRED
                >

        <!ELEMENT conv.convrnideelnemer EMPTY>
        <!ATTLIST conv.convrnideelnemer
                id CDATA #REQUIRED
                rubr8811codernideelnemer CDATA #REQUIRED
                partij CDATA #REQUIRED
                >

        <!ELEMENT conv.convsrtnlreisdoc EMPTY>
        <!ATTLIST conv.convsrtnlreisdoc
                id CDATA #REQUIRED
                rubr3511nlreisdoc CDATA #REQUIRED
                srtnlreisdoc CDATA #REQUIRED
                >

        <!ELEMENT conv.convvoorvoegsel EMPTY>
        <!ATTLIST conv.convvoorvoegsel
                id CDATA #REQUIRED
                rubr0231voorvoegsel CDATA #REQUIRED
                voorvoegsel CDATA #REQUIRED
                scheidingsteken CDATA #REQUIRED
                >

        <!ELEMENT ist.autorisatietabel EMPTY>
        <!ATTLIST ist.autorisatietabel
                id CDATA #REQUIRED
                partijcode CDATA #REQUIRED
                datingangtabelregel CDATA #REQUIRED
                dateindetabelregel CDATA #IMPLIED
                selectiesrt CDATA #IMPLIED
                beraand CDATA #IMPLIED
                afnemersverstr CDATA #IMPLIED
                >

        <!ELEMENT ist.stapel EMPTY>
        <!ATTLIST ist.stapel
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                categorie CDATA #REQUIRED
                volgnr CDATA #REQUIRED
                >

        <!ELEMENT ist.stapelrelatie EMPTY>
        <!ATTLIST ist.stapelrelatie
                id CDATA #REQUIRED
                stapel CDATA #REQUIRED
                relatie CDATA #REQUIRED
                >

        <!ELEMENT ist.stapelvoorkomen EMPTY>
        <!ATTLIST ist.stapelvoorkomen
                id CDATA #REQUIRED
                stapel CDATA #REQUIRED
                volgnr CDATA #REQUIRED
                admhnd CDATA #REQUIRED
                srtdoc CDATA #IMPLIED
                partij CDATA #IMPLIED
                rubr8220datdoc CDATA #IMPLIED
                docoms CDATA #IMPLIED
                rubr8310aandgegevensinonderz CDATA #IMPLIED
                rubr8320datingangonderzoek CDATA #IMPLIED
                rubr8330dateindeonderzoek CDATA #IMPLIED
                rubr8410onjuiststrijdigopenb CDATA #IMPLIED
                rubr8510ingangsdatgel CDATA #IMPLIED
                rubr8610datvanopneming CDATA #IMPLIED
                rubr6210datingangfamilierech CDATA #IMPLIED
                aktenr CDATA #IMPLIED
                anr CDATA #IMPLIED
                bsn CDATA #IMPLIED
                voornamen CDATA #IMPLIED
                predicaat CDATA #IMPLIED
                adellijketitel CDATA #IMPLIED
                geslachtbijadellijketitelpre CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                geslnaamstam CDATA #IMPLIED
                datgeboorte CDATA #IMPLIED
                gemgeboorte CDATA #IMPLIED
                blplaatsgeboorte CDATA #IMPLIED
                omslocgeboorte CDATA #IMPLIED
                landgebiedgeboorte CDATA #IMPLIED
                geslachtsaand CDATA #IMPLIED
                dataanv CDATA #IMPLIED
                gemaanv CDATA #IMPLIED
                blplaatsaanv CDATA #IMPLIED
                omslocaanv CDATA #IMPLIED
                landgebiedaanv CDATA #IMPLIED
                rdneinde CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                gemeinde CDATA #IMPLIED
                blplaatseinde CDATA #IMPLIED
                omsloceinde CDATA #IMPLIED
                landgebiedeinde CDATA #IMPLIED
                srtrelatie CDATA #IMPLIED
                indouder1heeftgezag CDATA #IMPLIED
                indouder2heeftgezag CDATA #IMPLIED
                indderdeheeftgezag CDATA #IMPLIED
                indondercuratele CDATA #IMPLIED
                >

        <!ELEMENT kern.aandinhingvermissingreisdoc EMPTY>
        <!ATTLIST kern.aandinhingvermissingreisdoc
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.aandverblijfsr EMPTY>
        <!ATTLIST kern.aandverblijfsr
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.aang EMPTY>
        <!ATTLIST kern.aang
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.actie EMPTY>
        <!ATTLIST kern.actie
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                admhnd CDATA #REQUIRED
                partij CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                datontlening CDATA #IMPLIED
                >

        <!ELEMENT kern.actiebron EMPTY>
        <!ATTLIST kern.actiebron
                id CDATA #REQUIRED
                actie CDATA #REQUIRED
                doc CDATA #IMPLIED
                rechtsgrond CDATA #IMPLIED
                rechtsgrondoms CDATA #IMPLIED
                >

        <!ELEMENT kern.adellijketitel EMPTY>
        <!ATTLIST kern.adellijketitel
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naammannelijk CDATA #REQUIRED
                naamvrouwelijk CDATA #REQUIRED
                >

        <!ELEMENT kern.admhnd EMPTY>
        <!ATTLIST kern.admhnd
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                partij CDATA #REQUIRED
                toelichtingontlening CDATA #IMPLIED
                tsreg CDATA #IMPLIED
                tslev CDATA #IMPLIED
                >

        <!ELEMENT kern.admhndgedeblokkeerdemelding EMPTY>
        <!ATTLIST kern.admhndgedeblokkeerdemelding
                id CDATA #REQUIRED
                admhnd CDATA #REQUIRED
                gedeblokkeerdemelding CDATA #REQUIRED
                >

        <!ELEMENT kern.auttypevanafgiftereisdoc EMPTY>
        <!ATTLIST kern.auttypevanafgiftereisdoc
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.betr EMPTY>
        <!ATTLIST kern.betr
                id CDATA #REQUIRED
                relatie CDATA #REQUIRED
                rol CDATA #REQUIRED
                pers CDATA #IMPLIED
                indouder CDATA #IMPLIED
                indouderuitwiekindisgeboren CDATA #IMPLIED
                indouderheeftgezag CDATA #IMPLIED
                >

        <!ELEMENT kern.bijhaard EMPTY>
        <!ATTLIST kern.bijhaard
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.burgerzakenmodule EMPTY>
        <!ATTLIST kern.burgerzakenmodule
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.categorieadmhnd EMPTY>
        <!ATTLIST kern.categorieadmhnd
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.doc EMPTY>
        <!ATTLIST kern.doc
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                ident CDATA #IMPLIED
                aktenr CDATA #IMPLIED
                oms CDATA #IMPLIED
                partij CDATA #IMPLIED
                >

        <!ELEMENT kern.element EMPTY>
        <!ATTLIST kern.element
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                srt CDATA #REQUIRED
                elementnaam CDATA #REQUIRED
                objecttype CDATA #IMPLIED
                groep CDATA #IMPLIED
                volgnr CDATA #REQUIRED
                aliasvan CDATA #IMPLIED
                expressie CDATA #IMPLIED
                autorisatie CDATA #IMPLIED
                tabel CDATA #IMPLIED
                identdb CDATA #IMPLIED
                histabel CDATA #IMPLIED
                hisidentdb CDATA #IMPLIED
                dbobject CDATA #IMPLIED
                hisdbobject CDATA #IMPLIED
                leverenalsstamgegeven CDATA #IMPLIED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.functieadres EMPTY>
        <!ATTLIST kern.functieadres
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.gedeblokkeerdemelding EMPTY>
        <!ATTLIST kern.gedeblokkeerdemelding
                id CDATA #REQUIRED
                regel CDATA #REQUIRED
                melding CDATA #IMPLIED
                >

        <!ELEMENT kern.gegeveninonderzoek EMPTY>
        <!ATTLIST kern.gegeveninonderzoek
                id CDATA #REQUIRED
                onderzoek CDATA #REQUIRED
                element CDATA #REQUIRED
                objectsleutelgegeven CDATA #IMPLIED
                voorkomensleutelgegeven CDATA #IMPLIED
                >

        <!ELEMENT kern.gegeveninterugmelding EMPTY>
        <!ATTLIST kern.gegeveninterugmelding
                id CDATA #REQUIRED
                terugmelding CDATA #REQUIRED
                element CDATA #REQUIRED
                betwijfeldewaarde CDATA #IMPLIED
                verwachtewaarde CDATA #IMPLIED
                >

        <!ELEMENT kern.gem EMPTY>
        <!ATTLIST kern.gem
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                code CDATA #REQUIRED
                partij CDATA #REQUIRED
                voortzettendegem CDATA #IMPLIED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.geslachtsaand EMPTY>
        <!ATTLIST kern.geslachtsaand
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #IMPLIED
                >

        <!ELEMENT kern.his_betr EMPTY>
        <!ATTLIST kern.his_betr
                id CDATA #REQUIRED
                betr CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                >

        <!ELEMENT kern.his_doc EMPTY>
        <!ATTLIST kern.his_doc
                id CDATA #REQUIRED
                doc CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                ident CDATA #IMPLIED
                aktenr CDATA #IMPLIED
                oms CDATA #IMPLIED
                partij CDATA #REQUIRED
                >

        <!ELEMENT kern.his_onderzoek EMPTY>
        <!ATTLIST kern.his_onderzoek
                id CDATA #REQUIRED
                onderzoek CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                dataanv CDATA #REQUIRED
                verwachteafhandeldat CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                oms CDATA #IMPLIED
                status CDATA #REQUIRED
                >

        <!ELEMENT kern.his_onderzoekafgeleidadminis EMPTY>
        <!ATTLIST kern.his_onderzoekafgeleidadminis
                id CDATA #REQUIRED
                onderzoek CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                admhnd CDATA #REQUIRED
                >

        <!ELEMENT kern.his_ouderouderlijkgezag EMPTY>
        <!ATTLIST kern.his_ouderouderlijkgezag
                id CDATA #REQUIRED
                betr CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                indouderheeftgezag CDATA #REQUIRED
                >

        <!ELEMENT kern.his_ouderouderschap EMPTY>
        <!ATTLIST kern.his_ouderouderschap
                id CDATA #REQUIRED
                betr CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                indouder CDATA #REQUIRED
                indouderuitwiekindisgeboren CDATA #IMPLIED
                >

        <!ELEMENT kern.his_partij EMPTY>
        <!ATTLIST kern.his_partij
                id CDATA #REQUIRED
                partij CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                naam CDATA #REQUIRED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                oin CDATA #IMPLIED
                srt CDATA #IMPLIED
                indverstrbeperkingmogelijk CDATA #REQUIRED
                >

        <!ELEMENT kern.his_partijbijhouding EMPTY>
        <!ATTLIST kern.his_partijbijhouding
                id CDATA #REQUIRED
                partij CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                indautofiat CDATA #REQUIRED
                datovergangnaarbrp CDATA #REQUIRED
                >

        <!ELEMENT kern.his_partijonderzoek EMPTY>
        <!ATTLIST kern.his_partijonderzoek
                id CDATA #REQUIRED
                partijonderzoek CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                rol CDATA #REQUIRED
                >

        <!ELEMENT kern.his_partijrol EMPTY>
        <!ATTLIST kern.his_partijrol
                id CDATA #REQUIRED
                partijrol CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datingang CDATA #REQUIRED
                dateinde CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persadres EMPTY>
        <!ATTLIST kern.his_persadres
                id CDATA #REQUIRED
                persadres CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                srt CDATA #REQUIRED
                rdnwijz CDATA #REQUIRED
                aangadresh CDATA #IMPLIED
                dataanvadresh CDATA #IMPLIED
                identcodeadresseerbaarobject CDATA #IMPLIED
                identcodenraand CDATA #IMPLIED
                gem CDATA #IMPLIED
                nor CDATA #IMPLIED
                afgekortenor CDATA #IMPLIED
                gemdeel CDATA #IMPLIED
                huisnr CDATA #IMPLIED
                huisletter CDATA #IMPLIED
                huisnrtoevoeging CDATA #IMPLIED
                postcode CDATA #IMPLIED
                wplnaam CDATA #IMPLIED
                loctenopzichtevanadres CDATA #IMPLIED
                locoms CDATA #IMPLIED
                bladresregel1 CDATA #IMPLIED
                bladresregel2 CDATA #IMPLIED
                bladresregel3 CDATA #IMPLIED
                bladresregel4 CDATA #IMPLIED
                bladresregel5 CDATA #IMPLIED
                bladresregel6 CDATA #IMPLIED
                landgebied CDATA #REQUIRED
                indpersaangetroffenopadres CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persafgeleidadministrati EMPTY>
        <!ATTLIST kern.his_persafgeleidadministrati
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                admhnd CDATA #REQUIRED
                tslaatstewijz CDATA #REQUIRED
                sorteervolgorde CDATA #REQUIRED
                indonverwbijhvoorstelnieting CDATA #REQUIRED
                tslaatstewijzgbasystematiek CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persbijhouding EMPTY>
        <!ATTLIST kern.his_persbijhouding
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                bijhpartij CDATA #REQUIRED
                bijhaard CDATA #REQUIRED
                naderebijhaard CDATA #REQUIRED
                indonverwdocaanw CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persdeelneuverkiezingen EMPTY>
        <!ATTLIST kern.his_persdeelneuverkiezingen
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                inddeelneuverkiezingen CDATA #REQUIRED
                dataanlaanpdeelneuverkiezing CDATA #IMPLIED
                datvoorzeindeuitsleuverkiezi CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persgeboorte EMPTY>
        <!ATTLIST kern.his_persgeboorte
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datgeboorte CDATA #REQUIRED
                gemgeboorte CDATA #IMPLIED
                wplnaamgeboorte CDATA #IMPLIED
                blplaatsgeboorte CDATA #IMPLIED
                blregiogeboorte CDATA #IMPLIED
                omslocgeboorte CDATA #IMPLIED
                landgebiedgeboorte CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persgeslachtsaand EMPTY>
        <!ATTLIST kern.his_persgeslachtsaand
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                geslachtsaand CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persgeslnaamcomp EMPTY>
        <!ATTLIST kern.his_persgeslnaamcomp
                id CDATA #REQUIRED
                persgeslnaamcomp CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                predicaat CDATA #IMPLIED
                adellijketitel CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                stam CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persids EMPTY>
        <!ATTLIST kern.his_persids
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                bsn CDATA #IMPLIED
                anr CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persindicatie EMPTY>
        <!ATTLIST kern.his_persindicatie
                id CDATA #REQUIRED
                persindicatie CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                waarde CDATA #REQUIRED
                migrrdnopnamenation CDATA #IMPLIED
                migrrdnbeeindigennation CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persinschr EMPTY>
        <!ATTLIST kern.his_persinschr
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datinschr CDATA #REQUIRED
                versienr CDATA #REQUIRED
                dattijdstempel CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persmigratie EMPTY>
        <!ATTLIST kern.his_persmigratie
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                srtmigratie CDATA #REQUIRED
                rdnwijzmigratie CDATA #IMPLIED
                aangmigratie CDATA #IMPLIED
                landgebiedmigratie CDATA #IMPLIED
                bladresregel1migratie CDATA #IMPLIED
                bladresregel2migratie CDATA #IMPLIED
                bladresregel3migratie CDATA #IMPLIED
                bladresregel4migratie CDATA #IMPLIED
                bladresregel5migratie CDATA #IMPLIED
                bladresregel6migratie CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persnaamgebruik EMPTY>
        <!ATTLIST kern.his_persnaamgebruik
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                naamgebruik CDATA #REQUIRED
                indnaamgebruikafgeleid CDATA #REQUIRED
                predicaatnaamgebruik CDATA #IMPLIED
                voornamennaamgebruik CDATA #IMPLIED
                adellijketitelnaamgebruik CDATA #IMPLIED
                voorvoegselnaamgebruik CDATA #IMPLIED
                scheidingstekennaamgebruik CDATA #IMPLIED
                geslnaamstamnaamgebruik CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persnation EMPTY>
        <!ATTLIST kern.his_persnation
                id CDATA #REQUIRED
                persnation CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                rdnverk CDATA #IMPLIED
                rdnverlies CDATA #IMPLIED
                indbijhoudingbeeindigd CDATA #IMPLIED
                migrrdnopnamenation CDATA #IMPLIED
                migrrdnbeeindigennation CDATA #IMPLIED
                migrdateindebijhouding CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persnrverwijzing EMPTY>
        <!ATTLIST kern.his_persnrverwijzing
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                vorigebsn CDATA #IMPLIED
                volgendebsn CDATA #IMPLIED
                vorigeanr CDATA #IMPLIED
                volgendeanr CDATA #IMPLIED
                >

        <!ELEMENT kern.his_personderzoek EMPTY>
        <!ATTLIST kern.his_personderzoek
                id CDATA #REQUIRED
                personderzoek CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                rol CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persoverlijden EMPTY>
        <!ATTLIST kern.his_persoverlijden
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                datoverlijden CDATA #REQUIRED
                gemoverlijden CDATA #IMPLIED
                wplnaamoverlijden CDATA #IMPLIED
                blplaatsoverlijden CDATA #IMPLIED
                blregiooverlijden CDATA #IMPLIED
                omslocoverlijden CDATA #IMPLIED
                landgebiedoverlijden CDATA #REQUIRED
                >

        <!ELEMENT kern.his_perspk EMPTY>
        <!ATTLIST kern.his_perspk
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                gempk CDATA #IMPLIED
                indpkvollediggeconv CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persreisdoc EMPTY>
        <!ATTLIST kern.his_persreisdoc
                id CDATA #REQUIRED
                persreisdoc CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                nr CDATA #REQUIRED
                autvanafgifte CDATA #REQUIRED
                datingangdoc CDATA #REQUIRED
                dateindedoc CDATA #REQUIRED
                datuitgifte CDATA #REQUIRED
                datinhingvermissing CDATA #IMPLIED
                aandinhingvermissing CDATA #IMPLIED
                >

        <!ELEMENT kern.his_perssamengesteldenaam EMPTY>
        <!ATTLIST kern.his_perssamengesteldenaam
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                indafgeleid CDATA #REQUIRED
                indnreeks CDATA #REQUIRED
                predicaat CDATA #IMPLIED
                voornamen CDATA #IMPLIED
                adellijketitel CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                geslnaamstam CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persuitslkiesr EMPTY>
        <!ATTLIST kern.his_persuitslkiesr
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                induitslkiesr CDATA #REQUIRED
                datvoorzeindeuitslkiesr CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persverblijfsr EMPTY>
        <!ATTLIST kern.his_persverblijfsr
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                aandverblijfsr CDATA #REQUIRED
                dataanvverblijfsr CDATA #REQUIRED
                datmededelingverblijfsr CDATA #REQUIRED
                datvoorzeindeverblijfsr CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persverificatie EMPTY>
        <!ATTLIST kern.his_persverificatie
                id CDATA #REQUIRED
                persverificatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                dat CDATA #REQUIRED
                >

        <!ELEMENT kern.his_persverstrbeperking EMPTY>
        <!ATTLIST kern.his_persverstrbeperking
                id CDATA #REQUIRED
                persverstrbeperking CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                >

        <!ELEMENT kern.his_persvoornaam EMPTY>
        <!ATTLIST kern.his_persvoornaam
                id CDATA #REQUIRED
                persvoornaam CDATA #REQUIRED
                dataanvgel CDATA #REQUIRED
                dateindegel CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actieaanpgel CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.his_relatie EMPTY>
        <!ATTLIST kern.his_relatie
                id CDATA #REQUIRED
                relatie CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #REQUIRED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                dataanv CDATA #IMPLIED
                gemaanv CDATA #IMPLIED
                wplnaamaanv CDATA #IMPLIED
                blplaatsaanv CDATA #IMPLIED
                blregioaanv CDATA #IMPLIED
                omslocaanv CDATA #IMPLIED
                landgebiedaanv CDATA #IMPLIED
                rdneinde CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                gemeinde CDATA #IMPLIED
                wplnaameinde CDATA #IMPLIED
                blplaatseinde CDATA #IMPLIED
                blregioeinde CDATA #IMPLIED
                omsloceinde CDATA #IMPLIED
                landgebiedeinde CDATA #IMPLIED
                >

        <!ELEMENT kern.his_terugmelding EMPTY>
        <!ATTLIST kern.his_terugmelding
                id CDATA #REQUIRED
                terugmelding CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                onderzoek CDATA #IMPLIED
                status CDATA #REQUIRED
                toelichting CDATA #REQUIRED
                kenmerkmeldendepartij CDATA #REQUIRED
                >

        <!ELEMENT kern.his_terugmeldingcontactpers EMPTY>
        <!ATTLIST kern.his_terugmeldingcontactpers
                id CDATA #REQUIRED
                terugmelding CDATA #REQUIRED
                tsreg CDATA #REQUIRED
                tsverval CDATA #IMPLIED
                nadereaandverval CDATA #IMPLIED
                actieinh CDATA #IMPLIED
                actieverval CDATA #IMPLIED
                actievervaltbvlevmuts CDATA #IMPLIED
                indvoorkomentbvlevmuts CDATA #IMPLIED
                email CDATA #IMPLIED
                telefoonnr CDATA #IMPLIED
                voornamen CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                geslnaamstam CDATA #IMPLIED
                >

        <!ELEMENT kern.koppelvlak EMPTY>
        <!ATTLIST kern.koppelvlak
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                stelsel CDATA #REQUIRED
                >

        <!ELEMENT kern.landgebied EMPTY>
        <!ATTLIST kern.landgebied
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                iso31661alpha2 CDATA #IMPLIED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.naamgebruik EMPTY>
        <!ATTLIST kern.naamgebruik
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #IMPLIED
                >

        <!ELEMENT kern.naderebijhaard EMPTY>
        <!ATTLIST kern.naderebijhaard
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.nation EMPTY>
        <!ATTLIST kern.nation
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.onderzoek EMPTY>
        <!ATTLIST kern.onderzoek
                id CDATA #REQUIRED
                dataanv CDATA #IMPLIED
                verwachteafhandeldat CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                oms CDATA #IMPLIED
                status CDATA #IMPLIED
                admhnd CDATA #IMPLIED
                >

        <!ELEMENT kern.partij EMPTY>
        <!ATTLIST kern.partij
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #IMPLIED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                oin CDATA #IMPLIED
                srt CDATA #IMPLIED
                indverstrbeperkingmogelijk CDATA #IMPLIED
                indautofiat CDATA #IMPLIED
                datovergangnaarbrp CDATA #IMPLIED
                >

        <!ELEMENT kern.partijonderzoek EMPTY>
        <!ATTLIST kern.partijonderzoek
                id CDATA #REQUIRED
                partij CDATA #REQUIRED
                onderzoek CDATA #REQUIRED
                rol CDATA #IMPLIED
                >

        <!ELEMENT kern.partijrol EMPTY>
        <!ATTLIST kern.partijrol
                id CDATA #REQUIRED
                partij CDATA #REQUIRED
                rol CDATA #REQUIRED
                datingang CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                >

        <!ELEMENT kern.pers EMPTY>
        <!ATTLIST kern.pers
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                admhnd CDATA #IMPLIED
                tslaatstewijz CDATA #IMPLIED
                sorteervolgorde CDATA #IMPLIED
                indonverwbijhvoorstelnieting CDATA #IMPLIED
                tslaatstewijzgbasystematiek CDATA #IMPLIED
                bsn CDATA #IMPLIED
                anr CDATA #IMPLIED
                indafgeleid CDATA #IMPLIED
                indnreeks CDATA #IMPLIED
                predicaat CDATA #IMPLIED
                voornamen CDATA #IMPLIED
                adellijketitel CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                geslnaamstam CDATA #IMPLIED
                datgeboorte CDATA #IMPLIED
                gemgeboorte CDATA #IMPLIED
                wplnaamgeboorte CDATA #IMPLIED
                blplaatsgeboorte CDATA #IMPLIED
                blregiogeboorte CDATA #IMPLIED
                omslocgeboorte CDATA #IMPLIED
                landgebiedgeboorte CDATA #IMPLIED
                geslachtsaand CDATA #IMPLIED
                datinschr CDATA #IMPLIED
                versienr CDATA #IMPLIED
                dattijdstempel CDATA #IMPLIED
                vorigebsn CDATA #IMPLIED
                volgendebsn CDATA #IMPLIED
                vorigeanr CDATA #IMPLIED
                volgendeanr CDATA #IMPLIED
                bijhpartij CDATA #IMPLIED
                bijhaard CDATA #IMPLIED
                naderebijhaard CDATA #IMPLIED
                indonverwdocaanw CDATA #IMPLIED
                datoverlijden CDATA #IMPLIED
                gemoverlijden CDATA #IMPLIED
                wplnaamoverlijden CDATA #IMPLIED
                blplaatsoverlijden CDATA #IMPLIED
                blregiooverlijden CDATA #IMPLIED
                omslocoverlijden CDATA #IMPLIED
                landgebiedoverlijden CDATA #IMPLIED
                naamgebruik CDATA #IMPLIED
                indnaamgebruikafgeleid CDATA #IMPLIED
                predicaatnaamgebruik CDATA #IMPLIED
                voornamennaamgebruik CDATA #IMPLIED
                adellijketitelnaamgebruik CDATA #IMPLIED
                voorvoegselnaamgebruik CDATA #IMPLIED
                scheidingstekennaamgebruik CDATA #IMPLIED
                geslnaamstamnaamgebruik CDATA #IMPLIED
                srtmigratie CDATA #IMPLIED
                rdnwijzmigratie CDATA #IMPLIED
                aangmigratie CDATA #IMPLIED
                landgebiedmigratie CDATA #IMPLIED
                bladresregel1migratie CDATA #IMPLIED
                bladresregel2migratie CDATA #IMPLIED
                bladresregel3migratie CDATA #IMPLIED
                bladresregel4migratie CDATA #IMPLIED
                bladresregel5migratie CDATA #IMPLIED
                bladresregel6migratie CDATA #IMPLIED
                aandverblijfsr CDATA #IMPLIED
                dataanvverblijfsr CDATA #IMPLIED
                datmededelingverblijfsr CDATA #IMPLIED
                datvoorzeindeverblijfsr CDATA #IMPLIED
                induitslkiesr CDATA #IMPLIED
                datvoorzeindeuitslkiesr CDATA #IMPLIED
                inddeelneuverkiezingen CDATA #IMPLIED
                dataanlaanpdeelneuverkiezing CDATA #IMPLIED
                datvoorzeindeuitsleuverkiezi CDATA #IMPLIED
                gempk CDATA #IMPLIED
                indpkvollediggeconv CDATA #IMPLIED
                >

        <!ELEMENT kern.persadres EMPTY>
        <!ATTLIST kern.persadres
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                srt CDATA #IMPLIED
                rdnwijz CDATA #IMPLIED
                aangadresh CDATA #IMPLIED
                dataanvadresh CDATA #IMPLIED
                identcodeadresseerbaarobject CDATA #IMPLIED
                identcodenraand CDATA #IMPLIED
                gem CDATA #IMPLIED
                nor CDATA #IMPLIED
                afgekortenor CDATA #IMPLIED
                gemdeel CDATA #IMPLIED
                huisnr CDATA #IMPLIED
                huisletter CDATA #IMPLIED
                huisnrtoevoeging CDATA #IMPLIED
                postcode CDATA #IMPLIED
                wplnaam CDATA #IMPLIED
                loctenopzichtevanadres CDATA #IMPLIED
                locoms CDATA #IMPLIED
                bladresregel1 CDATA #IMPLIED
                bladresregel2 CDATA #IMPLIED
                bladresregel3 CDATA #IMPLIED
                bladresregel4 CDATA #IMPLIED
                bladresregel5 CDATA #IMPLIED
                bladresregel6 CDATA #IMPLIED
                landgebied CDATA #IMPLIED
                indpersaangetroffenopadres CDATA #IMPLIED
                >

        <!ELEMENT kern.perscache EMPTY>
        <!ATTLIST kern.perscache
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                versienr CDATA #REQUIRED
                pershistorievolledigchecksum CDATA #IMPLIED
                pershistorievollediggegevens CDATA #IMPLIED
                afnemerindicatiechecksum CDATA #IMPLIED
                afnemerindicatiegegevens CDATA #IMPLIED
                >

        <!ELEMENT kern.persgeslnaamcomp EMPTY>
        <!ATTLIST kern.persgeslnaamcomp
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                volgnr CDATA #REQUIRED
                predicaat CDATA #IMPLIED
                adellijketitel CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                stam CDATA #IMPLIED
                >

        <!ELEMENT kern.persindicatie EMPTY>
        <!ATTLIST kern.persindicatie
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                srt CDATA #REQUIRED
                waarde CDATA #IMPLIED
                migrrdnopnamenation CDATA #IMPLIED
                migrrdnbeeindigennation CDATA #IMPLIED
                >

        <!ELEMENT kern.persnation EMPTY>
        <!ATTLIST kern.persnation
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                nation CDATA #REQUIRED
                rdnverk CDATA #IMPLIED
                rdnverlies CDATA #IMPLIED
                indbijhoudingbeeindigd CDATA #IMPLIED
                migrrdnopnamenation CDATA #IMPLIED
                migrrdnbeeindigennation CDATA #IMPLIED
                migrdateindebijhouding CDATA #IMPLIED
                >

        <!ELEMENT kern.personderzoek EMPTY>
        <!ATTLIST kern.personderzoek
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                onderzoek CDATA #REQUIRED
                rol CDATA #IMPLIED
                >

        <!ELEMENT kern.persreisdoc EMPTY>
        <!ATTLIST kern.persreisdoc
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                srt CDATA #REQUIRED
                nr CDATA #IMPLIED
                autvanafgifte CDATA #IMPLIED
                datingangdoc CDATA #IMPLIED
                dateindedoc CDATA #IMPLIED
                datuitgifte CDATA #IMPLIED
                datinhingvermissing CDATA #IMPLIED
                aandinhingvermissing CDATA #IMPLIED
                >

        <!ELEMENT kern.persverificatie EMPTY>
        <!ATTLIST kern.persverificatie
                id CDATA #REQUIRED
                geverifieerde CDATA #REQUIRED
                partij CDATA #REQUIRED
                srt CDATA #REQUIRED
                dat CDATA #IMPLIED
                >

        <!ELEMENT kern.persverstrbeperking EMPTY>
        <!ATTLIST kern.persverstrbeperking
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                partij CDATA #IMPLIED
                omsderde CDATA #IMPLIED
                gemverordening CDATA #IMPLIED
                >

        <!ELEMENT kern.persvoornaam EMPTY>
        <!ATTLIST kern.persvoornaam
                id CDATA #REQUIRED
                pers CDATA #REQUIRED
                volgnr CDATA #REQUIRED
                naam CDATA #IMPLIED
                >

        <!ELEMENT kern.plaats EMPTY>
        <!ATTLIST kern.plaats
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.predicaat EMPTY>
        <!ATTLIST kern.predicaat
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naammannelijk CDATA #REQUIRED
                naamvrouwelijk CDATA #REQUIRED
                >

        <!ELEMENT kern.rdneinderelatie EMPTY>
        <!ATTLIST kern.rdneinderelatie
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.rdnverknlnation EMPTY>
        <!ATTLIST kern.rdnverknlnation
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.rdnverliesnlnation EMPTY>
        <!ATTLIST kern.rdnverliesnlnation
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.rdnwijzverblijf EMPTY>
        <!ATTLIST kern.rdnwijzverblijf
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.rechtsgrond EMPTY>
        <!ATTLIST kern.rechtsgrond
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                srt CDATA #REQUIRED
                oms CDATA #REQUIRED
                indleidttotstrijdigheid CDATA #IMPLIED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.regel EMPTY>
        <!ATTLIST kern.regel
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                specificatie CDATA #REQUIRED
                >

        <!ELEMENT kern.regelverantwoording EMPTY>
        <!ATTLIST kern.regelverantwoording
                id CDATA #REQUIRED
                actie CDATA #REQUIRED
                regel CDATA #REQUIRED
                >

        <!ELEMENT kern.relatie EMPTY>
        <!ATTLIST kern.relatie
                id CDATA #REQUIRED
                srt CDATA #REQUIRED
                dataanv CDATA #IMPLIED
                gemaanv CDATA #IMPLIED
                wplnaamaanv CDATA #IMPLIED
                blplaatsaanv CDATA #IMPLIED
                blregioaanv CDATA #IMPLIED
                omslocaanv CDATA #IMPLIED
                landgebiedaanv CDATA #IMPLIED
                rdneinde CDATA #IMPLIED
                dateinde CDATA #IMPLIED
                gemeinde CDATA #IMPLIED
                wplnaameinde CDATA #IMPLIED
                blplaatseinde CDATA #IMPLIED
                blregioeinde CDATA #IMPLIED
                omsloceinde CDATA #IMPLIED
                landgebiedeinde CDATA #IMPLIED
                >

        <!ELEMENT kern.rol EMPTY>
        <!ATTLIST kern.rol
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.srtactie EMPTY>
        <!ATTLIST kern.srtactie
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.srtadmhnd EMPTY>
        <!ATTLIST kern.srtadmhnd
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                categorieadmhnd CDATA #IMPLIED
                koppelvlak CDATA #REQUIRED
                module CDATA #IMPLIED
                alias CDATA #REQUIRED
                >

        <!ELEMENT kern.srtbetr EMPTY>
        <!ATTLIST kern.srtbetr
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.srtdoc EMPTY>
        <!ATTLIST kern.srtdoc
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                rangorde CDATA #IMPLIED
                >

        <!ELEMENT kern.srtelement EMPTY>
        <!ATTLIST kern.srtelement
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.srtelementautorisatie EMPTY>
        <!ATTLIST kern.srtelementautorisatie
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.srtindicatie EMPTY>
        <!ATTLIST kern.srtindicatie
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                indmaterielehistorievantoepa CDATA #REQUIRED
                >

        <!ELEMENT kern.srtmigratie EMPTY>
        <!ATTLIST kern.srtmigratie
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.srtnlreisdoc EMPTY>
        <!ATTLIST kern.srtnlreisdoc
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.srtpartij EMPTY>
        <!ATTLIST kern.srtpartij
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.srtpartijonderzoek EMPTY>
        <!ATTLIST kern.srtpartijonderzoek
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.srtpers EMPTY>
        <!ATTLIST kern.srtpers
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #IMPLIED
                dataanvgel CDATA #IMPLIED
                dateindegel CDATA #IMPLIED
                >

        <!ELEMENT kern.srtpersonderzoek EMPTY>
        <!ATTLIST kern.srtpersonderzoek
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.srtrechtsgrond EMPTY>
        <!ATTLIST kern.srtrechtsgrond
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.srtrelatie EMPTY>
        <!ATTLIST kern.srtrelatie
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #IMPLIED
                >

        <!ELEMENT kern.statusonderzoek EMPTY>
        <!ATTLIST kern.statusonderzoek
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.statusterugmelding EMPTY>
        <!ATTLIST kern.statusterugmelding
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                oms CDATA #REQUIRED
                >

        <!ELEMENT kern.stelsel EMPTY>
        <!ATTLIST kern.stelsel
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT kern.terugmelding EMPTY>
        <!ATTLIST kern.terugmelding
                id CDATA #REQUIRED
                terugmeldendepartij CDATA #REQUIRED
                pers CDATA #IMPLIED
                bijhgem CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                onderzoek CDATA #IMPLIED
                status CDATA #IMPLIED
                toelichting CDATA #IMPLIED
                kenmerkmeldendepartij CDATA #IMPLIED
                email CDATA #IMPLIED
                telefoonnr CDATA #IMPLIED
                voornamen CDATA #IMPLIED
                voorvoegsel CDATA #IMPLIED
                scheidingsteken CDATA #IMPLIED
                geslnaamstam CDATA #IMPLIED
                >

        <!ELEMENT kern.voorvoegsel EMPTY>
        <!ATTLIST kern.voorvoegsel
                id CDATA #REQUIRED
                voorvoegsel CDATA #REQUIRED
                scheidingsteken CDATA #REQUIRED
                >

        <!ELEMENT migblok.blokkering EMPTY>
        <!ATTLIST migblok.blokkering
                id CDATA #REQUIRED
                anr CDATA #REQUIRED
                rdnblokkering CDATA #IMPLIED
                processinstantieid CDATA #IMPLIED
                lo3gemvestiging CDATA #IMPLIED
                lo3gemreg CDATA #IMPLIED
                tsreg CDATA #REQUIRED
                >

        <!ELEMENT migblok.rdnblokkering EMPTY>
        <!ATTLIST migblok.rdnblokkering
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT prot.levsaantek EMPTY>
        <!ATTLIST prot.levsaantek
                id CDATA #REQUIRED
                toeganglevsautorisatie CDATA #REQUIRED
                dienst CDATA #REQUIRED
                tsklaarzettenlev CDATA #REQUIRED
                datmaterieelselectie CDATA #IMPLIED
                dataanvmaterieleperioderes CDATA #IMPLIED
                dateindematerieleperioderes CDATA #IMPLIED
                tsaanvformeleperioderes CDATA #IMPLIED
                tseindeformeleperioderes CDATA #REQUIRED
                admhnd CDATA #IMPLIED
                srtsynchronisatie CDATA #IMPLIED
                >

        <!ELEMENT prot.levsaantekpers EMPTY>
        <!ATTLIST prot.levsaantekpers
                id CDATA #REQUIRED
                levsaantek CDATA #REQUIRED
                pers CDATA #REQUIRED
                >

        <!ELEMENT public.dbversion EMPTY>
        <!ATTLIST public.dbversion
                id CDATA #REQUIRED
                fullversion CDATA #REQUIRED
                releaseversion CDATA #IMPLIED
                buildtimestamp CDATA #IMPLIED
                >

        <!ELEMENT verconv.lo3aandouder EMPTY>
        <!ATTLIST verconv.lo3aandouder
                id CDATA #REQUIRED
                ouder CDATA #REQUIRED
                srt CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3ber EMPTY>
        <!ATTLIST verconv.lo3ber
                id CDATA #REQUIRED
                indbersrtonderdeello3stelsel CDATA #REQUIRED
                referentie CDATA #REQUIRED
                bron CDATA #REQUIRED
                anr CDATA #IMPLIED
                pers CDATA #IMPLIED
                berdata CDATA #REQUIRED
                checksum CDATA #REQUIRED
                tsconversie CDATA #REQUIRED
                foutcode CDATA #IMPLIED
                verwerkingsmelding CDATA #IMPLIED
                >

        <!ELEMENT verconv.lo3berbron EMPTY>
        <!ATTLIST verconv.lo3berbron
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3categoriemelding EMPTY>
        <!ATTLIST verconv.lo3categoriemelding
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3melding EMPTY>
        <!ATTLIST verconv.lo3melding
                id CDATA #REQUIRED
                lo3voorkomen CDATA #REQUIRED
                srt CDATA #REQUIRED
                logseverity CDATA #REQUIRED
                groep CDATA #IMPLIED
                rubr CDATA #IMPLIED
                >

        <!ELEMENT verconv.lo3severity EMPTY>
        <!ATTLIST verconv.lo3severity
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3srtaandouder EMPTY>
        <!ATTLIST verconv.lo3srtaandouder
                id CDATA #REQUIRED
                naam CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3srtmelding EMPTY>
        <!ATTLIST verconv.lo3srtmelding
                id CDATA #REQUIRED
                code CDATA #REQUIRED
                oms CDATA #REQUIRED
                categoriemelding CDATA #REQUIRED
                >

        <!ELEMENT verconv.lo3voorkomen EMPTY>
        <!ATTLIST verconv.lo3voorkomen
                id CDATA #REQUIRED
                lo3ber CDATA #REQUIRED
                lo3categorie CDATA #REQUIRED
                lo3stapelvolgnr CDATA #IMPLIED
                lo3voorkomenvolgnr CDATA #IMPLIED
                actie CDATA #IMPLIED
                lo3conversiesortering CDATA #IMPLIED
                >
