2013/brp 2013-02-07/research/poc-afnemerservice/trunk/src/main/resources/xsd/levering_verhuizing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com) -->
<xs:schema targetNamespace="http://www.bprbzk.nl/BRP/0002"
	attributeFormDefault="qualified" xmlns:brp="http://www.bprbzk.nl/BRP/0002"
	xmlns:stuf="http://www.egem.nl/StUF/StUF0301" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.egem.nl/StUF/StUF0301"
		schemaLocation="levering_verhuizing1.xsd" />
	<xs:attribute name="communicatieID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50" />
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:element name="woonplaatsCode">
		<xs:simpleType>
			<xs:restriction base="xs:short" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tijdstipVerwerking">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tijdstipOntlening">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="tijdstipLaatsteWijziging">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="stuurgegevens">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="stuf:berichtcode" minOccurs="0" />
				<xs:element ref="stuf:zender" minOccurs="0" />
				<xs:element ref="stuf:ontvanger" minOccurs="0" />
				<xs:element ref="stuf:referentienummer" minOccurs="0" />
				<xs:element ref="stuf:functie" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="soortNaam">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="soortCode">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="redenWijzigingCode">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="postcode">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="persoon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:identificatienummers" minOccurs="0" />
				<xs:element ref="brp:afgeleidAdministratief" minOccurs="0" />
				<xs:element ref="brp:adressen" minOccurs="0" />
			</xs:sequence>
			<xs:attribute ref="stuf:entiteittype" use="optional" />
			<xs:attribute name="referentieID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="brp:communicatieID" />
		</xs:complexType>
	</xs:element>
	<xs:element name="partijCode">
		<xs:simpleType>
			<xs:restriction base="xs:short" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="naamOpenbareRuimte">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="leveringen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:levering" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="levering">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:identificatie" minOccurs="0" />
				<xs:element ref="brp:bijhouding" minOccurs="0" />
			</xs:sequence>
			<xs:attribute ref="stuf:entiteittype" use="optional" />
			<xs:attribute name="communicatieID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="identificatienummers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:burgerservicenummer" minOccurs="0" />
				<xs:element ref="brp:administratienummer" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="communicatieID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="identificatiecodeNummeraanduiding">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="identificatie">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:persoon" />
			</xs:sequence>
			<xs:attribute name="communicatieID">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="huisnummertoevoeging">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="huisnummer">
		<xs:simpleType>
			<xs:restriction base="xs:short" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="huisletter">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="gemeenteCode">
		<xs:simpleType>
			<xs:restriction base="xs:short" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="datumAanvangAdreshouding">
		<xs:simpleType>
			<xs:restriction base="xs:date" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="burgerservicenummer">
		<xs:simpleType>
			<xs:restriction base="xs:int" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="bijhouding">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:persoon" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="communicatieID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="afgeleidAdministratief">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:tijdstipLaatsteWijziging" />
			</xs:sequence>
			<xs:attribute name="communicatieID" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="afgekorteNaamOpenbareRuimte">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="adressen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:adres" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adresseerbaarObject">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="adres">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:soortCode" minOccurs="0" />
				<xs:element ref="brp:redenWijzigingCode" minOccurs="0" />
				<xs:element ref="brp:aangeverAdreshoudingCode" minOccurs="0" />
				<xs:element ref="brp:datumAanvangAdreshouding" minOccurs="0" />
				<xs:element ref="brp:adresseerbaarObject" minOccurs="0" />
				<xs:element ref="brp:identificatiecodeNummeraanduiding"
					minOccurs="0" />
				<xs:element ref="brp:gemeenteCode" minOccurs="0" />
				<xs:element ref="brp:naamOpenbareRuimte" minOccurs="0" />
				<xs:element ref="brp:afgekorteNaamOpenbareRuimte"
					minOccurs="0" />
				<xs:element ref="brp:huisnummer" minOccurs="0" />
				<xs:element ref="brp:huisletter" minOccurs="0" />
				<xs:element ref="brp:huisnummertoevoeging" minOccurs="0" />
				<xs:element ref="brp:postcode" minOccurs="0" />
				<xs:element ref="brp:woonplaatsCode" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="cIDVerzendend" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="administratieveHandeling">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:soortCode" minOccurs="0" />
				<xs:element ref="brp:soortNaam" minOccurs="0" />
				<xs:element ref="brp:partijCode" minOccurs="0" />
				<xs:element ref="brp:tijdstipOntlening" minOccurs="0" />
				<xs:element ref="brp:tijdstipVerwerking" minOccurs="0" />
				<xs:element ref="brp:leveringen" minOccurs="0" />
			</xs:sequence>
			<xs:attribute ref="stuf:entiteittype" use="optional" />
			<xs:attribute ref="brp:communicatieID" use="optional" />
		</xs:complexType>
	</xs:element>
	<xs:element name="administratienummer">
		<xs:simpleType>
			<xs:restriction base="xs:long" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="aangeverAdreshoudingCode">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="LEV_LeveringBijgehoudenPersoon_Lv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:stuurgegevens" minOccurs="0" />
				<xs:element ref="brp:administratieveHandeling" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LEV_LeveringBijgehoudenPersoon_Lv_Antwoord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="brp:antwoord" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="antwoord">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Goed"/>
				<xs:enumeration value="Fout"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
