01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/02 Wsdls/bevraging.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="bevraging-leveringen"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:levbevr="http://www.bzk.nl/brp/brp0200"
                  xmlns:tns="http://www.bzk.nl/brp/levering/bevraging/service"
                  targetNamespace="http://www.bzk.nl/brp/levering/bevraging/service">

    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_lvgBevraging_Berichten.xsd"
                        namespace="http://www.bzk.nl/brp/brp0200"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="lvg_bvgGeefDetailsPersoon">
        <wsdl:part element="levbevr:lvg_bvgGeefDetailsPersoon" name="lvg_bvgGeefDetailsPersoon"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgGeefDetailsPersoon_R">
        <wsdl:part element="levbevr:lvg_bvgGeefDetailsPersoon_R" name="lvg_bvgGeefDetailsPersoon_R"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgZoekPersoon">
        <wsdl:part element="levbevr:lvg_bvgZoekPersoon" name="lvg_bvgZoekPersoon"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgZoekPersoon_R">
        <wsdl:part element="levbevr:lvg_bvgZoekPersoon_R" name="lvg_bvgZoekPersoon_R"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgZoekPersoonOpAdres">
        <wsdl:part element="levbevr:lvg_bvgZoekPersoonOpAdres" name="lvg_bvgZoekPersoonOpAdres"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgZoekPersoonOpAdres_R">
        <wsdl:part element="levbevr:lvg_bvgZoekPersoonOpAdres_R" name="lvg_bvgZoekPersoonOpAdres_R"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgGeefMedebewoners">
        <wsdl:part element="levbevr:lvg_bvgGeefMedebewoners" name="lvg_bvgGeefMedebewoners_R"/>
    </wsdl:message>

    <wsdl:message name="lvg_bvgGeefMedebewoners_R">
        <wsdl:part element="levbevr:lvg_bvgGeefMedebewoners_R" name="lvg_bvgGeefMedebewoners_R"/>
    </wsdl:message>

    <wsdl:portType name="lvgBevraging">
        <wsdl:operation name="geefDetailsPersoon">
            <wsdl:input message="tns:lvg_bvgGeefDetailsPersoon"/>
            <wsdl:output message="tns:lvg_bvgGeefDetailsPersoon_R"/>
        </wsdl:operation>
        <wsdl:operation name="zoekPersoon">
            <wsdl:input message="tns:lvg_bvgZoekPersoon"/>
            <wsdl:output message="tns:lvg_bvgZoekPersoon_R"/>
        </wsdl:operation>
        <wsdl:operation name="zoekPersoonOpAdres">
            <wsdl:input message="tns:lvg_bvgZoekPersoonOpAdres"/>
            <wsdl:output message="tns:lvg_bvgZoekPersoonOpAdres_R"/>
        </wsdl:operation>
        <wsdl:operation name="geefMedebewoners">
            <wsdl:input message="tns:lvg_bvgGeefMedebewoners"/>
            <wsdl:output message="tns:lvg_bvgGeefMedebewoners_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LeveringBevragingBinding" type="tns:lvgBevraging">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="geefDetailsPersoon">
            <soap:operation soapAction="geefDetailsPersoon"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="zoekPersoon">
            <soap:operation soapAction="zoekPersoon"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="zoekPersoonOpAdres">
            <soap:operation soapAction="zoekPersoonOpAdres"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="geefMedebewoners">
            <soap:operation soapAction="geefMedebewoners"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="LeveringBevragingService">
        <wsdl:port binding="tns:LeveringBevragingBinding" name="lvgBevraging">
            <soap:address location="http://localhost:8080/bevraging/LeveringBevragingService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
