01 Documentatie/02 Algemeen/02 Technisch/03 Berichtspecificaties/02 Wsdls/bijhouding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Bijhouding"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bijh0002="http://www.bzk.nl/brp/brp0200"
                  xmlns:tns="http://www.bzk.nl/brp/bijhouding/service"
                  targetNamespace="http://www.bzk.nl/brp/bijhouding/service">

    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgVerblijfAdres_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgAfstamming_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgHuwelijkGeregistreerdPartnerschap_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgOverlijden_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgNaamGeslacht_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgNationaliteit_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgReisdocument_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgDocumentVerzoekMededeling_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgVerkiezingen_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
            <xsd:import schemaLocation="../xsd/BRP0200/brp0200_bhgOnderzoek_Berichten.xsd" namespace="http://www.bzk.nl/brp/brp0200"/>
        </xsd:schema>
    </wsdl:types>

    <!-- Verhuizing -->
    <wsdl:message name="bhg_vbaRegistreerVerhuizing">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerhuizing" name="bhg_vbaRegistreerVerhuizing"/>
    </wsdl:message>

    <wsdl:message name="bhg_vbaRegistreerVerhuizing_R">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerhuizing_R" name="bhg_vbaRegistreerVerhuizing_R"/>
    </wsdl:message>

    <!-- Verblijf -->
    <wsdl:message name="bhg_vbaRegistreerVerblijf">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerblijf" name="bhg_vbaRegistreerVerblijf"/>
    </wsdl:message>

    <wsdl:message name="bhg_vbaRegistreerVerblijf_R">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerblijf_R" name="bhg_vbaRegistreerVerblijf_R"/>
    </wsdl:message>

    <!-- Infrastructurele wijziging -->
    <wsdl:message name="bhg_vbaActualiseerInfrastructureleWijziging">
        <wsdl:part element="bijh0002:bhg_vbaActualiseerInfrastructureleWijziging" name="bhg_vbaActualiseerInfrastructureleWijziging"/>
    </wsdl:message>

    <wsdl:message name="bhg_vbaActualiseerInfrastructureleWijziging_R">
        <wsdl:part element="bijh0002:bhg_vbaActualiseerInfrastructureleWijziging_R" name="bhg_vbaActualiseerInfrastructureleWijziging_R"/>
    </wsdl:message>

    <!-- Verblijfsrecht -->
    <wsdl:message name="bhg_vbaRegistreerVerblijfsrecht">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerblijfsrecht" name="bhg_vbaRegistreerVerblijfsrecht"/>
    </wsdl:message>

    <wsdl:message name="bhg_vbaRegistreerVerblijfsrecht_R">
        <wsdl:part element="bijh0002:bhg_vbaRegistreerVerblijfsrecht_R" name="bhg_vbaRegistreerVerblijfsrecht_R"/>
    </wsdl:message>

    <!-- Correctie Adres NL-->
    <wsdl:message name="bhg_vbaCorrigeerAdres">
        <wsdl:part element="bijh0002:bhg_vbaCorrigeerAdres" name="bhg_vbaCorrigeerAdres"/>
    </wsdl:message>

    <wsdl:message name="bhg_vbaCorrigeerAdres_R">
        <wsdl:part element="bijh0002:bhg_vbaCorrigeerAdres_R" name="bhg_vbaCorrigeerAdres_R"/>
    </wsdl:message>

    <!-- Geboorte aangifte -->
    <wsdl:message name="bhg_afsRegistreerGeboorte">
        <wsdl:part element="bijh0002:bhg_afsRegistreerGeboorte" name="bhg_afsRegistreerGeboorte"/>
    </wsdl:message>

    <wsdl:message name="bhg_afsRegistreerGeboorte_R">
        <wsdl:part element="bijh0002:bhg_afsRegistreerGeboorte_R" name="bhg_afsRegistreerGeboorte_R"/>
    </wsdl:message>

    <!-- Registreer adoptie -->
    <wsdl:message name="bhg_afsRegistreerAdoptie">
        <wsdl:part element="bijh0002:bhg_afsRegistreerAdoptie" name="bhg_afsRegistreerAdoptie"/>
    </wsdl:message>

    <wsdl:message name="bhg_afsRegistreerAdoptie_R">
        <wsdl:part element="bijh0002:bhg_afsRegistreerAdoptie_R" name="bhg_afsRegistreerAdoptie_R"/>
    </wsdl:message>

    <!-- actualiseer afstamming -->
    <wsdl:message name="bhg_afsActualiseerAfstamming">
        <wsdl:part element="bijh0002:bhg_afsActualiseerAfstamming" name="bhg_afsActualiseerAfstamming"/>
    </wsdl:message>

    <wsdl:message name="bhg_afsActualiseerAfstamming_R">
        <wsdl:part element="bijh0002:bhg_afsActualiseerAfstamming_R" name="bhg_afsActualiseerAfstamming_R"/>
    </wsdl:message>

    <!-- HuwelijkPartnerschap -->
    <wsdl:message name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap">
        <wsdl:part element="bijh0002:bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap" name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap"/>
    </wsdl:message>

    <wsdl:message name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap_R">
        <wsdl:part element="bijh0002:bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap_R" name="bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap">
        <wsdl:part element="bijh0002:bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap" name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap"/>
    </wsdl:message>

    <wsdl:message name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap_R">
        <wsdl:part element="bijh0002:bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap_R" name="bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap">
        <wsdl:part element="bijh0002:bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap" name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap"/>
    </wsdl:message>

    <wsdl:message name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap_R">
        <wsdl:part element="bijh0002:bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap_R" name="bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap_R"/>
    </wsdl:message>

    <!-- Overlijden aangifte -->
    <wsdl:message name="bhg_ovlRegistreerOverlijden">
        <wsdl:part element="bijh0002:bhg_ovlRegistreerOverlijden" name="bhg_ovlRegistreerOverlijden"/>
    </wsdl:message>

    <wsdl:message name="bhg_ovlRegistreerOverlijden_R">
        <wsdl:part element="bijh0002:bhg_ovlRegistreerOverlijden_R" name="bhg_ovlRegistreerOverlijden_R"/>
    </wsdl:message>

    <!-- erkenning na geboorte -->
    <wsdl:message name="bhg_afsRegistreerErkenning">
        <wsdl:part element="bijh0002:bhg_afsRegistreerErkenning" name="bhg_afsRegistreerErkenning"/>
    </wsdl:message>

    <wsdl:message name="bhg_afsRegistreerErkenning_R">
        <wsdl:part element="bijh0002:bhg_afsRegistreerErkenning_R" name="bhg_afsRegistreerErkenning_R"/>
    </wsdl:message>

    <!-- Registreer naam geslacht -->
    <wsdl:message name="bhg_nmgRegistreerNaamGeslacht">
        <wsdl:part element="bijh0002:bhg_nmgRegistreerNaamGeslacht" name="bhg_nmgRegistreerNaamGeslacht"/>
    </wsdl:message>

    <wsdl:message name="bhg_nmgRegistreerNaamGeslacht_R">
        <wsdl:part element="bijh0002:bhg_nmgRegistreerNaamGeslacht_R" name="bhg_nmgRegistreerNaamGeslacht_R"/>
    </wsdl:message>

    <!-- Registratie nationaliteit -->
    <wsdl:message name="bhg_natRegistreerNationaliteit">
        <wsdl:part element="bijh0002:bhg_natRegistreerNationaliteit" name="bhg_natRegistreerNationaliteit"/>
    </wsdl:message>

    <wsdl:message name="bhg_natRegistreerNationaliteit_R">
        <wsdl:part element="bijh0002:bhg_natRegistreerNationaliteit_R" name="bhg_natRegistreerNationaliteit_R"/>
    </wsdl:message>

    <!-- Registratie reisdocument -->
    <wsdl:message name="bhg_rsdRegistreerReisdocument">
        <wsdl:part element="bijh0002:bhg_rsdRegistreerReisdocument" name="bhg_rsdRegistreerReisdocument"/>
    </wsdl:message>

    <wsdl:message name="bhg_rsdRegistreerReisdocument_R">
        <wsdl:part element="bijh0002:bhg_rsdRegistreerReisdocument_R" name="bhg_rsdRegistreerReisdocument_R"/>
    </wsdl:message>

    <!-- Registratie document / verzoek / mededeling -->
    <wsdl:message name="bhg_dvmRegistreerMededelingVerzoek">
        <wsdl:part element="bijh0002:bhg_dvmRegistreerMededelingVerzoek" name="bhg_dvmRegistreerMededelingVerzoek"/>
    </wsdl:message>

    <wsdl:message name="bhg_dvmRegistreerMededelingVerzoek_R">
        <wsdl:part element="bijh0002:bhg_dvmRegistreerMededelingVerzoek_R" name="bhg_dvmRegistreerMededelingVerzoek_R"/>
    </wsdl:message>

    <!-- Registratie kiesrecht -->
    <wsdl:message name="bhg_vkzRegistreerKiesrecht">
        <wsdl:part element="bijh0002:bhg_vkzRegistreerKiesrecht" name="bhg_vkzRegistreerKiesrecht"/>
    </wsdl:message>

    <wsdl:message name="bhg_vkzRegistreerKiesrecht_R">
        <wsdl:part element="bijh0002:bhg_vkzRegistreerKiesrecht_R" name="bhg_vkzRegistreerKiesrecht_R"/>
    </wsdl:message>

    <!-- Onderzoek -->
    <wsdl:message name="bhg_ondRegistreerOnderzoek">
        <wsdl:part element="bijh0002:bhg_ondRegistreerOnderzoek" name="bhg_ondRegistreerOnderzoek"/>
    </wsdl:message>

    <wsdl:message name="bhg_ondRegistreerOnderzoek_R">
        <wsdl:part element="bijh0002:bhg_ondRegistreerOnderzoek_R" name="bhg_ondRegistreerOnderzoek_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_ondCorrigeerOnderzoek">
        <wsdl:part element="bijh0002:bhg_ondCorrigeerOnderzoek" name="bhg_ondCorrigeerOnderzoek"/>
    </wsdl:message>

    <wsdl:message name="bhg_ondCorrigeerOnderzoek_R">
        <wsdl:part element="bijh0002:bhg_ondCorrigeerOnderzoek_R" name="bhg_ondCorrigeerOnderzoek_R"/>
    </wsdl:message>

    <wsdl:portType name="bhgAfstamming">
        <!-- Registreer Erkenning -->
        <wsdl:operation name="registreerErkenning">
            <wsdl:input message="tns:bhg_afsRegistreerErkenning"/>
            <wsdl:output message="tns:bhg_afsRegistreerErkenning_R"/>
        </wsdl:operation>
        <!-- Geboorte aangifte -->
        <wsdl:operation name="registreerGeboorte">
            <wsdl:input message="tns:bhg_afsRegistreerGeboorte"/>
            <wsdl:output message="tns:bhg_afsRegistreerGeboorte_R"/>
        </wsdl:operation>
        <!-- Registreer adoptie -->
        <wsdl:operation name="registreerAdoptie">
            <wsdl:input message="tns:bhg_afsRegistreerAdoptie"/>
            <wsdl:output message="tns:bhg_afsRegistreerAdoptie_R"/>
        </wsdl:operation>
        <!-- actualiseerAfstamming -->
        <wsdl:operation name="actualiseerAfstamming">
            <wsdl:input message="tns:bhg_afsActualiseerAfstamming"/>
            <wsdl:output message="tns:bhg_afsActualiseerAfstamming_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgNaamGeslacht">
        <!-- registreer naam geslacht  -->
        <wsdl:operation name="registreerNaamGeslacht">
            <wsdl:input message="tns:bhg_nmgRegistreerNaamGeslacht"/>
            <wsdl:output message="tns:bhg_nmgRegistreerNaamGeslacht_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgDocumentVerzoekMededeling">
        <!-- Registreer document / verzoek / mededeling -->
        <wsdl:operation name="registreerMededelingVerzoek">
            <wsdl:input message="tns:bhg_dvmRegistreerMededelingVerzoek"/>
            <wsdl:output message="tns:bhg_dvmRegistreerMededelingVerzoek_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgHuwelijkGeregistreerdPartnerschap">
        <!-- Registreer huwelijk/partnerschap -->
        <wsdl:operation name="registreerHuwelijkPartnerschap">
            <wsdl:input message="tns:bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap"/>
            <wsdl:output message="tns:bhg_hgpRegistreerHuwelijkGeregistreerdPartnerschap_R"/>
        </wsdl:operation>
        <!-- Actualiseer huwelijk/partnerschap -->
        <wsdl:operation name="actualiseerHuwelijkPartnerschap">
            <wsdl:input message="tns:bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap"/>
            <wsdl:output message="tns:bhg_hgpActualiseerHuwelijkGeregistreerdPartnerschap_R"/>
        </wsdl:operation>
        <!-- Corrigeer huwelijk/partnerschap -->
        <wsdl:operation name="corrigeerHuwelijkPartnerschap">
            <wsdl:input message="tns:bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap"/>
            <wsdl:output message="tns:bhg_hgpCorrigeerHuwelijkGeregistreerdPartnerschap_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgVerblijfAdres">
        <!-- Verhuizing -->
        <wsdl:operation name="registreerVerhuizing">
            <wsdl:input message="tns:bhg_vbaRegistreerVerhuizing"/>
            <wsdl:output message="tns:bhg_vbaRegistreerVerhuizing_R"/>
        </wsdl:operation>
        <!-- Verblijf -->
        <wsdl:operation name="registreerVerblijf">
            <wsdl:input message="tns:bhg_vbaRegistreerVerblijf"/>
            <wsdl:output message="tns:bhg_vbaRegistreerVerblijf_R"/>
        </wsdl:operation>
        <!-- Infrastructurele wijziging -->
        <wsdl:operation name="actualiseerInfrastructureleWijziging">
            <wsdl:input message="tns:bhg_vbaActualiseerInfrastructureleWijziging"/>
            <wsdl:output message="tns:bhg_vbaActualiseerInfrastructureleWijziging_R"/>
        </wsdl:operation>
        <!-- Verblijfsrecht -->
        <wsdl:operation name="registreerVerblijfsrecht">
            <wsdl:input message="tns:bhg_vbaRegistreerVerblijfsrecht"/>
            <wsdl:output message="tns:bhg_vbaRegistreerVerblijfsrecht_R"/>
        </wsdl:operation>
        <!-- Correctie Adres NL -->
        <wsdl:operation name="corrigeerAdres">
            <wsdl:input message="tns:bhg_vbaCorrigeerAdres"/>
            <wsdl:output message="tns:bhg_vbaCorrigeerAdres_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgNationaliteit">
        <!-- Registreer nationaliteit -->
        <wsdl:operation name="registreerNationaliteit">
            <wsdl:input message="tns:bhg_natRegistreerNationaliteit"/>
            <wsdl:output message="tns:bhg_natRegistreerNationaliteit_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgReisdocument">
        <!-- Registreer reisdocument -->
        <wsdl:operation name="registreerReisdocument">
            <wsdl:input message="tns:bhg_rsdRegistreerReisdocument"/>
            <wsdl:output message="tns:bhg_rsdRegistreerReisdocument_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgOverlijden">
        <!-- Overlijden -->
        <wsdl:operation name="registreerOverlijden">
            <wsdl:input message="tns:bhg_ovlRegistreerOverlijden"/>
            <wsdl:output message="tns:bhg_ovlRegistreerOverlijden_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgVerkiezingen">
        <!-- Registreer kiesrecht -->
        <wsdl:operation name="registreerKiesrecht">
            <wsdl:input message="tns:bhg_vkzRegistreerKiesrecht"/>
            <wsdl:output message="tns:bhg_vkzRegistreerKiesrecht_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:portType name="bhgOnderzoek">
        <!-- Registreer onderzoek -->
        <wsdl:operation name="registreerOnderzoek">
            <wsdl:input message="tns:bhg_ondRegistreerOnderzoek"/>
            <wsdl:output message="tns:bhg_ondRegistreerOnderzoek_R"/>
        </wsdl:operation>
        <!-- Corrigeer onderzoek -->
        <wsdl:operation name="corrigeerOnderzoek">
            <wsdl:input message="tns:bhg_ondCorrigeerOnderzoek"/>
            <wsdl:output message="tns:bhg_ondCorrigeerOnderzoek_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="bhgAfstamming" type="tns:bhgAfstamming">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerErkenning">
            <soap:operation soapAction="registreerErkenning"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registreerGeboorte">
            <soap:operation soapAction="registreerGeboorte"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registreerAdoptie">
            <soap:operation soapAction="registreerAdoptie"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualiseerAfstamming">
            <soap:operation soapAction="actualiseerAfstamming"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgNaamGeslacht" type="tns:bhgNaamGeslacht">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerNaamGeslacht">
            <soap:operation soapAction="registreerNaamGeslacht"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgDocumentVerzoekMededeling" type="tns:bhgDocumentVerzoekMededeling">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerMededelingVerzoek">
            <soap:operation soapAction="registreerMededelingVerzoek"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgHuwelijkGeregistreerdPartnerschap" type="tns:bhgHuwelijkGeregistreerdPartnerschap">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerHuwelijkPartnerschap">
            <soap:operation soapAction="registreerHuwelijkPartnerschap"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualiseerHuwelijkPartnerschap">
            <soap:operation soapAction="actualiseerHuwelijkPartnerschap"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="corrigeerHuwelijkPartnerschap">
            <soap:operation soapAction="corrigeerHuwelijkPartnerschap"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgVerblijfAdres" type="tns:bhgVerblijfAdres">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerVerhuizing">
            <soap:operation soapAction="registreerVerhuizing"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registreerVerblijf">
            <soap:operation soapAction="registreerVerblijf"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualiseerInfrastructureleWijziging">
            <soap:operation soapAction="actualiseerInfrastructureleWijziging"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registreerVerblijfsrecht">
            <soap:operation soapAction="registreerVerblijfsrecht"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="corrigeerAdres">
            <soap:operation soapAction="corrigeerAdres"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgNationaliteit" type="tns:bhgNationaliteit">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerNationaliteit">
            <soap:operation soapAction="registreerNationaliteit"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgReisdocument" type="tns:bhgReisdocument">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerReisdocument">
            <soap:operation soapAction="registreerReisdocument"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgOverlijden" type="tns:bhgOverlijden">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerOverlijden">
            <soap:operation soapAction="registreerOverlijden"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgVerkiezingen" type="tns:bhgVerkiezingen">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerKiesrecht">
            <soap:operation soapAction="registreerKiesrecht"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="bhgOnderzoek" type="tns:bhgOnderzoek">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registreerOnderzoek">
            <soap:operation soapAction="registreerOnderzoek"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="corrigeerOnderzoek">
            <soap:operation soapAction="corrigeerOnderzoek"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BijhoudingService">
        <wsdl:port binding="tns:bhgAfstamming" name="bhgAfstamming">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgNaamGeslacht" name="bhgNaamGeslacht">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgDocumentVerzoekMededeling" name="bhgDocumentVerzoekMededeling">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgHuwelijkGeregistreerdPartnerschap" name="bhgHuwelijkGeregistreerdPartnerschap">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgVerblijfAdres" name="bhgVerblijfAdres">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgNationaliteit" name="bhgNationaliteit">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgReisdocument" name="bhgReisdocument">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgOverlijden" name="bhgOverlijden">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgVerkiezingen" name="bhgVerkiezingen">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
        <wsdl:port binding="tns:bhgOnderzoek" name="bhgOnderzoek">
            <soap:address location="http://localhost:8080/bijhouding/BijhoudingService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
