2016/brp 2016-02-09/algemeen/algemeen-koppelvlak/src/main/resources/wsdl/bijhouding-bevraging.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="bevraging"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bevr0002="http://www.bzk.nl/brp/brp0200"
                  xmlns:tns="http://www.bzk.nl/brp/bijhouding/bevraging/service"
                  targetNamespace="http://www.bzk.nl/brp/bijhouding/bevraging/service">

    <wsdl:types>
        <xsd:schema>
            <xsd:import schemaLocation="/xsd/BRP0200/brp0200_bhgBevraging_Berichten.xsd"
                        namespace="http://www.bzk.nl/brp/brp0200"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="bhg_bvgZoekPersoon">
        <wsdl:part element="bevr0002:bhg_bvgZoekPersoon" name="bhg_bvgZoekPersoon"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgZoekPersoon_R">
        <wsdl:part element="bevr0002:bhg_bvgZoekPersoon_R" name="bhg_bvgZoekPersoon_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgGeefDetailsPersoon">
        <wsdl:part element="bevr0002:bhg_bvgGeefDetailsPersoon" name="bhg_bvgGeefDetailsPersoon"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgGeefDetailsPersoon_R">
        <wsdl:part element="bevr0002:bhg_bvgGeefDetailsPersoon_R" name="bhg_bvgGeefDetailsPersoon_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgBepaalKandidaatVader">
        <wsdl:part element="bevr0002:bhg_bvgBepaalKandidaatVader" name="bhg_bvgBepaalKandidaatVader"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgBepaalKandidaatVader_R">
        <wsdl:part element="bevr0002:bhg_bvgBepaalKandidaatVader_R" name="bhg_bvgBepaalKandidaatVader_R"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgGeefPersonenOpAdresMetBetrokkenheden">
        <wsdl:part element="bevr0002:bhg_bvgGeefPersonenOpAdresMetBetrokkenheden" name="bhg_bvgGeefPersonenOpAdresMetBetrokkenheden"/>
    </wsdl:message>

    <wsdl:message name="bhg_bvgGeefPersonenOpAdresMetBetrokkenheden_R">
        <wsdl:part element="bevr0002:bhg_bvgGeefPersonenOpAdresMetBetrokkenheden_R" name="bhg_bvgGeefPersonenOpAdresMetBetrokkenheden_R"/>
    </wsdl:message>


    <wsdl:portType name="bhgBevraging">
        <wsdl:operation name="zoekPersoon">
            <wsdl:input message="tns:bhg_bvgZoekPersoon"/>
            <wsdl:output message="tns:bhg_bvgZoekPersoon_R"/>
        </wsdl:operation>
        <wsdl:operation name="geefDetailsPersoon">
            <wsdl:input message="tns:bhg_bvgGeefDetailsPersoon"/>
            <wsdl:output message="tns:bhg_bvgGeefDetailsPersoon_R"/>
        </wsdl:operation>
        <wsdl:operation name="bepaalKandidaatVader">
            <wsdl:input message="tns:bhg_bvgBepaalKandidaatVader"/>
            <wsdl:output message="tns:bhg_bvgBepaalKandidaatVader_R"/>
        </wsdl:operation>
        <wsdl:operation name="geefPersonenOpAdresMetBetrokkenheden">
            <wsdl:input message="tns:bhg_bvgGeefPersonenOpAdresMetBetrokkenheden"/>
            <wsdl:output message="tns:bhg_bvgGeefPersonenOpAdresMetBetrokkenheden_R"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BevragingBinding" type="tns:bhgBevraging">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="zoekPersoon">
            <soap:operation soapAction="zoekPersoon"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="geefDetailsPersoon">
            <soap:operation soapAction="geefDetailsPersoon"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="bepaalKandidaatVader">
            <soap:operation soapAction="bepaalKandidaatVader"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="geefPersonenOpAdresMetBetrokkenheden">
            <soap:operation soapAction="geefPersonenOpAdresMetBetrokkenheden"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BijhoudingBevragingService">
        <wsdl:port binding="tns:BevragingBinding" name="bhgBevraging">
            <soap:address location="http://localhost:8080/bevraging/BijhoudingBevragingService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
