2013/brp 2013-02-07/research/poc-berichtenverwerker/trunk/service-generiek/src/main/resources/BewerkenNationaliteitGeneriek.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="ToevoegenNationaliteitGeneriek"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:brp="http://www.brp.nl/basis" xmlns:brp_a="http://www.brp.nl/basis/antwoord"
	xmlns:brp_tn="http://www.brp.nl/actie/toevoegennationaliteit"
	xmlns:brp_vn="http://www.brp.nl/actie/verwijderennationaliteit"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.brp.nl/contract/BewerkenNationaliteitGeneriek/"
	targetNamespace="http://www.brp.nl/contract/BewerkenNationaliteitGeneriek/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import schemaLocation="BRP_Basis.xsd" namespace="http://www.brp.nl/basis"/>
			<xsd:import schemaLocation="BRP_Basis_Antwoord.xsd" namespace="http://www.brp.nl/basis/antwoord" />
			<xsd:import schemaLocation="ToevoegenNationaliteitGeneriek.xsd" namespace="http://www.brp.nl/actie/toevoegennationaliteit"/>
            <xsd:import schemaLocation="VerwijderenNationaliteitGeneriek.xsd" namespace="http://www.brp.nl/actie/verwijderennationaliteit"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ToevoegenNationaliteitGeneriekRequest">
		<wsdl:part element="brp_tn:ToevoegenNationaliteit" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ToevoegenNationaliteitGeneriekResponse">
		<wsdl:part element="brp_a:StandaardAntwoord" name="parameters" />
	</wsdl:message>
	<wsdl:message name="VerwijderenNationaliteitGeneriekRequest">
		<wsdl:part element="brp_vn:VerwijderenNationaliteit" name="parameters" />
	</wsdl:message>
	<wsdl:message name="VerwijderenNationaliteitGeneriekResponse">
		<wsdl:part element="brp_a:StandaardAntwoord" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="BewerkenNationaliteitGeneriekPortType">
		<wsdl:operation name="ToevoegenNationaliteitGeneriek">
			<wsdl:input message="tns:ToevoegenNationaliteitGeneriekRequest" />
			<wsdl:output message="tns:ToevoegenNationaliteitGeneriekResponse" />
		</wsdl:operation>
		<wsdl:operation name="VerwijderenNationaliteitGeneriek">
			<wsdl:input message="tns:VerwijderenNationaliteitGeneriekRequest" />
			<wsdl:output message="tns:VerwijderenNationaliteitGeneriekResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BewerkenNationaliteitGeneriekBinding"
		type="tns:BewerkenNationaliteitGeneriekPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ToevoegenNationaliteitGeneriek">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerwijderenNationaliteitGeneriek">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BewerkenNationaliteitGeneriekService">
		<wsdl:port binding="tns:BewerkenNationaliteitGeneriekBinding"
			name="BewerkenNationaliteitGeneriekPort">
			<soap:address
				location="http://localhost:8080/berichtenverwerker/services/bewerkennationaliteitgeneriek" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
