2016/brp 2016-02-09/art/art-ondersteuning/converter/src/test/resources/BMR26Conversie/XSD/0302/stuf0302.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Henri Korver (KING) -->
<schema xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.egem.nl/StUF/StUF0301" elementFormDefault="qualified" attributeFormDefault="unqualified" version="030200">
	<annotation>
		<documentation xml:lang="nl">
               Dit schema  correspondeert met StUF 03.02 (In ontwikkeling) 
               Wijzigingen vergeleken met versie 030108:
               - RFC0121: Definitie naam, waardeverzameling, formaat en uitwisselingsmasker van datum(-tijd) elementen gelijktrekken aan de stelseldefinities
               - RFCxxxx: Simple type "FunctieVrijBerichtElement" hernoemt naar "FunctieElement". Toevoegen van de nieuwe waarden "container", "gerelateerde", "groep" en "relatie" aan de enumeratie van "FunctieElement".
               Wijzigingen vergeleken met versie 030107:
               - ERR0184: Het attribute functie en het simpleType FunctieVrijBerichtElement toegevoegd
         </documentation>
	</annotation>
	<!--definitie van elementen voor door StUF gedefinieerde berichten-->
	<element name="Fo01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Fo02Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo02"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Fo03Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Fo03"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="body" type="StUF:Foutbericht"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv02Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv02"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="Bv03Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv03"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Bv04Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Bv04"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
									<element name="crossRefnummer" type="StUF:Refnummer"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="Tr01Bericht">
		<complexType>
			<sequence>
				<element name="stuurgegevens">
					<complexType>
						<complexContent>
							<restriction base="StUF:Stuurgegevens">
								<sequence>
									<element name="berichtcode" type="StUF:Berichtcode" fixed="Tr01"/>
									<element name="zender" type="StUF:Systeem"/>
									<element name="ontvanger" type="StUF:Systeem"/>
									<element name="referentienummer" type="StUF:Refnummer"/>
									<element name="tijdstipBericht" type="StUF:DatumTijd"/>
								</sequence>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<!--definitie van het omhullende element voor uitwisseling via een bestand -->
	<element name="StUF-berichtenSet">
		<annotation>
			<documentation xml:lang="nl">In het schema van de StUF-standaard kan dit element slechts gedefinieerd worden met als types anyType voor de
				elementen die voor kunnen komen in een berichtenbestand. De verschillende sectormodellen definieren deze 
				elementen in meer detail. Een correcte validatie is mogelijk door in het bericht expliciet het sectormodel te specificeren
				waartegen het bericht gevalideerd dient te worden.
			</documentation>
		</annotation>
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element name="bericht"/>
			</choice>
		</complexType>
	</element>
	<!--Definitie van elementen die als element gerefd moeten worden in een sectormodel-->
	<element name="extraElementen" type="StUF:ExtraElementen"/>
	<element name="tijdstipRegistratie" type="StUF:DatumTijd-e" nillable="true"/>
	<element name="tijdvakGeldigheid" type="StUF:TijdvakGeldigheid"/>
	<element name="tijdvakObject" type="StUF:TijdvakObject"/>
	<element name="tijdvakRelatie" type="StUF:TijdvakRelatie"/>
	<!--Definitie van complexTypes ten behoeve van parameters elementen -->
	<complexType name="ParametersAntwoord">
		<annotation>
			<documentation>Type voor gebruik in vrije berichten</documentation>
		</annotation>
		<sequence>
			<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
			<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
			<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
			<element name="peiltijdstipFormeel" type="StUF:DatumTijd" minOccurs="0"/>
			<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
			<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
			<element name="sequenceNumber" type="StUF:SequenceNumber" minOccurs="0"/>
			<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersAntwoordSynchroon">
		<annotation>
			<documentation>Type voor gebruik in La01, La07, La09, La11 en La13 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordSynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordSynchroonFormeel">
		<annotation>
			<documentation>Type voor gebruik in La05 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoord">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordSynchroonMaterieel">
		<annotation>
			<documentation>Type voor gebruik in La03 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordSynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroon">
		<annotation>
			<documentation>Type voor gebruik in La02, La08, La10, La12 en La14 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordAsynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroonFormeel">
		<annotation>
			<documentation>Type voor gebruik in La06 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoord">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersAntwoordAsynchroonMaterieel">
		<annotation>
			<documentation>Type voor gebruik in La04 berichten</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersAntwoordAsynchroonFormeel">
				<sequence>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="aantalVoorkomens" type="StUF:AantalVoorkomens" minOccurs="0"/>
					<element name="sequenceNumber" type="StUF:SequenceNumber"/>
					<element name="indicatorLaatsteBericht" type="boolean" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersKennisgeving">
		<sequence>
			<element name="mutatiesoort" type="StUF:Mutatiesoort" minOccurs="0"/>
			<element name="indicatorOvername" type="StUF:IndicatorOvername" default="V" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersLk01">
		<complexContent>
			<restriction base="StUF:ParametersKennisgeving">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" default="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk01TInSx01">
		<complexContent>
			<restriction base="StUF:ParametersLk01">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort" fixed="T"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk01WInSx01">
		<complexContent>
			<restriction base="StUF:ParametersLk01">
				<sequence>
					<element name="mutatiesoort" type="StUF:MutatiesoortWijzigingInSynchronisatie"/>
					<element name="indicatorOvername" type="StUF:IndicatorOvername" fixed="V"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02">
		<complexContent>
			<restriction base="StUF:ParametersKennisgeving">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02TInSx02">
		<complexContent>
			<restriction base="StUF:ParametersLk02">
				<sequence>
					<element name="mutatiesoort" type="StUF:Mutatiesoort" fixed="T"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersLk02WInSx02">
		<complexContent>
			<restriction base="StUF:ParametersLk02">
				<sequence>
					<element name="mutatiesoort" type="StUF:MutatiesoortWijzigingInSynchronisatie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="ParametersVraag-basis">
		<annotation>
			<documentation>Type voor gebruik in vrije berichten</documentation>
		</annotation>
		<sequence>
			<element name="sortering" type="StUF:Sortering" minOccurs="0"/>
			<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
			<element name="maximumAantal" type="StUF:MaximumAantal" default="15" minOccurs="0"/>
			<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
			<element name="peiltijdstipFormeel" type="StUF:DatumTijd" minOccurs="0"/>
			<element name="indicatorHistorie" type="StUF:IndicatorHistorie" minOccurs="0"/>
			<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
			<element name="indicatorAantal" type="boolean" default="false" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="ParametersVraag">
		<annotation>
			<documentation>Type voor gebruik in de berichten Lv01 t/m Lv14.</documentation>
		</annotation>
		<complexContent>
			<restriction base="StUF:ParametersVraag-basis">
				<sequence>
					<element name="sortering" type="StUF:Sortering" minOccurs="0"/>
					<element name="indicatorVervolgvraag" type="boolean" minOccurs="0"/>
					<element name="maximumAantal" type="StUF:MaximumAantal" default="15" minOccurs="0"/>
					<element name="peiltijdstipMaterieel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="peiltijdstipFormeel" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="indicatorAfnemerIndicatie" type="boolean" default="false" minOccurs="0"/>
					<element name="indicatorAantal" type="boolean" default="false" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Stuurgegevens">
		<sequence>
			<element name="berichtcode" type="StUF:Berichtcode"/>
			<element name="zender" type="StUF:Systeem" minOccurs="0"/>
			<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
			<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
			<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
			<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
			<element name="entiteittype" type="StUF:Entiteittype" minOccurs="0"/>
			<element name="functie" type="StUF:Functie" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="StuurgegevensDi01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Di01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDi02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Di02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="functie" type="StUF:Functie" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Du01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensDu02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Du02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="functie" type="StUF:Functie" minOccurs="0"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La01"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La03"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La04"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La05"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La06"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa07">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La07"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa08">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La08"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa09">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La09"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa10">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La10"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa11">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La11"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa12">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La12"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa13">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La13"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLa14">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="La14"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk01Lk05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk01Lk05"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk02Lk06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:BerichtcodeLk02Lk06"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="functie" type="StUF:Functie"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk05"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLk06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lk06"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv01"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv02"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv03"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv04"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv05">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv05"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv06">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv06"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv07">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv07"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv08">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv08"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv09">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv09"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv10">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv10"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv11">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv11"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv12">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv12"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv13">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv13"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensLv14">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Lv14"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sa01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sa02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sa03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSa04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sa04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh01">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sh01"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh02">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sh02"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="crossRefnummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh03">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sh03"/>
					<element name="zender" type="StUF:Systeem"/>
					<element name="ontvanger" type="StUF:Systeem"/>
					<element name="referentienummer" type="StUF:Refnummer"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="StuurgegevensSh04">
		<complexContent>
			<restriction base="StUF:Stuurgegevens">
				<sequence>
					<element name="berichtcode" type="StUF:Berichtcode" fixed="Sh04"/>
					<element name="zender" type="StUF:Systeem" minOccurs="0"/>
					<element name="ontvanger" type="StUF:Systeem" minOccurs="0"/>
					<element name="referentienummer" type="StUF:Refnummer" minOccurs="0"/>
					<element name="tijdstipBericht" type="StUF:DatumTijd" minOccurs="0"/>
					<element name="entiteittype" type="StUF:Entiteittype"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!--attribute groups met de attributen van een entiteit en een element-->
	<attributeGroup name="entiteit">
		<attribute ref="StUF:sleutelVerzendend"/>
		<attribute ref="StUF:sleutelOntvangend"/>
		<attribute ref="StUF:sleutelGegevensbeheer"/>
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:scope"/>
		<attribute ref="StUF:verwerkingssoort"/>
	</attributeGroup>
	<attributeGroup name="entiteitZonderSleutels">
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:scope"/>
		<attribute ref="StUF:verwerkingssoort"/>
	</attributeGroup>
	<attributeGroup name="element">
		<attribute ref="StUF:noValue"/>
		<attribute ref="StUF:exact"/>
	</attributeGroup>
	<attributeGroup name="relatie">
		<attributeGroup ref="StUF:entiteit"/>
		<attribute ref="StUF:aantalVoorkomens"/>
		<attribute ref="StUF:aardAantal"/>
	</attributeGroup>
	<attributeGroup name="relatieZonderSleutels">
		<attributeGroup ref="StUF:entiteitZonderSleutels"/>
		<attribute ref="StUF:aantalVoorkomens"/>
		<attribute ref="StUF:aardAantal"/>
	</attributeGroup>
	<!--definitie van de verschillende attributes-->
	<attribute name="aantalVoorkomens" type="StUF:AantalVoorkomens"/>
	<attribute name="aardAantal" type="StUF:AardAantal"/>
	<attribute name="entiteittype" type="StUF:Entiteittype"/>
	<attribute name="exact" type="boolean" default="true"/>
	<attribute name="functie" type="StUF:FunctieElement"/>
	<attribute name="indOnvolledigeDatum" type="StUF:IndOnvolledigeDatum" default="V"/>
	<attribute name="metagegeven" type="boolean" fixed="true"/>
	<attribute name="noValue" type="StUF:NoValue"/>
	<attribute name="scope">
		<simpleType>
			<restriction base="string">
				<enumeration value="alles"/>
				<enumeration value="allesZonderMetagegevens"/>
				<enumeration value="allesMaarKerngegevensGerelateerden"/>
				<enumeration value="allesZonderMetagegevensMaarKerngegevensGerelateerden"/>
				<enumeration value="kerngegevens"/>
			</restriction>
		</simpleType>
	</attribute>
	<attribute name="sleutelVerzendend" type="StUF:Sleutel"/>
	<attribute name="sleutelOntvangend" type="StUF:Sleutel"/>
	<attribute name="sleutelGegevensbeheer" type="StUF:Sleutel"/>
	<attribute name="verwerkingssoort" type="StUF:Verwerkingssoort"/>
	<!--definitie complexTypes -->
	<complexType name="AnytypeKennisgeving">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
		<attribute ref="StUF:entiteittype" use="required"/>
		<attributeGroup ref="StUF:entiteit"/>
	</complexType>
	<complexType name="AnytypeOther">
		<sequence>
			<any namespace="##other" processContents="lax" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AnytypeTarget">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="AnytypeTargetMetEntiteittype">
		<sequence>
			<any namespace="##targetNamespace" maxOccurs="unbounded"/>
		</sequence>
		<attribute ref="StUF:entiteittype" use="required"/>
	</complexType>
	<complexType name="Bevestigingsbericht">
		<sequence>
			<element name="melding" type="StUF:Melding" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="Datum-e">
		<simpleContent>
			<extension base="StUF:Datum">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DatumTijd-e">
		<simpleContent>
			<extension base="StUF:DatumTijd">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ExtraElementen">
		<sequence>
			<element name="extraElement" nillable="true" maxOccurs="unbounded">
				<complexType>
					<simpleContent>
						<extension base="string">
							<attributeGroup ref="StUF:element"/>
							<attribute name="naam" type="string" use="required"/>
							<attribute ref="StUF:indOnvolledigeDatum"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="Foutbericht">
		<sequence>
			<element name="code" type="StUF:Foutcode"/>
			<element name="plek" type="StUF:Foutplek"/>
			<element name="omschrijving" type="StUF:Foutomschrijving"/>
			<element name="details" type="StUF:Foutdetails" minOccurs="0"/>
			<element name="detailsXML" type="StUF:FoutdetailsXML" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="FoutdetailsXML">
		<sequence>
			<any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="GebeurtenisMetAttributes">
		<simpleContent>
			<restriction base="StUF:GebeurtenisMetAttributes-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
				<attribute name="tijdstip" type="StUF:DatumTijd" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="GebeurtenisMetAttributes-basis">
		<simpleContent>
			<extension base="StUF:Gebeurtenis">
				<attribute ref="StUF:metagegeven"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
				<attribute name="tijdstip" type="StUF:DatumTijd"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="GebeurtenisMetAttributes-vraag">
		<simpleContent>
			<restriction base="StUF:GebeurtenisMetAttributes-basis">
				<attribute ref="StUF:metagegeven" use="prohibited"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="tijdstip" type="StUF:DatumTijd" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="OnvolledigeDatum-e">
		<simpleContent>
			<extension base="StUF:OnvolledigeDatum">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="OnvolledigeDatumTijd-e">
		<simpleContent>
			<extension base="StUF:OnvolledigeDatumTijd">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Sleutel-e">
		<simpleContent>
			<extension base="StUF:Sleutel">
				<attributeGroup ref="StUF:element"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegeven-basis">
		<simpleContent>
			<extension base="StUF:StatusMetagegeven">
				<attribute ref="StUF:metagegeven"/>
				<attribute ref="StUF:noValue"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegeven-vraag">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="prohibited"/>
				<attribute ref="StUF:noValue" use="prohibited"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegevenNoValue">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
				<attribute name="groepsnaam" type="StUF:Groepsnaam" use="prohibited"/>
				<attribute name="elementnaam" type="StUF:Groepsnaam" use="prohibited"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="StatusMetagegevenMetAttributes">
		<simpleContent>
			<restriction base="StUF:StatusMetagegeven-basis">
				<attribute ref="StUF:metagegeven" use="required"/>
			</restriction>
		</simpleContent>
	</complexType>
	<complexType name="Systeem">
		<sequence>
			<element name="organisatie" type="StUF:Organisatie" minOccurs="0"/>
			<element name="applicatie" type="StUF:Applicatie"/>
			<element name="administratie" type="StUF:Administratie" minOccurs="0"/>
			<element name="gebruiker" type="StUF:Gebruiker" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TijdvakGeldigheid">
		<sequence>
			<element name="beginGeldigheid" type="StUF:OnvolledigeDatumTijd-e" nillable="true"/>
			<element name="eindGeldigheid" type="StUF:OnvolledigeDatumTijd-e" nillable="true"/>
		</sequence>
	</complexType>
	<complexType name="TijdvakObject">
		<sequence>
			<element name="beginObject" type="StUF:Datum-e" nillable="true"/>
			<element name="eindObject" type="StUF:Datum-e" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="TijdvakRelatie">
		<sequence>
			<element name="beginRelatie" type="StUF:OnvolledigeDatumTijd-e" nillable="true"/>
			<element name="eindRelatie" type="StUF:OnvolledigeDatumTijd-e" nillable="true" minOccurs="0"/>
		</sequence>
	</complexType>
	<!--definitie simpleTypes-->
	<simpleType name="AantalVoorkomens">
		<restriction base="nonNegativeInteger">
			<maxInclusive value="999999999"/>
		</restriction>
	</simpleType>
	<simpleType name="AardAantal">
		<restriction base="string">
			<enumeration value="exact"/>
			<enumeration value="minimum"/>
			<enumeration value="maximum"/>
		</restriction>
	</simpleType>
	<simpleType name="Administratie">
		<restriction base="string">
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="Applicatie">
		<restriction base="string">
			<minLength value="3"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>
	<simpleType name="Berichtcode">
		<restriction base="string">
			<enumeration value="Bv01">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv02">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv03">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht, indien het ontvangende systeem het bericht op basis van de berichtstuurgegevens heeft gecheckt op verwerkbaarheid
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Bv04">
				<annotation>
					<documentation>
						Bevestigingsbericht dat als respons wordt verstuurd op een asynchroon bericht, dat slechts de aflevering naar de uiteindelijke ontvanger kan garanderen, maar de verwerking niet heeft gecheckt op basis van de berichtstuurgegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Di01">
				<annotation>
					<documentation>
						Asynchroon vrij bericht dat geen respons is op een eerder verzonden vrij bericht. Het kan bijvoorbeeld gaan om een notificatie of het verzoek deel van een aysnchroon verzoek/respons patroon. De 'i' in Di01 staat daarom voor inkomend.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Di02">
				<annotation>
					<documentation>
						Synchroon vrij bericht waarop een respons wordt verwacht.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Du01">
				<annotation>
					<documentation>
						Asynchroon vrij bericht dat een respons is op een eerder verzonden vrij bericht met berichtsoort Di01.
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Du02">
				<annotation>
					<documentation>
						Synchrone respons op een inkomend vrij bericht met berichtsoort Di02
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo01">
				<annotation>
					<documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo02">
				<annotation>
					<documentation>
						Foutbericht dat als functionele respons kan worden verstuurd op een synchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Fo03">
				<annotation>
					<documentation>
						Foutbericht dat als synchrone respons wordt verstuurd op een asynchroon bericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La01">
				<annotation>
					<documentation>
						Antwoordbericht met actuele gegevens als respons op een synchroon vraagbericht (Lv01)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La02">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met actuele gegevens als respons op een asynchroon vraagbericht (Lv02)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La03">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een synchroon vraagbericht (Lv03)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La04">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met huidige gegevens op peiltijdstipMaterieel als respons op een asynchroon vraagbericht (Lv03)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La05">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een synchroon vraagbericht (Lv05)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La06">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met gegevens op peiltijdstipMaterieel en peiltijdstipFormeel als respons op een asynchroon vraagbericht (Lv06)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La07">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv07)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La08">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv08)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La09">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een synchroon vraagbericht (Lv09)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La10">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile en formele historie en alleen gewijzigde gegevens in historie als respons op een asynchroon vraagbericht (Lv10)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La11">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv11)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La12">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv12)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La13">
				<annotation>
					<documentation>
						Synchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een synchroon vraagbericht (Lv13)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="La14">
				<annotation>
					<documentation>
						Asynchroon antwoordbericht met materile en formele historie en alle gegevens in historie als respons op een asynchroon vraagbericht (Lv14)
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk01">
				<annotation>
					<documentation>
						Asynchroon atomair kennisgevingbericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk02">
				<annotation>
					<documentation>
						Synchroon atomair kennisgevingbericht
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk03">
				<annotation>
					<documentation>
						Asynchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk04">
				<annotation>
					<documentation>
						Synchroon samengesteld kennisgevingbericht of transactie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lk05"/>
			<enumeration value="Lk06"/>
			<enumeration value="Lv01">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv02">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv03">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv04">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar huidige gegevens op peiltijdstipMaterieel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv05">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv06">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar gegevens op peiltijdstipMaterieel en peiltijdstipFormeel
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv07">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv08">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv09">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv10">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alleen gewijzigde gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv11">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv12">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv13">
				<annotation>
					<documentation>
						Synchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Lv14">
				<annotation>
					<documentation>
						Asynchroon vraagbericht naar actuele gegevens en materile plus formele historie met alle gegevens in de historie
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa01">
				<annotation>
					<documentation>
						Asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh01">
				<annotation>
					<documentation>
						Asynchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa02">
				<annotation>
					<documentation>
						Synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh02">
				<annotation>
					<documentation>
						Synchroon synchronisatiebericht voor actuele en historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa03">
				<annotation>
					<documentation>
						Vraag naar een asynchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh03">
				<annotation>
					<documentation>
						Vraag naar een asynchroon synchronisatiebericht voor historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sa04">
				<annotation>
					<documentation>
						Vraag naar een synchroon synchronisatiebericht voor actuele gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Sh04">
				<annotation>
					<documentation>
						Vraag naar een synchroon synchronisatiebericht voor historische gegevens
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="Tr01">
				<annotation>
					<documentation>
						Triggerbericht
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk01Lk05">
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk01"/>
			<enumeration value="Lk05"/>
		</restriction>
	</simpleType>
	<simpleType name="BerichtcodeLk02Lk06">
		<restriction base="StUF:Berichtcode">
			<enumeration value="Lk02"/>
			<enumeration value="Lk06"/>
		</restriction>
	</simpleType>
	<simpleType name="Datum">
		<annotation>
			<documentation>Volgens de stelseldefinitie zoals beschreven in "Advies issue 120 Generiek domein datum-tijd v0.9.pdf"</documentation>
		</annotation>
		<restriction base="date"/>
	</simpleType>
	<simpleType name="DatumTijd">
		<annotation>
			<documentation>Volgens de stelseldefinitie zoals beschreven in "Advies issue 120 Generiek domein datum-tijd v0.9.pdf"</documentation>
		</annotation>
		<restriction base="dateTime"/>
	</simpleType>
	<simpleType name="Entiteittype">
		<restriction base="string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutcode">
		<restriction base="string">
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutplek">
		<restriction base="string">
			<enumeration value="client"/>
			<enumeration value="server"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutomschrijving">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Foutdetails">
		<restriction base="string">
			<maxLength value="1000"/>
		</restriction>
	</simpleType>
	<simpleType name="Functie">
		<restriction base="string">
			<maxLength value="30"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieElement">
		<restriction base="string">
			<enumeration value="antwoord"/>
			<enumeration value="container"/>
			<enumeration value="gerelateerde"/>
			<enumeration value="groep"/>
			<enumeration value="entiteit"/>
			<enumeration value="onderdeel"/>
			<enumeration value="relatie"/>
			<enumeration value="selectie"/>
			<enumeration value="update"/>
			<enumeration value="zaakinfo"/>
		</restriction>
	</simpleType>
	<simpleType name="Gebeurtenis">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Gebruiker">
		<restriction base="string">
			<maxLength value="100"/>
		</restriction>
	</simpleType>
	<simpleType name="Groepsnaam">
		<restriction base="string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	<simpleType name="IndicatorHistorie">
		<restriction base="string">
			<enumeration value="N">
				<annotation>
					<documentation>
						Er wordt niet om historie gevraagd c.q. er wordt geen historie teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="ME">
				<annotation>
					<documentation>
						Er wordt om materile historie op entiteitsniveau gevraagd c.q. er wordt materile historie op entiteitsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="MG">
				<annotation>
					<documentation>
						Er wordt om materile historie op groepsniveau gevraagd c.q. er wordt materile historie op groepsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FE">
				<annotation>
					<documentation>
						Er wordt om materile en formele historie op entiteitsniveau gevraagd c.q. er wordt materile en formele historie op entiteitsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
			<enumeration value="FG">
				<annotation>
					<documentation>
						Er wordt om materile en formele historie op groepsniveau gevraagd c.q. er wordt materile en formele historie op groepsniveau teruggegeven
					</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="IndicatorOvername">
		<restriction base="string">
			<enumeration value="I">
				<annotation>
					<documentation xml:lang="nl">Informatief</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verplicht</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="IndOnvolledigeDatum">
		<restriction base="string">
			<enumeration value="J">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar jaar, maand en dag zijn onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar maand en dag zijn onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation xml:lang="nl">de datum heeft een waarde maar de dag is onbekend</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">datum is volledig</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MaximumAantal">
		<restriction base="nonNegativeInteger">
			<totalDigits value="8"/>
		</restriction>
	</simpleType>
	<simpleType name="Melding">
		<restriction base="string">
			<maxLength value="250"/>
		</restriction>
	</simpleType>
	<simpleType name="Mutatiesoort">
		<restriction base="StUF:Functie">
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="nl">Toevoeging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation xml:lang="nl">Wijziging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verwijdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="C">
				<annotation>
					<documentation xml:lang="nl">Correctie zonder opbouw formele historie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation xml:lang="nl">Correctie met opbouw formele historie</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="MutatiesoortWijzigingInSynchronisatie">
		<restriction base="StUF:Mutatiesoort">
			<enumeration value="W"/>
			<enumeration value="F"/>
		</restriction>
	</simpleType>
	<simpleType name="NoValue">
		<restriction base="string">
			<enumeration value="nietOndersteund"/>
			<enumeration value="nietGeautoriseerd"/>
			<enumeration value="geenWaarde"/>
			<enumeration value="waardeOnbekend"/>
			<enumeration value="vastgesteldOnbekend"/>
		</restriction>
	</simpleType>
	<simpleType name="OnvolledigeDatum">
		<annotation>
			<documentation>Volgens de stelseldefinitie zoals beschreven in "Advies issue 120 Generiek domein datum-tijd v0.9.pdf"</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1}))?)?((\+|\-)([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1}):[0-5]{1}[0-9]{1})?"/>
		</restriction>
	</simpleType>
	<simpleType name="OnvolledigeDatumTijd">
		<annotation>
			<documentation>Volgens de stelseldefinitie zoals beschreven in "Advies issue 120 Generiek domein datum-tijd v0.9.pdf"</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1}))?)?(T((([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1})(:[0-5]{1}[0-9]{1}(:[0-5]{1}[0-9]{1}(\.[0-9]+)?)?)?)|24(:00(:00(\.0+)?)?)?)((\+|\-)([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1}):[0-5]{1}[0-9]{1})?)?"/>
		</restriction>
	</simpleType>
	<simpleType name="Organisatie">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Refnummer">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="SequenceNumber">
		<restriction base="positiveInteger">
			<maxInclusive value="99999999"/>
		</restriction>
	</simpleType>
	<simpleType name="Sleutel">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="Sortering">
		<restriction base="nonNegativeInteger">
			<totalDigits value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="StatusMetagegeven">
		<restriction base="string">
			<enumeration value="J"/>
		</restriction>
	</simpleType>
	<simpleType name="Versienr">
		<restriction base="string">
			<minLength value="4"/>
			<maxLength value="4"/>
			<pattern value="[0-9]{4}"/>
		</restriction>
	</simpleType>
	<simpleType name="Verwerkingssoort">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="T">
				<annotation>
					<documentation xml:lang="nl">Toevoeging</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation xml:lang="nl">Wijziging of correctie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation xml:lang="nl">Verwijdering</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation xml:lang="nl"> Een relatie entiteit wordt beeindigd.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="I">
				<annotation>
					<documentation xml:lang="nl">Entiteit bevat alleen identificerende gegevens.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation xml:lang="nl">Een relatie entiteit wordt vervangen door een nieuwe relatie entiteit.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="S">
				<annotation>
					<documentation xml:lang="nl"> De sleutel van een entiteit wordt gewijzigd.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation xml:lang="nl"> Het object in de oude entiteit wordt in het kader van een ontdubbeling samengevoegd met het object in de nieuwe entiteit. Het object in de oude entiteit komt niet voor in het zendende systeem. Objecten in een systeem worden veelal ontdubbeld als blijkt dat ze verwijzen naar hetzelfde object in de werkelijkheid.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>
