2016/brp 2016-02-09/art/art-ondersteuning/converter/src/test/resources/BMR26Conversie/XSD/BRP0100/BRP0100_Attribuuttypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Metaregister versie: foo
Generator versie: bar
Generator gebouwd op: banzai
Gegenereerd op: Tue Jan 21 13:44:40 CET 2014
-->
<!-- Handmatige aanpassingen (generator nog aanpassen): -->
<!-- 1) Introductie nieuw meta-element 'nadereAanduidingVerval' -->
<!-- ... -->
<!--Schema met de definitie van de simple types (-s), en de complex types die gebruikt worden in de berichten voor de BRP.-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0100" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" targetNamespace="http://www.bzk.nl/brp/brp0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010008">
  <import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd" />
  <!--Simple types voor de attribuuttypen gesorteerd op alfabet.-->
  <simpleType name="AanduidingInhoudingVermissingReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AanduidingVerblijfsrechtCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="AangeverAdreshoudingCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AdellijkeTitelCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Administratienummer-s">
    <restriction base="string">
      <minLength value="10" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="AdministratieveHandelingCode-s">
    <restriction base="string">
      <enumeration value="01001">
        <annotation>
          <documentation>Erkenning voor geboorte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01002">
        <annotation>
          <documentation>Inschrijving door geboorte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01003">
        <annotation>
          <documentation>Inschrijving door geboorte met erkenning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01004">
        <annotation>
          <documentation>Erkenning na geboorte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01005">
        <annotation>
          <documentation>Vernietiging erkenning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01006">
        <annotation>
          <documentation>Adoptie ingezetene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01007">
        <annotation>
          <documentation>Omzetting adoptie door rechter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01008">
        <annotation>
          <documentation>Herroeping adoptie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01009">
        <annotation>
          <documentation>Vaststelling vaderschap door rechter</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01010">
        <annotation>
          <documentation>Registratie ontbrekende geboorteakte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01011">
        <annotation>
          <documentation>Registratie verbeterde geboorteakte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01012">
        <annotation>
          <documentation>Registratie niet ingeschreven kind</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01013">
        <annotation>
          <documentation>Ontkenning vaderschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01014">
        <annotation>
          <documentation>Inroeping van staat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01015">
        <annotation>
          <documentation>Betwisting van staat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01016">
        <annotation>
          <documentation>Correctie afstamming</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02001">
        <annotation>
          <documentation>Wijziging geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02002">
        <annotation>
          <documentation>Wijziging voornaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02003">
        <annotation>
          <documentation>Wijziging geslachtsaanduiding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02004">
        <annotation>
          <documentation>Wijziging naamgebruik</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02005">
        <annotation>
          <documentation>Correctie naam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02006">
        <annotation>
          <documentation>Correctie geslachtsaanduiding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02007">
        <annotation>
          <documentation>Correctie naamgebruik</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03001">
        <annotation>
          <documentation>Registratie verstrekkingsbeperking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03002">
        <annotation>
          <documentation>Mededeling gezagsregister</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03004">
        <annotation>
          <documentation>Mededeling curateleregister</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04001">
        <annotation>
          <documentation>Voltrekking huwelijk in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04002">
        <annotation>
          <documentation>Ontbinding huwelijk in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04003">
        <annotation>
          <documentation>Voltrekking huwelijk in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04004">
        <annotation>
          <documentation>Ontbinding huwelijk in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04005">
        <annotation>
          <documentation>Registratie partnerschap in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04006">
        <annotation>
          <documentation>Ontbinding partnerschap in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04007">
        <annotation>
          <documentation>Registratie partnerschap in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04008">
        <annotation>
          <documentation>Ontbinding partnerschap in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04009">
        <annotation>
          <documentation>Omzetting partnerschap in huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04010">
        <annotation>
          <documentation>Nietigverklaring huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04011">
        <annotation>
          <documentation>Nietigverklaring partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04012">
        <annotation>
          <documentation>Ongedaanmaking huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04013">
        <annotation>
          <documentation>Ongedaanmaking partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04014">
        <annotation>
          <documentation>Correctie huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04015">
        <annotation>
          <documentation>Correctie partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05001">
        <annotation>
          <documentation>Vestiging immigrant</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05004">
        <annotation>
          <documentation>Verhuizing binnengemeentelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05005">
        <annotation>
          <documentation>Verhuizing intergemeentelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05006">
        <annotation>
          <documentation>Verhuizing infrastructureel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05007">
        <annotation>
          <documentation>Verhuizing naar buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05008">
        <annotation>
          <documentation>Correctie adres Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05009">
        <annotation>
          <documentation>Correctie adres buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05011">
        <annotation>
          <documentation>Registratie bijzondere verblijfsrechtelijke positie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05012">
        <annotation>
          <documentation>Opschorting ingezetene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05013">
        <annotation>
          <documentation>Beeindiging opschorting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05014">
        <annotation>
          <documentation>Correctie opschorting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06001">
        <annotation>
          <documentation>Verkrijging Nederlandse nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06002">
        <annotation>
          <documentation>Verlies Nederlandse nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06003">
        <annotation>
          <documentation>Verkrijging vreemde nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06004">
        <annotation>
          <documentation>Verlies vreemde nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06005">
        <annotation>
          <documentation>Registratie indicatie nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07001">
        <annotation>
          <documentation>Registratie reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07002">
        <annotation>
          <documentation>Onttrekking reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07003">
        <annotation>
          <documentation>Signalering verstrekken reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07004">
        <annotation>
          <documentation>Correctie reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09001">
        <annotation>
          <documentation>Overlijden in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09002">
        <annotation>
          <documentation>Overlijden in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09003">
        <annotation>
          <documentation>Ongedaanmaking overlijden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09004">
        <annotation>
          <documentation>Correctie overlijden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13001">
        <annotation>
          <documentation>Registratie uitsluiting kiesrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13002">
        <annotation>
          <documentation>Registratie europees kiesrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13003">
        <annotation>
          <documentation>Correctie kiesrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90001">
        <annotation>
          <documentation>Plaatsing afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90002">
        <annotation>
          <documentation>Verwijdering afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="90003">
        <annotation>
          <documentation>Synchronisatie persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99998">
        <annotation>
          <documentation>Conversie GBA sync</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99999">
        <annotation>
          <documentation>Conversie GBA initieel</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Adresregel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="AfgekorteNaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="Aktenummer-s">
    <restriction base="string">
      <minLength value="7" />
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteitVanAfgifteReisdocumentCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling I van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling II van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsresultaatCode-s">
    <restriction base="string">
      <enumeration value="V">
        <annotation>
          <documentation>Verwerkt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="U">
        <annotation>
          <documentation>Verwerking uitgesteld ivm fiattering</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandsePlaats-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandseRegio-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="Burgerservicenummer-s">
    <restriction base="string">
      <minLength value="9" />
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="CategorieAdministratieveHandelingCode-s">
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>Actualisering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="C">
        <annotation>
          <documentation>Correctie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>Synchronisatie</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="DocumentIdentificatie-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="DocumentOmschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="GemeenteCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="Gemeentedeel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="GeslachtsaanduidingCode-s">
    <restriction base="string">
      <enumeration value="M">
        <annotation>
          <documentation>Man</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Vrouw</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>Onbekend</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Geslachtsnaamstam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Huisletter-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
      <pattern value="[a-zA-Z]" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummertoevoeging-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeAdresseerbaarObject-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeNummeraanduiding-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="Ja-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JaNee-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LandGebiedCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="LengteInCm-s">
    <restriction base="decimal">
      <totalDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="LocatieTenOpzichteVanAdres-s">
    <restriction base="string">
      <enumeration value="by">
        <annotation>
          <documentation>bij</documentation>
        </annotation>
      </enumeration>
      <enumeration value="to">
        <annotation>
          <documentation>tegen over</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Locatieomschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="Meldingtekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="NaamEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamgebruikCode-s">
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>Eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner voor eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner na eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereAanduidingVerval-s">
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>Onjuist</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>Strijdig</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereBijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>De persoon is overleden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Persoonslijst is ten onrechte opgenomen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Verblijf van de persoon is onbekend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>De bijhouding is beperkt vanwege een Ministerieel besluit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>De persoon is geëmigreerd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>De persoon is rechtstreeks een niet-ingezetene geworden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>Alle actuele gegevens worden bijgehouden</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Nationaliteitcode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="Nee-s">
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmschrijvingEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <simpleType name="Ontleningstoelichting-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="400" />
    </restriction>
  </simpleType>
  <simpleType name="PartijCode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="Postcode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
      <pattern value="[1-9][0-9]{3}[A-Z]{0,2}" />
    </restriction>
  </simpleType>
  <simpleType name="PredicaatCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RechtsgrondCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenBeeindigingRelatieCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerkrijgingCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerliesCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenWijzigingAdresCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RegelCode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="ReisdocumentNummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="Scheidingsteken-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Sleutelwaardetekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="SoortAdresCode-s">
    <restriction base="string">
      <enumeration value="W">
        <annotation>
          <documentation>Woonadres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>Briefadres</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortMeldingCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Informatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>Waarschuwing</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation>Deblokkeerbaar</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Fout</documentation>
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation>Geen</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortMigratieCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Immigratie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>Emigratie</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortNederlandsReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="SoortPersoonCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Niet ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="A">
        <annotation>
          <documentation>Alternatieve realiteit</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Versienummer-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="VerwerkingsresultaatCode-s">
    <restriction base="string">
      <enumeration value="G">
        <annotation>
          <documentation>Verwerking geslaagd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Verwerking foutief</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Verwerkingswijze-s">
    <restriction base="string">
      <enumeration value="B">
        <annotation>
          <documentation>Bijhouden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Prevalideren</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Volgnummer-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Voornaam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voornamen-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voorvoegsel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <!--Complex types voor de attribuuttypen gesorteerd op alfabet.-->
  <complexType name="AanduidingInhoudingVermissingReisdocumentCode">
    <simpleContent>
      <extension base="brp:AanduidingInhoudingVermissingReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AanduidingVerblijfsrechtCode">
    <simpleContent>
      <extension base="brp:AanduidingVerblijfsrechtCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AangeverAdreshoudingCode">
    <simpleContent>
      <extension base="brp:AangeverAdreshoudingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AdellijkeTitelCode">
    <simpleContent>
      <extension base="brp:AdellijkeTitelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Administratienummer">
    <simpleContent>
      <extension base="brp:Administratienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="AdministratieveHandelingCode">
    <simpleContent>
      <extension base="brp:AdministratieveHandelingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Adresregel">
    <simpleContent>
      <extension base="brp:Adresregel-s" />
    </simpleContent>
  </complexType>
  <complexType name="AfgekorteNaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:AfgekorteNaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="Aktenummer">
    <simpleContent>
      <extension base="brp:Aktenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteitVanAfgifteReisdocumentCode">
    <simpleContent>
      <extension base="brp:AutoriteitVanAfgifteReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:BijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsresultaatCode">
    <simpleContent>
      <extension base="brp:BijhoudingsresultaatCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandsePlaats">
    <simpleContent>
      <extension base="brp:BuitenlandsePlaats-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandseRegio">
    <simpleContent>
      <extension base="brp:BuitenlandseRegio-s" />
    </simpleContent>
  </complexType>
  <complexType name="Burgerservicenummer">
    <simpleContent>
      <extension base="brp:Burgerservicenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="CategorieAdministratieveHandelingCode">
    <simpleContent>
      <extension base="brp:CategorieAdministratieveHandelingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="DocumentIdentificatie">
    <simpleContent>
      <extension base="brp:DocumentIdentificatie-s" />
    </simpleContent>
  </complexType>
  <complexType name="DocumentOmschrijving">
    <simpleContent>
      <extension base="brp:DocumentOmschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="GemeenteCode">
    <simpleContent>
      <extension base="brp:GemeenteCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Gemeentedeel">
    <simpleContent>
      <extension base="brp:Gemeentedeel-s" />
    </simpleContent>
  </complexType>
  <complexType name="GeslachtsaanduidingCode">
    <simpleContent>
      <extension base="brp:GeslachtsaanduidingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Geslachtsnaamstam">
    <simpleContent>
      <extension base="brp:Geslachtsnaamstam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisletter">
    <simpleContent>
      <extension base="brp:Huisletter-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummer">
    <simpleContent>
      <extension base="brp:Huisnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummertoevoeging">
    <simpleContent>
      <extension base="brp:Huisnummertoevoeging-s" />
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeAdresseerbaarObject">
    <simpleContent>
      <extension base="brp:IdentificatiecodeAdresseerbaarObject-s">
        <attributeGroup ref="stuf:elementBRP" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeNummeraanduiding">
    <simpleContent>
      <extension base="brp:IdentificatiecodeNummeraanduiding-s">
        <attributeGroup ref="stuf:elementBRP" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="NadereAanduidingVerval">
    <simpleContent>
      <extension base="brp:NadereAanduidingVerval-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ja">
    <simpleContent>
      <extension base="brp:Ja-s">
        <attributeGroup ref="stuf:elementBRP" />
      </extension>
    </simpleContent>
  </complexType>
  <complexType name="JaNee">
    <simpleContent>
      <extension base="brp:JaNee-s" />
    </simpleContent>
  </complexType>
  <complexType name="LandGebiedCode">
    <simpleContent>
      <extension base="brp:LandGebiedCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="LengteInCm">
    <simpleContent>
      <extension base="brp:LengteInCm-s" />
    </simpleContent>
  </complexType>
  <complexType name="LocatieTenOpzichteVanAdres">
    <simpleContent>
      <extension base="brp:LocatieTenOpzichteVanAdres-s" />
    </simpleContent>
  </complexType>
  <complexType name="Locatieomschrijving">
    <simpleContent>
      <extension base="brp:Locatieomschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="Meldingtekst">
    <simpleContent>
      <extension base="brp:Meldingtekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:NaamEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:NaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamgebruikCode">
    <simpleContent>
      <extension base="brp:NaamgebruikCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="NadereBijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:NadereBijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Nationaliteitcode">
    <simpleContent>
      <extension base="brp:Nationaliteitcode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Nee">
    <simpleContent>
      <extension base="brp:Nee-s" />
    </simpleContent>
  </complexType>
  <complexType name="OmschrijvingEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:OmschrijvingEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ontleningstoelichting">
    <simpleContent>
      <extension base="brp:Ontleningstoelichting-s" />
    </simpleContent>
  </complexType>
  <complexType name="PartijCode">
    <simpleContent>
      <extension base="brp:PartijCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Postcode">
    <simpleContent>
      <extension base="brp:Postcode-s" />
    </simpleContent>
  </complexType>
  <complexType name="PredicaatCode">
    <simpleContent>
      <extension base="brp:PredicaatCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RechtsgrondCode">
    <simpleContent>
      <extension base="brp:RechtsgrondCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenBeeindigingRelatieCode">
    <simpleContent>
      <extension base="brp:RedenBeeindigingRelatieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerkrijgingCode">
    <simpleContent>
      <extension base="brp:RedenVerkrijgingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerliesCode">
    <simpleContent>
      <extension base="brp:RedenVerliesCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenWijzigingAdresCode">
    <simpleContent>
      <extension base="brp:RedenWijzigingAdresCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RegelCode">
    <simpleContent>
      <extension base="brp:RegelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="ReisdocumentNummer">
    <simpleContent>
      <extension base="brp:ReisdocumentNummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Scheidingsteken">
    <simpleContent>
      <extension base="brp:Scheidingsteken-s" />
    </simpleContent>
  </complexType>
  <complexType name="Sleutelwaardetekst">
    <simpleContent>
      <extension base="brp:Sleutelwaardetekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortAdresCode">
    <simpleContent>
      <extension base="brp:SoortAdresCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMeldingCode">
    <simpleContent>
      <extension base="brp:SoortMeldingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMigratieCode">
    <simpleContent>
      <extension base="brp:SoortMigratieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortNederlandsReisdocumentCode">
    <simpleContent>
      <extension base="brp:SoortNederlandsReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortPersoonCode">
    <simpleContent>
      <extension base="brp:SoortPersoonCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Versienummer">
    <simpleContent>
      <extension base="brp:Versienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerwerkingsresultaatCode">
    <simpleContent>
      <extension base="brp:VerwerkingsresultaatCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Verwerkingswijze">
    <simpleContent>
      <extension base="brp:Verwerkingswijze-s" />
    </simpleContent>
  </complexType>
  <complexType name="Volgnummer">
    <simpleContent>
      <extension base="brp:Volgnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornaam">
    <simpleContent>
      <extension base="brp:Voornaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornamen">
    <simpleContent>
      <extension base="brp:Voornamen-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voorvoegsel">
    <simpleContent>
      <extension base="brp:Voorvoegsel-s" />
    </simpleContent>
  </complexType>
</schema>
