2013/brp 2013-02-07/BRP/trunk/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_Attribuuttypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Schema met de definitie van de simple types (-s), en de complex types die gebruikt worden in de berichten voor de BRP.-->
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bprbzk.nl/BRP/0100" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<!--Simple types voor de attribuuttypen gesorteerd op alfabet.-->
	<simpleType name="ANummer-s">
		<restriction base="string">
			<minLength value="10"/>
			<maxLength value="10"/>
		</restriction>
	</simpleType>
	<simpleType name="AanduidingAdresseerbaarObject-s">
		<restriction base="string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>
	<simpleType name="AanduidingBijHuisnummer-s">
		<restriction base="string">
			<maxLength value="2"/>
			<enumeration value="by">
				<annotation>
					<documentation>bij</documentation>
				</annotation>
			</enumeration>
			<enumeration value="to">
				<annotation>
					<documentation>tegen over</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="AangeverAdreshoudingCode-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="AdellijkeTitelCode-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="Adresregel-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="AfgekorteNaamOpenbareRuimte-s">
		<restriction base="string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="Aktenummer-s">
		<restriction base="string">
			<maxLength value="7"/>
		</restriction>
	</simpleType>
	<simpleType name="AutoriteitVanAfgifteReisdocumentCode-s">
		<restriction base="string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="BijhoudingsresultaatCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="V">
				<annotation>
					<documentation>Verwerkt</documentation>
				</annotation>
			</enumeration>
			<enumeration value="U">
				<annotation>
					<documentation>Verwerking uitgesteld ivm fiattering</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="BuitenlandsePlaats-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="BuitenlandseRegio-s">
		<restriction base="string">
			<maxLength value="35"/>
		</restriction>
	</simpleType>
	<simpleType name="Burgerservicenummer-s">
		<restriction base="string">
			<minLength value="9"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<!-- Vernoemd naar Verblijfstitel; hier stond nog 'recht' -->
	<simpleType name="CodeVerblijfstitel-s">
		<restriction base="string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="DocumentIdentificatie-s">
		<restriction base="string">
			<maxLength value="20"/>
		</restriction>
	</simpleType>
	<simpleType name="DocumentOmschrijving-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="GemeenteCode-s">
		<restriction base="string">
			<minLength value="4"/>
			<maxLength value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="Gemeentedeel-s">
		<restriction base="string">
			<maxLength value="24"/>
		</restriction>
	</simpleType>
	<simpleType name="GeslachtsaanduidingCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="M">
				<annotation>
					<documentation>Man</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation>Vrouw</documentation>
				</annotation>
			</enumeration>
			<enumeration value="O">
				<annotation>
					<documentation>Onbekend</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="Geslachtsnaam-s">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Geslachtsnaamcomponent-s">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Huisletter-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="Huisnummer-s">
		<restriction base="string">
			<maxLength value="5"/>
		</restriction>
	</simpleType>
	<simpleType name="Huisnummertoevoeging-s">
		<restriction base="string">
			<maxLength value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="IdentificatiecodeNummeraanduiding-s">
		<restriction base="string">
			<maxLength value="16"/>
		</restriction>
	</simpleType>
	<simpleType name="Ja-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="J">
				<annotation>
					<documentation>Ja</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="JaNee-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="J">
				<annotation>
					<documentation>Ja</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Nee</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="Landcode-s">
		<restriction base="string">
			<minLength value="0"/>
			<maxLength value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="LangeNaamEnumeratiewaarde-s">
		<restriction base="string">
			<minLength value="0"/>
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	<simpleType name="LengteInCm-s">
		<restriction base="decimal">
			<totalDigits value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="LocatieOmschrijving-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="Meldingtekst-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="NaamEnumeratiewaarde-s">
		<restriction base="string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	<simpleType name="NaamOpenbareRuimte-s">
		<restriction base="string">
			<maxLength value="80"/>
		</restriction>
	</simpleType>
	<simpleType name="Nationaliteitcode-s">
		<restriction base="string">
			<minLength value="4"/>
			<maxLength value="4"/>
		</restriction>
	</simpleType>
	<simpleType name="Ontleningstoelichting-s">
		<restriction base="string"/>
	</simpleType>
	<simpleType name="Postcode-s">
		<restriction base="string">
			<maxLength value="6"/>
		</restriction>
	</simpleType>
	<simpleType name="PredikaatCode-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="RechtsgrondCode-s">
		<restriction base="string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="RedenBeeindigingRelatieCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="RedenOntbrekenReisdocumentCode-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="RedenOpschortingCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="O">
				<annotation>
					<documentation>Overlijden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="M">
				<annotation>
					<documentation>Ministerieel besluit</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Fout</documentation>
				</annotation>
			</enumeration>
			<enumeration value="?">
				<annotation>
					<documentation>Onbekend</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="RedenVerkrijgingCode-s">
		<restriction base="string">
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="RedenVerliesCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>
	<simpleType name="RedenWijzigingAdresCode-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="RegelCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="ReisdocumentNummer-s">
		<restriction base="string">
			<maxLength value="9"/>
		</restriction>
	</simpleType>
	<simpleType name="Scheidingsteken-s">
		<restriction base="string">
			<maxLength value="1"/>
		</restriction>
	</simpleType>
	<simpleType name="Sleutelwaardetekst-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="SoortAdresCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="W">
				<annotation>
					<documentation>Woonadres</documentation>
				</annotation>
			</enumeration>
			<enumeration value="B">
				<annotation>
					<documentation>Briefadres</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="SoortMeldingCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="G">
				<annotation>
					<documentation>Geen meldingen</documentation>
				</annotation>
			</enumeration>
			<enumeration value="I">
				<annotation>
					<documentation>Informatie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="W">
				<annotation>
					<documentation>Waarschuwing</documentation>
				</annotation>
			</enumeration>
			<enumeration value="D">
				<annotation>
					<documentation>Deblokkeerbaar</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Fout</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="SoortNederlandsReisdocumentCode-s">
		<restriction base="string">
			<maxLength value="2"/>
		</restriction>
	</simpleType>
	<simpleType name="SoortPersoonCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="I">
				<annotation>
					<documentation>Ingeschrevene</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Niet ingeschrevene</documentation>
				</annotation>
			</enumeration>
			<enumeration value="A">
				<annotation>
					<documentation>Alternatieve realiteit</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="VerantwoordelijkeCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="I">
				<annotation>
					<documentation>Ingezetene</documentation>
				</annotation>
			</enumeration>
			<enumeration value="E">
				<annotation>
					<documentation>Emigratie</documentation>
				</annotation>
			</enumeration>
			<enumeration value="R">
				<annotation>
					<documentation>Register niet-ingezetenen</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<!-- Toegevoegd -->
	<simpleType name="VerdragCode-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<!-- -->
	<simpleType name="Versienummer-s">
		<restriction base="positiveInteger"/>
	</simpleType>
	<simpleType name="VerwerkingsresultaatCode-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="G">
				<annotation>
					<documentation>Verwerking geslaagd</documentation>
				</annotation>
			</enumeration>
			<enumeration value="F">
				<annotation>
					<documentation>Verwerking foutief</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="Verwerkingswijze-s">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="1"/>
			<enumeration value="B">
				<annotation>
					<documentation>Bijhouden</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Prevalideren</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="Volgnummer-s">
		<restriction base="positiveInteger"/>
	</simpleType>
	<simpleType name="Voornaam-s">
		<restriction base="string">
			<maxLength value="40"/>
		</restriction>
	</simpleType>
	<simpleType name="Voornamen-s">
		<restriction base="string">
			<maxLength value="200"/>
		</restriction>
	</simpleType>
	<simpleType name="Voorvoegsel-s">
		<restriction base="string">
			<maxLength value="10"/>
		</restriction>
	</simpleType>
	<simpleType name="WijzeGebruikGeslachtsnaamCode-s">
		<restriction base="string">
			<maxLength value="1"/>
			<enumeration value="E">
				<annotation>
					<documentation>Eigen geslachtsnaam</documentation>
				</annotation>
			</enumeration>
			<enumeration value="P">
				<annotation>
					<documentation>Geslachtsnaam echtgenoot/geregistreerd partner</documentation>
				</annotation>
			</enumeration>
			<enumeration value="V">
				<annotation>
					<documentation>Geslachtsnaam echtgenoot/geregistreerd partner voor eigen geslachtsnaam</documentation>
				</annotation>
			</enumeration>
			<enumeration value="N">
				<annotation>
					<documentation>Geslachtsnaam echtgenoot/geregistreerd partner na eigen geslachtsnaam</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="Woonplaatscode-s">
		<restriction base="string">
			<minLength value="4"/>
			<maxLength value="4"/>
		</restriction>
	</simpleType>
	<!--Complex types voor de attribuuttypen gesorteerd op alfabet.-->
	<complexType name="ANummer">
		<simpleContent>
			<extension base="brp:ANummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AanduidingAdresseerbaarObject">
		<simpleContent>
			<extension base="brp:AanduidingAdresseerbaarObject-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AanduidingBijHuisnummer">
		<simpleContent>
			<extension base="brp:AanduidingBijHuisnummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AangeverAdreshoudingCode">
		<simpleContent>
			<extension base="brp:AangeverAdreshoudingCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AdellijkeTitelCode">
		<simpleContent>
			<extension base="brp:AdellijkeTitelCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Adresregel">
		<simpleContent>
			<extension base="brp:Adresregel-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AfgekorteNaamOpenbareRuimte">
		<simpleContent>
			<extension base="brp:AfgekorteNaamOpenbareRuimte-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Aktenummer">
		<simpleContent>
			<extension base="brp:Aktenummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="AutoriteitVanAfgifteReisdocumentCode">
		<simpleContent>
			<extension base="brp:AutoriteitVanAfgifteReisdocumentCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BijhoudingsresultaatCode">
		<simpleContent>
			<extension base="brp:BijhoudingsresultaatCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BuitenlandsePlaats">
		<simpleContent>
			<extension base="brp:BuitenlandsePlaats-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="BuitenlandseRegio">
		<simpleContent>
			<extension base="brp:BuitenlandseRegio-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Burgerservicenummer">
		<simpleContent>
			<extension base="brp:Burgerservicenummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="CodeVerblijfstitel">
		<simpleContent>
			<extension base="brp:CodeVerblijfstitel-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DocumentIdentificatie">
		<simpleContent>
			<extension base="brp:DocumentIdentificatie-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="DocumentOmschrijving">
		<simpleContent>
			<extension base="brp:DocumentOmschrijving-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="GemeenteCode">
		<simpleContent>
			<extension base="brp:GemeenteCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Gemeentedeel">
		<simpleContent>
			<extension base="brp:Gemeentedeel-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="GeslachtsaanduidingCode">
		<simpleContent>
			<extension base="brp:GeslachtsaanduidingCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Geslachtsnaam">
		<simpleContent>
			<extension base="brp:Geslachtsnaam-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Geslachtsnaamcomponent">
		<simpleContent>
			<extension base="brp:Geslachtsnaamcomponent-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Huisletter">
		<simpleContent>
			<extension base="brp:Huisletter-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Huisnummer">
		<simpleContent>
			<extension base="brp:Huisnummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Huisnummertoevoeging">
		<simpleContent>
			<extension base="brp:Huisnummertoevoeging-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="IdentificatiecodeNummeraanduiding">
		<simpleContent>
			<extension base="brp:IdentificatiecodeNummeraanduiding-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Ja">
		<simpleContent>
			<extension base="brp:Ja-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="JaNee">
		<simpleContent>
			<extension base="brp:JaNee-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Landcode">
		<simpleContent>
			<extension base="brp:Landcode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="LangeNaamEnumeratiewaarde">
		<simpleContent>
			<extension base="brp:LangeNaamEnumeratiewaarde-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="LengteInCm">
		<simpleContent>
			<extension base="brp:LengteInCm-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="LocatieOmschrijving">
		<simpleContent>
			<extension base="brp:LocatieOmschrijving-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Meldingtekst">
		<simpleContent>
			<extension base="brp:Meldingtekst-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="NaamEnumeratiewaarde">
		<simpleContent>
			<extension base="brp:NaamEnumeratiewaarde-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="NaamOpenbareRuimte">
		<simpleContent>
			<extension base="brp:NaamOpenbareRuimte-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Nationaliteitcode">
		<simpleContent>
			<extension base="brp:Nationaliteitcode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Ontleningstoelichting">
		<simpleContent>
			<extension base="brp:Ontleningstoelichting-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Postcode">
		<simpleContent>
			<extension base="brp:Postcode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="PredikaatCode">
		<simpleContent>
			<extension base="brp:PredikaatCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RechtsgrondCode">
		<simpleContent>
			<extension base="brp:RechtsgrondCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenBeeindigingRelatieCode">
		<simpleContent>
			<extension base="brp:RedenBeeindigingRelatieCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenOntbrekenReisdocumentCode">
		<simpleContent>
			<extension base="brp:RedenOntbrekenReisdocumentCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenOpschortingCode">
		<simpleContent>
			<extension base="brp:RedenOpschortingCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenVerkrijgingCode">
		<simpleContent>
			<extension base="brp:RedenVerkrijgingCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenVerliesCode">
		<simpleContent>
			<extension base="brp:RedenVerliesCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RedenWijzigingAdresCode">
		<simpleContent>
			<extension base="brp:RedenWijzigingAdresCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="RegelCode">
		<simpleContent>
			<extension base="brp:RegelCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="ReisdocumentNummer">
		<simpleContent>
			<extension base="brp:ReisdocumentNummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Scheidingsteken">
		<simpleContent>
			<extension base="brp:Scheidingsteken-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Sleutelwaardetekst">
		<simpleContent>
			<extension base="brp:Sleutelwaardetekst-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SoortAdresCode">
		<simpleContent>
			<extension base="brp:SoortAdresCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SoortMeldingCode">
		<simpleContent>
			<extension base="brp:SoortMeldingCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SoortNederlandsReisdocumentCode">
		<simpleContent>
			<extension base="brp:SoortNederlandsReisdocumentCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="SoortPersoonCode">
		<simpleContent>
			<extension base="brp:SoortPersoonCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="VerantwoordelijkeCode">
		<simpleContent>
			<extension base="brp:VerantwoordelijkeCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- Toegevoegd -->
	<complexType name="VerdragCode">
		<simpleContent>
			<extension base="brp:VerdragCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- -->
	<complexType name="Versienummer">
		<simpleContent>
			<extension base="brp:Versienummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="VerwerkingsresultaatCode">
		<simpleContent>
			<extension base="brp:VerwerkingsresultaatCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Verwerkingswijze">
		<simpleContent>
			<extension base="brp:Verwerkingswijze-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Volgnummer">
		<simpleContent>
			<extension base="brp:Volgnummer-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Voornaam">
		<simpleContent>
			<extension base="brp:Voornaam-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Voornamen">
		<simpleContent>
			<extension base="brp:Voornamen-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Voorvoegsel">
		<simpleContent>
			<extension base="brp:Voorvoegsel-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="WijzeGebruikGeslachtsnaamCode">
		<simpleContent>
			<extension base="brp:WijzeGebruikGeslachtsnaamCode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="Woonplaatscode">
		<simpleContent>
			<extension base="brp:Woonplaatscode-s">
				<attributeGroup ref="stuf:elementBRP"/>
			</extension>
		</simpleContent>
	</complexType>
</schema>
