2013/brp 2013-02-07/BRP/trunk/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_Bevraging_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" xmlns:brp="http://www.bprbzk.nl/BRP/0100" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_Bevraging_Basis.xsd"/>
	<!-- ... -->
	<element name="ALG_ZoekPersoon_V" type="brp:Algemeen_ZoekPersoon_Bevraging"/>
	<element name="ALG_ZoekPersoon_VR" type="brp:Algemeen_ZoekPersoon_BevragingResultaat"/>
	<element name="ALG_GeefDetailsPersoon_V" type="brp:Algemeen_GeefDetailsPersoon_Bevraging"/>
	<element name="ALG_GeefDetailsPersoon_VR" type="brp:Algemeen_GeefDetailsPersoon_BevragingResultaat"/>
	<element name="ALG_GeefDetailsPersoon_ThemaNaamGeslachtMH_V" type="brp:Algemeen_GeefDetailsPersoon_Bevraging"/>
	<element name="ALG_GeefDetailsPersoon_ThemaNaamGeslachtMH_VR" type="brp:Algemeen_GeefDetailsPersoonThemaNaamGeslachtMH_BevragingResultaat"/>
	<element name="ALG_BepaalKandidaatVader_Vi" type="brp:Algemeen_BepaalKandidaatVader_Bevraging"/>
	<element name="ALG_BepaalKandidaatVader_ViR" type="brp:Algemeen_BepaalKandidaatVader_BevragingResultaat"/>
	<element name="ALG_GeefPersonenOpAdresMetBetrokkenheden_Vi" type="brp:Algemeen_PersonenOpAdresMetBetrokkenheden_Bevraging"/>
	<element name="ALG_GeefPersonenOpAdresMetBetrokkenheden_ViR" type="brp:Algemeen_PersonenOpAdresMetBetrokkenheden_BevragingResultaat"/>
	<!-- ... -->
	<!-- Vraagbericht: Zoek Persoon -->
	<complexType name="Algemeen_ZoekPersoon_Bevraging">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<!-- element 'parameters' nog niet toegevoegd; wordt nog niet ondersteund -->
					<element name="vraag" type="brp:Groep_BerichtVraag_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_ZoekPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag">
				<sequence>
					<element name="zoekcriteria" type="brp:Groep_BerichtZoekcriteria_ZoekPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Vraag"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtZoekcriteria_ZoekPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag_Zoekcriteria">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geboortedatum" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- VraagberichtResultaat: Zoek Persoon -->
	<complexType name="Algemeen_ZoekPersoon_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bevraging" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="antwoord" type="brp:Groep_BerichtAntwoord_PersoonIdentificerend_Selectie" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtAntwoord_PersoonIdentificerend_Selectie">
		<complexContent>
			<restriction base="brp:Groep_BerichtAntwoord">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Referentie_PersoonIdentificerend_Antwoord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Vraagbericht: Geef Details Persoon - Actueel -->
	<complexType name="Algemeen_GeefDetailsPersoon_Bevraging">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<!-- element 'parameters' nog niet toegevoegd; wordt nog niet ondersteund -->
					<element name="vraag" type="brp:Groep_BerichtVraag_DetailsPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_DetailsPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag">
				<sequence>
					<element name="zoekcriteria" type="brp:Groep_BerichtVraag_Zoekcriteria_Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Vraag"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- VraagberichtResultaat: Geef Details Persoon - Actueel -->
	<complexType name="Algemeen_GeefDetailsPersoon_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bevraging" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="antwoord" type="brp:Groep_BerichtAntwoord_DetailsPersoon" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtAntwoord_DetailsPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtAntwoord">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_DetailsPersoon_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Antwoord"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- VraagberichtResultaat: Geef Details Persoon - Thema Naam&Geslacht Materiele Historie  -->
	<complexType name="Algemeen_GeefDetailsPersoonThemaNaamGeslachtMH_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bevraging" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="antwoord" type="brp:Groep_BerichtAntwoord_DetailsPersoon_ThemaNaamGeslachtMH" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtAntwoord_DetailsPersoon_ThemaNaamGeslachtMH">
		<complexContent>
			<restriction base="brp:Groep_BerichtAntwoord">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_DetailsPersoon_AntwoordFH_ThemaNaamGeslacht" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Antwoord"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Vraagbericht: InformatieVraag Bepaal kandidaat Vader -->
	<complexType name="Algemeen_BepaalKandidaatVader_Bevraging">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_PeilmomentMaterieel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="vraag" type="brp:Groep_BerichtVraag_KandidaatVader" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_KandidaatVader">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag">
				<sequence>
					<element name="zoekcriteria" type="brp:Groep_BerichtVraag_Zoekcriteria_KandidaatVader" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Vraag"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_Zoekcriteria_KandidaatVader">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag_Zoekcriteria">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboortedatumKind" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- VraagberichtResultaat: InformatieVraag Bepaal kandidaat Vader -->
	<complexType name="Algemeen_BepaalKandidaatVader_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bevraging" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="antwoord" type="brp:Groep_BerichtAntwoord_KandidaatVader" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtAntwoord_KandidaatVader">
		<complexContent>
			<restriction base="brp:Groep_BerichtAntwoord">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Referentie_PersoonKandidaatVader_Antwoord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Antwoord"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ReferentiePersoon Kandidaat Vader; kan ook een niet-ingeschrevene persoon zijn; vandaar dat een aantal gropen/containers optioneel is  -->
	<complexType name="Referentie_PersoonKandidaatVader_Antwoord">
		<complexContent>
			<restriction base="brp:Referentie_Persoon_BevragingResultaat">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Vraagbericht: InformatieVraag Personen op adres inclusief betrokkenheden -->
	<complexType name="Algemeen_PersonenOpAdresMetBetrokkenheden_Bevraging">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_PeilmomentMaterieel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="vraag" type="brp:Groep_BerichtVraag_PersonenOpAdresMetBetrokkenheden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_PersonenOpAdresMetBetrokkenheden">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag">
				<sequence>
					<element name="zoekcriteria" type="brp:Groep_BerichtVraag_Zoekcriteria_PersonenOpAdresMetBetrokkenheden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Vraag"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_Zoekcriteria_PersonenOpAdresMetBetrokkenheden">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag_Zoekcriteria">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- VraagberichtResultaat: InformatieVraag Personen op adres inclusief betrokkenheden -->
	<complexType name="Algemeen_PersonenOpAdresMetBetrokkenheden_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Vraag" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bevraging" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="antwoord" type="brp:Groep_BerichtAntwoord_PersoonOpAdresMetBetrokkenheden" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtAntwoord_PersoonOpAdresMetBetrokkenheden">
		<complexContent>
			<restriction base="brp:Groep_BerichtAntwoord">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Referentie_PersoonOpAdresMetBetrokkenheden_Antwoord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Antwoord"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon op Adres met Betrokkenheden;  ten behoeve van InformatieVragen -->
	<complexType name="Referentie_PersoonOpAdresMetBetrokkenheden_Antwoord">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_AntwoordA" nillable="true" minOccurs="1" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoonOpAdres_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Ten behoeve van InformatieVraag 'PersonenOpAdresMetBetrokkenheden; van Betrokkene alleen Identificatienummers. -->
	<!-- Overige identificerende informatie komt in antwoordbericht terug; immers voor deze specifieke informatievraag is betrokkene -->
	<!-- ook op dit adres ingeschreven. Indien meer informatie is gewenst, dan doorvragen DetailsPersoon op basis van BSN. -->
	<complexType name="Container_PersoonBetrokkenheden_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="kind" type="brp:Objecttype_Kind_DetailsPersoonOpAdres_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ouder" type="brp:Objecttype_Ouder_DetailsPersoonOpAdres_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="partner" type="brp:Objecttype_Partner_DetailsPersoonOpAdres_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - KindVan - Familirechtelijke betrekking - OuderVan - Persoon -->
	<complexType name="Objecttype_Kind_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsOuderOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsOuderOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsOuderOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsOuderOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_DetailsOuderOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsOuderOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="persoon" type="brp:Objectype_PersoonBetrokkeneOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - OuderVan - Familierechtelijke betrekking - KindVan - Persoon -->
	<complexType name="Objecttype_Ouder_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsKindOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsKindOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsKindOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsKindOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Ouder_DetailsKindOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsKindOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkeneOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - PartnerVan - Huwelijk/GeregistreerdPrtnerscahp - PartnerVan - Persoon -->
	<complexType name="Objecttype_Partner_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice minOccurs="1" maxOccurs="1">
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap_DetailsPersoonOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk_DetailsPersoonOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Huwelijk_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartnerOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschap_DetailsPersoonOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartnerOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsPartnerOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_Partner_DetailsPartnerOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner_DetailsPartnerOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkeneOpAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Betrokkene van Persoon in Antwoord; altijd Actueel ongeacht Vraag A/MH/FH -->
	<complexType name="Objectype_PersoonBetrokkeneOpAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummersBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
