2013/brp 2013-02-07/BRP/trunk/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_Objecttypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Based on generatie 2013-01-10; nog enkele handmatige changes die in generator/BMR moeten worden verwerkt: -->
<!-- 1) Container ActieBronnen; rechtsgrondOmschrijving (Rechtsgrond als bron is UnderConstruction) -->
<!-- 2) Objecttype Bericht; aanvullingen tbv Bevraging -->
<!-- 3) Groep PersoonOpschorting; element 'redenOpschertingBijhoudingCode' ipv 'redenBijhoudingCode' -->
<!-- 4_ Groep Parameters; Peilmoment Materieel is Datum ipv Tijdstip -->
<!-- ... -->
<!--Schema met de basis definities (supertypen) en complexTypes zoals gebruikt in de berichten voor de BRP.-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bprbzk.nl/BRP/0100" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_Attribuuttypen.xsd"/>
	<!--Een Structuur is een Objecttype of een Groep.-->
	<attribute name="communicatieID" type="brp:Sleutelwaardetekst-s"/>
	<attribute name="referentieID" type="brp:Sleutelwaardetekst-s"/>
	<attribute name="technischeSleutel" type="brp:Sleutelwaardetekst-s"/>
	<attributeGroup name="structuur">
		<attribute ref="stuf:entiteittype" use="optional"/>
		<attribute ref="brp:technischeSleutel" use="optional"/>
		<attribute ref="brp:referentieID" use="optional"/>
		<attribute ref="brp:communicatieID" use="optional"/>
	</attributeGroup>
	<complexType name="Structuur"/>
	<complexType name="StructuurIdentificeerbaar">
		<attributeGroup ref="brp:structuur"/>
	</complexType>
	<complexType name="StructuurFormeleHistorie">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StructuurMaterieleHistorie">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Actie">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="persoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_ActieBronnen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="document" type="brp:Objecttype_Document" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="rechtsgrondOmschrijving" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_ConversieGBA">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieGeboorte">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieErkenning">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAanschrijving">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieNationaliteit">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieBehandeldAlsNederlander">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieBelemmeringVerstrekkingReisdocument">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieDerdeHeeftGezag">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieOnderCuratele">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieStaatloos">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieVastgesteldNietNederlander">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieVerstrekkingsbeperking">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAfstamming">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_CorrectieAfstamming">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieOverlijden">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_CorrectieOverlijden">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieAdres">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_CorrectieAdres">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieHuwelijk">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieGeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_CorrectieHuwelijk">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_CorrectieGeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieOnderzoek">
		<complexContent>
			<extension base="brp:Objecttype_Actie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_AdministratieveHandeling">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_AdministratieveHandelingBijgehoudenDocumenten">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="document" type="brp:Objecttype_Document" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_AdministratieveHandelingBijgehoudenPersonen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_AdministratieveHandelingGedeblokkeerdeMeldingen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="gedeblokkeerdeMelding" type="brp:Objecttype_GedeblokkeerdeMelding" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_ErkenningOngeborenVrucht">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_ErkenningOngeborenVrucht" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_ErkenningOngeborenVrucht">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_InschrijvingDoorGeboorte">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_InschrijvingDoorGeboorte" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_InschrijvingDoorGeboorte">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieGeboorte" type="brp:Actie_RegistratieGeboorte" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteit" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="registratieBehandeldAlsNederlander" type="brp:Actie_RegistratieBehandeldAlsNederlander" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloos" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieVerstrekkingsbeperking" type="brp:Actie_RegistratieVerstrekkingsbeperking" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_InschrijvingDoorGeboorteMetErkenning">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_InschrijvingDoorGeboorteMetErkenning" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_InschrijvingDoorGeboorteMetErkenning">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieGeboorte" type="brp:Actie_RegistratieGeboorte" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieErkenning" type="brp:Actie_RegistratieErkenning" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteit" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="registratieVerstrekkingsbeperking" type="brp:Actie_RegistratieVerstrekkingsbeperking" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieBehandeldAlsNederlander" type="brp:Actie_RegistratieBehandeldAlsNederlander" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloos" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_ErkenningNaGeboorte">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_ErkenningNaGeboorte" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_ErkenningNaGeboorte">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_VernietigingErkenning">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_VernietigingErkenning" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_VernietigingErkenning">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieAdoptie">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieAdoptie" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieAdoptie">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OmzettingAdoptieNederlandsRecht">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_OmzettingAdoptieNederlandsRecht" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_OmzettingAdoptieNederlandsRecht">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_HerroepingAdoptie">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_HerroepingAdoptie" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_HerroepingAdoptie">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_VaststellingVaderschapDoorRechter">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_VaststellingVaderschapDoorRechter" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_VaststellingVaderschapDoorRechter">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieOntbrekendeGeboorteakte">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieOntbrekendeGeboorteakte" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieOntbrekendeGeboorteakte">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieVerbeterdeGeboorteakte">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieVerbeterdeGeboorteakte" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieVerbeterdeGeboorteakte">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieNietIngeschrevenKind">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieNietIngeschrevenKind" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieNietIngeschrevenKind">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntkenningVaderschap">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_OntkenningVaderschap" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_OntkenningVaderschap">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_InroepingVanStaat">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_InroepingVanStaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_InroepingVanStaat">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_BetwistingVanStaat">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_BetwistingVanStaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_BetwistingVanStaat">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieAfstamming">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAfstamming" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_CorrectieAfstamming">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingHuwelijkNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_SluitingHuwelijkNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_RegistratieHuwelijk" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingHuwelijkNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_OntbindingHuwelijkNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_RegistratieHuwelijk" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingGeregistreerdPartnerschapNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_SluitingGeregistreerdPartnerschapNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieGeregistreerdPartnerschap" type="brp:Actie_RegistratieGeregistreerdPartnerschap" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingGeregistreerdPartnerschapNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_OntbindingGeregistreerdPartnerschapNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieGeregistreerdPartnerschap" type="brp:Actie_RegistratieGeregistreerdPartnerschap" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingHuwelijkBuitenland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_SluitingHuwelijkBuitenland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_RegistratieHuwelijk" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingHuwelijkBuitenland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_OntbindingHuwelijkBuitenland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_RegistratieHuwelijk" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieHuwelijk">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieHuwelijk" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_CorrectieHuwelijk">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieGeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieGeregistreerdPartnerschap" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_CorrectieGeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieBinnengemeentelijkeVerhuizing">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieBinnengemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieBinnengemeentelijkeVerhuizing">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieAdres" type="brp:Actie_RegistratieAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieIntergemeentelijkeVerhuizing">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieIntergemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieIntergemeentelijkeVerhuizing">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieAdres" type="brp:Actie_RegistratieAdres" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieAdresNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAdresNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_CorrectieAdresNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="correctieAdres" type="brp:Actie_CorrectieAdres" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieAdresBuitenland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAdresBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_CorrectieAdresBuitenland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieOverlijdenNederland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieOverlijdenNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieOverlijdenNederland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieOverlijdenBuitenland">
		<complexContent>
			<extension base="brp:Objecttype_AdministratieveHandeling">
				<sequence>
					<element name="acties" type="brp:Container_Handeling_Acties_RegistratieOverlijdenBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_Handeling_Acties_RegistratieOverlijdenBuitenland">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Bericht">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="stuurgegevens" type="stuf:Stuurgegevens_Bijhouding" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="parameters" type="brp:Groep_BerichtParameters" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<choice minOccurs="1" maxOccurs="1">
						<element name="erkenningOngeborenVrucht" type="brp:Handeling_ErkenningOngeborenVrucht" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="inschrijvingDoorGeboorte" type="brp:Handeling_InschrijvingDoorGeboorte" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="inschrijvingDoorGeboorteMetErkenning" type="brp:Handeling_InschrijvingDoorGeboorteMetErkenning" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="erkenningNaGeboorte" type="brp:Handeling_ErkenningNaGeboorte" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="vernietigingErkenning" type="brp:Handeling_VernietigingErkenning" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieAdoptie" type="brp:Handeling_RegistratieAdoptie" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="omzettingAdoptieNederlandsRecht" type="brp:Handeling_OmzettingAdoptieNederlandsRecht" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="herroepingAdoptie" type="brp:Handeling_HerroepingAdoptie" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="vaststellingVaderschapDoorRechter" type="brp:Handeling_VaststellingVaderschapDoorRechter" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOntbrekendeGeboorteakte" type="brp:Handeling_RegistratieOntbrekendeGeboorteakte" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieVerbeterdeGeboorteakte" type="brp:Handeling_RegistratieVerbeterdeGeboorteakte" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieNietIngeschrevenKind" type="brp:Handeling_RegistratieNietIngeschrevenKind" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontkenningVaderschap" type="brp:Handeling_OntkenningVaderschap" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="inroepingVanStaat" type="brp:Handeling_InroepingVanStaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="betwistingVanStaat" type="brp:Handeling_BetwistingVanStaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieAfstamming" type="brp:Handeling_CorrectieAfstamming" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkNederland" type="brp:Handeling_SluitingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkNederland" type="brp:Handeling_OntbindingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingGeregistreerdPartnerschapNederland" type="brp:Handeling_SluitingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingGeregistreerdPartnerschapNederland" type="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkBuitenland" type="brp:Handeling_SluitingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkBuitenland" type="brp:Handeling_OntbindingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieHuwelijk" type="brp:Handeling_CorrectieHuwelijk" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieGeregistreerdPartnerschap" type="brp:Handeling_CorrectieGeregistreerdPartnerschap" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieBinnengemeentelijkeVerhuizing" type="brp:Handeling_RegistratieBinnengemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieIntergemeentelijkeVerhuizing" type="brp:Handeling_RegistratieIntergemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieAdresNederland" type="brp:Handeling_CorrectieAdresNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieAdresBuitenland" type="brp:Handeling_CorrectieAdresBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenNederland" type="brp:Handeling_RegistratieOverlijdenNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenBuitenland" type="brp:Handeling_RegistratieOverlijdenBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
					<!-- Toegevoegd tbv Bevraging: Element voor vraagberichten -->
					<choice>
						<element name="vraag" type="brp:Groep_BerichtVraag" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="antwoord" type="brp:Groep_BerichtAntwoord" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
					<!-- Einde toevoeging tbv Bevraging -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtParameters">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="verwerkingswijze" type="brp:Verwerkingswijze" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="peilmomentMaterieel" type="stuf:Datum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="peilmomentFormeel" type="stuf:DatumTijd-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aanschouwer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtResultaat">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="verwerkingCode" type="brp:VerwerkingsresultaatCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijhoudingCode" type="brp:BijhoudingsresultaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="hoogsteMeldingsniveauCode" type="brp:SoortMeldingCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_BerichtMeldingen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="melding" type="brp:Objecttype_Melding" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Toevoeging tbv Bevraging: Mogelijke zoekcriteria BRP -->
	<complexType name="Groep_BerichtVraag">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="zoekcriteria" type="brp:Groep_BerichtVraag_Zoekcriteria" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_Zoekcriteria">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="technischeSleutel" type="brp:Sleutelwaardetekst-s" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geboortedatum" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geboortedatumKind" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- ...-->
	<complexType name="Groep_BerichtAntwoord">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<!-- Einde toevoeging tbv Bevraging:- ... -->
	<!-- ... -->
	<complexType name="Objecttype_Betrokkenheid">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<choice minOccurs="0" maxOccurs="1">
						<element name="erkenningOngeborenVrucht" type="brp:Objecttype_ErkenningOngeborenVrucht" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="naamskeuzeOngeborenVrucht" type="brp:Objecttype_NaamskeuzeOngeborenVrucht" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="persoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Document">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="soortNaam" type="brp:NaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatie" type="brp:DocumentIdentificatie" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aktenummer" type="brp:Aktenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijving" type="brp:DocumentOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="partijCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Erkenner">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_ErkenningOngeborenVrucht">
		<complexContent>
			<extension base="brp:Objecttype_Relatie">
				<sequence>
					<element name="datumErkenningOngeborenVrucht" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking">
		<complexContent>
			<extension base="brp:Objecttype_Relatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GedeblokkeerdeMelding">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="melding" type="brp:Meldingtekst" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Objecttype_HuwelijkGeregistreerdPartnerschap">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Huwelijk">
		<complexContent>
			<extension base="brp:Objecttype_HuwelijkGeregistreerdPartnerschap">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijkGeregistreerdPartnerschap">
		<complexContent>
			<extension base="brp:Objecttype_Relatie">
				<sequence>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Instemmer">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Kind">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Melding">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="soortCode" type="brp:SoortMeldingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="melding" type="brp:Meldingtekst" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Naamgever">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_NaamskeuzeOngeborenVrucht">
		<complexContent>
			<extension base="brp:Objecttype_Relatie">
				<sequence>
					<element name="datumNaamskeuzeOngeborenVrucht" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence>
					<element name="ouderschap" type="brp:Groep_OuderOuderschap" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderschap">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="indicatieOuderUitWieKindIsVoortgekomen" type="brp:Ja" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="indicatieOuderHeeftGezag" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner">
		<complexContent>
			<extension base="brp:Objecttype_Betrokkenheid">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="inschrijving" type="brp:Groep_PersoonInschrijving" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bijhoudingsaard" type="brp:Groep_PersoonBijhoudingsaard" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bijhoudingsgemeente" type="brp:Groep_PersoonBijhoudingsgemeente" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="opschorting" type="brp:Groep_PersoonOpschorting" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aanschrijving" type="brp:Groep_PersoonAanschrijving" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="adressen" type="brp:Container_PersoonAdressen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteiten" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="immigratie" type="brp:Groep_PersoonImmigratie" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="verblijfstitel" type="brp:Groep_PersoonVerblijfstitel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bijzondereVerblijfsrechtelijkePositie" type="brp:Groep_PersoonBijzondereVerblijfsrechtelijkePositie" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumenten" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="uitsluitingNLKiesrecht" type="brp:Groep_PersoonUitsluitingNLKiesrecht" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="eUVerkiezingen" type="brp:Groep_PersoonEUVerkiezingen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="persoonskaart" type="brp:Groep_PersoonPersoonskaart" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAfgeleidAdministratief">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="tijdstipLaatsteWijziging" type="stuf:DatumTijd-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieGegevensInOnderzoek" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaam">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeboorte">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeslachtsaanduiding">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonInschrijving">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="versienummer" type="brp:Versienummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="vorigePersoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="volgendePersoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingsaard">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="code" type="brp:VerantwoordelijkeCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingsgemeente">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="code" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInschrijvingInGemeente" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieOnverwerktDocumentAanwezig" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOpschorting">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="redenOpschortingBijhoudingCode" type="brp:RedenOpschortingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijden">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAanschrijving">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="naamgebruikCode" type="brp:WijzeGebruikGeslachtsnaamCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieTitelsPredikatenBijAanschrijven" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonImmigratie">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="landVanwaarGevestigdCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumVestigingInNederland" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonVerblijfstitel">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="code" type="brp:CodeVerblijfstitel" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumVoorzienEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumAanvangAaneensluitendVerblijfsrecht" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijzondereVerblijfsrechtelijkePositie">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="naam" type="brp:NaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonUitsluitingNLKiesrecht">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="indicatie" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonEUVerkiezingen">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="indicatieDeelname" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanleidingAanpassingDeelnameEUVerkiezing" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEindeUitsluitingEUKiesrecht" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonPersoonskaart">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieVolledigGeconverteerd" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonAdressen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="adres" type="brp:Objecttype_PersoonAdres" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBetrokkenheden">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="erkenner" type="brp:Objecttype_Erkenner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="instemmer" type="brp:Objecttype_Instemmer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="kind" type="brp:Objecttype_Kind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="naamgever" type="brp:Objecttype_Naamgever" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="ouder" type="brp:Objecttype_Ouder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="partner" type="brp:Objecttype_Partner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamcomponenten">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="derdeHeeftGezag" type="brp:Indicator_DerdeHeeftGezag" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="onderCuratele" type="brp:Indicator_OnderCuratele" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="verstrekkingsbeperking" type="brp:Indicator_Verstrekkingsbeperking" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="vastgesteldNietNederlander" type="brp:Indicator_VastgesteldNietNederlander" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="behandeldAlsNederlander" type="brp:Indicator_BehandeldAlsNederlander" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="belemmeringVerstrekkingReisdocument" type="brp:Indicator_BelemmeringVerstrekkingReisdocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="staatloos" type="brp:Indicator_Staatloos" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteiten">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteit" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumenten">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamen">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaam" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonAdres">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="soortCode" type="brp:SoortAdresCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenWijzigingCode" type="brp:RedenWijzigingAdresCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aangeverAdreshoudingCode" type="brp:AangeverAdreshoudingCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumAanvangAdreshouding" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adresseerbaarObject" type="brp:AanduidingAdresseerbaarObject" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatiecodeNummeraanduiding" type="brp:IdentificatiecodeNummeraanduiding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="afgekorteNaamOpenbareRuimte" type="brp:AfgekorteNaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeentedeel" type="brp:Gemeentedeel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="locatietovAdres" type="brp:AanduidingBijHuisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="locatieOmschrijving" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumVertrekUitNederland" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel1" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel2" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel3" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel4" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel5" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel6" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatiePersoonNietAangetroffenOpAdres" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponent">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naam" type="brp:Geslachtsnaamcomponent" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonIndicatie">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_DerdeHeeftGezag">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnderCuratele">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Verstrekkingsbeperking">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_VastgesteldNietNederlander">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BehandeldAlsNederlander">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BelemmeringVerstrekkingReisdocument">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Staatloos">
		<complexContent>
			<extension base="brp:Objecttype_PersoonIndicatie">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteit">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="nationaliteitCode" type="brp:Nationaliteitcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenVerkrijgingCode" type="brp:RedenVerkrijgingCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenVerliesCode" type="brp:RedenVerliesCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocument">
		<complexContent>
			<extension base="brp:StructuurFormeleHistorie">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="lengteHouder" type="brp:LengteInCm" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumVoorzieneEindeGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInhoudingVermissing" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenVervallenCode" type="brp:RedenOntbrekenReisdocumentCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaam">
		<complexContent>
			<extension base="brp:StructuurMaterieleHistorie">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naam" type="brp:Voornaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Relatie">
		<complexContent>
			<extension base="brp:StructuurIdentificeerbaar">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden">
		<complexContent>
			<extension base="brp:Structuur">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="erkenner" type="brp:Objecttype_Erkenner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="instemmer" type="brp:Objecttype_Instemmer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="kind" type="brp:Objecttype_Kind" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="naamgever" type="brp:Objecttype_Naamgever" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="ouder" type="brp:Objecttype_Ouder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="partner" type="brp:Objecttype_Partner" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
