2016/brp 2016-02-09/algemeen/algemeen-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgReisdocument_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 12-03-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Consolidatie gegevensset -->
<!-- 2) Consolidatie berichtmodel BRP -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_bhgReisdocument_Basis.xsd"/>
	<!-- ... -->
	<element name="bhg_rsdRegistreerReisdocument" type="brp:Reisdocument_RegistreerReisdocument_Bijhouding"/>
	<element name="bhg_rsdRegistreerReisdocument_R" type="brp:Reisdocument_RegistreerReisdocument_BijhoudingResultaat"/>
	<element name="bhg_rsdCorrigeerReisdocument" type="brp:Reisdocument_CorrigeerReisdocument_Bijhouding"/>
	<element name="bhg_rsdCorrigeerReisdocument_R" type="brp:Reisdocument_CorrigeerReisdocument_BijhoudingResultaat"/>
	<!-- -->
	<!-- Bericht RegistreerReisdocument -->
	<complexType name="Reisdocument_RegistreerReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="verkrijgingReisdocument" type="brp:Handeling_VerkrijgingReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="onttrekkingReisdocument" type="brp:Handeling_OnttrekkingReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="signaleringReisdocument" type="brp:Handeling_SignaleringReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Verkrijging reisdocument -->
	<complexType name="Handeling_VerkrijgingReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_VerkrijgingReisdocument">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerkrijgingReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Onttrekking reisdocument -->
	<complexType name="Handeling_OnttrekkingReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_OnttrekkingReisdocument">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OnttrekkingReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Signalering reisdocument -->
	<complexType name="Handeling_SignaleringReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_SignaleringReisdocument">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_SignaleringReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Bericht CorrigeerReisdocument -->
	<complexType name="Reisdocument_CorrigeerReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieReisdocument" type="brp:Handeling_CorrectieReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Registratie reisdocument -->
	<complexType name="Handeling_CorrectieReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieReisdocument">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat Registreer Reisdocument -->
	<complexType name="Reisdocument_RegistreerReisdocument_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="verkrijgingReisdocument" type="brp:Handeling_VerkrijgingReisdocument_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="onttrekkingReisdocument" type="brp:Handeling_OnttrekkingReisdocument_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="signaleringReisdocument" type="brp:Handeling_SignaleringReisdocument_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>	
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat Corrigeer Reisdocument -->
	<complexType name="Reisdocument_CorrigeerReisdocument_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieReisdocument" type="brp:Handeling_CorrectieReisdocument_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>	
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
