2016/brp 2016-02-09/algemeen/algemeen-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgOnderzoek_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 6-3-2015 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Samenstelling Objecttype_GegevenInOnderzoek gewijzigd -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- -->
	<!-- Container Acties Aanvang onderzoek -->
	<complexType name="Container_Handeling_Acties_AanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_AanvangOnderzoek">
				<sequence>
					<element name="registratieOnderzoek" type="brp:Actie_RegistratieOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Acties Aanvang onderzoek -->
	<complexType name="Actie_RegistratieOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOnderzoek">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="onderzoek" type="brp:Objecttype_OnderzoekAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OnderzoekAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Onderzoek">
				<sequence>
					<element name="onderzoek" type="brp:Groep_OnderzoekOnderzoekAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="gegevensInOnderzoek" type="brp:Container_OnderzoekGegevensInOnderzoekAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="personenInOnderzoek" type="brp:Container_OnderzoekPersonenAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Onderzoek"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OnderzoekOnderzoekAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_OnderzoekOnderzoek">
				<sequence>
					<element name="datumAanvang" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="verwachteAfhandeldatum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="omschrijving" type="brp:OnderzoekOmschrijving" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_OnderzoekGegevensInOnderzoekAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_OnderzoekGegevensInOnderzoek">
				<sequence>
					<element name="gegevenInOnderzoek" type="brp:Objecttype_GegevenInOnderzoekAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GegevenInOnderzoekAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GegevenInOnderzoek">
				<sequence>
					<element name="elementNaam" type="brp:NaamEnumeratiewaardeLang" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="objectSleutelGegeven" type="brp:Sleutelwaardetekst" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voorkomenSleutelGegeven" type="brp:Sleutelwaardetekst" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="GegevenInOnderzoek"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_OnderzoekPersonenAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_OnderzoekPersonenInOnderzoek">
				<sequence>
					<element name="persoonInOnderzoek" type="brp:Objecttype_PersoonOnderzoekAanvangOnderzoek_Bijhouding" nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOnderzoekAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonOnderzoek">
				<sequence>
					<element name="persoon" type="brp:Objecttype_PersoonOnderzoekPersoonAanvangOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonOnderzoek"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOnderzoekPersoonAanvangOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Beeindiging onderzoek nderzoek -->
	<complexType name="Container_Handeling_Acties_BeeindigingOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_BeeindigingOnderzoek">
				<sequence>
					<element name="wijzigingOnderzoek" type="brp:Actie_WijzigingOnderzoekBeeindigingOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Acties Beeindiging onderzoek -->
	<complexType name="Actie_WijzigingOnderzoekBeeindigingOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_WijzigingOnderzoek">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="onderzoek" type="brp:Objecttype_OnderzoekBeeindigingOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_OnderzoekBeeindigingOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Onderzoek">
				<sequence>
					<element name="onderzoek" type="brp:Groep_OnderzoekOnderzoekBeeindigingOnderzoek_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Onderzoek"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OnderzoekOnderzoekBeeindigingOnderzoek_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_OnderzoekOnderzoek">
				<sequence>
					<element name="datumEinde" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
