2016/brp 2016-02-09/algemeen/algemeen-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_iscMigratievoorziening_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 11-11-2015 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Eerste versie Poc Bijhouding Duale bijhouding; ondersteuning GBA-handelingen: NaamGeslacht, HuwelijkGeregistreerdPartnerschap, Overlijden -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- -->
	<!-- Geboorte -->
	<!-- ... -->
	<!-- Einde Geboorte -->
	<!-- -->
	<!-- -->
	<!-- Registratie Ouderschap -->
	<!-- ... -->
	<!-- Einde Registratie Ouderschap -->
	<!-- -->
	<!-- Ontkenning Ouderschap -->
	<!-- ... -->
	<!-- Einde Ontkenning Ouderschap -->
	<!-- -->
	<!-- NaamGeslacht -->
	<!-- Container Acties Wijziging NaamGeslacht GBA -->
	<complexType name="Container_Handeling_Acties_GBAWijzigingNaamGeslacht_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAWijzigingNaamGeslacht">
				<sequence>
					<element name="registratieNaamGeslacht" type="brp:Actie_RegistratieNaamGeslachtGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieNaamGeslachtGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNaamGeslacht">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_WijzigingNaamGeslachtGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_WijzigingNaamGeslachtGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduidingGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Container_PersoonVoornamenGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponentenGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeslachtsaanduidingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Huwelijk/GeregistreerdPartnerschap -->
	<!-- Container Acties Sluiting Huwelijk / Geregistreerd partnerschap GBA -->
	<complexType name="Container_Handeling_Acties_GBASluitingHuwelijkGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBASluitingHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="registratieAanvangHuwelijkGeregistreerdPartnerschap" type="brp:Actie_GBASluitingHuwelijkGeregistreerdPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieNaamVoornaam" type="brp:Actie_RegistratieNaamVoornaamGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_GBASluitingHuwelijkGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAanvangHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="huwelijk" type="brp:Objecttype_HuwelijkSluitingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschapSluitingGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijkSluitingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_SluitingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
				</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschapSluitingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_SluitingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_HuwelijkGeregistreerdPartnerschapRelatie_SluitingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_RelatieRelatie">
				<sequence>
					<element name="datumAanvang" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1" />
					<element name="landGebiedAanvangCode" type="brp:LandGebiedCode" nillable="true" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties GBA Ontbinding Huwelijk/GeregistreerdPartnerschap -->
	<complexType name="Container_Handeling_Acties_GBAOntbindingHuwelijkGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOntbindingHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="registratieEindeHuwelijkGeregistreerdPartnerschap" type="brp:Actie_OntbindingHuwelijkGeregistreerdPartnerschapGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieNaamVoornaam" type="brp:Actie_RegistratieNaamVoornaamGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_OntbindingHuwelijkGeregistreerdPartnerschapGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieEindeHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="huwelijk" type="brp:Objecttype_HuwelijkOntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschapOntbindingGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijkOntbindingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschapOntbindingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_RelatieRelatie">
				<sequence>
					<element name="redenEindeCode" type="brp:RedenEindeRelatieCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="landGebiedEindeCode" type="brp:LandGebiedCode" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties GBA Omzetting Huwelijk / Geregistreerd Partnerschap -->
	<complexType name="Container_Handeling_Acties_GBAOmzettingHuwelijkGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOmzettingHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="registratieEindeHuwelijkGeregistreerdPartnerschap" type="brp:Actie_GBAOmzettingHuwelijkGeregistreerdPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieNaamVoornaam" type="brp:Actie_RegistratieNaamVoornaamGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_GBAOmzettingHuwelijkGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieEindeHuwelijkGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_PartnerschapOmzettingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PartnerschapOmzettingGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="relatie" type="brp:Groep_HuwelijkGeregistreerdPartnerschapRelatie_OntbindingGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Gemeenschappelijk gebruikte complexType Partner GBA Huwelijk/Geregistreerd partnerschap -->
	<complexType name="Container_RelatieBetrokkenhedenHuwelijkPartnerschapGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<choice>
						<element name="partner" type="brp:Objecttype_PartnerGBA_Bijhouding" nillable="false" minOccurs="2" maxOccurs="2"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PartnerGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_Identificatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Overlijden -->
	<!-- Container Acties Overlijden GBA -->
	<complexType name="Container_Handeling_Acties_GBAOverlijden_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_GBAOverlijden">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieOverlijdenGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_OverlijdenGBA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_OverlijdenGBA">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1" />
					<element name="landGebiedCode" type="brp:LandGebiedCode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Einde Overlijden -->
	<!-- -->
	<!-- Algemene berichtelementen Migratievoorziening -->
	<!-- ... -->
	<!-- Actie in gebruik bij sluiting, Ontbinding en Omzetting Huwelijk/GeregistreerdPartnerschap -->
	<complexType name="Actie_RegistratieNaamVoornaamGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNaamVoornaam">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNaamVoornaamGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieNaamVoornaamGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Container_PersoonVoornamenGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponentenGBA_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Naamsgegevens in gebruik bij Geboorte, NaamGeslacht, Huwelijk/GeregistreerdPartnerschap -->
	<complexType name="Groep_PersoonSamengesteldeNaamGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieAfgeleid" type="brp:JaNee" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voornamen" type="brp:Voornamen" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamenGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaamGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaamGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVoornaam">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naam" type="brp:Voornaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonVoornaam"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamcomponentenGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonGeslachtsnaamcomponenten">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponentGBA_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponentGBA_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonGeslachtsnaamcomponent">
				<sequence>
					<element name="predicaatCode" type="brp:PredicaatCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="stam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonGeslachtsnaamcomponent"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
