2013/brp 2013-02-07/research/poc-kern/trunk/src/main/resources/wsdl/BRP_Basis_Antwoord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.brp.nl/basis/antwoord"
	targetNamespace="http://www.brp.nl/basis/antwoord" elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<element name="StandaardAntwoord">
		<complexType>
			<sequence>
                <element name="actieId" type="long" nillable="false" minOccurs="1" maxOccurs="1"/>
				<element name="antwoordcode" type="string" nillable="false" minOccurs="1" maxOccurs="1"/>
				<element name="melding" type="string" nillable="true" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>
</schema>
