02 Software/01 Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgBijzondereBijhouding_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Initiële versie; eerste versie berichtspecificaties t.b.v. de administratieve handelingen: --> 
<!--    - 'Wijziging identificatienummers -->
<!--    - 'Wijziging buitenlands persoonsnummer' -->
<!-- 	- 'Correctie buitenlands persoonsnummer' -->
<!--    - 'Opschorting bijhouding persoonsgegevens reden foutief' -->
<!--	- 'Wijziging documentindicatie --> 
<!--    - 'Correctie bijhouding' -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Wijziging identificatienummers -->
	<complexType name="Container_Handeling_Acties_WijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingIdentificatienummers">
				<sequence>
					<element name="registratieIdentificatienummers" type="brp:Actie_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Identificatienummers - Wijziging identificatienummers -->
	<complexType name="Actie_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieIdentificatienummers">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummersWijzigingIdentificatienummers_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummersWijzigingIdentificatienummers_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="administratienummer" type="brp:Administratienummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging buitenlands persoonsnummer -->
	<complexType name="Container_Handeling_Acties_WijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingBuitenlandsPersoonsnummer">
				<sequence>
					<element name="registratieBuitenlandsPersoonsnummer" type="brp:Actie_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Buitenlands persoonsnummer - Wijziging buitenlands persoonsnummer -->
	<complexType name="Actie_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBuitenlandsPersoonsnummerWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersWijzigingBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="nummer" type="brp:BuitenlandsPersoonsnummer" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging documentindicatie -->
	<complexType name="Container_Handeling_Acties_WijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingDocumentindicatie">
				<sequence>
					<element name="registratieOnverwerktDocumentAanwezig" type="brp:Actie_RegistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Documentindicatie - Wijziging documentindicatie -->
	<complexType name="Actie_RegistratieOnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOnverwerktDocumentAanwezig">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieDocumentindicatieWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieDocumentindicatieWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicatiesWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="onverwerktDocumentAanwezig" type="brp:Indicator_OnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnverwerktDocumentAanwezigWijzigingDocumentindicatie_BijzBijh">
		<complexContent>
			<restriction base="brp:Indicator_OnverwerktDocumentAanwezig">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie buitenlands persoonsnummer -->
	<complexType name="Container_Handeling_Acties_CorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="correctievervalBuitenlandsPersoonsnummer" type="brp:Actie_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="correctieregistratieBuitenlandsPersoonsnummer" type="brp:Actie_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval BuitenlandsPersoonsnummer -->
	<complexType name="Actie_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalBuitenlandsPersoonsnummer">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersCorrectievervalBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie BuitenlandsPersoonsnummer -->
	<complexType name="Actie_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieBuitenlandsPersoonsnummer">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="buitenlandsPersoonsnummers" type="brp:Container_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_PersoonBuitenlandsPersoonsnummers">
				<sequence>
					<element name="buitenlandsPersoonsnummer" type="brp:Objecttype_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonBuitenlandsPersoonsnummersCorrectieregistratieBuitenlandsPersoonsnummerCorrectieBuitenlandsPersoonsnummer_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonBuitenlandsPersoonsnummer">
				<sequence>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="nummer" type="brp:BuitenlandsPersoonsnummer" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonBuitenlandsPersoonsnummer"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Opschorting bijhouding persoonsgegevens reden foutief -->
	<complexType name="Container_Handeling_Acties_OpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OpschortingBijhoudingPersoonsgegevensRedenFoutief">
				<sequence>
					<element name="registratieBijhouding" type="brp:Actie_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Bijhouding - Opschorting bijhouding persoonsgegevens reden foutief -->
	<complexType name="Actie_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBijhouding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingOpschortingBijhoudingPersoonsgegevensRedenFoutief_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence>
					<element name="nadereBijhoudingsaardCode" type="brp:NadereBijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie bijhouding -->
	<complexType name="Container_Handeling_Acties_CorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieBijhouding">
				<sequence>
					<element name="correctievervalBijhouding" type="brp:Actie_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="correctieregistratieBijhouding" type="brp:Actie_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Bijhouding -->
	<complexType name="Actie_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalBijhouding">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingCorrectievervalBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingCorrectievervalBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Bijhouding -->
	<complexType name="Actie_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieBijhouding">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="bijhouding" type="brp:Groep_PersoonBijhoudingCorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingCorrectieregistratieBijhoudingCorrectieBijhouding_BijzBijh">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhouding">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijhoudingsaardCode" type="brp:BijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nadereBijhoudingsaardCode" type="brp:NadereBijhoudingsaardCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
