02 Software/01 Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgNationaliteit_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 18-05-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Aanpassing uitwerking Correctie nationaliteit -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020004">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Verkrijging Nederlandse nationaliteit -->
	<complexType name="Container_Handeling_Acties_VerkrijgingNederlandseNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerkrijgingNederlandseNationaliteit">
				<sequence>
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteitIngeschrevene_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamIngeschrevene_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Beeindiging Nederlandse nationaliteit -->
	<complexType name="Container_Handeling_Acties_VerliesNederlandseNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerliesNederlandseNationaliteit">
				<sequence>
					<element name="beeindigingNationaliteit" type="brp:Actie_BeeindigingNationaliteitIngeschrevene_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Verkrijging Vreemde nationaliteit -->
	<complexType name="Container_Handeling_Acties_VerkrijgingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerkrijgingVreemdeNationaliteit">
				<sequence>
					<element name="registratieNationaliteit" type="brp:Actie_RegistratieNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="unbounded" />
					<element name="registratieGeslachtsnaamVoornaam" type="brp:Actie_RegistratieGeslachtsnaamVoornaamIngeschrevene_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Nationaliteit - Verkrijging vreemde nationaliteit -->
	<complexType name="Actie_RegistratieNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_RegistratieNationaliteit">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>				
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteitenVerkrijgingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteitenVerkrijgingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonNationaliteiten">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteitVerkrijgingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonNationaliteit">
				<sequence>
					<element name="nationaliteitCode" type="brp:NationaliteitCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonNationaliteit"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Beeindiging vreemde nationaliteit -->
	<complexType name="Container_Handeling_Acties_BeeindigingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_BeeindigingVreemdeNationaliteit">
				<sequence>
					<element name="beeindigingNationaliteit" type="brp:Actie_BeeindigingNationaliteitBeeindigingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Nationaliteit - Verkrijging vreemde nationaliteit -->
	<complexType name="Actie_BeeindigingNationaliteitBeeindigingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingNationaliteit">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>				
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingNationaliteitBeeindigingVreemdeNationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingNationaliteitBeeindigingVreemdeNationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteitenBeeindigingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteitenBeeindigingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonNationaliteiten">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteitBeeindigingVreemdeNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteitBeeindigingVreemdeNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonNationaliteit">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonNationaliteit"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Wijziging indicatie nationaliteit -->
	<complexType name="Container_Handeling_Acties_WijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_WijzigingIndicatieNationaliteit">
				<sequence>
					<element name="registratieBehandeldAlsNederlander" type="brp:Actie_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingBehandeldAlsNederlander" type="brp:Actie_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="registratieStaatloos" type="brp:Actie_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingStaatloos" type="brp:Actie_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="registratieVastgesteldNietNederlander" type="brp:Actie_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="beeindigingVastgesteldNietNederlander" type="brp:Actie_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Registratie Indicatie Behandeld als NL -->
	<complexType name="Actie_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_RegistratieBehandeldAlsNederlander">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="behandeldAlsNederlander" type="brp:Indicator_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_BehandeldAlsNederlander">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Beeindiging Indicatie Behandeld als NL -->
	<complexType name="Actie_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingBehandeldAlsNederlander">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="behandeldAlsNederlander" type="brp:Indicator_BehandeldAlsNederlander" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Acties Registratie Indicatie Staatloos -->
	<complexType name="Actie_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_RegistratieStaatloos">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="staatloos" type="brp:Indicator_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_Staatloos">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Beeindiging Indicatie Staatloos -->
	<complexType name="Actie_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingStaatloos">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingStaatloosWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="staatloos" type="brp:Indicator_Staatloos" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Registratie Indicatie Vastgesteld niet-Nederlander -->
	<complexType name="Actie_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_RegistratieVastgesteldNietNederlander">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="vastgesteldNietNederlander" type="brp:Indicator_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_VastgesteldNietNederlander">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Beeindiging Indicatie Vastgesteld niet Nederlander -->
	<complexType name="Actie_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_BeeindigingVastgesteldNietNederlander">
				<sequence>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_BeeindigingVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="vastgesteldNietNederlander" type="brp:Indicator_VastgesteldNietNederlander" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie nationaliteit -->
	<complexType name="Container_Handeling_Acties_CorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieNationaliteit">
				<sequence>
					<element name="correctievervalNationaliteit" type="brp:Actie_CorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieNationaliteit" type="brp:Actie_CorrectieregistratieNationaliteitCorrectieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Nationaliteit - Correctie indicatie nationaliteit -->
	<complexType name="Actie_CorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalNationaliteit">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteitenCorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteitenCorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonNationaliteiten">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteitCorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteitCorrectievervalNationaliteitCorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonNationaliteit">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonNationaliteit"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Nationaliteit - Correctie nationaliteit-->
	<complexType name="Actie_CorrectieregistratieNationaliteitCorrectieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieNationaliteit">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieNationaliteitIngeschrevene_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie indicatie nationaliteit -->
	<complexType name="Container_Handeling_Acties_CorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieIndicatieNationaliteit">
				<sequence>
					<element name="correctievervalBehandeldAlsNederlander" type="brp:Actie_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieBehandeldAlsNederlander" type="brp:Actie_CorrectieregistratieBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctievervalStaatloos" type="brp:Actie_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieStaatloos" type="brp:Actie_CorrectieregistratieStaatloosCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctievervalVastgesteldNietNederlander" type="brp:Actie_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
					<element name="correctieregistratieVastgesteldNietNederlander" type="brp:Actie_CorrectieregistratieVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieverval indicatie BehandeldAlsNederlander - Correctie indicatie nationaliteit-->
	<complexType name="Actie_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalBehandeldAlsNederlander">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="behandeldAlsNederlander" type="brp:Indicator_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_CorrectievervalBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_BehandeldAlsNederlander">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieregistratie indicatie BehandeldAlsNederlander - Correctie indicatie nationaliteit-->
	<complexType name="Actie_CorrectieregistratieBehandeldAlsNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieBehandeldAlsNederlander">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieBehandeldAlsNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieverval indicatie Staatloos - Correctie indicatie nationaliteit -->
	<complexType name="Actie_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalStaatloos">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="staatloos" type="brp:Indicator_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_CorrectievervalStaatloosCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_Staatloos">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieregistratie indicatie Staatloos -->
	<complexType name="Actie_CorrectieregistratieStaatloosCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieStaatloos">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieStaatloosWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieverval indicatie VastgesteldNietNederlander -->
	<complexType name="Actie_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalVastgesteldNietNederlander">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="vastgesteldNietNederlander" type="brp:Indicator_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_CorrectievervalVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Indicator_VastgesteldNietNederlander">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="required" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Correctieregistratie indicatie VastgesteldNietNederlander -->
	<complexType name="Actie_CorrectieregistratieVastgesteldNietNederlanderCorrectieIndicatieNationaliteit_Nationaliteit">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieVastgesteldNietNederlander">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_RegistratieVastgesteldNietNederlanderWijzigingIndicatieNationaliteit_Nationaliteit" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
