02 Software/01 Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_bhgOverlijden_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 07-04-2017 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Vervallen AH 'Ongedaanmaking overlijden -->
<!-- 2) Aanpassing aan naamgevingsconventies complexTypes -->
<!-- 3) Verwijdering DAG bij acties die in potentie geen MH-groepen bijhouden -->
<!-- 4) Nadere uitwerking Correctie overlijden -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Overlijden NL -->
	<complexType name="Container_Handeling_Acties_OverlijdenInNederland_Overlijden">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverlijdenInNederland">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenOverlijdenInNederland_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Overlijden - Overlijden in Nederland -->
	<complexType name="Actie_RegistratieOverlijdenOverlijdenInNederland_Overlijden">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonOverlijdenOverlijdenInNederland_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOverlijdenOverlijdenInNederland_Overlijden">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenOverlijdenInNederland_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenOverlijdenInNederland_Overlijden">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsnaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overlijden in Buitenland -->
	<complexType name="Container_Handeling_Acties_OverlijdenInBuitenland_Overlijden">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverlijdenInBuitenland">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenOverlijdenInBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Registratie Overlijden - Overlijden in Buitenland -->
	<complexType name="Actie_RegistratieOverlijdenOverlijdenInBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_PersoonOverlijdenOverlijdenInBuitenland_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonOverlijdenOverlijdenInBuitenland_Overlijden">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenOverlijdenInBuitenland_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenOverlijdenInBuitenland_Overlijden">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:Locatieomschrijving" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="landGebiedCode" type="brp:LandGebiedCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie overlijden -->
	<complexType name="Container_Handeling_Acties_CorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieOverlijden">
				<sequence>
					<element name="correctievervalOverlijden" type="brp:Actie_CorrectievervalOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="correctieregistratieOverlijden" type="brp:Actie_CorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieverval Overlijden -->
	<complexType name="Actie_CorrectievervalOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Actie_CorrectievervalOverlijden">
				<sequence>
					<element name="nadereAanduidingVerval" type="brp:NadereAanduidingVerval" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectievervalOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectievervalOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenCorrectievervalOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenCorrectievervalOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence/>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Actie Correctieregistratie Overlijden -->
	<complexType name="Actie_CorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Actie_CorrectieregistratieOverlijden">
				<sequence>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_CorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_CorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenCorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenCorrectieregistratieOverlijdenCorrectieOverlijden_Overlijden">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsnaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:Locatieomschrijving" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="landGebiedCode" type="brp:LandGebiedCode" nillable="false" minOccurs="1" maxOccurs="1"/> 
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
