02 Software/01 Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_lvgAfnemerindicatie_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 07-04-2017 -->
<!-- -->
<!-- Wijzigingen: -->
<!-- 1	Wijziging elementnaam van AfnemerCode naar PartijCode -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020008">
	<include schemaLocation="brp0200_brpBasis.xsd"/>
	<!-- -->
	<!-- Berichtparameters PlaatsingVerwijdering Afnemerindicatie -->
	<complexType name="Groep_BerichtParameters_PlaatsingVerwijderingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="leveringsautorisatieIdentificatie" type="brp:LeveringsautorisatieID" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Plaatsing afnemerindicatie -->
	<complexType name="Container_Handeling_Acties_PlaatsingAfnemerindicatie_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_PlaatsingAfnemerindicatie">
				<sequence>
					<element name="registratieAfnemerindicatie" type="brp:Actie_RegistratieAfnemerindicatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Afnemerindicatie -->
	<complexType name="Actie_RegistratieAfnemerindicatie_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAfnemerindicatie">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_PlaatsingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Details Persoon tbv het volgen van een persoon -->
	<complexType name="Objecttype_Persoon_PlaatsingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_BijhoudingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afnemerindicaties" type="brp:Container_PersoonAfnemerindicaties_PlaatsingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers_BijhoudingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="Container_PersoonAfnemerindicaties_PlaatsingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Container_PersoonAfnemerindicaties">
				<sequence>
					<element name="afnemerindicatie" type="brp:Objecttype_PersoonAfnemerindicatie_PlaatsingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonAfnemerindicatie_PlaatsingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonAfnemerindicatie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1" />
					<element name="datumAanvangMaterielePeriode" type="brp:Datum" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="datumEindeVolgen" type="brp:Datum" nillable="false" minOccurs="0" maxOccurs="1" />					
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonAfnemerindicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Plaatsing afnemerindicatie -->
	<complexType name="Container_Handeling_Acties_VerwijderingAfnemerindicatie_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerwijderingAfnemerindicatie">
				<sequence>
					<element name="vervalAfnemerindicatie" type="brp:Actie_VervalAfnemerindicatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Verval Afnemerindicatie -->
	<complexType name="Actie_VervalAfnemerindicatie_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_VervalAfnemerindicatie">
				<sequence>
					<element name="persoon" type="brp:Objecttype_Persoon_VerwijderingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Details Persoon tbv het niet meer volgen van een persoon -->
	<complexType name="Objecttype_Persoon_VerwijderingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_BijhoudingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afnemerindicaties" type="brp:Container_PersoonAfnemerindicaties_VerwijderingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="Container_PersoonAfnemerindicaties_VerwijderingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Container_PersoonAfnemerindicaties">
				<sequence>
					<element name="afnemerindicatie" type="brp:Objecttype_PersoonAfnemerindicatie_VerwijderingAfnemerindicatie" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonAfnemerindicatie_VerwijderingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonAfnemerindicatie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1" />			
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonAfnemerindicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Berichtresultaat Plaatsing/Verwijdeirng afnemerindicaties -->
	<complexType name="Handeling_PlaatsingAfnemerindicatie_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_PlaatsingAfnemerindicatie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="brp:DatumTijd" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_VerwijderingAfnemerindicatie_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_VerwijderingAfnemerindicatie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="brp:DatumTijd" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Brp" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited" />
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Groep Berichtresultaat Plaatsing/Verwijdering afnemerindicatie --> 
	<complexType name="Groep_BerichtResultaat_PlaatsingVerwijderingAfnemerindicatie">
		<complexContent>
			<restriction base="brp:Groep_BerichtResultaat">
				<sequence>
					<element name="verwerking" type="brp:VerwerkingsresultaatNaam" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="hoogsteMeldingsniveau" type="brp:SoortMeldingNaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
