02 Software/01 Broncode/koppelvlak-code-25.0.3/brp-koppelvlak/src/main/resources/xsd/BRP0200/brp0200_brpAttribuuttypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Metaregister versie: foo
Generator versie: bar
Generator gebouwd op: banzai
Gegenereerd op: Thu May 18 12:17:37 CEST 2017
-->
<!--Schema met de definitie van de simple types (-s), en de complex types die gebruikt worden in de berichten voor de BRP.-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020010">
  <!--Simple types voor de attribuuttypen gesorteerd op alfabet.-->
  <simpleType name="AanduidingInhoudingVermissingReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AanduidingVerblijfsrechtCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="2" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="AangeverCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AantalResultaten-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="AdellijkeTitelCode-s">
    <restriction base="string">
      <enumeration value="B">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="G">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Administratienummer-s">
    <restriction base="string">
      <minLength value="10" />
      <maxLength value="10" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="Adresregel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="AfgekorteNaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="Aktenummer-s">
    <restriction base="string">
      <minLength value="7" />
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteitVanAfgifteReisdocumentCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteittypeVanAfgifteReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling I van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling II van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="?">
        <annotation>
          <documentation>Het is onbekend conform welke afdeling van de Wet BRP de bijhouding normaliter geregeld is. Alleen te gebruiken voor historische waarden.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsresultaatNaam-s">
    <restriction base="string">
      <enumeration value="Verwerkt">
        <annotation>
          <documentation>Bijhouding direct verwerkt in BRP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="(Deels) uitgesteld">
        <annotation>
          <documentation>Bijhouding in BRP (deels) uitgesteld in verband met fiattering andere partij</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingssituatieNaam-s">
    <restriction base="string">
      <enumeration value="Indiener is bijhoudingspartij">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van de partij die het bijhoudingsvoorstel heeft ingezonden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Automatische fiat">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die het voorstel automatisch wenst te fiatteren.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Aanvullen en opnieuw indienen">
        <annotation>
          <documentation>Het bijhoudingsvoorstel is incompleet (ontbreken Anr/BSN) en kan daardoor niet verwerkt worden. De ontvanger dient het voorstel te completeren en opnieuw in te dienen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Opnieuw indienen">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die het voorstel handmatig wenst te fiatteren of de partij wenst automatisch te fiatteren maar er is een fiatteringsuitzondering die van toepassing is op het bijhoudingsvoorstel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GBA">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die valt onder het GBA-regime.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Uitgesloten persoon">
        <annotation>
          <documentation>De bijhoudingspartij heeft aangegeven dat de persoon uitgesloten moet worden bij de verwerking van het bijhoudingsvoorstel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Opgeschort">
        <annotation>
          <documentation>De persoon is uitgesloten bij de verwerking van het bijhoudingsvoorstel omdat de persoon niet meer mag worden bijgehouden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Mededeling">
        <annotation>
          <documentation>De bijhoudingspartij moet op de hoogte worden gebracht van een bijhouding van een persoon waarvan deze partij de bijhoudingspartij is/was, maar waarbij de bijhouding door een andere/nieuwe bijhoudingspartij is verwerkt.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandsPersoonsnummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandsePlaats-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandseRegio-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="Burgerservicenummer-s">
    <restriction base="string">
      <minLength value="9" />
      <maxLength value="9" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="CategorieAdministratieveHandelingNaam-s">
    <restriction base="string">
      <enumeration value="Actualisering" />
      <enumeration value="Correctie" />
      <enumeration value="Synchronisatie" />
      <enumeration value="GBA - Initiële vulling" />
      <enumeration value="GBA - Synchronisatie" />
      <enumeration value="Systeemhandeling" />
      <enumeration value="Alias" />
      <enumeration value="Verwijdering" />
      <enumeration value="Levering" />
    </restriction>
  </simpleType>
  <simpleType name="Datum-s">
    <restriction base="string">
      <minLength value="1" />
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})))" />
    </restriction>
  </simpleType>
  <simpleType name="DatumMetOnzekerheid-s">
    <restriction base="string">
      <minLength value="1" />
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1}))?)?" />
    </restriction>
  </simpleType>
  <simpleType name="DatumTijd-s">
    <restriction base="dateTime">
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})))(T((([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1})(:[0-5]{1}[0-9]{1}(:[0-5]{1}[0-9]{1}\.[0-9]{3}))))((\+|\-)([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1}):[0-5]{1}[0-9]{1}|Z))" />
    </restriction>
  </simpleType>
  <simpleType name="DienstID-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="DocumentOmschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="GemeenteCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="Gemeentedeel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="GeslachtsaanduidingCode-s">
    <restriction base="string">
      <enumeration value="M">
        <annotation>
          <documentation>Man</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Vrouw</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>Onbekend</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Geslachtsnaamstam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="HistorievormNaam-s">
    <restriction base="string">
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen historie; alleen actuele gegevens leveren</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Materieel">
        <annotation>
          <documentation>De actuele gegevens en de materiele historie hiervan leveren</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MaterieelFormeel">
        <annotation>
          <documentation>De actuele gegevens en zowel de materiele als de formele historie hiervan leveren</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Huisletter-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
      <pattern value="[a-zA-Z]" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummer-s">
    <restriction base="nonNegativeInteger">
      <minInclusive value="0"/>
      <maxInclusive value="99999"/>
      <pattern value="[1-9][0-9]*|0" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummertoevoeging-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="ISO31661Alpha2-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeAdresseerbaarObject-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeNummeraanduiding-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="Ja-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JaNee-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LandGebiedCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="LeveringsautorisatieID-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="LocatieTenOpzichteVanAdres-s">
    <restriction base="string">
      <enumeration value="by">
        <annotation>
          <documentation>bij</documentation>
        </annotation>
      </enumeration>
      <enumeration value="to">
        <annotation>
          <documentation>tegen over</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Locatieomschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="MeldingGBA-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2048" />
    </restriction>
  </simpleType>
  <simpleType name="Meldingtekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="NaamEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamEnumeratiewaardeLang-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="NaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamgebruikCode-s">
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>Eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner voor eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner na eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereAanduidingVerval-s">
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>Onjuist</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>In strijd met openbare orde</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereBijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>Alle actuele gegevens worden bijgehouden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>De persoon is rechtstreeks een niet-ingezetene geworden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>De persoon is geëmigreerd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>De persoon is overleden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Verblijf van de persoon is onbekend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>De bijhouding is beperkt vanwege een bijzondere status van de persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Persoonslijst is ten onrechte opgenomen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="?">
        <annotation>
          <documentation>De nadere bijhoudingsaard is niet bekend. Alleen te gebruiken voor historische waarden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="W">
        <annotation>
          <documentation>De persoonslijst is gewist</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NationaliteitCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="Nee-s">
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmschrijvingEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <simpleType name="OnderzoekOmschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2048" />
    </restriction>
  </simpleType>
  <simpleType name="Ontleningstoelichting-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="400" />
    </restriction>
  </simpleType>
  <simpleType name="PartijCode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="Postcode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
      <pattern value="[1-9]{1}[0-9]{3}[A-Z]{2}" />
    </restriction>
  </simpleType>
  <simpleType name="PredicaatCode-s">
    <restriction base="string">
      <enumeration value="K">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="H">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
      <enumeration value="J">
        <annotation>
          <documentation />
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RechtsgrondCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="RedenEindeRelatieCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerkrijgingCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerliesCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="RedenWijzigingVerblijfCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Referentienummer-s">
    <restriction base="string">
      <minLength value="36" />
      <maxLength value="36" />
      <pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegelCode-s">
    <restriction base="string">
      <minLength value="5" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="ReisdocumentNummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="RolNaam-s">
    <restriction base="string">
      <enumeration value="Afnemer" />
      <enumeration value="Bijhoudingsorgaan College" />
      <enumeration value="Bijhoudingsorgaan Minister" />
      <enumeration value="Bijhoudingsvoorstelorgaan" />
    </restriction>
  </simpleType>
  <simpleType name="Scheidingsteken-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="SelectietaakID-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Sleutelwaarde-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Sleutelwaardetekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="SoortAdresCode-s">
    <restriction base="string">
      <enumeration value="W">
        <annotation>
          <documentation>Woonadres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>Briefadres</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortElementNaam-s">
    <restriction base="string">
      <enumeration value="Objecttype" />
      <enumeration value="Groep" />
      <enumeration value="Attribuut" />
    </restriction>
  </simpleType>
  <simpleType name="SoortMeldingNaam-s">
    <restriction base="string">
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen meldingen aangetroffen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Informatie">
        <annotation>
          <documentation>Informatieve melding; ter kennisname</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Waarschuwing">
        <annotation>
          <documentation>Waarschuwing aangetroffen; mogelijk herstelactie ondernemen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Deblokkeerbaar">
        <annotation>
          <documentation>Foutieve situatie aangetroffen, melding deblokkeerbaar of herstelactie ondernemen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Fout">
        <annotation>
          <documentation>Foutieve situatie aangetroffen; verwerking blokkeert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortMigratieCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Immigratie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>Emigratie</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortNederlandsReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="SoortPersoonCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Pseudo-persoon</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortSelectieNaam-s">
    <restriction base="string">
      <enumeration value="Standaard selectie" />
      <enumeration value="Selectie met plaatsing afnemerindicatie" />
      <enumeration value="Selectie met verwijdering afnemerindicatie" />
      <enumeration value="Modelselectie" />
    </restriction>
  </simpleType>
  <simpleType name="SoortSelectieresultaatSetNaam-s">
    <restriction base="string">
      <enumeration value="Resultaatset personen">
        <annotation>
          <documentation>De selectieresultaat-set bevat de gegevens van de geselecteerde personen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Resultaatset totalen">
        <annotation>
          <documentation>De selectieresultaat-set bevat de totalen van de uitgevoerde selectietaak.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stamgegeven-s">
    <restriction base="string">
      <enumeration value="AanduidingInhoudingVermissingReisdocumentTabel"/>
      <enumeration value="AanduidingVerblijfsrechtTabel"/>
      <enumeration value="AangeverTabel"/>
      <enumeration value="AdellijkeTitelTabel"/>
      <enumeration value="AutoriteitVanAfgifteBuitenlandsPersoonsnummerTabel" />
      <enumeration value="AutoriteittypeVanAfgifteReisdocumentTabel" />
      <enumeration value="BijhoudingsaardTabel"/>
      <enumeration value="BijhoudingsresultaatTabel"/>
      <enumeration value="BijhoudingssituatieTabel" />
      <enumeration value="CategorieAdministratieveHandelingTabel"/>
      <enumeration value="ElementTabel"/>
      <enumeration value="GemeenteTabel"/>
      <enumeration value="GeslachtsaanduidingTabel"/>
      <enumeration value="LandGebiedTabel"/>
      <enumeration value="NaamgebruikTabel"/>
      <enumeration value="NadereBijhoudingsaardTabel"/>
      <enumeration value="NationaliteitTabel"/>
      <enumeration value="PartijTabel"/>
      <enumeration value="PlaatsTabel" />
      <enumeration value="PredicaatTabel"/>
      <enumeration value="RechtsgrondTabel"/>
      <enumeration value="RedenEindeRelatieTabel"/>
      <enumeration value="RedenVerkrijgingNLNationaliteitTabel"/>
      <enumeration value="RedenVerliesNLNationaliteitTabel"/>
      <enumeration value="RedenWijzigingVerblijfTabel" />
      <enumeration value="RolTabel"/>
      <enumeration value="SoortAdministratieveHandelingTabel"/>
      <enumeration value="SoortAdresTabel" />
      <enumeration value="SoortDienstTabel" />
      <enumeration value="SoortDocumentTabel"/>
      <enumeration value="SoortMeldingTabel"/>
      <enumeration value="SoortMigratieTabel"/>
      <enumeration value="SoortNederlandsReisdocumentTabel"/>
      <enumeration value="SoortPersoonTabel"/>
      <enumeration value="SoortSynchronisatieTabel"/>
      <enumeration value="SoortVrijBerichtTabel" />
      <enumeration value="StatusOnderzoekTabel"/>
      <enumeration value="VersieStufBGTabel" />
      <enumeration value="VertalingBerichtsoortBRPTabel" />
      <enumeration value="VerwerkingsresultaatTabel"/>
      <enumeration value="VerwerkingswijzeTabel"/>
      <enumeration value="VoorvoegselTabel"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusOnderzoekNaam-s">
    <restriction base="string">
      <enumeration value="In uitvoering">
        <annotation>
          <documentation>Het onderzoek is gestart, maar nog niet beëindigd of gestaakt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gestaakt">
        <annotation>
          <documentation>Het onderzoek is gestaakt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Afgesloten">
        <annotation>
          <documentation>Het onderzoek is beëindigd.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SysteemNaam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="VerantwoordingNaam-s">
    <restriction base="string">
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen verantwoording gewenst in resultaatbericht</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VersieStufBGNummer-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
      <pattern value="[0-9]*" />
    </restriction>
  </simpleType>
  <simpleType name="VerwerkingsresultaatNaam-s">
    <restriction base="string">
      <enumeration value="Geslaagd">
        <annotation>
          <documentation>Verwerking geslaagd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Foutief">
        <annotation>
          <documentation>Verwerking foutief; deblokkeerbare meldingen of fouten aanwezig</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Verwerkingssoort-s">
    <restriction base="string">
      <enumeration value="Identificatie">
        <annotation>
          <documentation>Object of gegevensgroep opgenomen ter identificatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Referentie">
        <annotation>
          <documentation>Object of gegevensgroep opgenomen ter referentie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Toevoeging">
        <annotation>
          <documentation>Toevoeging van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Wijziging">
        <annotation>
          <documentation>Wijziging van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Verval">
        <annotation>
          <documentation>Verval van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Verwijdering">
        <annotation>
          <documentation>Verwijdering van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VerwerkingswijzeNaam-s">
    <restriction base="string">
      <enumeration value="Bijhouding">
        <annotation>
          <documentation>Bijhouding ter definitieve verwerking aan BRP aangeboden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Prevalidatie">
        <annotation>
          <documentation>Bijhouding ter controle aan BRP aangeboden</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Volgnummer-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Voornaam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voornamen-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voorvoegsel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="VrijBerichtData-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="99999" />
    </restriction>
  </simpleType>
  <simpleType name="Zoekbereik-s">
    <restriction base="string">
      <enumeration value="Peilmoment">
        <annotation>
          <documentation>Zoekcriteria toepassen op één moment in de tijd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Materiele periode">
        <annotation>
          <documentation>Zoekcriteria toepassen op materiële periode</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Zoekoptie-s">
    <restriction base="string">
      <enumeration value="Exact">
        <annotation>
          <documentation>Zoeken met exact de waarde zoals deze is opgegeven</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Klein">
        <annotation>
          <documentation>Zoeken na omzetting in kleine letters zonder diakritische tekens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Leeg">
        <annotation>
          <documentation>Zoeken met lege waarde</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vanaf klein">
        <annotation>
          <documentation>Zoeken na omz. in kl. letters zonder diakr. tekens vanaf opg. waarde (wildcard)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Vanaf exact">
        <annotation>
          <documentation>Zoeken vanaf opgegeven waarde (wildcard)</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!--Complex types voor de attribuuttypen gesorteerd op alfabet.-->
  <complexType name="AanduidingInhoudingVermissingReisdocumentCode">
    <simpleContent>
      <extension base="brp:AanduidingInhoudingVermissingReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AanduidingVerblijfsrechtCode">
    <simpleContent>
      <extension base="brp:AanduidingVerblijfsrechtCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AangeverCode">
    <simpleContent>
      <extension base="brp:AangeverCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AantalResultaten">
    <simpleContent>
      <extension base="brp:AantalResultaten-s" />
    </simpleContent>
  </complexType>
  <complexType name="AdellijkeTitelCode">
    <simpleContent>
      <extension base="brp:AdellijkeTitelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Administratienummer">
    <simpleContent>
      <extension base="brp:Administratienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Adresregel">
    <simpleContent>
      <extension base="brp:Adresregel-s" />
    </simpleContent>
  </complexType>
  <complexType name="AfgekorteNaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:AfgekorteNaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="Aktenummer">
    <simpleContent>
      <extension base="brp:Aktenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode">
    <simpleContent>
      <extension base="brp:AutoriteitVanAfgifteBuitenlandsPersoonsnummerCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteitVanAfgifteReisdocumentCode">
    <simpleContent>
      <extension base="brp:AutoriteitVanAfgifteReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteittypeVanAfgifteReisdocumentCode">
    <simpleContent>
      <extension base="brp:AutoriteittypeVanAfgifteReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:BijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsresultaatNaam">
    <simpleContent>
      <extension base="brp:BijhoudingsresultaatNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingssituatieNaam">
    <simpleContent>
      <extension base="brp:BijhoudingssituatieNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandsPersoonsnummer">
    <simpleContent>
      <extension base="brp:BuitenlandsPersoonsnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandsePlaats">
    <simpleContent>
      <extension base="brp:BuitenlandsePlaats-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandseRegio">
    <simpleContent>
      <extension base="brp:BuitenlandseRegio-s" />
    </simpleContent>
  </complexType>
  <complexType name="Burgerservicenummer">
    <simpleContent>
      <extension base="brp:Burgerservicenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="CategorieAdministratieveHandelingNaam">
    <simpleContent>
      <extension base="brp:CategorieAdministratieveHandelingNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Datum">
    <simpleContent>
      <extension base="brp:Datum-s" />
    </simpleContent>
  </complexType>
  <complexType name="DatumMetOnzekerheid">
    <simpleContent>
      <extension base="brp:DatumMetOnzekerheid-s" />
    </simpleContent>
  </complexType>
  <complexType name="DatumTijd">
    <simpleContent>
      <extension base="brp:DatumTijd-s" />
    </simpleContent>
  </complexType>
  <complexType name="DienstID">
    <simpleContent>
      <extension base="brp:DienstID-s" />
    </simpleContent>
  </complexType>
  <complexType name="DocumentOmschrijving">
    <simpleContent>
      <extension base="brp:DocumentOmschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="GemeenteCode">
    <simpleContent>
      <extension base="brp:GemeenteCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Gemeentedeel">
    <simpleContent>
      <extension base="brp:Gemeentedeel-s" />
    </simpleContent>
  </complexType>
  <complexType name="GeslachtsaanduidingCode">
    <simpleContent>
      <extension base="brp:GeslachtsaanduidingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Geslachtsnaamstam">
    <simpleContent>
      <extension base="brp:Geslachtsnaamstam-s" />
    </simpleContent>
  </complexType>
  <complexType name="HistorievormNaam">
    <simpleContent>
      <extension base="brp:HistorievormNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisletter">
    <simpleContent>
      <extension base="brp:Huisletter-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummer">
    <simpleContent>
      <extension base="brp:Huisnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummertoevoeging">
    <simpleContent>
      <extension base="brp:Huisnummertoevoeging-s" />
    </simpleContent>
  </complexType>
  <complexType name="ISO31661Alpha2">
    <simpleContent>
      <extension base="brp:ISO31661Alpha2-s" />
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeAdresseerbaarObject">
    <simpleContent>
      <extension base="brp:IdentificatiecodeAdresseerbaarObject-s" />
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeNummeraanduiding">
    <simpleContent>
      <extension base="brp:IdentificatiecodeNummeraanduiding-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ja">
    <simpleContent>
      <extension base="brp:Ja-s" />
    </simpleContent>
  </complexType>
  <complexType name="JaNee">
    <simpleContent>
      <extension base="brp:JaNee-s" />
    </simpleContent>
  </complexType>
  <complexType name="LandGebiedCode">
    <simpleContent>
      <extension base="brp:LandGebiedCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="LeveringsautorisatieID">
    <simpleContent>
      <extension base="brp:LeveringsautorisatieID-s" />
    </simpleContent>
  </complexType>
  <complexType name="LocatieTenOpzichteVanAdres">
    <simpleContent>
      <extension base="brp:LocatieTenOpzichteVanAdres-s" />
    </simpleContent>
  </complexType>
  <complexType name="Locatieomschrijving">
    <simpleContent>
      <extension base="brp:Locatieomschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="MeldingGBA">
    <simpleContent>
      <extension base="brp:MeldingGBA-s" />
    </simpleContent>
  </complexType>
  <complexType name="Meldingtekst">
    <simpleContent>
      <extension base="brp:Meldingtekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:NaamEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamEnumeratiewaardeLang">
    <simpleContent>
      <extension base="brp:NaamEnumeratiewaardeLang-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:NaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamgebruikCode">
    <simpleContent>
      <extension base="brp:NaamgebruikCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="NadereAanduidingVerval">
    <simpleContent>
      <extension base="brp:NadereAanduidingVerval-s" />
    </simpleContent>
  </complexType>
  <complexType name="NadereBijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:NadereBijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="NationaliteitCode">
    <simpleContent>
      <extension base="brp:NationaliteitCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Nee">
    <simpleContent>
      <extension base="brp:Nee-s" />
    </simpleContent>
  </complexType>
  <complexType name="OmschrijvingEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:OmschrijvingEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="OnderzoekOmschrijving">
    <simpleContent>
      <extension base="brp:OnderzoekOmschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ontleningstoelichting">
    <simpleContent>
      <extension base="brp:Ontleningstoelichting-s" />
    </simpleContent>
  </complexType>
  <complexType name="PartijCode">
    <simpleContent>
      <extension base="brp:PartijCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Postcode">
    <simpleContent>
      <extension base="brp:Postcode-s" />
    </simpleContent>
  </complexType>
  <complexType name="PredicaatCode">
    <simpleContent>
      <extension base="brp:PredicaatCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RechtsgrondCode">
    <simpleContent>
      <extension base="brp:RechtsgrondCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenEindeRelatieCode">
    <simpleContent>
      <extension base="brp:RedenEindeRelatieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerkrijgingCode">
    <simpleContent>
      <extension base="brp:RedenVerkrijgingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerliesCode">
    <simpleContent>
      <extension base="brp:RedenVerliesCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenWijzigingVerblijfCode">
    <simpleContent>
      <extension base="brp:RedenWijzigingVerblijfCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Referentienummer">
    <simpleContent>
      <extension base="brp:Referentienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="RegelCode">
    <simpleContent>
      <extension base="brp:RegelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="ReisdocumentNummer">
    <simpleContent>
      <extension base="brp:ReisdocumentNummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="RolNaam">
    <simpleContent>
      <extension base="brp:RolNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Scheidingsteken">
    <simpleContent>
      <extension base="brp:Scheidingsteken-s" />
    </simpleContent>
  </complexType>
  <complexType name="SelectietaakID">
    <simpleContent>
      <extension base="brp:SelectietaakID-s" />
    </simpleContent>
  </complexType>
  <complexType name="Sleutelwaarde">
    <simpleContent>
      <extension base="brp:Sleutelwaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="Sleutelwaardetekst">
    <simpleContent>
      <extension base="brp:Sleutelwaardetekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortAdresCode">
    <simpleContent>
      <extension base="brp:SoortAdresCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortElementNaam">
    <simpleContent>
      <extension base="brp:SoortElementNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMeldingNaam">
    <simpleContent>
      <extension base="brp:SoortMeldingNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMigratieCode">
    <simpleContent>
      <extension base="brp:SoortMigratieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortNederlandsReisdocumentCode">
    <simpleContent>
      <extension base="brp:SoortNederlandsReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortPersoonCode">
    <simpleContent>
      <extension base="brp:SoortPersoonCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortSelectieNaam">
    <simpleContent>
      <extension base="brp:SoortSelectieNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortSelectieresultaatSetNaam">
    <simpleContent>
      <extension base="brp:SoortSelectieresultaatSetNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Stamgegeven">
    <simpleContent>
      <extension base="brp:Stamgegeven-s" />
    </simpleContent>
  </complexType>
  <complexType name="StatusOnderzoekNaam">
    <simpleContent>
      <extension base="brp:StatusOnderzoekNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SysteemNaam">
    <simpleContent>
      <extension base="brp:SysteemNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerantwoordingNaam">
    <simpleContent>
      <extension base="brp:VerantwoordingNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="VersieStufBGNummer">
    <simpleContent>
      <extension base="brp:VersieStufBGNummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerwerkingsresultaatNaam">
    <simpleContent>
      <extension base="brp:VerwerkingsresultaatNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Verwerkingssoort">
    <simpleContent>
      <extension base="brp:Verwerkingssoort-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerwerkingswijzeNaam">
    <simpleContent>
      <extension base="brp:VerwerkingswijzeNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Volgnummer">
    <simpleContent>
      <extension base="brp:Volgnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornaam">
    <simpleContent>
      <extension base="brp:Voornaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornamen">
    <simpleContent>
      <extension base="brp:Voornamen-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voorvoegsel">
    <simpleContent>
      <extension base="brp:Voorvoegsel-s" />
    </simpleContent>
  </complexType>
  <complexType name="VrijBerichtData">
    <simpleContent>
      <extension base="brp:VrijBerichtData-s" />
    </simpleContent>
  </complexType>
  <complexType name="Zoekbereik">
    <simpleContent>
      <extension base="brp:Zoekbereik-s" />
    </simpleContent>
  </complexType>
  <complexType name="Zoekoptie">
    <simpleContent>
      <extension base="brp:Zoekoptie-s" />
    </simpleContent>
  </complexType>
</schema>
