2013/brp 2013-02-07/test-client/trunk/src/main/resources/wsdl/brp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:brp="http://www.bprbzk.nl/BRP/0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bprbzk.nl/BRP/0001/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="brp" targetNamespace="http://www.bprbzk.nl/BRP/0001/service">
	<wsdl:types>
		<xsd:schema xmlns:brp="http://www.bprbzk.nl/BRP/0001" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bprbzk.nl/BRP/0001/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.bprbzk.nl/BRP/0001" schemaLocation="BRP_Bevraging_Berichten.xsd"/>
			<xsd:import namespace="http://www.bprbzk.nl/BRP/0001" schemaLocation="BRP_Migratie_Berichten.xsd"/>
			<xsd:import namespace="http://www.bprbzk.nl/BRP/0001" schemaLocation="BRP_Afstamming_Berichten.xsd"/>
			<xsd:import namespace="http://www.bprbzk.nl/BRP/0001" schemaLocation="BRP_HuwelijkPartnerschap_Berichten.xsd"/>
			<xsd:import namespace="http://www.bprbzk.nl/BRP/0001" schemaLocation="BRP_Overlijden_Berichten.xsd"  />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="vraagDetailsPersoon">
		<wsdl:part name="VraagDetailsPersoonBericht" element="brp:bevragen_VraagDetailsPersoon"/>
	</wsdl:message>
	<wsdl:message name="vraagDetailsPersoonAntwoord">
		<wsdl:part name="VraagDetailsPersoonAntwoord" element="brp:bevragen_VraagDetailsPersoon_Antwoord"/>
	</wsdl:message>
	<wsdl:message name="vraagPersonenOpAdresInclusiefBetrokkenheden">
		<wsdl:part name="VraagPersonenOpAdresInclusiefBetrokkenheden" element="brp:bevragen_VraagPersonenOpAdresInclusiefBetrokkenheden"/>
	</wsdl:message>
	<wsdl:message name="vraagPersonenOpAdresInclusiefBetrokkenhedenAntwoord">
		<wsdl:part name="VraagPersonenOpAdresInclusiefBetrokkenhedenAntwoord" element="brp:bevragen_VraagPersonenOpAdresInclusiefBetrokkenheden_Antwoord"/>
	</wsdl:message>
	<wsdl:message name="vraagKandidaatVader">
		<wsdl:part name="VraagKandidaatVader" element="brp:bevragen_VraagKandidaatVader"/>
	</wsdl:message>
	<wsdl:message name="vraagKandidaatVaderAntwoord">
		<wsdl:part name="VraagKandidaatVaderAntwoord" element="brp:bevragen_VraagKandidaatVader_Antwoord"/>
	</wsdl:message>
	<wsdl:message name="Verhuizing">
		<wsdl:part name="verhuizing" element="brp:migratie_Verhuizing_Bijhouding"/>
	</wsdl:message>
	<wsdl:message name="VerhuizingResponse">
		<wsdl:part name="verhuizingResponse" element="brp:migratie_Verhuizing_BijhoudingResponse"/>
	</wsdl:message>
	<wsdl:message name="CorrectieAdresNL">
		<wsdl:part name="correctieAdresNL" element="brp:migratie_CorrectieAdresBinnenNL_Bijhouding"/>
	</wsdl:message>
	<wsdl:message name="CorrectieAdresNLResponse">
		<wsdl:part name="correctieAdresNLResponse" element="brp:migratie_CorrectieAdresBinnenNL_BijhoudingResponse"/>
	</wsdl:message>
	<wsdl:message name="Afstamming">
		<wsdl:part name="afstamming" element="brp:afstamming_InschrijvingAangifteGeboorte_Bijhouding"/>
	</wsdl:message>
	<wsdl:message name="AfstammingResponse">
		<wsdl:part name="afstammingResponse" element="brp:afstamming_InschrijvingAangifteGeboorte_BijhoudingResponse"/>
	</wsdl:message>
	<wsdl:message name="Huwelijk">
		<wsdl:part name="huwelijk" element="brp:huwelijkPartnerschap_RegistratieHuwelijk_Bijhouding"/>
	</wsdl:message>
	<wsdl:message name="HuwelijkResponse">
		<wsdl:part name="huwelijkResponse" element="brp:huwelijkPartnerschap_RegistratieHuwelijk_BijhoudingResponse"/>
	</wsdl:message>
    <wsdl:message name="Overlijden">
        <wsdl:part name="overlijden" element="brp:overlijden_RegistratieOverlijden_Bijhouding" />
    </wsdl:message>
    <wsdl:message name="OverlijdenResponse">
        <wsdl:part name="overlijdenResponse" element="brp:overlijden_RegistratieOverlijden_BijhoudingResponse" />
    </wsdl:message>
	<wsdl:portType name="BevragingPortType">
		<wsdl:operation name="vraagDetailsPersoon">
			<wsdl:input message="tns:vraagDetailsPersoon"/>
			<wsdl:output message="tns:vraagDetailsPersoonAntwoord"/>
		</wsdl:operation>
		<wsdl:operation name="vraagPersonenOpAdresInclusiefBetrokkenheden">
			<wsdl:input message="tns:vraagPersonenOpAdresInclusiefBetrokkenheden"/>
			<wsdl:output message="tns:vraagPersonenOpAdresInclusiefBetrokkenhedenAntwoord"/>
		</wsdl:operation>
		<wsdl:operation name="vraagKandidaatVader">
			<wsdl:input message="tns:vraagKandidaatVader"/>
			<wsdl:output message="tns:vraagKandidaatVaderAntwoord"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="BijhoudingPortType">
		<!-- Verhuizing -->
		<wsdl:operation name="verhuizing">
			<wsdl:input message="tns:Verhuizing"/>
			<wsdl:output message="tns:VerhuizingResponse"/>
		</wsdl:operation>
		<!-- Correctie Adres NL -->
		<wsdl:operation name="correctieAdresNL">
			<wsdl:input message="tns:CorrectieAdresNL"/>
			<wsdl:output message="tns:CorrectieAdresNLResponse"/>
		</wsdl:operation>
		<!-- Geboorte aangifte -->
		<wsdl:operation name="inschrijvingGeboorte">
			<wsdl:input message="tns:Afstamming"/>
			<wsdl:output message="tns:AfstammingResponse"/>
		</wsdl:operation>
		<!-- Huwelijk -->
		<wsdl:operation name="registreerHuwelijkEnPartnerschap">
			<wsdl:input message="tns:Huwelijk"/>
			<wsdl:output message="tns:HuwelijkResponse"/>
		</wsdl:operation>
		<!--  Overlijden -->
		<wsdl:operation name="registreerOverlijden">
            <wsdl:input message="tns:Overlijden" />
            <wsdl:output message="tns:OverlijdenResponse" />
        </wsdl:operation>   
	</wsdl:portType>
	<wsdl:binding name="BevragingBinding" type="tns:BevragingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="vraagDetailsPersoon">
			<soap:operation soapAction="vraagDetailsPersoon"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="vraagPersonenOpAdresInclusiefBetrokkenheden">
			<soap:operation soapAction="vraagPersonenOpAdresInclusiefBetrokkenheden"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="vraagKandidaatVader">
			<soap:operation soapAction="vraagKandidaatVader"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="BijhoudingBinding" type="tns:BijhoudingPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="verhuizing">
			<soap:operation soapAction="verhuizing"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="correctieAdresNL">
			<soap:operation soapAction="correctieAdresNL"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inschrijvingGeboorte">
			<soap:operation soapAction="inschrijvingGeboorte"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registreerHuwelijkEnPartnerschap">
			<soap:operation soapAction="registreerHuwelijkEnPartnerschap"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registreerOverlijden">
            <soap:operation soapAction="registreerOverlijden" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation> 
	</wsdl:binding>
	<wsdl:service name="BevragingService">
		<wsdl:port name="BevragingPort" binding="tns:BevragingBinding">
			<soap:address location="http://localhost:8080/BRP/services/bevraging"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:service name="BijhoudingService">
		<wsdl:port name="BijhoudingPort" binding="tns:BijhoudingBinding">
			<soap:address location="http://localhost:8080/BRP/services/bijhouding"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
