2016/brp 2016-02-09/test/performance/webservice-runner/src/main/resources/xsd/BRP0200/brp0200_bhgOverlijden_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 12-03-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Consolidatie gegevensmodel BRP -->
<!-- 2) Consolidatie berichtmodel BRP -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Overlijden NL -->
	<complexType name="Container_Handeling_Acties_OverlijdenInNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverlijdenInNederland">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Overlijden NL -->
	<complexType name="Actie_RegistratieOverlijdenNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_OverlijdenNederland" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_OverlijdenNederland">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsnaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Overlijden Buitenland -->
	<complexType name="Container_Handeling_Acties_OverlijdenInBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OverlijdenInBuitenland">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Overlijden Buitenland -->
	<complexType name="Actie_RegistratieOverlijdenBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_OverlijdenBuitenland" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_OverlijdenBuitenland">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:Locatieomschrijving" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="landGebiedCode" type="brp:LandGebiedCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Ongedaanmaking overlijden -->
	<complexType name="Container_Handeling_Acties_OngedaanmakingOverlijden_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OngedaanmakingOverlijden">
				<sequence>
					<element name="vervalOverlijden" type="brp:Actie_VervalOverlijdenOngedaanmaking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Overlijden Ongedaanmaking overlijden -->
	<complexType name="Actie_VervalOverlijdenOngedaanmaking_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_VervalOverlijden">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_OverlijdenOngedaanmaking" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_OverlijdenOngedaanmaking">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence/>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie overlijden -->
	<complexType name="Container_Handeling_Acties_CorrectieOverlijden_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieOverlijden">
				<sequence>
					<element name="registratieOverlijden" type="brp:Actie_RegistratieOverlijdenCorrectie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Correctie Overlijden -->
	<complexType name="Actie_RegistratieOverlijdenCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieOverlijden">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objecttype_Persoon_OverlijdenCorrectie" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Persoon_OverlijdenCorrectie">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="overlijden" type="brp:Groep_PersoonOverlijdenCorrectie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijdenCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/> 
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsnaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:Locatieomschrijving" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="landGebiedCode" type="brp:LandGebiedCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
