2016/brp 2016-02-09/test/performance/webservice-runner/src/main/resources/xsd/BRP0200/brp0200_bhgReisdocument_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 12-03-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Consolidatie gegevensset -->
<!-- 2) Consolidatie berichtmodel BRP -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_brpBijhouding_Basis.xsd"/>
	<!-- ... -->
	<!-- Container Acties Verkrijging reisdocument -->
	<complexType name="Container_Handeling_Acties_VerkrijgingReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_VerkrijgingReisdocument">
				<sequence>
					<element name="registratieReisdocument" type="brp:Actie_RegistratieReisdocumentVerkrijging_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieReisdocumentVerkrijging_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieReisdocument">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objectype_Persoon_RegistratieReisdocumentVerkrijging_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objectype_Persoon_RegistratieReisdocumentVerkrijging_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenVerkrijging_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenVerkrijging_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentVerkrijging_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentVerkrijging_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="lengteHouder" type="brp:LengteInCm" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="autoriteitVanAfgifte" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Onttrekking reisdocument -->
	<complexType name="Container_Handeling_Acties_OnttrekkingReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OnttrekkingReisdocument">
				<sequence>
					<element name="registratieReisdocument" type="brp:Actie_RegistratieReisdocumentOnttrekking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieReisdocumentOnttrekking_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieReisdocument">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objectype_Persoon_RegistratieReisdocumentOnttrekking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objectype_Persoon_RegistratieReisdocumentOnttrekking_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenOnttrekking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenOnttrekking_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentOnttrekking_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentOnttrekking_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="datumInhoudingVermissing" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="aanduidingInhoudingVermissingCode" type="brp:AanduidingInhoudingVermissingReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Signalering reisdocument -->
	<complexType name="Container_Handeling_Acties_SignaleringReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_SignaleringReisdocument">
				<sequence>
					<element name="registratieSignaleringReisdocument"	type="brp:Actie_RegistratieSignaleringReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieSignaleringReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieSignaleringReisdocument">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid"	nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objectype_Persoon_RegistratieSignaleringReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objectype_Persoon_RegistratieSignaleringReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_SignaleringVerstrekkenReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_SignaleringVerstrekkenReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<choice>
						<element name="signaleringMetBetrekkingTotVerstrekkenReisdocument"	type="brp:Indicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Indicator_SignaleringMetBetrekkingTotVerstrekkenReisdocument">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1"	maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Container Acties Correctie reisdocument -->
	<complexType name="Container_Handeling_Acties_CorrectieReisdocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_CorrectieReisdocument">
				<sequence>
					<element name="registratieReisdocument"	type="brp:Actie_RegistratieReisdocumentCorrectie_Bijhouding" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="registratieSignaleringReisdocument"	type="brp:Actie_RegistratieSignaleringReisdocument_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Actie_RegistratieReisdocumentCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieReisdocument">
				<sequence>
					<element name="datumAanvangGeldigheid" type="brp:DatumMetOnzekerheid"	nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="persoon"	type="brp:Objectype_Persoon_RegistratieReisdocumentCorrectie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Actie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objectype_Persoon_RegistratieReisdocumentCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumentenCorrectie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumentenCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocumentCorrectie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocumentCorrectie_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="lengteHouder" type="brp:LengteInCm" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="autoriteitVanAfgifte" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEindeDocument" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInhoudingVermissing" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="aanduidingInhoudingVermissingCode" type="brp:AanduidingInhoudingVermissingReisdocumentCode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="required"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
