2016/brp 2016-02-09/test/performance/webservice-runner/src/main/resources/xsd/BRP0200/brp0200_lvgSynchronisatie_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 04-06-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Toevoeging berichten 'VerwerkStamgegeven' en 'GeefSynchronisatieStamgegeven -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpLevering_Basis.xsd"/>
	<!-- -->
	<!-- Algemeen te gebruiken 'parameters' Synchronisatie -->
	<complexType name="Groep_BerichtParameters_Synchronisatie">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="soortSynchronisatie" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="abonnementNaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="categorieDienst" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="effectAfnemerindicatie" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtParameters_SynchronisatieAbonnement">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="abonnementNaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtParameters_SynchronisatieStamgegeven">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="abonnementNaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="stamgegeven" type="brp:Stamgegeven" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Algemeen te gebruiken combinaties van Zoekcriteria Synchronisatie -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_SynchronisatieBurgerservicenummer">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Details Persoon tbv leveren van mutatie- en vulberichten -->
	<complexType name="Objecttype_DetailsPersoon_Synchronisatie">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="inschrijving" type="brp:Groep_PersoonInschrijving_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="nummerverwijzing" type="brp:Groep_PersoonNummerverwijzing_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="bijhouding" type="brp:Groep_PersoonBijhouding_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="naamgebruik" type="brp:Groep_PersoonNaamgebruik_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteiten_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonVerstrekkingsbeperkingen_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="migratie" type="brp:Groep_PersoonMigratie_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="verblijfsrecht" type="brp:Groep_PersoonVerblijfsrecht_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumenten_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="uitsluitingKiesrecht" type="brp:Groep_PersoonUitsluitingKiesrecht_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="deelnameEUVerkiezingen" type="brp:Groep_PersoonDeelnameEUVerkiezingen_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="persoonskaart" type="brp:Groep_PersoonPersoonskaart_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="verificaties" type="brp:Container_PersoonVerificaties_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="optional"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Resultaat Geef synchroniciteitgegevens persoon -->
	<complexType name="Container_BerichtPersonen_GeefSynchroniciteitgegevensPersoon_Resultaat">
		<complexContent>
			<restriction base="brp:Container_BerichtPersonen">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_PersoonGeefSynchroniciteitgegevensPersoon_Resultaat" nillable="false" minOccurs="1" maxOccurs="10"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeefSynchroniciteitgegevensPersoon_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaamZoekPersoon_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bijhouding" type="brp:Groep_PersoonBijhouding_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
</schema>
