2016/brp 2016-02-09/test/performance/webservice-runner/src/main/resources/xsd/BRP0200/brp0200_bhgBevraging_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 04-06-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Wijziging parameters 'GeefDetailsPersoon' -->
<!-- 2) Wijziging zoekcriteria vraagbericht 'GeefDetailsPersoon'; toegevoegd 'administratienummer' -->
<!-- 3) Berichtparameters toegevoegd voor ZoekPersoon (nog niet in gebruik) -->
<!-- 4) Wijziging berichtparameters Geef personen op adres (niet in gebruik)-->
<!-- 5) Ongebruikte samenstellingen Zoekcriteria verwijderd -->
<!-- 6) Correctie 'Objectype' naar 'Objecttype' doorgevoerd -->
<!-- 7) Gemeenschappelijke elementen GeefDetailsPersoon koppelvlak Bijhouidng/Levering verhuist naar 'Levering_Basis' -->
<!-- 8) Berichtparameters en Zoekcriteria 'Geef medebewoners' (opvolger van GeefPersonenOpAdres) toegevoegd -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020002">
	<include schemaLocation="brp0200_brpLevering_Basis.xsd"/>
	<!-- -->
	<!-- Berichtparameters: Zoek persoon -->
	<complexType name="Groep_BerichtParameters_BijhoudingBevragingZoekPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="peilmomentMaterieelSelectie" type="brp:Datum" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Berichtparameters: Geef details persoon -->
	<complexType name="Groep_BerichtParameters_BijhoudingBevragingGeefDetailsPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="peilmomentMaterieelResultaat" type="brp:Datum" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="peilmomentFormeelResultaat" type="brp:DatumTijd" nillable="false" minOccurs="0" maxOccurs="1" />
					<element name="historievorm" type="brp:HistorievormNaam" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Berichtparameters: Geef medebewoners -->
	<complexType name="Groep_BerichtParameters_BijhoudingBevragingGeefMedebewoners">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="peilmomentMaterieelSelectie" type="brp:Datum" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Berichtparameters: Geef personen op adres (nog definitief vast te stellen; niet in gebruik) -->
	<complexType name="Groep_BerichtParameters_BijhoudingBevragingGeefPersonenOpAdres">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="peilmomentMaterieelSelectie" type="brp:Datum" nillable="false" minOccurs="1" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Zoekcriteria Persoon: Zoek persoon -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_BijhoudingBevragingZoekPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<!-- Via bedrijfsregels worden juiste combinaties gecontroleerd -->
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamstam" type="brp:Geslachtsnaamstam" nillable="false" minOccurs="0" maxOccurs="1"/>	
					<element name="geboortedatum" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Zoekcriteria: Geef details persoon -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_BijhoudingBevragingGeefDetailsPersoon">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="objectSleutel" type="brp:Sleutelwaardetekst" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Zoekcriteria: Bepaal kandidaat vader -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_BijhoudingBevragingBepaalKandidaatVader">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboortedatumKind" type="brp:DatumMetOnzekerheid" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Zoekcriteria: GeefMedebewoners -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_BijhoudingBevragingGeefMedebewoners">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:Administratienummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="afgekorteNaamOpenbareRuimte" type="brp:AfgekorteNaamOpenbareRuimte" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="identificatiecodeNummeraanduiding" type="brp:IdentificatiecodeNummeraanduiding" nillable="false" minOccurs="0" maxOccurs="1" />
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Zoekcriteria: PersonenOpAdres -->
	<complexType name="Groep_BerichtZoekcriteriaPersoon_BijhoudingBevragingPersonenOpAdresMetBetrokkenheden">
		<complexContent>
			<restriction base="brp:Groep_BerichtZoekcriteriaPersoon">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="prohibited"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Resultaat Bepaal Kandidaat Vader -->
	<complexType name="Container_BerichtPersonen_BepaalKandidaatVader_BijhoudingBevragingResultaat">
		<complexContent>
			<restriction base="brp:Container_BerichtPersonen">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_PersoonBepaalKandidaatVader_BijhoudingBevragingResultaat" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- ReferentiePersoon Kandidaat Vader; kan ook een niet ingeschreven persoon zijn; vandaar dat een aantal groepen/containers optioneel is  -->
	<complexType name="Objecttype_PersoonBepaalKandidaatVader_BijhoudingBevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressenActueelAdres_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesSignalering_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonVerstrekkingsbeperkingen_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Resultaat bevraging PersoonOpAdresMetBetrokkenheden (wordt vervangen door GeefMedebewoners) -->
	<complexType name="Container_BerichtPersonen_PersoonOpAdresMetBetrokkenheden_Resultaat">
		<complexContent>
			<restriction base="brp:Container_BerichtPersonen">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_Persoon_GeefPersoonOpAdresMetBetrokkenheden_Resultaat" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon op Adres met Betrokkenheden; ten behoeve van InformatieVragen -->
	<complexType name="Objecttype_Persoon_GeefPersoonOpAdresMetBetrokkenheden_Resultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressenActueelAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicatiesSignalering_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="verstrekkingsbeperkingen" type="brp:Container_PersoonVerstrekkingsbeperkingen_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_PersoonOpAdres_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Ten behoeve van InformatieVraag 'PersonenOpAdresMetBetrokkenheden; van Betrokkene alleen Identificatienummers. -->
	<!-- Overige identificerende informatie komt in antwoordbericht terug; immers voor deze specifieke informatievraag is betrokkene -->
	<!-- ook op dit adres ingeschreven. Indien meer informatie is gewenst, dan doorvragen DetailsPersoon op basis van BSN. -->
	<complexType name="Container_PersoonBetrokkenheden_PersoonOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Kind_PersoonOpAdres_Levering" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="ouder" type="brp:Objecttype_Ouder_PersoonOpAdres_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
					<element name="partner" type="brp:Objecttype_Partner_PersoonOpAdres_Levering" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - KindVan - Familierechtelijke betrekking - OuderVan - Persoon -->
	<complexType name="Objecttype_Kind_PersoonOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_OuderOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_OuderOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_OuderOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_OuderOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_OuderOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_OuderOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="persoon" type="brp:Objecttype_PersoonBetrokkeneOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - OuderVan - Familierechtelijke betrekking - KindVan - Persoon -->
	<complexType name="Objecttype_Ouder_PersoonOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_KindOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_KindOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_KindOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_KindOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Ouder_KindOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_KindOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_PersoonBetrokkeneOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - PartnerVan - Huwelijk/GeregistreerdPrtnerscahp - PartnerVan - Persoon -->
	<complexType name="Objecttype_Partner_PersoonOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice minOccurs="1" maxOccurs="1">
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap_PersoonOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk_PartnerOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Huwelijk_PartnerOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_PartnerOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschap_PersoonOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_PartnerOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Relatie"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_PartnerOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_Partner_PartnerOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner_PartnerOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objecttype_PersoonBetrokkeneOpAdres_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Betrokkene van Persoon in antwoord 'GeefPersonenOpAdres'; actuele groep Identificatienummers -->
	<complexType name="Objecttype_PersoonBetrokkeneOpAdres_Levering">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_Levering" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="Persoon"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="optional"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Einde uitwerking Betrokkenheden medebewoners-->
</schema>
