2016/brp 2016-02-09/test/performance/webservice-runner/src/main/resources/xsd/BRP0200/brp0200_bhgVerblijfAdres_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 12-03-2014 -->
<!-- ... -->
<!-- Wijzigingen: -->
<!-- 1) Consolidatie gegevensmodel BRP -->
<!-- 2) Consolidatie berichtmodel BRP -->
<!-- ... -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020001">
	<include schemaLocation="brp0200_bhgVerblijfAdres_Basis.xsd"/>
	<!-- ... -->
	<element name="bhg_vbaRegistreerVerhuizing" type="brp:Migratie_RegistreerVerhuizing_Bijhouding"/>
	<element name="bhg_vbaRegistreerVerhuizing_R" type="brp:Migratie_RegistreerVerhuizing_BijhoudingResultaat"/>
	<element name="bhg_vbaActualiseerVerblijf" type="brp:Migratie_ActualiseerVerblijf_Bijhouding"/>
	<element name="bhg_vbaActualiseerVerblijf_R" type="brp:Migratie_ActualiseerVerblijf_BijhoudingResultaat"/>
	<element name="bhg_vbaCorrigeerAdres" type="brp:Migratie_CorrigeerAdres_Bijhouding"/>
	<element name="bhg_vbaCorrigeerAdres_R" type="brp:Migratie_CorrigeerAdres_BijhoudingResultaat"/>
	<!-- -->
	<!-- Bericht Registreer Verhuizing -->
	<complexType name="Migratie_RegistreerVerhuizing_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="verhuizingBinnengemeentelijk" type="brp:Handeling_VerhuizingBinnengemeentelijk_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingIntergemeentelijk" type="brp:Handeling_VerhuizingIntergemeentelijk_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingNaarBuitenland" type="brp:Handeling_VerhuizingNaarBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Verhuizing Binnengemeentelijk -->
	<complexType name="Handeling_VerhuizingBinnengemeentelijk_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingBinnengemeentelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingBinnengemeentelijk_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Verhuizing Intergemeentelijk -->
	<complexType name="Handeling_VerhuizingIntergemeentelijk_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingIntergemeentelijk">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingIntergemeentelijk_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Verhuizing naar buitenland -->
	<complexType name="Handeling_VerhuizingNaarBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_VerhuizingNaarBuitenland">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_VerhuizingNaarBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Bericht Actualiseer verblijf -->
	<complexType name="Migratie_ActualiseerVerblijf_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="wijzigingBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Registratie bijzondere verblijfsrechtelijke positie -->
	<complexType name="Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_WijzigingBijzondereVerblijfsrechtelijkePositie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Bericht Corrigeer adres -->
	<complexType name="Migratie_CorrigeerAdres_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonVerzoek" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="correctieAdres" type="brp:Handeling_CorrectieAdres_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Correctie adres -->
	<complexType name="Handeling_CorrectieAdres_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieAdres">
				<sequence>
					<element name="partijCode" type="brp:PartijCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_AdministratieveHandelingBronnen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_CorrectieAdres_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="brp:objecttype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:verwerkingssoort" use="prohibited"/>
				<attribute ref="brp:objectSleutel" use="prohibited"/>
				<attribute ref="brp:voorkomenSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat Registreer verhuizing -->
	<complexType name="Migratie_RegistreerVerhuizing_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="verhuizingBinnengemeentelijk" type="brp:Handeling_VerhuizingBinnengemeentelijk_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingIntergemeentelijk" type="brp:Handeling_VerhuizingIntergemeentelijk_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="verhuizingNaarBuitenland" type="brp:Handeling_VerhuizingNaarBuitenland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat Corrigeer adres  -->
	<complexType name="Migratie_CorrigeerAdres_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="correctieAdres" type="brp:Handeling_CorrectieAdres_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat Actualiseer verblijf -->
	<complexType name="Migratie_ActualiseerVerblijf_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="brp:Stuurgegevens_SynchroonResultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="false" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="wijzigingBijzondereVerblijfsrechtelijkePositie" type="brp:Handeling_WijzigingBijzondereVerblijfsrechtelijkePositie_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
