2013/migratie 2013-02-13/migr-sync-dal/src/main/resources/schema/brp_kern.dtd

<!ELEMENT dataset (
    autaut.authenticatiemiddel*,
    autaut.autorisatiebesluit*,
    autaut.bijhautorisatie*,
    autaut.bijhsituatie*,
    autaut.certificaat*,
    autaut.doelbinding*,
    autaut.doelbindinggegevenselement*,
    autaut.functie*,
    autaut.his_authenticatiemiddel*,
    autaut.his_autorisatiebesluit*,
    autaut.his_autorisatiebesluitbijhau*,
    autaut.his_bijhautorisatie*,
    autaut.his_bijhsituatie*,
    autaut.his_doelbinding*,
    autaut.his_uitgeslotene*,
    autaut.protocolleringsniveau*,
    autaut.srtautorisatiebesluit*,
    autaut.srtbevoegdheid*,
    autaut.toestand*,
    autaut.uitgeslotene*,
    ber.ber*,
    ber.beractie*,
    ber.berbijgehoudenpers*,
    ber.bermelding*,
    ber.beroverrule*,
    ber.bijhresultaat*,
    ber.melding*,
    ber.overrule*,
    ber.richting*,
    ber.srtber*,
    ber.srtmelding*,
    ber.verwerkingsresultaat*,
    brm.his_regelsituatie*,
    brm.regeleffect*,
    brm.regelsituatie*,
    brm.regelsrtber*,
    brm.srtregel*,
    kern.aangadresh*,
    kern.actie*,
    kern.adellijketitel*,
    kern.autvanafgiftereisdoc*,
    kern.betr*,
    kern.bron*,
    kern.categoriepersonen*,
    kern.categoriesrtactie*,
    kern.categoriesrtdoc*,
    kern.dbobject*,
    kern.doc*,
    kern.element*,
    kern.functieadres*,
    kern.gegeveninonderzoek*,
    kern.geslachtsaand*,
    kern.his_betrouderlijkgezag*,
    kern.his_betrouderschap*,
    kern.his_doc*,
    kern.his_multirealiteitregel*,
    kern.his_onderzoek*,
    kern.his_partij*,
    kern.his_partijgem*,
    kern.his_persaanschr*,
    kern.his_persadres*,
    kern.his_persbijhgem*,
    kern.his_persbijhverantwoordelijk*,
    kern.his_perseuverkiezingen*,
    kern.his_persgeboorte*,
    kern.his_persgeslachtsaand*,
    kern.his_persgeslnaamcomp*,
    kern.his_persids*,
    kern.his_persimmigratie*,
    kern.his_persindicatie*,
    kern.his_persinschr*,
    kern.his_persnation*,
    kern.his_persopschorting*,
    kern.his_persoverlijden*,
    kern.his_perspk*,
    kern.his_persreisdoc*,
    kern.his_perssamengesteldenaam*,
    kern.his_persuitslnlkiesr*,
    kern.his_persverblijfsr*,
    kern.his_persverificatie*,
    kern.his_persvoornaam*,
    kern.his_relatie*,
    kern.land*,
    kern.multirealiteitregel*,
    kern.nation*,
    kern.onderzoek*,
    kern.partij*,
    kern.partijrol*,
    kern.pers*,
    kern.persadres*,
    kern.persgeslnaamcomp*,
    kern.persindicatie*,
    kern.persnation*,
    kern.personderzoek*,
    kern.persreisdoc*,
    kern.persverificatie*,
    kern.persvoornaam*,
    kern.plaats*,
    kern.predikaat*,
    kern.rdnbeeindrelatie*,
    kern.rdnopschorting*,
    kern.rdnverknlnation*,
    kern.rdnverliesnlnation*,
    kern.rdnvervallenreisdoc*,
    kern.rdnwijzadres*,
    kern.regel*,
    kern.regelverantwoording*,
    kern.relatie*,
    kern.rol*,
    kern.sector*,
    kern.srtactie*,
    kern.srtbetr*,
    kern.srtdbobject*,
    kern.srtdoc*,
    kern.srtelement*,
    kern.srtindicatie*,
    kern.srtmultirealiteitregel*,
    kern.srtnlreisdoc*,
    kern.srtpartij*,
    kern.srtpers*,
    kern.srtrelatie*,
    kern.srtverificatie*,
    kern.verantwoordelijke*,
    kern.verblijfsr*,
    kern.verdrag*,
    kern.wijzegebruikgeslnaam*,
    lev.abonnement*,
    lev.abonnementgegevenselement*,
    lev.abonnementsrtber*,
    lev.his_abonnement*,
    lev.his_abonnementsrtber*,
    lev.lev*,
    lev.levcommunicatie*,
    lev.levpers*,
    lev.srtabonnement*,
    lev.srtlev*)>

<!ELEMENT autaut.authenticatiemiddel EMPTY>
<!ATTLIST autaut.authenticatiemiddel
    id CDATA #REQUIRED
    partij CDATA #REQUIRED
    rol CDATA #IMPLIED
    functie CDATA #IMPLIED
    certificaattbvssl CDATA #IMPLIED
    certificaattbvondertekening CDATA #IMPLIED
    authenticatiemiddelstatushis CDATA #REQUIRED
>

<!ELEMENT autaut.autorisatiebesluit EMPTY>
<!ATTLIST autaut.autorisatiebesluit
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    besluittekst CDATA #REQUIRED
    autoriseerder CDATA #REQUIRED
    indmodelbesluit CDATA #REQUIRED
    gebaseerdop CDATA #IMPLIED
    indingetrokken CDATA #IMPLIED
    datbesluit CDATA #IMPLIED
    datingang CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    autorisatiebesluitstatushis CDATA #REQUIRED
    toestand CDATA #IMPLIED
    bijhautorisatiebesluitstatus CDATA #REQUIRED
>

<!ELEMENT autaut.bijhautorisatie EMPTY>
<!ATTLIST autaut.bijhautorisatie
    id CDATA #REQUIRED
    bijhautorisatiebesluit CDATA #REQUIRED
    srtbevoegdheid CDATA #IMPLIED
    geautoriseerdesrtpartij CDATA #IMPLIED
    geautoriseerdepartij CDATA #IMPLIED
    toestand CDATA #IMPLIED
    categoriepersonen CDATA #IMPLIED
    oms CDATA #IMPLIED
    datingang CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    bijhautorisatiestatushis CDATA #REQUIRED
>

<!ELEMENT autaut.bijhsituatie EMPTY>
<!ATTLIST autaut.bijhsituatie
    id CDATA #REQUIRED
    bijhautorisatie CDATA #REQUIRED
    categoriesrtactie CDATA #IMPLIED
    srtactie CDATA #IMPLIED
    categoriesrtdoc CDATA #IMPLIED
    srtdoc CDATA #IMPLIED
    bijhsituatiestatushis CDATA #REQUIRED
>

<!ELEMENT autaut.certificaat EMPTY>
<!ATTLIST autaut.certificaat
    id CDATA #REQUIRED
    subject CDATA #REQUIRED
    serial CDATA #REQUIRED
    signature CDATA #REQUIRED
>

<!ELEMENT autaut.doelbinding EMPTY>
<!ATTLIST autaut.doelbinding
    id CDATA #REQUIRED
    levsautorisatiebesluit CDATA #REQUIRED
    geautoriseerde CDATA #REQUIRED
    protocolleringsniveau CDATA #IMPLIED
    tekstdoelbinding CDATA #IMPLIED
    populatiecriterium CDATA #IMPLIED
    indverstrbeperkinghonoreren CDATA #IMPLIED
    doelbindingstatushis CDATA #REQUIRED
>

<!ELEMENT autaut.doelbindinggegevenselement EMPTY>
<!ATTLIST autaut.doelbindinggegevenselement
    id CDATA #REQUIRED
    doelbinding CDATA #REQUIRED
    gegevenselement CDATA #REQUIRED
>

<!ELEMENT autaut.functie EMPTY>
<!ATTLIST autaut.functie
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT autaut.his_authenticatiemiddel EMPTY>
<!ATTLIST autaut.his_authenticatiemiddel
    id CDATA #REQUIRED
    authenticatiemiddel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    functie CDATA #IMPLIED
    certificaattbvssl CDATA #REQUIRED
    certificaattbvondertekening CDATA #REQUIRED
>

<!ELEMENT autaut.his_autorisatiebesluit EMPTY>
<!ATTLIST autaut.his_autorisatiebesluit
    id CDATA #REQUIRED
    autorisatiebesluit CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    indingetrokken CDATA #REQUIRED
    datbesluit CDATA #REQUIRED
    datingang CDATA #REQUIRED
    dateinde CDATA #IMPLIED
>

<!ELEMENT autaut.his_autorisatiebesluitbijhau EMPTY>
<!ATTLIST autaut.his_autorisatiebesluitbijhau
    id CDATA #REQUIRED
    autorisatiebesluit CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    toestand CDATA #REQUIRED
>

<!ELEMENT autaut.his_bijhautorisatie EMPTY>
<!ATTLIST autaut.his_bijhautorisatie
    id CDATA #REQUIRED
    bijhautorisatie CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    srtbevoegdheid CDATA #REQUIRED
    geautoriseerdesrtpartij CDATA #IMPLIED
    geautoriseerdepartij CDATA #IMPLIED
    toestand CDATA #REQUIRED
    categoriepersonen CDATA #REQUIRED
    oms CDATA #REQUIRED
    datingang CDATA #REQUIRED
    dateinde CDATA #REQUIRED
>

<!ELEMENT autaut.his_bijhsituatie EMPTY>
<!ATTLIST autaut.his_bijhsituatie
    id CDATA #REQUIRED
    bijhsituatie CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
>

<!ELEMENT autaut.his_doelbinding EMPTY>
<!ATTLIST autaut.his_doelbinding
    id CDATA #REQUIRED
    doelbinding CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    protocolleringsniveau CDATA #REQUIRED
    tekstdoelbinding CDATA #REQUIRED
    populatiecriterium CDATA #REQUIRED
    indverstrbeperkinghonoreren CDATA #REQUIRED
>

<!ELEMENT autaut.his_uitgeslotene EMPTY>
<!ATTLIST autaut.his_uitgeslotene
    id CDATA #REQUIRED
    uitgeslotene CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
>

<!ELEMENT autaut.protocolleringsniveau EMPTY>
<!ATTLIST autaut.protocolleringsniveau
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT autaut.srtautorisatiebesluit EMPTY>
<!ATTLIST autaut.srtautorisatiebesluit
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT autaut.srtbevoegdheid EMPTY>
<!ATTLIST autaut.srtbevoegdheid
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT autaut.toestand EMPTY>
<!ATTLIST autaut.toestand
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT autaut.uitgeslotene EMPTY>
<!ATTLIST autaut.uitgeslotene
    id CDATA #REQUIRED
    bijhautorisatie CDATA #REQUIRED
    uitgeslotenpartij CDATA #REQUIRED
    uitgeslotenestatushis CDATA #REQUIRED
>

<!ELEMENT ber.ber EMPTY>
<!ATTLIST ber.ber
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    data CDATA #REQUIRED
    tsontv CDATA #IMPLIED
    tsverzenden CDATA #IMPLIED
    antwoordop CDATA #IMPLIED
    richting CDATA #REQUIRED
    organisatie CDATA #IMPLIED
    applicatie CDATA #IMPLIED
    referentienr CDATA #IMPLIED
    crossreferentienr CDATA #IMPLIED
    indprevalidatie CDATA #IMPLIED
    verwerking CDATA #IMPLIED
    bijhouding CDATA #IMPLIED
    hoogstemeldingsniveau CDATA #IMPLIED
    tijdstipreg CDATA #IMPLIED
    peilmommaterieel CDATA #IMPLIED
    peilmomformeel CDATA #IMPLIED
    aanschouwer CDATA #IMPLIED
>

<!ELEMENT ber.beractie EMPTY>
<!ATTLIST ber.beractie
    id CDATA #REQUIRED
    ber CDATA #REQUIRED
    actie CDATA #REQUIRED
    srt CDATA #IMPLIED
>

<!ELEMENT ber.berbijgehoudenpers EMPTY>
<!ATTLIST ber.berbijgehoudenpers
    id CDATA #REQUIRED
    ber CDATA #REQUIRED
    pers CDATA #REQUIRED
>

<!ELEMENT ber.bermelding EMPTY>
<!ATTLIST ber.bermelding
    id CDATA #REQUIRED
    ber CDATA #REQUIRED
    melding CDATA #REQUIRED
>

<!ELEMENT ber.beroverrule EMPTY>
<!ATTLIST ber.beroverrule
    id CDATA #REQUIRED
    ber CDATA #REQUIRED
    overrule CDATA #REQUIRED
>

<!ELEMENT ber.bijhresultaat EMPTY>
<!ATTLIST ber.bijhresultaat
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT ber.melding EMPTY>
<!ATTLIST ber.melding
    id CDATA #REQUIRED
    regel CDATA #REQUIRED
    srt CDATA #REQUIRED
    melding CDATA #REQUIRED
    attribuut CDATA #IMPLIED
>

<!ELEMENT ber.overrule EMPTY>
<!ATTLIST ber.overrule
    id CDATA #REQUIRED
    regel CDATA #REQUIRED
    melding CDATA #IMPLIED
    attribuut CDATA #IMPLIED
>

<!ELEMENT ber.richting EMPTY>
<!ATTLIST ber.richting
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
>

<!ELEMENT ber.srtber EMPTY>
<!ATTLIST ber.srtber
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT ber.srtmelding EMPTY>
<!ATTLIST ber.srtmelding
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT ber.verwerkingsresultaat EMPTY>
<!ATTLIST ber.verwerkingsresultaat
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT brm.his_regelsituatie EMPTY>
<!ATTLIST brm.his_regelsituatie
    id CDATA #REQUIRED
    regelsituatie CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    bijhverantwoordelijkheid CDATA #IMPLIED
    indopgeschort CDATA #IMPLIED
    rdnopschorting CDATA #IMPLIED
    effect CDATA #REQUIRED
    indactief CDATA #REQUIRED
>

<!ELEMENT brm.regeleffect EMPTY>
<!ATTLIST brm.regeleffect
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT brm.regelsituatie EMPTY>
<!ATTLIST brm.regelsituatie
    id CDATA #REQUIRED
    regelimplementatie CDATA #REQUIRED
    bijhverantwoordelijkheid CDATA #IMPLIED
    indopgeschort CDATA #IMPLIED
    rdnopschorting CDATA #IMPLIED
    effect CDATA #IMPLIED
    indactief CDATA #IMPLIED
    regelsituatiestatushis CDATA #REQUIRED
>

<!ELEMENT brm.regelsrtber EMPTY>
<!ATTLIST brm.regelsrtber
    id CDATA #REQUIRED
    regel CDATA #REQUIRED
    srtber CDATA #REQUIRED
>

<!ELEMENT brm.srtregel EMPTY>
<!ATTLIST brm.srtregel
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.aangadresh EMPTY>
<!ATTLIST kern.aangadresh
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
>

<!ELEMENT kern.actie EMPTY>
<!ATTLIST kern.actie
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    partij CDATA #REQUIRED
    verdrag CDATA #IMPLIED
    tijdstipontlening CDATA #IMPLIED
    tijdstipreg CDATA #REQUIRED
    toelichtingontlening CDATA #IMPLIED
>

<!ELEMENT kern.adellijketitel EMPTY>
<!ATTLIST kern.adellijketitel
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naammannelijk CDATA #REQUIRED
    naamvrouwelijk CDATA #REQUIRED
>

<!ELEMENT kern.autvanafgiftereisdoc EMPTY>
<!ATTLIST kern.autvanafgiftereisdoc
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.betr EMPTY>
<!ATTLIST kern.betr
    id CDATA #REQUIRED
    relatie CDATA #REQUIRED
    rol CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanv CDATA #IMPLIED
    indouder CDATA #IMPLIED
    indadresgevend CDATA #IMPLIED
    ouderschapstatushis CDATA #REQUIRED
    indouderheeftgezag CDATA #IMPLIED
    ouderlijkgezagstatushis CDATA #REQUIRED
>

<!ELEMENT kern.bron EMPTY>
<!ATTLIST kern.bron
    id CDATA #REQUIRED
    actie CDATA #REQUIRED
    doc CDATA #REQUIRED
>

<!ELEMENT kern.categoriepersonen EMPTY>
<!ATTLIST kern.categoriepersonen
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
>

<!ELEMENT kern.categoriesrtactie EMPTY>
<!ATTLIST kern.categoriesrtactie
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.categoriesrtdoc EMPTY>
<!ATTLIST kern.categoriesrtdoc
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.dbobject EMPTY>
<!ATTLIST kern.dbobject
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    srt CDATA #REQUIRED
    ouder CDATA #IMPLIED
    javaidentifier CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.doc EMPTY>
<!ATTLIST kern.doc
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    ident CDATA #IMPLIED
    aktenr CDATA #IMPLIED
    oms CDATA #IMPLIED
    partij CDATA #IMPLIED
    docstatushis CDATA #REQUIRED
>

<!ELEMENT kern.element EMPTY>
<!ATTLIST kern.element
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    srt CDATA #REQUIRED
    ouder CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.functieadres EMPTY>
<!ATTLIST kern.functieadres
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.gegeveninonderzoek EMPTY>
<!ATTLIST kern.gegeveninonderzoek
    id CDATA #REQUIRED
    onderzoek CDATA #REQUIRED
    srtgegeven CDATA #REQUIRED
    ident CDATA #REQUIRED
>

<!ELEMENT kern.geslachtsaand EMPTY>
<!ATTLIST kern.geslachtsaand
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #IMPLIED
>

<!ELEMENT kern.his_betrouderlijkgezag EMPTY>
<!ATTLIST kern.his_betrouderlijkgezag
    id CDATA #REQUIRED
    betr CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    indouderheeftgezag CDATA #REQUIRED
>

<!ELEMENT kern.his_betrouderschap EMPTY>
<!ATTLIST kern.his_betrouderschap
    id CDATA #REQUIRED
    betr CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    dataanv CDATA #IMPLIED
    indouder CDATA #REQUIRED
    indadresgevend CDATA #IMPLIED
>

<!ELEMENT kern.his_doc EMPTY>
<!ATTLIST kern.his_doc
    id CDATA #REQUIRED
    doc CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    ident CDATA #IMPLIED
    aktenr CDATA #IMPLIED
    oms CDATA #IMPLIED
    partij CDATA #REQUIRED
>

<!ELEMENT kern.his_multirealiteitregel EMPTY>
<!ATTLIST kern.his_multirealiteitregel
    id CDATA #REQUIRED
    multirealiteitregel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
>

<!ELEMENT kern.his_onderzoek EMPTY>
<!ATTLIST kern.his_onderzoek
    id CDATA #REQUIRED
    onderzoek CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    datbegin CDATA #REQUIRED
    dateinde CDATA #IMPLIED
    oms CDATA #IMPLIED
>

<!ELEMENT kern.his_partij EMPTY>
<!ATTLIST kern.his_partij
    id CDATA #REQUIRED
    partij CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    dataanv CDATA #REQUIRED
    sector CDATA #IMPLIED
>

<!ELEMENT kern.his_partijgem EMPTY>
<!ATTLIST kern.his_partijgem
    id CDATA #REQUIRED
    partij CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    voortzettendegem CDATA #IMPLIED
    onderdeelvan CDATA #IMPLIED
>

<!ELEMENT kern.his_persaanschr EMPTY>
<!ATTLIST kern.his_persaanschr
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    gebrgeslnaamegp CDATA #IMPLIED
    indaanschrmetadellijketitels CDATA #IMPLIED
    indaanschralgoritmischafgele CDATA #REQUIRED
    predikaataanschr CDATA #IMPLIED
    voornamenaanschr CDATA #IMPLIED
    voorvoegselaanschr CDATA #IMPLIED
    scheidingstekenaanschr CDATA #IMPLIED
    adellijketitelaanschr CDATA #IMPLIED
    geslnaamaanschr CDATA #REQUIRED
>

<!ELEMENT kern.his_persadres EMPTY>
<!ATTLIST kern.his_persadres
    id CDATA #REQUIRED
    persadres CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    srt CDATA #IMPLIED
    rdnwijz CDATA #IMPLIED
    aangadresh CDATA #IMPLIED
    dataanvadresh CDATA #IMPLIED
    adresseerbaarobject CDATA #IMPLIED
    identcodenraand CDATA #IMPLIED
    gem CDATA #IMPLIED
    nor CDATA #IMPLIED
    afgekortenor CDATA #IMPLIED
    gemdeel CDATA #IMPLIED
    huisnr CDATA #IMPLIED
    huisletter CDATA #IMPLIED
    huisnrtoevoeging CDATA #IMPLIED
    postcode CDATA #IMPLIED
    wpl CDATA #IMPLIED
    loctovadres CDATA #IMPLIED
    locoms CDATA #IMPLIED
    bladresregel1 CDATA #IMPLIED
    bladresregel2 CDATA #IMPLIED
    bladresregel3 CDATA #IMPLIED
    bladresregel4 CDATA #IMPLIED
    bladresregel5 CDATA #IMPLIED
    bladresregel6 CDATA #IMPLIED
    land CDATA #REQUIRED
    datvertrekuitnederland CDATA #IMPLIED
>

<!ELEMENT kern.his_persbijhgem EMPTY>
<!ATTLIST kern.his_persbijhgem
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    bijhgem CDATA #REQUIRED
    datinschringem CDATA #REQUIRED
    indonverwdocaanw CDATA #REQUIRED
>

<!ELEMENT kern.his_persbijhverantwoordelijk EMPTY>
<!ATTLIST kern.his_persbijhverantwoordelijk
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    verantwoordelijke CDATA #REQUIRED
>

<!ELEMENT kern.his_perseuverkiezingen EMPTY>
<!ATTLIST kern.his_perseuverkiezingen
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    inddeelneuverkiezingen CDATA #REQUIRED
    dataanlaanpdeelneuverkiezing CDATA #IMPLIED
    dateindeuitsleukiesr CDATA #IMPLIED
>

<!ELEMENT kern.his_persgeboorte EMPTY>
<!ATTLIST kern.his_persgeboorte
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    datgeboorte CDATA #REQUIRED
    gemgeboorte CDATA #IMPLIED
    wplgeboorte CDATA #IMPLIED
    blgeboorteplaats CDATA #IMPLIED
    blregiogeboorte CDATA #IMPLIED
    landgeboorte CDATA #REQUIRED
    omsgeboorteloc CDATA #IMPLIED
>

<!ELEMENT kern.his_persgeslachtsaand EMPTY>
<!ATTLIST kern.his_persgeslachtsaand
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    geslachtsaand CDATA #REQUIRED
>

<!ELEMENT kern.his_persgeslnaamcomp EMPTY>
<!ATTLIST kern.his_persgeslnaamcomp
    id CDATA #REQUIRED
    persgeslnaamcomp CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    voorvoegsel CDATA #IMPLIED
    scheidingsteken CDATA #IMPLIED
    naam CDATA #REQUIRED
    predikaat CDATA #IMPLIED
    adellijketitel CDATA #IMPLIED
>

<!ELEMENT kern.his_persids EMPTY>
<!ATTLIST kern.his_persids
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    bsn CDATA #IMPLIED
    anr CDATA #IMPLIED
>

<!ELEMENT kern.his_persimmigratie EMPTY>
<!ATTLIST kern.his_persimmigratie
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    landvanwaargevestigd CDATA #IMPLIED
    datvestiginginnederland CDATA #REQUIRED
>

<!ELEMENT kern.his_persindicatie EMPTY>
<!ATTLIST kern.his_persindicatie
    id CDATA #REQUIRED
    persindicatie CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    waarde CDATA #REQUIRED
>

<!ELEMENT kern.his_persinschr EMPTY>
<!ATTLIST kern.his_persinschr
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    datinschr CDATA #REQUIRED
    versienr CDATA #REQUIRED
    vorigepers CDATA #IMPLIED
    volgendepers CDATA #IMPLIED
>

<!ELEMENT kern.his_persnation EMPTY>
<!ATTLIST kern.his_persnation
    id CDATA #REQUIRED
    persnation CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    rdnverlies CDATA #IMPLIED
    rdnverk CDATA #IMPLIED
>

<!ELEMENT kern.his_persopschorting EMPTY>
<!ATTLIST kern.his_persopschorting
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    rdnopschortingbijhouding CDATA #REQUIRED
>

<!ELEMENT kern.his_persoverlijden EMPTY>
<!ATTLIST kern.his_persoverlijden
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    datoverlijden CDATA #REQUIRED
    gemoverlijden CDATA #IMPLIED
    wploverlijden CDATA #IMPLIED
    blplaatsoverlijden CDATA #IMPLIED
    blregiooverlijden CDATA #IMPLIED
    landoverlijden CDATA #REQUIRED
    omslocoverlijden CDATA #IMPLIED
>

<!ELEMENT kern.his_perspk EMPTY>
<!ATTLIST kern.his_perspk
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    gempk CDATA #IMPLIED
    indpkvollediggeconv CDATA #REQUIRED
>

<!ELEMENT kern.his_persreisdoc EMPTY>
<!ATTLIST kern.his_persreisdoc
    id CDATA #REQUIRED
    persreisdoc CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    nr CDATA #REQUIRED
    autvanafgifte CDATA #REQUIRED
    datingangdoc CDATA #REQUIRED
    datuitgifte CDATA #REQUIRED
    datvoorzeeindegel CDATA #REQUIRED
    datinhingvermissing CDATA #IMPLIED
    rdnvervallen CDATA #IMPLIED
    lengtehouder CDATA #IMPLIED
>

<!ELEMENT kern.his_perssamengesteldenaam EMPTY>
<!ATTLIST kern.his_perssamengesteldenaam
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    predikaat CDATA #IMPLIED
    voornamen CDATA #IMPLIED
    voorvoegsel CDATA #IMPLIED
    scheidingsteken CDATA #IMPLIED
    adellijketitel CDATA #IMPLIED
    geslnaam CDATA #REQUIRED
    indnreeksalsgeslnaam CDATA #REQUIRED
    indalgoritmischafgeleid CDATA #REQUIRED
>

<!ELEMENT kern.his_persuitslnlkiesr EMPTY>
<!ATTLIST kern.his_persuitslnlkiesr
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    induitslnlkiesr CDATA #REQUIRED
    dateindeuitslnlkiesr CDATA #IMPLIED
>

<!ELEMENT kern.his_persverblijfsr EMPTY>
<!ATTLIST kern.his_persverblijfsr
    id CDATA #REQUIRED
    pers CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    verblijfsr CDATA #REQUIRED
    dataanvverblijfsr CDATA #REQUIRED
    datvoorzeindeverblijfsr CDATA #IMPLIED
    dataanvaaneenslverblijfsr CDATA #IMPLIED
>

<!ELEMENT kern.his_persverificatie EMPTY>
<!ATTLIST kern.his_persverificatie
    id CDATA #REQUIRED
    persverificatie CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    dat CDATA #REQUIRED
>

<!ELEMENT kern.his_persvoornaam EMPTY>
<!ATTLIST kern.his_persvoornaam
    id CDATA #REQUIRED
    persvoornaam CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    actieaanpgel CDATA #IMPLIED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.his_relatie EMPTY>
<!ATTLIST kern.his_relatie
    id CDATA #REQUIRED
    relatie CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    dataanv CDATA #REQUIRED
    gemaanv CDATA #IMPLIED
    wplaanv CDATA #IMPLIED
    blplaatsaanv CDATA #IMPLIED
    blregioaanv CDATA #IMPLIED
    landaanv CDATA #REQUIRED
    omslocaanv CDATA #IMPLIED
    rdneinde CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    gemeinde CDATA #IMPLIED
    wpleinde CDATA #IMPLIED
    blplaatseinde CDATA #IMPLIED
    blregioeinde CDATA #IMPLIED
    landeinde CDATA #IMPLIED
    omsloceinde CDATA #IMPLIED
>

<!ELEMENT kern.land EMPTY>
<!ATTLIST kern.land
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    iso31661alpha2 CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.multirealiteitregel EMPTY>
<!ATTLIST kern.multirealiteitregel
    id CDATA #REQUIRED
    geldigvoor CDATA #REQUIRED
    srt CDATA #REQUIRED
    pers CDATA #IMPLIED
    multirealiteitpers CDATA #IMPLIED
    relatie CDATA #IMPLIED
    betr CDATA #IMPLIED
    multirealiteitregelstatushis CDATA #REQUIRED
>

<!ELEMENT kern.nation EMPTY>
<!ATTLIST kern.nation
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    nationcode CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.onderzoek EMPTY>
<!ATTLIST kern.onderzoek
    id CDATA #REQUIRED
    datbegin CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    oms CDATA #IMPLIED
    onderzoekstatushis CDATA #REQUIRED
>

<!ELEMENT kern.partij EMPTY>
<!ATTLIST kern.partij
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    srt CDATA #IMPLIED
    code CDATA #REQUIRED
    dateinde CDATA #IMPLIED
    dataanv CDATA #IMPLIED
    sector CDATA #IMPLIED
    partijstatushis CDATA #REQUIRED
    voortzettendegem CDATA #IMPLIED
    onderdeelvan CDATA #IMPLIED
    gemstatushis CDATA #REQUIRED
>

<!ELEMENT kern.partijrol EMPTY>
<!ATTLIST kern.partijrol
    id CDATA #REQUIRED
    partij CDATA #REQUIRED
    rol CDATA #REQUIRED
    partijrolstatushis CDATA #REQUIRED
>

<!ELEMENT kern.pers EMPTY>
<!ATTLIST kern.pers
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    bsn CDATA #IMPLIED
    anr CDATA #IMPLIED
    idsstatushis CDATA #REQUIRED
    geslachtsaand CDATA #IMPLIED
    geslachtsaandstatushis CDATA #REQUIRED
    predikaat CDATA #IMPLIED
    voornamen CDATA #IMPLIED
    voorvoegsel CDATA #IMPLIED
    scheidingsteken CDATA #IMPLIED
    adellijketitel CDATA #IMPLIED
    geslnaam CDATA #IMPLIED
    indnreeksalsgeslnaam CDATA #IMPLIED
    indalgoritmischafgeleid CDATA #IMPLIED
    samengesteldenaamstatushis CDATA #REQUIRED
    gebrgeslnaamegp CDATA #IMPLIED
    indaanschrmetadellijketitels CDATA #IMPLIED
    indaanschralgoritmischafgele CDATA #IMPLIED
    predikaataanschr CDATA #IMPLIED
    voornamenaanschr CDATA #IMPLIED
    voorvoegselaanschr CDATA #IMPLIED
    scheidingstekenaanschr CDATA #IMPLIED
    adellijketitelaanschr CDATA #IMPLIED
    geslnaamaanschr CDATA #IMPLIED
    aanschrstatushis CDATA #REQUIRED
    datgeboorte CDATA #IMPLIED
    gemgeboorte CDATA #IMPLIED
    wplgeboorte CDATA #IMPLIED
    blgeboorteplaats CDATA #IMPLIED
    blregiogeboorte CDATA #IMPLIED
    landgeboorte CDATA #IMPLIED
    omsgeboorteloc CDATA #IMPLIED
    geboortestatushis CDATA #REQUIRED
    datoverlijden CDATA #IMPLIED
    gemoverlijden CDATA #IMPLIED
    wploverlijden CDATA #IMPLIED
    blplaatsoverlijden CDATA #IMPLIED
    blregiooverlijden CDATA #IMPLIED
    landoverlijden CDATA #IMPLIED
    omslocoverlijden CDATA #IMPLIED
    overlijdenstatushis CDATA #REQUIRED
    verblijfsr CDATA #IMPLIED
    dataanvverblijfsr CDATA #IMPLIED
    datvoorzeindeverblijfsr CDATA #IMPLIED
    dataanvaaneenslverblijfsr CDATA #IMPLIED
    verblijfsrstatushis CDATA #REQUIRED
    induitslnlkiesr CDATA #IMPLIED
    dateindeuitslnlkiesr CDATA #IMPLIED
    uitslnlkiesrstatushis CDATA #REQUIRED
    inddeelneuverkiezingen CDATA #IMPLIED
    dataanlaanpdeelneuverkiezing CDATA #IMPLIED
    dateindeuitsleukiesr CDATA #IMPLIED
    euverkiezingenstatushis CDATA #REQUIRED
    verantwoordelijke CDATA #IMPLIED
    bijhverantwoordelijkheidstat CDATA #REQUIRED
    rdnopschortingbijhouding CDATA #IMPLIED
    opschortingstatushis CDATA #REQUIRED
    bijhgem CDATA #IMPLIED
    datinschringem CDATA #IMPLIED
    indonverwdocaanw CDATA #IMPLIED
    bijhgemstatushis CDATA #REQUIRED
    gempk CDATA #IMPLIED
    indpkvollediggeconv CDATA #IMPLIED
    pkstatushis CDATA #REQUIRED
    landvanwaargevestigd CDATA #IMPLIED
    datvestiginginnederland CDATA #IMPLIED
    immigratiestatushis CDATA #REQUIRED
    datinschr CDATA #IMPLIED
    versienr CDATA #IMPLIED
    vorigepers CDATA #IMPLIED
    volgendepers CDATA #IMPLIED
    inschrstatushis CDATA #REQUIRED
    tijdstiplaatstewijz CDATA #IMPLIED
    indgegevensinonderzoek CDATA #IMPLIED
>

<!ELEMENT kern.persadres EMPTY>
<!ATTLIST kern.persadres
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    srt CDATA #IMPLIED
    rdnwijz CDATA #IMPLIED
    aangadresh CDATA #IMPLIED
    dataanvadresh CDATA #IMPLIED
    adresseerbaarobject CDATA #IMPLIED
    identcodenraand CDATA #IMPLIED
    gem CDATA #IMPLIED
    nor CDATA #IMPLIED
    afgekortenor CDATA #IMPLIED
    gemdeel CDATA #IMPLIED
    huisnr CDATA #IMPLIED
    huisletter CDATA #IMPLIED
    huisnrtoevoeging CDATA #IMPLIED
    postcode CDATA #IMPLIED
    wpl CDATA #IMPLIED
    loctovadres CDATA #IMPLIED
    locoms CDATA #IMPLIED
    bladresregel1 CDATA #IMPLIED
    bladresregel2 CDATA #IMPLIED
    bladresregel3 CDATA #IMPLIED
    bladresregel4 CDATA #IMPLIED
    bladresregel5 CDATA #IMPLIED
    bladresregel6 CDATA #IMPLIED
    land CDATA #IMPLIED
    datvertrekuitnederland CDATA #IMPLIED
    persadresstatushis CDATA #REQUIRED
>

<!ELEMENT kern.persgeslnaamcomp EMPTY>
<!ATTLIST kern.persgeslnaamcomp
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    volgnr CDATA #REQUIRED
    voorvoegsel CDATA #IMPLIED
    scheidingsteken CDATA #IMPLIED
    naam CDATA #IMPLIED
    predikaat CDATA #IMPLIED
    adellijketitel CDATA #IMPLIED
    persgeslnaamcompstatushis CDATA #REQUIRED
>

<!ELEMENT kern.persindicatie EMPTY>
<!ATTLIST kern.persindicatie
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    srt CDATA #REQUIRED
    waarde CDATA #IMPLIED
    persindicatiestatushis CDATA #REQUIRED
>

<!ELEMENT kern.persnation EMPTY>
<!ATTLIST kern.persnation
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    nation CDATA #REQUIRED
    rdnverlies CDATA #IMPLIED
    rdnverk CDATA #IMPLIED
    persnationstatushis CDATA #REQUIRED
>

<!ELEMENT kern.personderzoek EMPTY>
<!ATTLIST kern.personderzoek
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    onderzoek CDATA #REQUIRED
>

<!ELEMENT kern.persreisdoc EMPTY>
<!ATTLIST kern.persreisdoc
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    srt CDATA #REQUIRED
    nr CDATA #IMPLIED
    autvanafgifte CDATA #IMPLIED
    datingangdoc CDATA #IMPLIED
    datuitgifte CDATA #IMPLIED
    datvoorzeeindegel CDATA #IMPLIED
    datinhingvermissing CDATA #IMPLIED
    rdnvervallen CDATA #IMPLIED
    lengtehouder CDATA #IMPLIED
    persreisdocstatushis CDATA #REQUIRED
>

<!ELEMENT kern.persverificatie EMPTY>
<!ATTLIST kern.persverificatie
    id CDATA #REQUIRED
    geverifieerde CDATA #REQUIRED
    srt CDATA #IMPLIED
    dat CDATA #IMPLIED
    persverificatiestatushis CDATA #REQUIRED
>

<!ELEMENT kern.persvoornaam EMPTY>
<!ATTLIST kern.persvoornaam
    id CDATA #REQUIRED
    pers CDATA #REQUIRED
    volgnr CDATA #REQUIRED
    naam CDATA #IMPLIED
    persvoornaamstatushis CDATA #REQUIRED
>

<!ELEMENT kern.plaats EMPTY>
<!ATTLIST kern.plaats
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.predikaat EMPTY>
<!ATTLIST kern.predikaat
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naammannelijk CDATA #REQUIRED
    naamvrouwelijk CDATA #REQUIRED
>

<!ELEMENT kern.rdnbeeindrelatie EMPTY>
<!ATTLIST kern.rdnbeeindrelatie
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
>

<!ELEMENT kern.rdnopschorting EMPTY>
<!ATTLIST kern.rdnopschorting
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.rdnverknlnation EMPTY>
<!ATTLIST kern.rdnverknlnation
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.rdnverliesnlnation EMPTY>
<!ATTLIST kern.rdnverliesnlnation
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.rdnvervallenreisdoc EMPTY>
<!ATTLIST kern.rdnvervallenreisdoc
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.rdnwijzadres EMPTY>
<!ATTLIST kern.rdnwijzadres
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.regel EMPTY>
<!ATTLIST kern.regel
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
    specificatie CDATA #REQUIRED
>

<!ELEMENT kern.regelverantwoording EMPTY>
<!ATTLIST kern.regelverantwoording
    id CDATA #REQUIRED
    actie CDATA #REQUIRED
    regel CDATA #REQUIRED
>

<!ELEMENT kern.relatie EMPTY>
<!ATTLIST kern.relatie
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    dataanv CDATA #IMPLIED
    gemaanv CDATA #IMPLIED
    wplaanv CDATA #IMPLIED
    blplaatsaanv CDATA #IMPLIED
    blregioaanv CDATA #IMPLIED
    landaanv CDATA #IMPLIED
    omslocaanv CDATA #IMPLIED
    rdneinde CDATA #IMPLIED
    dateinde CDATA #IMPLIED
    gemeinde CDATA #IMPLIED
    wpleinde CDATA #IMPLIED
    blplaatseinde CDATA #IMPLIED
    blregioeinde CDATA #IMPLIED
    landeinde CDATA #IMPLIED
    omsloceinde CDATA #IMPLIED
    relatiestatushis CDATA #REQUIRED
>

<!ELEMENT kern.rol EMPTY>
<!ATTLIST kern.rol
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.sector EMPTY>
<!ATTLIST kern.sector
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.srtactie EMPTY>
<!ATTLIST kern.srtactie
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    categoriesrtactie CDATA #REQUIRED
>

<!ELEMENT kern.srtbetr EMPTY>
<!ATTLIST kern.srtbetr
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.srtdbobject EMPTY>
<!ATTLIST kern.srtdbobject
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.srtdoc EMPTY>
<!ATTLIST kern.srtdoc
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    categoriesrtdoc CDATA #REQUIRED
>

<!ELEMENT kern.srtelement EMPTY>
<!ATTLIST kern.srtelement
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.srtindicatie EMPTY>
<!ATTLIST kern.srtindicatie
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    indmaterielehistorievantoepa CDATA #REQUIRED
>

<!ELEMENT kern.srtmultirealiteitregel EMPTY>
<!ATTLIST kern.srtmultirealiteitregel
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #REQUIRED
>

<!ELEMENT kern.srtnlreisdoc EMPTY>
<!ATTLIST kern.srtnlreisdoc
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.srtpartij EMPTY>
<!ATTLIST kern.srtpartij
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.srtpers EMPTY>
<!ATTLIST kern.srtpers
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #IMPLIED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.srtrelatie EMPTY>
<!ATTLIST kern.srtrelatie
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #IMPLIED
>

<!ELEMENT kern.srtverificatie EMPTY>
<!ATTLIST kern.srtverificatie
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.verantwoordelijke EMPTY>
<!ATTLIST kern.verantwoordelijke
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT kern.verblijfsr EMPTY>
<!ATTLIST kern.verblijfsr
    id CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.verdrag EMPTY>
<!ATTLIST kern.verdrag
    id CDATA #REQUIRED
    oms CDATA #REQUIRED
    dataanvgel CDATA #IMPLIED
    dateindegel CDATA #IMPLIED
>

<!ELEMENT kern.wijzegebruikgeslnaam EMPTY>
<!ATTLIST kern.wijzegebruikgeslnaam
    id CDATA #REQUIRED
    code CDATA #REQUIRED
    naam CDATA #REQUIRED
    oms CDATA #IMPLIED
>

<!ELEMENT lev.abonnement EMPTY>
<!ATTLIST lev.abonnement
    id CDATA #REQUIRED
    doelbinding CDATA #REQUIRED
    srtabonnement CDATA #REQUIRED
    populatiecriterium CDATA #IMPLIED
    abonnementstatushis CDATA #REQUIRED
>

<!ELEMENT lev.abonnementgegevenselement EMPTY>
<!ATTLIST lev.abonnementgegevenselement
    id CDATA #REQUIRED
    abonnement CDATA #REQUIRED
    gegevenselement CDATA #REQUIRED
>

<!ELEMENT lev.abonnementsrtber EMPTY>
<!ATTLIST lev.abonnementsrtber
    id CDATA #REQUIRED
    abonnement CDATA #REQUIRED
    srtber CDATA #REQUIRED
    abonnementsrtberstatushis CDATA #REQUIRED
>

<!ELEMENT lev.his_abonnement EMPTY>
<!ATTLIST lev.his_abonnement
    id CDATA #REQUIRED
    abonnement CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
    populatiecriterium CDATA #REQUIRED
>

<!ELEMENT lev.his_abonnementsrtber EMPTY>
<!ATTLIST lev.his_abonnementsrtber
    id CDATA #REQUIRED
    abonnementsrtber CDATA #IMPLIED
    tsreg CDATA #IMPLIED
    tsverval CDATA #IMPLIED
    actieinh CDATA #IMPLIED
    actieverval CDATA #IMPLIED
>

<!ELEMENT lev.lev EMPTY>
<!ATTLIST lev.lev
    id CDATA #REQUIRED
    srt CDATA #REQUIRED
    authenticatiemiddel CDATA #REQUIRED
    abonnement CDATA #REQUIRED
    tsbesch CDATA #IMPLIED
    tsklaarzettenlev CDATA #IMPLIED
    gebaseerdop CDATA #IMPLIED
>

<!ELEMENT lev.levcommunicatie EMPTY>
<!ATTLIST lev.levcommunicatie
    id CDATA #REQUIRED
    lev CDATA #REQUIRED
    uitgaandber CDATA #REQUIRED
>

<!ELEMENT lev.levpers EMPTY>
<!ATTLIST lev.levpers
    id CDATA #REQUIRED
    lev CDATA #REQUIRED
    pers CDATA #REQUIRED
>

<!ELEMENT lev.srtabonnement EMPTY>
<!ATTLIST lev.srtabonnement
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
>

<!ELEMENT lev.srtlev EMPTY>
<!ATTLIST lev.srtlev
    id CDATA #REQUIRED
    naam CDATA #REQUIRED
>

