2013/migratie 2013-02-13/migr-sync-dal/src/main/resources/schema/conversietabel.dtd

<!ELEMENT dataset (
    conversietabel.aangifteadreshouding*,
    conversietabel.adellijketitelpredikaat*,
    conversietabel.autoriteitvanafgifte*,
    conversietabel.redeninhoudingvermissingreisdocument*,
    conversietabel.redenontbindinghuwelijkpartnerschap*,
    conversietabel.redenopschorting*,
    conversietabel.redenverkrijgingverliesnlschap*,
    conversietabel.soortnlreisdocument*,
    conversietabel.verblijfstitel*,
    conversietabel.voorvoegsel*
    )>



<!ELEMENT conversietabel.aangifteadreshouding EMPTY>
<!ATTLIST conversietabel.aangifteadreshouding
    lo3code CDATA #REQUIRED
    brpaangeveradreshoudingcode CDATA #IMPLIED
    brpredenwijzigingadrescode CDATA #IMPLIED
>

<!ELEMENT conversietabel.adellijketitelpredikaat EMPTY>
<!ATTLIST conversietabel.adellijketitelpredikaat
    lo3adellijketitelpredikaat CDATA #REQUIRED
    brpgeslachtsaanduiding CDATA #REQUIRED
    brpadellijketitel CDATA #IMPLIED
    brppredikaat CDATA #IMPLIED
>

<!ELEMENT conversietabel.autoriteitvanafgifte EMPTY>
<!ATTLIST conversietabel.autoriteitvanafgifte
    lo3code CDATA #REQUIRED
    brpcode CDATA #REQUIRED
>

<!ELEMENT conversietabel.redeninhoudingvermissingreisdocument EMPTY>
<!ATTLIST conversietabel.redeninhoudingvermissingreisdocument
    lo3code CDATA #REQUIRED
    brpcode CDATA #REQUIRED
>

<!ELEMENT conversietabel.redenontbindinghuwelijkpartnerschap EMPTY>
<!ATTLIST conversietabel.redenontbindinghuwelijkpartnerschap
    lo3code CDATA #REQUIRED
    brpcode CDATA #REQUIRED
>

<!ELEMENT conversietabel.redenopschorting EMPTY>
<!ATTLIST conversietabel.redenopschorting
    lo3code CDATA #REQUIRED
    brpcode CDATA #IMPLIED
>

<!ELEMENT conversietabel.redenverkrijgingverliesnlschap EMPTY>
<!ATTLIST conversietabel.redenverkrijgingverliesnlschap
    lo3code CDATA #REQUIRED
    brpredenverkrijgingnaam CDATA #IMPLIED
    brpredenverliesnaam CDATA #IMPLIED
>

<!ELEMENT conversietabel.soortnlreisdocument EMPTY>
<!ATTLIST conversietabel.soortnlreisdocument
    lo3code CDATA #REQUIRED
    brpcode CDATA #REQUIRED
>

<!ELEMENT conversietabel.verblijfstitel EMPTY>
<!ATTLIST conversietabel.verblijfstitel
    lo3code CDATA #REQUIRED
    brpomschrijving CDATA #REQUIRED
>

<!ELEMENT conversietabel.voorvoegsel EMPTY>
<!ATTLIST conversietabel.voorvoegsel
    lo3voorvoegsel CDATA #REQUIRED
    brpvoorvoegsel CDATA #REQUIRED
    brpscheidingsteken CDATA #REQUIRED
>

