2013/migratie 2013-02-13/migr-sync-dal/src/main/resources/schema/logging.dtd

<!ELEMENT dataset (
    logging.berichtlog*,
    logging.logregel*
)>

<!ELEMENT logging.berichtlog EMPTY>
<!ATTLIST logging.berichtlog
    id CDATA #REQUIRED
    pers_id CDATA #IMPLIED
    referentie CDATA #REQUIRED
    bron CDATA #REQUIRED
    tijdstip_verwerking CDATA #REQUIRED
    a_nummer CDATA #IMPLIED
    bericht_data CDATA #REQUIRED
    bericht_hash CDATA #REQUIRED
    foutcode CDATA #IMPLIED
    foutmelding CDATA #IMPLIED
    gemeente_van_inschrijving CDATA #IMPLIED
>

<!ELEMENT logging.logregel EMPTY>
<!ATTLIST logging.logregel
    id CDATA #REQUIRED
    berichtlog_id CDATA #REQUIRED
    lo3_categorie CDATA #REQUIRED
    lo3_stapel CDATA #REQUIRED
    lo3_voorkomen CDATA #REQUIRED
    log_severity CDATA #REQUIRED
    log_type CDATA #REQUIRED
    log_code CDATA #IMPLIED
    log_omschrijving CDATA #IMPLIED
>

<!ELEMENT logging.lo3herkomst EMPTY>
<!ATTLIST logging.lo3herkomst
    id CDATA #REQUIRED
    brp_actie_id CDATA #REQUIRED
    lo3_categorie CDATA #REQUIRED
    lo3_stapel CDATA #REQUIRED
    lo3_voorkomen CDATA #REQUIRED
>