2016/migratie 2016-02-09/migr-bericht-model/src/main/resources/xsd/brp/brp0200_brpAttribuuttypen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Metaregister versie: foo
Generator versie: bar
Generator gebouwd op: banzai
Gegenereerd op: Mon Nov 23 14:50:40 CET 2015
-->
<!--Schema met de definitie van de simple types (-s), en de complex types die gebruikt worden in de berichten voor de BRP.-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brp="http://www.bzk.nl/brp/brp0200" targetNamespace="http://www.bzk.nl/brp/brp0200" elementFormDefault="qualified" attributeFormDefault="unqualified" version="020005">
  <!--Simple types voor de attribuuttypen gesorteerd op alfabet.-->
  <simpleType name="AanduidingInhoudingVermissingReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AanduidingVerblijfsrechtCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="AangeverCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="AdellijkeTitelCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Administratienummer-s">
    <restriction base="string">
      <minLength value="10" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="AdministratieveHandelingCode-s">
    <restriction base="string">
      <enumeration value="01001">
        <annotation>
          <documentation>Geboorte in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01002">
        <annotation>
          <documentation>Geboorte in Nederland met erkenning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01003">
        <annotation>
          <documentation>Erkenning na geboorte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01004">
        <annotation>
          <documentation>Vernietiging erkenning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01005">
        <annotation>
          <documentation>Vaststelling ouderschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01006">
        <annotation>
          <documentation>Ontkenning ouderschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01007">
        <annotation>
          <documentation>Adoptie ingezetene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01008">
        <annotation>
          <documentation>Omzetting adoptie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01009">
        <annotation>
          <documentation>Herroeping adoptie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01010">
        <annotation>
          <documentation>Toevoeging geboorteakte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01011">
        <annotation>
          <documentation>Verbetering geboorteakte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01012">
        <annotation>
          <documentation>Betwisting van staat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01013">
        <annotation>
          <documentation>Inroeping van staat</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01014">
        <annotation>
          <documentation>Wijziging kindgegevens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="01015">
        <annotation>
          <documentation>Correctie afstamming</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02001">
        <annotation>
          <documentation>Wijziging geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02002">
        <annotation>
          <documentation>Wijziging voornaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02003">
        <annotation>
          <documentation>Wijziging geslachtsaanduiding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02004">
        <annotation>
          <documentation>Wijziging naamgebruik</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02005">
        <annotation>
          <documentation>Correctie naamsgegevens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02006">
        <annotation>
          <documentation>Correctie geslachtsaanduiding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02007">
        <annotation>
          <documentation>Correctie naamgebruik</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03001">
        <annotation>
          <documentation>Wijziging verstrekkingsbeperking</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03002">
        <annotation>
          <documentation>Wijziging gezag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03003">
        <annotation>
          <documentation>Correctie gezag</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03004">
        <annotation>
          <documentation>Wijziging curatele</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03005">
        <annotation>
          <documentation>Correctie curatele</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03006">
        <annotation>
          <documentation>Verwijdering partnergegevens na geslachtswijziging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03007">
        <annotation>
          <documentation>Verwijdering kindgegevens na geslachtswijziging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03008">
        <annotation>
          <documentation>Verwijdering kindgegevens na adoptie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03009">
        <annotation>
          <documentation>Verwijdering oudergegevens na adoptie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04001">
        <annotation>
          <documentation>Voltrekking huwelijk in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04002">
        <annotation>
          <documentation>Ontbinding huwelijk in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04003">
        <annotation>
          <documentation>Voltrekking huwelijk in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04004">
        <annotation>
          <documentation>Ontbinding huwelijk in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04005">
        <annotation>
          <documentation>Aangaan geregistreerd partnerschap in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04006">
        <annotation>
          <documentation>Beeindiging geregistreerd partnerschap in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04007">
        <annotation>
          <documentation>Aangaan geregistreerd partnerschap in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04008">
        <annotation>
          <documentation>Beeindiging geregistreerd partnerschap in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04009">
        <annotation>
          <documentation>Omzetting geregistreerd partnerschap in huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04010">
        <annotation>
          <documentation>Nietigverklaring huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04011">
        <annotation>
          <documentation>Nietigverklaring geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04012">
        <annotation>
          <documentation>Ongedaanmaking huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04013">
        <annotation>
          <documentation>Ongedaanmaking geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04014">
        <annotation>
          <documentation>Correctie huwelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04015">
        <annotation>
          <documentation>Correctie geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05001">
        <annotation>
          <documentation>Vestiging niet-ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05002">
        <annotation>
          <documentation>Constatering verblijf kind</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05003">
        <annotation>
          <documentation>Vestiging niet-ingezetene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05004">
        <annotation>
          <documentation>Verhuizing binnengemeentelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05005">
        <annotation>
          <documentation>Verhuizing intergemeentelijk</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05006">
        <annotation>
          <documentation>Wijziging adres infrastructureel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05007">
        <annotation>
          <documentation>Verhuizing naar buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05008">
        <annotation>
          <documentation>Correctie adres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05009">
        <annotation>
          <documentation>Correctie migratie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05010">
        <annotation>
          <documentation>Wijziging verblijfsrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05011">
        <annotation>
          <documentation>Wijziging bijzondere verblijfsrechtelijke positie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06001">
        <annotation>
          <documentation>Verkrijging Nederlandse nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06002">
        <annotation>
          <documentation>Verlies Nederlandse nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06003">
        <annotation>
          <documentation>Verkrijging vreemde nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06004">
        <annotation>
          <documentation>Beeindiging vreemde nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06005">
        <annotation>
          <documentation>Wijziging indicatie nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06006">
        <annotation>
          <documentation>Correctie nationaliteit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07001">
        <annotation>
          <documentation>Verkrijging reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07002">
        <annotation>
          <documentation>Onttrekking reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07003">
        <annotation>
          <documentation>Signalering reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07004">
        <annotation>
          <documentation>Correctie reisdocument</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09001">
        <annotation>
          <documentation>Overlijden in Nederland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09002">
        <annotation>
          <documentation>Overlijden in buitenland</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09003">
        <annotation>
          <documentation>Ongedaanmaking overlijden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="09004">
        <annotation>
          <documentation>Correctie overlijden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10001">
        <annotation>
          <documentation>Wijziging identificatienummers</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10002">
        <annotation>
          <documentation>Verwijdering persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10003">
        <annotation>
          <documentation>Wijziging verantwoording</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10004">
        <annotation>
          <documentation>Correctie dubbele inschrijving</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10005">
        <annotation>
          <documentation>Correctie hinkende relatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10006">
        <annotation>
          <documentation>Correctie overige persoonsgegevens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10007">
        <annotation>
          <documentation>Wijziging gemeentenaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10008">
        <annotation>
          <documentation>Wijziging postcode woonplaatsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="10009">
        <annotation>
          <documentation>Wijziging naam openbare ruimte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11001">
        <annotation>
          <documentation>Aanvang onderzoek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11002">
        <annotation>
          <documentation>Registratie tussenresultaat onderzoek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11003">
        <annotation>
          <documentation>Beeindiging onderzoek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="11004">
        <annotation>
          <documentation>Wijziging onderzoek</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13001">
        <annotation>
          <documentation>Wijziging uitsluiting kiesrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13002">
        <annotation>
          <documentation>Wijziging deelname EU-verkiezingen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="13003">
        <annotation>
          <documentation>Correctie kiesrecht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="15001">
        <annotation>
          <documentation>Notificatie bijhoudingsplan</documentation>
        </annotation>
      </enumeration>
      <enumeration value="17001">
        <annotation>
          <documentation>Notificatie BRP bijhouding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30001">
        <annotation>
          <documentation>Zoek persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30002">
        <annotation>
          <documentation>Zoek persoon op adresgegevens</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30003">
        <annotation>
          <documentation>Geef details persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30004">
        <annotation>
          <documentation>Geef medebewoners</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30050">
        <annotation>
          <documentation>Bepaal kandidaat ouder</documentation>
        </annotation>
      </enumeration>
      <enumeration value="30051">
        <annotation>
          <documentation>Geef relatiegegevens GBA</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31001">
        <annotation>
          <documentation>Plaatsing afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31002">
        <annotation>
          <documentation>Verwijdering afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31003">
        <annotation>
          <documentation>Synchronisatie persoon</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31004">
        <annotation>
          <documentation>Synchronisatie stamgegeven</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31005">
        <annotation>
          <documentation>Mutatielevering op basis van afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31006">
        <annotation>
          <documentation>Mutatielevering op basis van doelbinding</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31007">
        <annotation>
          <documentation>Mutatielevering stamgegeven</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31008">
        <annotation>
          <documentation>Melding wijziging medebewoning</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31009">
        <annotation>
          <documentation>Attendering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31010">
        <annotation>
          <documentation>Attendering met plaatsen afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31011">
        <annotation>
          <documentation>Selectie met plaatsen afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="31012">
        <annotation>
          <documentation>Selectie met verwijderen afnemerindicatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32001">
        <annotation>
          <documentation>Selectie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="32002">
        <annotation>
          <documentation>Verkiezingsselectie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="33001">
        <annotation>
          <documentation>Notificatie BRP levering</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99901">
        <annotation>
          <documentation>GBA - Geboorte</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99902">
        <annotation>
          <documentation>GBA - Registratie ouderschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99903">
        <annotation>
          <documentation>GBA - Ontkenning ouderschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99904">
        <annotation>
          <documentation>GBA - Sluiting huwelijk geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99905">
        <annotation>
          <documentation>GBA - Ontbinding huwelijk geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99906">
        <annotation>
          <documentation>GBA - Omzetting huwelijk geregistreerd partnerschap</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99907">
        <annotation>
          <documentation>GBA - Overlijden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99908">
        <annotation>
          <documentation>GBA - Wijziging naam geslacht</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99994">
        <annotation>
          <documentation>GBA - Afvoeren PL</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99995">
        <annotation>
          <documentation>GBA - A-nummer wijziging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99996">
        <annotation>
          <documentation>GBA - Infrastructurele wijziging</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99997">
        <annotation>
          <documentation>GBA - Bijhouding overig</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99998">
        <annotation>
          <documentation>GBA - Bijhouding actueel</documentation>
        </annotation>
      </enumeration>
      <enumeration value="99999">
        <annotation>
          <documentation>GBA - Initiele vulling</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Adresregel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="AfgekorteNaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="Aktenummer-s">
    <restriction base="string">
      <minLength value="7" />
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteitVanAfgifteReisdocumentCode-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="AutoriteittypeVanAfgifteReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling I van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>De bijhouding van de persoonsgegevens is normaliter geregeld conform afdeling II van de Wet BRP.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="?">
        <annotation>
          <documentation>Het is onbekend conform welke afdeling van de Wet BRP de bijhouding normaliter geregeld is. Alleen te gebruiken voor historische waarden.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingsresultaatNaam-s">
    <restriction base="string">
      <enumeration value="Verwerkt">
        <annotation>
          <documentation>Bijhouding direct verwerkt in BRP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Uitgesteld">
        <annotation>
          <documentation>Bijhouding in BRP uitgesteld in verband met fiattering andere partij</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Direct">
        <annotation>
          <documentation>Bijhouding direct verwerkt in BRP</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Conform plan">
        <annotation>
          <documentation>Bijhouding verwerkt conform plan</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BijhoudingssituatieNaam-s">
    <restriction base="string">
      <enumeration value="Indiener is bijhoudingspartij">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van de partij die het bijhoudingsvoorstel heeft ingezonden.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Automatische fiat">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die het voorstel automatisch wenst te fiatteren.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Aanvullen en opnieuw indienen">
        <annotation>
          <documentation>Het bijhoudingsvoorstel is incompleet (ontbreken Anr/BSN) en kan daardoor niet verwerkt worden. De ontvanger dient het voorstel te completeren en opnieuw in te dienen.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Opnieuw indienen">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die het voorstel handmatig wenst te fiatteren of de partij wenst automatisch te fiatteren maar er is een fiatteringsuitzondering die van toepassing is op het bijhoudingsvoorstel.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="GBA">
        <annotation>
          <documentation>De persoon valt onder de bijhoudingsverantwoordelijkheid van een partij die valt onder het GBA-regime.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandsePlaats-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="BuitenlandseRegio-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="35" />
    </restriction>
  </simpleType>
  <simpleType name="Burgerservicenummer-s">
    <restriction base="string">
      <minLength value="9" />
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="CategorieAdministratieveHandelingNaam-s">
    <restriction base="string">
      <enumeration value="Actualisering" />
      <enumeration value="Correctie" />
      <enumeration value="Synchronisatie" />
      <enumeration value="GBA - Initiele vulling" />
      <enumeration value="GBA - Synchronisatie" />
    </restriction>
  </simpleType>
  <simpleType name="Datum-s">
    <restriction base="string">
      <minLength value="1" />
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})))" />
    </restriction>
  </simpleType>
  <simpleType name="DatumMetOnzekerheid-s">
    <restriction base="string">
      <minLength value="1" />
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1}))?)?" />
    </restriction>
  </simpleType>
  <simpleType name="DatumTijd-s">
    <restriction base="string">
      <minLength value="1" />
      <pattern value="[0-9]{4}(-(0[1-9]{1}|1[0-2]{1})(-(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})))(T((([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1})(:[0-5]{1}[0-9]{1}(:[0-5]{1}[0-9]{1}(\.[0-9]{0,3})?)))|24(:00(:00(\.[0]{0,3}))))((\+|\-)([0-1]{1}[0-9]{1}|[2]{1}[0-3]{1}):[0-5]{1}[0-9]{1})?)" />
    </restriction>
  </simpleType>
  <simpleType name="DienstID-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="DocumentIdentificatie-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="DocumentOmschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="GemeenteCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="Gemeentedeel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="24" />
    </restriction>
  </simpleType>
  <simpleType name="GeslachtsaanduidingCode-s">
    <restriction base="string">
      <enumeration value="M">
        <annotation>
          <documentation>Man</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Vrouw</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>Onbekend</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Geslachtsnaamstam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="HistorievormNaam-s">
    <restriction base="string">
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen historie; alleen actuele gegevens leveren</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Materieel">
        <annotation>
          <documentation>De actuele gegevens en de materiele historie hiervan leveren</documentation>
        </annotation>
      </enumeration>
      <enumeration value="MaterieelFormeel">
        <annotation>
          <documentation>De actuele gegevens en zowel de materiele als de formele historie hiervan leveren</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Huisletter-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
      <pattern value="[a-zA-Z]" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="Huisnummertoevoeging-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="ISO31661Alpha2-s">
    <restriction base="string">
      <minLength value="2" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeAdresseerbaarObject-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="IdentificatiecodeNummeraanduiding-s">
    <restriction base="string">
      <minLength value="16" />
      <maxLength value="16" />
    </restriction>
  </simpleType>
  <simpleType name="Ja-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="JaNee-s">
    <restriction base="string">
      <enumeration value="J">
        <annotation>
          <documentation>Ja</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LandGebiedCode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="LeveringsautorisatieID-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="LocatieTenOpzichteVanAdres-s">
    <restriction base="string">
      <enumeration value="by">
        <annotation>
          <documentation>bij</documentation>
        </annotation>
      </enumeration>
      <enumeration value="to">
        <annotation>
          <documentation>tegen over</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Locatieomschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <simpleType name="Meldingtekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="NaamEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamEnumeratiewaardeLang-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="160" />
    </restriction>
  </simpleType>
  <simpleType name="NaamOpenbareRuimte-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="NaamgebruikCode-s">
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation>Eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner voor eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Geslachtsnaam echtgenoot/geregistreerd partner na eigen geslachtsnaam</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereAanduidingVerval-s">
    <restriction base="string">
      <enumeration value="O">
        <annotation>
          <documentation>Onjuist</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation>In strijd met openbare orde</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="NadereBijhoudingsaardCode-s">
    <restriction base="string">
      <enumeration value="A">
        <annotation>
          <documentation>Alle actuele gegevens worden bijgehouden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R">
        <annotation>
          <documentation>De persoon is rechtstreeks een niet-ingezetene geworden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>De persoon is geëmigreerd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>De persoon is overleden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="V">
        <annotation>
          <documentation>Verblijf van de persoon is onbekend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="M">
        <annotation>
          <documentation>De bijhouding is beperkt vanwege een Ministerieel besluit</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F">
        <annotation>
          <documentation>Persoonslijst is ten onrechte opgenomen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="?">
        <annotation>
          <documentation>De nadere bijhoudingsaard is niet bekend. Alleen te gebruiken voor historische waarden.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Nationaliteitcode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="Nee-s">
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation>Nee</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="OmschrijvingEnumeratiewaarde-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <simpleType name="OnderzoekOmschrijving-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2048" />
    </restriction>
  </simpleType>
  <simpleType name="Ontleningstoelichting-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="400" />
    </restriction>
  </simpleType>
  <simpleType name="PartijCode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="Postcode-s">
    <restriction base="string">
      <minLength value="6" />
      <maxLength value="6" />
      <pattern value="[1-9]{1}[0-9]{3}[A-Z]{2}" />
    </restriction>
  </simpleType>
  <simpleType name="PredicaatCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RechtsgrondCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenEindeRelatieCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerkrijgingCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenVerliesCode-s">
    <restriction base="string">
      <minLength value="3" />
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="RedenWijzigingVerblijfCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Referentienummer-s">
    <restriction base="string">
      <minLength value="36" />
      <maxLength value="36" />
      <pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </restriction>
  </simpleType>
  <simpleType name="RegelCode-s">
    <restriction base="string">
      <minLength value="5" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="ReisdocumentNummer-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="9" />
    </restriction>
  </simpleType>
  <simpleType name="RolNaam-s">
    <restriction base="string">
      <enumeration value="Afnemer" />
      <enumeration value="Bijhoudingsorgaan College" />
      <enumeration value="Bijhoudingsorgaan Minister" />
    </restriction>
  </simpleType>
  <simpleType name="Scheidingsteken-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="1" />
    </restriction>
  </simpleType>
  <simpleType name="Sleutelwaarde-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Sleutelwaardetekst-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="80" />
    </restriction>
  </simpleType>
  <simpleType name="SoortAdresCode-s">
    <restriction base="string">
      <enumeration value="W">
        <annotation>
          <documentation>Woonadres</documentation>
        </annotation>
      </enumeration>
      <enumeration value="B">
        <annotation>
          <documentation>Briefadres</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortElementNaam-s">
    <restriction base="string">
      <enumeration value="Objecttype" />
      <enumeration value="Groep" />
      <enumeration value="Attribuut" />
    </restriction>
  </simpleType>
  <simpleType name="SoortMeldingNaam-s">
    <restriction base="string">
      <enumeration value="Geen">
        <annotation>
          <documentation>Geen meldingen aangetroffen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Informatie">
        <annotation>
          <documentation>Informatieve melding; ter kennisname</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Waarschuwing">
        <annotation>
          <documentation>Waarschuwing aangetroffen; mogelijk herstelactie ondernemen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Deblokkeerbaar">
        <annotation>
          <documentation>Foutieve situatie aangetroffen, melding deblokkeerbaar of herstelactie ondernemen</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Fout">
        <annotation>
          <documentation>Foutieve situatie aangetroffen; verwerking blokkeert</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortMigratieCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Immigratie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E">
        <annotation>
          <documentation>Emigratie</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortNederlandsReisdocumentCode-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="SoortPartijOnderzoekNaam-s">
    <restriction base="string">
      <enumeration value="Eigenaar">
        <annotation>
          <documentation>De partij is eigenaar van het onderzoek.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gevoegde">
        <annotation>
          <documentation>De partij heeft zich gevoegd in het onderzoek.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortPersoonCode-s">
    <restriction base="string">
      <enumeration value="I">
        <annotation>
          <documentation>Ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N">
        <annotation>
          <documentation>Niet-ingeschrevene</documentation>
        </annotation>
      </enumeration>
      <enumeration value="O">
        <annotation>
          <documentation>Onbekend</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SoortPersoonOnderzoekNaam-s">
    <restriction base="string">
      <enumeration value="Direct">
        <annotation>
          <documentation>De persoon is zelfstandig onderwerp van het onderzoek.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Indirect">
        <annotation>
          <documentation>Een gegeven op de persoonslijst staat wel in onderzoek, maar niet vanuit de persoon zelf.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Stamgegeven-s">
    <restriction base="string">
      <enumeration value="AanduidingInhoudingVermissingReisdocumentTabel"/>
      <enumeration value="AanduidingVerblijfsrechtTabel"/>
      <enumeration value="AangeverTabel"/>
      <enumeration value="AdellijkeTitelTabel"/>
      <enumeration value="AutoriteittypeVanAfgifteReisdocumentTabel" />
      <enumeration value="BijhoudingsaardTabel"/>
      <enumeration value="BijhoudingsresultaatTabel"/>
      <enumeration value="BijhoudingssituatieTabel" />
      <enumeration value="CategorieAdministratieveHandelingTabel"/>
      <enumeration value="EffectAfnemerindicatiesTabel" />
      <enumeration value="ElementTabel"/>
      <enumeration value="FunctieAdresTabel"/>
      <enumeration value="GemeenteTabel"/>
      <enumeration value="GeslachtsaanduidingTabel"/>
      <enumeration value="LandGebiedTabel"/>
      <enumeration value="NaamgebruikTabel"/>
      <enumeration value="NadereBijhoudingsaardTabel"/>
      <enumeration value="NationaliteitTabel"/>
      <enumeration value="PartijTabel"/>
      <enumeration value="PlaatsTabel" />
      <enumeration value="PredicaatTabel"/>
      <enumeration value="RechtsgrondTabel"/>
      <enumeration value="RedenEindeRelatieTabel"/>
      <enumeration value="RedenVerkrijgingNLNationaliteitTabel"/>
      <enumeration value="RedenVerliesNLNationaliteitTabel"/>
      <enumeration value="RedenWijzigingVerblijfTabel" />
      <enumeration value="RolTabel"/>
      <enumeration value="SoortAdministratieveHandelingTabel"/>
      <enumeration value="SoortDienstTabel" />
      <enumeration value="SoortDocumentTabel"/>
      <enumeration value="SoortMeldingTabel"/>
      <enumeration value="SoortMigratieTabel"/>
      <enumeration value="SoortNederlandsReisdocumentTabel"/>
      <enumeration value="SoortPartijOnderzoekTabel" />
      <enumeration value="SoortPersoonTabel"/>
      <enumeration value="SoortPersoonOnderzoekTabel" />
      <enumeration value="SoortRechtsgrondTabel" />
      <enumeration value="SoortSynchronisatieTabel"/>
      <enumeration value="StatusOnderzoekTabel"/>
      <enumeration value="StatusTerugmeldingTabel"/>
      <enumeration value="VerwerkingsresultaatTabel"/>
      <enumeration value="VerwerkingswijzeTabel"/>
      <enumeration value="VoorvoegselTabel"/>
    </restriction>
  </simpleType>
  <simpleType name="StatusOnderzoekNaam-s">
    <restriction base="string">
      <enumeration value="In uitvoering">
        <annotation>
          <documentation>Het onderzoek is gestart, maar nog niet beëindigd of gestaakt</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Gestaakt">
        <annotation>
          <documentation>Het onderzoek is gestaakt.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Afgesloten">
        <annotation>
          <documentation>Het onderzoek is beëindigd.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SysteemNaam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <simpleType name="VerwerkingsresultaatNaam-s">
    <restriction base="string">
      <enumeration value="Geslaagd">
        <annotation>
          <documentation>Verwerking geslaagd</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Foutief">
        <annotation>
          <documentation>Verwerking foutief; deblokkeerbare meldingen of fouten aanwezig</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Verwerkingssoort-s">
    <restriction base="string">
      <enumeration value="Identificatie">
        <annotation>
          <documentation>Object of gegevensgroep opgenomen ter identificatie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Referentie">
        <annotation>
          <documentation>Object of gegevensgroep opgenomen ter referentie</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Toevoeging">
        <annotation>
          <documentation>Toevoeging van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Wijziging">
        <annotation>
          <documentation>Wijziging van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Verval">
        <annotation>
          <documentation>Verval van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Verwijdering">
        <annotation>
          <documentation>Verwijdering van een object of gegevensgroep</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VerwerkingswijzeNaam-s">
    <restriction base="string">
      <enumeration value="Bijhouding">
        <annotation>
          <documentation>Bijhouding ter definitieve verwerking aan BRP aangeboden</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Prevalidatie">
        <annotation>
          <documentation>Bijhouding ter controle aan BRP aangeboden</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="Volgnummer-s">
    <restriction base="nonNegativeInteger" />
  </simpleType>
  <simpleType name="Voornaam-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voornamen-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="200" />
    </restriction>
  </simpleType>
  <simpleType name="Voorvoegsel-s">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="Woonplaatscode-s">
    <restriction base="string">
      <minLength value="4" />
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <!--Complex types voor de attribuuttypen gesorteerd op alfabet.-->
  <complexType name="AanduidingInhoudingVermissingReisdocumentCode">
    <simpleContent>
      <extension base="brp:AanduidingInhoudingVermissingReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AanduidingVerblijfsrechtCode">
    <simpleContent>
      <extension base="brp:AanduidingVerblijfsrechtCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AangeverCode">
    <simpleContent>
      <extension base="brp:AangeverCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AdellijkeTitelCode">
    <simpleContent>
      <extension base="brp:AdellijkeTitelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Administratienummer">
    <simpleContent>
      <extension base="brp:Administratienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="AdministratieveHandelingCode">
    <simpleContent>
      <extension base="brp:AdministratieveHandelingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Adresregel">
    <simpleContent>
      <extension base="brp:Adresregel-s" />
    </simpleContent>
  </complexType>
  <complexType name="AfgekorteNaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:AfgekorteNaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="Aktenummer">
    <simpleContent>
      <extension base="brp:Aktenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteitVanAfgifteReisdocumentCode">
    <simpleContent>
      <extension base="brp:AutoriteitVanAfgifteReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="AutoriteittypeVanAfgifteReisdocumentCode">
    <simpleContent>
      <extension base="brp:AutoriteittypeVanAfgifteReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:BijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingsresultaatNaam">
    <simpleContent>
      <extension base="brp:BijhoudingsresultaatNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="BijhoudingssituatieNaam">
    <simpleContent>
      <extension base="brp:BijhoudingssituatieNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandsePlaats">
    <simpleContent>
      <extension base="brp:BuitenlandsePlaats-s" />
    </simpleContent>
  </complexType>
  <complexType name="BuitenlandseRegio">
    <simpleContent>
      <extension base="brp:BuitenlandseRegio-s" />
    </simpleContent>
  </complexType>
  <complexType name="Burgerservicenummer">
    <simpleContent>
      <extension base="brp:Burgerservicenummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="CategorieAdministratieveHandelingNaam">
    <simpleContent>
      <extension base="brp:CategorieAdministratieveHandelingNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Datum">
    <simpleContent>
      <extension base="brp:Datum-s" />
    </simpleContent>
  </complexType>
  <complexType name="DatumMetOnzekerheid">
    <simpleContent>
      <extension base="brp:DatumMetOnzekerheid-s" />
    </simpleContent>
  </complexType>
  <complexType name="DatumTijd">
    <simpleContent>
      <extension base="brp:DatumTijd-s" />
    </simpleContent>
  </complexType>
  <complexType name="DienstID">
    <simpleContent>
      <extension base="brp:DienstID-s" />
    </simpleContent>
  </complexType>
  <complexType name="DocumentIdentificatie">
    <simpleContent>
      <extension base="brp:DocumentIdentificatie-s" />
    </simpleContent>
  </complexType>
  <complexType name="DocumentOmschrijving">
    <simpleContent>
      <extension base="brp:DocumentOmschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="GemeenteCode">
    <simpleContent>
      <extension base="brp:GemeenteCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Gemeentedeel">
    <simpleContent>
      <extension base="brp:Gemeentedeel-s" />
    </simpleContent>
  </complexType>
  <complexType name="GeslachtsaanduidingCode">
    <simpleContent>
      <extension base="brp:GeslachtsaanduidingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Geslachtsnaamstam">
    <simpleContent>
      <extension base="brp:Geslachtsnaamstam-s" />
    </simpleContent>
  </complexType>
  <complexType name="HistorievormNaam">
    <simpleContent>
      <extension base="brp:HistorievormNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisletter">
    <simpleContent>
      <extension base="brp:Huisletter-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummer">
    <simpleContent>
      <extension base="brp:Huisnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Huisnummertoevoeging">
    <simpleContent>
      <extension base="brp:Huisnummertoevoeging-s" />
    </simpleContent>
  </complexType>
  <complexType name="ISO31661Alpha2">
    <simpleContent>
      <extension base="brp:ISO31661Alpha2-s" />
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeAdresseerbaarObject">
    <simpleContent>
      <extension base="brp:IdentificatiecodeAdresseerbaarObject-s" />
    </simpleContent>
  </complexType>
  <complexType name="IdentificatiecodeNummeraanduiding">
    <simpleContent>
      <extension base="brp:IdentificatiecodeNummeraanduiding-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ja">
    <simpleContent>
      <extension base="brp:Ja-s" />
    </simpleContent>
  </complexType>
  <complexType name="JaNee">
    <simpleContent>
      <extension base="brp:JaNee-s" />
    </simpleContent>
  </complexType>
  <complexType name="LandGebiedCode">
    <simpleContent>
      <extension base="brp:LandGebiedCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="LeveringsautorisatieID">
    <simpleContent>
      <extension base="brp:LeveringsautorisatieID-s" />
    </simpleContent>
  </complexType>
  <complexType name="LocatieTenOpzichteVanAdres">
    <simpleContent>
      <extension base="brp:LocatieTenOpzichteVanAdres-s" />
    </simpleContent>
  </complexType>
  <complexType name="Locatieomschrijving">
    <simpleContent>
      <extension base="brp:Locatieomschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="Meldingtekst">
    <simpleContent>
      <extension base="brp:Meldingtekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:NaamEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamEnumeratiewaardeLang">
    <simpleContent>
      <extension base="brp:NaamEnumeratiewaardeLang-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamOpenbareRuimte">
    <simpleContent>
      <extension base="brp:NaamOpenbareRuimte-s" />
    </simpleContent>
  </complexType>
  <complexType name="NaamgebruikCode">
    <simpleContent>
      <extension base="brp:NaamgebruikCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="NadereAanduidingVerval">
    <simpleContent>
      <extension base="brp:NadereAanduidingVerval-s" />
    </simpleContent>
  </complexType>
  <complexType name="NadereBijhoudingsaardCode">
    <simpleContent>
      <extension base="brp:NadereBijhoudingsaardCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Nationaliteitcode">
    <simpleContent>
      <extension base="brp:Nationaliteitcode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Nee">
    <simpleContent>
      <extension base="brp:Nee-s" />
    </simpleContent>
  </complexType>
  <complexType name="OmschrijvingEnumeratiewaarde">
    <simpleContent>
      <extension base="brp:OmschrijvingEnumeratiewaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="OnderzoekOmschrijving">
    <simpleContent>
      <extension base="brp:OnderzoekOmschrijving-s" />
    </simpleContent>
  </complexType>
  <complexType name="Ontleningstoelichting">
    <simpleContent>
      <extension base="brp:Ontleningstoelichting-s" />
    </simpleContent>
  </complexType>
  <complexType name="PartijCode">
    <simpleContent>
      <extension base="brp:PartijCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Postcode">
    <simpleContent>
      <extension base="brp:Postcode-s" />
    </simpleContent>
  </complexType>
  <complexType name="PredicaatCode">
    <simpleContent>
      <extension base="brp:PredicaatCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RechtsgrondCode">
    <simpleContent>
      <extension base="brp:RechtsgrondCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenEindeRelatieCode">
    <simpleContent>
      <extension base="brp:RedenEindeRelatieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerkrijgingCode">
    <simpleContent>
      <extension base="brp:RedenVerkrijgingCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenVerliesCode">
    <simpleContent>
      <extension base="brp:RedenVerliesCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="RedenWijzigingVerblijfCode">
    <simpleContent>
      <extension base="brp:RedenWijzigingVerblijfCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="Referentienummer">
    <simpleContent>
      <extension base="brp:Referentienummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="RegelCode">
    <simpleContent>
      <extension base="brp:RegelCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="ReisdocumentNummer">
    <simpleContent>
      <extension base="brp:ReisdocumentNummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="RolNaam">
    <simpleContent>
      <extension base="brp:RolNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Scheidingsteken">
    <simpleContent>
      <extension base="brp:Scheidingsteken-s" />
    </simpleContent>
  </complexType>
  <complexType name="Sleutelwaarde">
    <simpleContent>
      <extension base="brp:Sleutelwaarde-s" />
    </simpleContent>
  </complexType>
  <complexType name="Sleutelwaardetekst">
    <simpleContent>
      <extension base="brp:Sleutelwaardetekst-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortAdresCode">
    <simpleContent>
      <extension base="brp:SoortAdresCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortElementNaam">
    <simpleContent>
      <extension base="brp:SoortElementNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMeldingNaam">
    <simpleContent>
      <extension base="brp:SoortMeldingNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortMigratieCode">
    <simpleContent>
      <extension base="brp:SoortMigratieCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortNederlandsReisdocumentCode">
    <simpleContent>
      <extension base="brp:SoortNederlandsReisdocumentCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortPartijOnderzoekNaam">
    <simpleContent>
      <extension base="brp:SoortPartijOnderzoekNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortPersoonCode">
    <simpleContent>
      <extension base="brp:SoortPersoonCode-s" />
    </simpleContent>
  </complexType>
  <complexType name="SoortPersoonOnderzoekNaam">
    <simpleContent>
      <extension base="brp:SoortPersoonOnderzoekNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Stamgegeven">
    <simpleContent>
      <extension base="brp:Stamgegeven-s" />
    </simpleContent>
  </complexType>
  <complexType name="StatusOnderzoekNaam">
    <simpleContent>
      <extension base="brp:StatusOnderzoekNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="SysteemNaam">
    <simpleContent>
      <extension base="brp:SysteemNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerwerkingsresultaatNaam">
    <simpleContent>
      <extension base="brp:VerwerkingsresultaatNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Verwerkingssoort">
    <simpleContent>
      <extension base="brp:Verwerkingssoort-s" />
    </simpleContent>
  </complexType>
  <complexType name="VerwerkingswijzeNaam">
    <simpleContent>
      <extension base="brp:VerwerkingswijzeNaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Volgnummer">
    <simpleContent>
      <extension base="brp:Volgnummer-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornaam">
    <simpleContent>
      <extension base="brp:Voornaam-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voornamen">
    <simpleContent>
      <extension base="brp:Voornamen-s" />
    </simpleContent>
  </complexType>
  <complexType name="Voorvoegsel">
    <simpleContent>
      <extension base="brp:Voorvoegsel-s" />
    </simpleContent>
  </complexType>
  <complexType name="Woonplaatscode">
    <simpleContent>
      <extension base="brp:Woonplaatscode-s" />
    </simpleContent>
  </complexType>
</schema>
