2013/brp 2013-02-07/BRP/branches/brp-stappen-refactoring/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_HuwelijkPartnerschap_Berichten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" xmlns:brp="http://www.bprbzk.nl/BRP/0100" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_HuwelijkPartnerschap_Basis.xsd"/>
	<element name="HPS_RegistreerHuwelijkPartnerschap_B" type="brp:HuwelijkPartnerschap_RegistreerHuwelijkPartnerschap_Bijhouding"/>
	<element name="HPS_RegistreerHuwelijkPartnerschap_BR" type="brp:HuwelijkPartnerschap_RegistreerHuwelijkPartnerschap_BijhoudingResultaat"/>
	<!-- -->
	<!-- Bericht RegistreerHuwelijkPartnerschap -->
	<complexType name="HuwelijkPartnerschap_RegistreerHuwelijkPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<choice>
						<element name="sluitingHuwelijkNederland" type="brp:Handeling_SluitingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkNederland" type="brp:Handeling_OntbindingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="sluitingGeregistreerdPartnerschapNederland" type="brp:Handeling_SluitingGeregistreerdPartnerschapNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingGeregistreerdPartnerschapNederland" type="brp:Handeling_OntbindingGeregistreerdPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="sluitingHuwelijkBuitenland" type="brp:Handeling_SluitingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkBuitenland" type="brp:Handeling_OntbindingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Administratieve handeling Sluting Huwelijk Nederland -->
	<complexType name="Handeling_SluitingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_SluitingHuwelijkNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Administratieve handeling Ontbinding Huwelijk Nederland -->
	<complexType name="Handeling_OntbindingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Sluting Geregistreerd Partnerschap Nederland -->
	<complexType name="Handeling_SluitingGeregistreerdPartnerschapNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_SluitingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingGeregistreerdPartnerschapNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Administratieve handeling Ontbinding Geregistreerd Partnerschap Nederland -->
	<complexType name="Handeling_OntbindingGeregistreerdPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingGeregistreerdPartnerschapNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Administratieve handeling Sluting Huwelijk Buitenland -->
	<complexType name="Handeling_SluitingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_SluitingHuwelijkBuitenland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_SluitingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Administratieve handeling Ontbinding Huwelijk Buitenland -->
	<complexType name="Handeling_OntbindingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkBuitenland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="toelichtingOntlening" type="brp:Ontleningstoelichting" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="acties" type="brp:Container_Handeling_Acties_OntbindingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- BijhoudingResultaat -->
	<complexType name="HuwelijkPartnerschap_RegistreerHuwelijkPartnerschap_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_BerichtResultaat_Bijhouding">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="sluitingHuwelijkNederland" type="brp:Handeling_SluitingHuwelijkNederland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkNederland" type="brp:Handeling_OntbindingHuwelijkNederland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="sluitingGeregistreerdPartnerschapNederland" type="brp:Handeling_SluitingGeregistreerdPartnerschapNederland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingGeregistreerdPartnerschapNederland" type="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="sluitingHuwelijkBuitenland" type="brp:Handeling_SluitingHuwelijkBuitenland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="ontbindingHuwelijkBuitenland" type="brp:Handeling_OntbindingHuwelijkBuitenland_Resultaat" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
