2013/brp 2013-02-07/BRP/branches/brp-stappen-refactoring/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_HuwelijkPartnerschap_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" xmlns:brp="http://www.bprbzk.nl/BRP/0100" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_Bijhouding_Basis.xsd"/>
	<!-- -->
	<!-- Container Acties Huwelijk NL -->
	<complexType name="Container_Handeling_Acties_SluitingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_SluitingHuwelijkNederland">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_SluitingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Huwelijk NL -->
	<complexType name="Actie_SluitingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_HuwelijkNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijkNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Huwelijkontbinding NL -->
	<complexType name="Container_Handeling_Acties_OntbindingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OntbindingHuwelijkNederland">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_OntbindingHuwelijkNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Huwelijksontbinding NL -->
	<complexType name="Actie_OntbindingHuwelijkNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_HuwelijksontbindingNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijksontbindingNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties GeregistreerdPartnerschap NL -->
	<complexType name="Container_Handeling_Acties_SluitingGeregistreerdPartnerschapNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_SluitingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="registratieGeregistreerdPartnerschap" type="brp:Actie_SluitingGeregistreerdPartnerschapNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Geregistreerd Partnerschap NL  -->
	<complexType name="Actie_SluitingGeregistreerdPartnerschapNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschapNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschapNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Ontbinding GeregistreerdPartnerschap NL -->
	<complexType name="Container_Handeling_Acties_OntbindingGeregistreerdPartnerschapNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OntbindingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="registratieGeregistreerdPartnerschap" type="brp:Actie_OntbindingGeregistreerdPartnerschapNederland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Geregistreerd Partnerschap Ontbinding NL -->
	<complexType name="Actie_OntbindingGeregistreerdPartnerschapNederland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieGeregistreerdPartnerschap">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschapOntbindingNL_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschapOntbindingNL_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Huwelijk Buitenland -->
	<complexType name="Container_Handeling_Acties_SluitingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_SluitingHuwelijkBuitenland">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_SluitingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Huwelijk Buitenland -->
	<complexType name="Actie_SluitingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_HuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Container Acties Huwelijksontbinding Buitenland -->
	<complexType name="Container_Handeling_Acties_OntbindingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_Handeling_Acties_OntbindingHuwelijkBuitenland">
				<sequence>
					<element name="registratieHuwelijk" type="brp:Actie_OntbindingHuwelijkBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="registratieAanschrijving" type="brp:Actie_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Actie Registratie Huwelijk Buitenland -->
	<complexType name="Actie_OntbindingHuwelijkBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieHuwelijk">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huwelijk" type="brp:Objecttype_HuwelijksontbindingBuitenland_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_HuwelijksontbindingBuitenland_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="Container_RelatieBetrokkenhedenHuwelijkPartnerschap_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<choice>
						<element name="partner" type="brp:Objecttype_Partner_Bijhouding" nillable="true" minOccurs="2" maxOccurs="2"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<element name="persoon" type="brp:Persoon_Identificatie_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Actie Registratie Aanschrijving -->
	<complexType name="Actie_RegistratieAanschrijvingHPS_Bijhouding">
		<complexContent>
			<restriction base="brp:Actie_RegistratieAanschrijving">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="persoon" type="brp:Objectype_Persoon_RegistratieAanschrijvingHPS_Bijhouding" nillable="true" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objectype_Persoon_RegistratieAanschrijvingHPS_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="aanschrijving" type="brp:Groep_PersoonAanschrijvingHPS_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAanschrijvingHPS_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_PersoonAanschrijving">
				<sequence>
					<element name="naamgebruikCode" type="brp:WijzeGebruikGeslachtsnaamCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieTitelsPredikatenBijAanschrijven" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
</schema>
