2013/brp 2013-02-07/BRP/branches/brp-stappen-refactoring/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_Bijhouding_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" xmlns:brp="http://www.bprbzk.nl/BRP/0100" xmlns:ns1="http://www.bprbzk.nl/BRP/0100" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_Objecttypen.xsd"/>
	<!-- ... -->
	<!-- Alle Berichtelementen Bijhouding die voor meerdere modules een rol spelen. Specifieke vulling van objecten/groepen opgenomen in BRPxxxx_<BZM>.xsd's. -->
	<!-- ... -->
	<!-- Referenties naar objecten -->
	<complexType name="Persoon_Identificatie_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_NietIngeschrevene" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_NietIngeschrevene" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_NietIngeschrevene" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_NietIngeschrevene" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers_NietIngeschrevene">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="administratienummer" type="brp:ANummer" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaam_NietIngeschrevene">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeboorte_NietIngeschrevene">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeboorte">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeslachtsaanduiding_NietIngeschrevene">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Nadere specificatie objecttype 'BerichtBijhouding' (samenstelling en attributes) behoudens keuze uit Handeling gelijk -->
	<complexType name="Objecttype_Bericht_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<!-- Voorkomens van groepen/Containers is max. 1 -->
					<element name="stuurgegevens" type="stuf:StuurgegevensDi02_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="parameters" type="brp:Groep_BerichtParameters_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="inschrijvingDoorGeboorte" type="brp:Handeling_InschrijvingDoorGeboorte" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="inschrijvingDoorGeboorteMetErkenning" type="brp:Handeling_InschrijvingDoorGeboorteMetErkenning" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkNederland" type="brp:Handeling_SluitingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkNederland" type="brp:Handeling_OntbindingHuwelijkNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingGeregistreerdPartnerschapNederland" type="brp:Handeling_SluitingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingGeregistreerdPartnerschapNederland" type="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkBuitenland" type="brp:Handeling_SluitingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkBuitenland" type="brp:Handeling_OntbindingHuwelijkBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieBinnengemeentelijkeVerhuizing" type="brp:Handeling_RegistratieBinnengemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieIntergemeentelijkeVerhuizing" type="brp:Handeling_RegistratieIntergemeentelijkeVerhuizing" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieAdresNederland" type="brp:Handeling_CorrectieAdresNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenNederland" type="brp:Handeling_RegistratieOverlijdenNederland" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenBuitenland" type="brp:Handeling_RegistratieOverlijdenBuitenland" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Nadere specificatie objecttype 'BerichtResultaat' (samenstelling en attributes); voor alle berichten gelijk -->
	<!-- Door AdmHandeling als ankerpunt in Resultaatbericht op te nemen; hier ook de grote 'choice'; alternatief zou zijn om (Code) Omschrijving -->
	<!-- als elementen binnen AdmHandeling op te nemen bij resultaatbericht ... -->
	<complexType name="Objecttype_BerichtResultaat_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Bericht">
				<sequence>
					<element name="stuurgegevens" type="stuf:StuurgegevensDu02_Bijhouding" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="resultaat" type="brp:Groep_BerichtResultaat_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="meldingen" type="brp:Container_BerichtMeldingen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<!-- Administratieve handeling als ankerpunt in resultaat-bericht ... -->
					<choice>
						<element name="inschrijvingDoorGeboorte" type="brp:Handeling_InschrijvingDoorGeboorte_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="inschrijvingDoorGeboorteMetErkenning" type="brp:Handeling_InschrijvingDoorGeboorteMetErkenning_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkNederland" type="brp:Handeling_SluitingHuwelijkNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkNederland" type="brp:Handeling_OntbindingHuwelijkNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingGeregistreerdPartnerschapNederland" type="brp:Handeling_SluitingGeregistreerdPartnerschapNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingGeregistreerdPartnerschapNederland" type="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="sluitingHuwelijkBuitenland" type="brp:Handeling_SluitingHuwelijkBuitenland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ontbindingHuwelijkBuitenland" type="brp:Handeling_OntbindingHuwelijkBuitenland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieBinnengemeentelijkeVerhuizing" type="brp:Handeling_RegistratieBinnengemeentelijkeVerhuizing_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieIntergemeentelijkeVerhuizing" type="brp:Handeling_RegistratieIntergemeentelijkeVerhuizing_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="correctieAdresNederland" type="brp:Handeling_CorrectieAdresNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenNederland" type="brp:Handeling_RegistratieOverlijdenNederland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="registratieOverlijdenBuitenland" type="brp:Handeling_RegistratieOverlijdenBuitenland_Resultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Gebruik element 'bijgehoudenPersonen&bijgehoudenDocumenten' en attribuut 'technische sleutel' optioneel ivm 'Prevalidatie'-->
	<complexType name="Handeling_InschrijvingDoorGeboorte_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_InschrijvingDoorGeboorte">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_InschrijvingDoorGeboorteMetErkenning_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_InschrijvingDoorGeboorteMetErkenning">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingHuwelijkNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_SluitingHuwelijkNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingHuwelijkNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingGeregistreerdPartnerschapNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_SluitingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingGeregistreerdPartnerschapNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingGeregistreerdPartnerschapNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_SluitingHuwelijkBuitenland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_SluitingHuwelijkBuitenland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_OntbindingHuwelijkBuitenland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_OntbindingHuwelijkBuitenland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieBinnengemeentelijkeVerhuizing_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_RegistratieBinnengemeentelijkeVerhuizing">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieIntergemeentelijkeVerhuizing_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_RegistratieIntergemeentelijkeVerhuizing">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_CorrectieAdresNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_CorrectieAdresNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieOverlijdenNederland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_RegistratieOverlijdenNederland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Handeling_RegistratieOverlijdenBuitenland_Resultaat">
		<complexContent>
			<restriction base="brp:Handeling_RegistratieOverlijdenBuitenland">
				<sequence>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipOntlening" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="tijdstipRegistratie" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gedeblokkeerdeMeldingen" type="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenPersonen" type="brp:Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijgehoudenDocumenten" type="brp:Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="AdministratieveHandeling"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<complexType name="Groep_BerichtParameters_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="verwerkingswijze" type="brp:Verwerkingswijze" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="Groep_BerichtResultaat_Bijhouding">
		<complexContent>
			<restriction base="brp:Groep_BerichtResultaat">
				<sequence>
					<element name="verwerkingCode" type="brp:VerwerkingsresultaatCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijhoudingCode" type="brp:BijhoudingsresultaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="hoogsteMeldingsniveauCode" type="brp:SoortMeldingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Resultaat"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<complexType name="Container_BerichtMeldingen_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_BerichtMeldingen">
				<sequence>
					<choice>
						<element name="melding" type="brp:Objecttype_Melding_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Melding_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Melding">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="soortCode" type="brp:SoortMeldingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="melding" type="brp:Meldingtekst" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Melding"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<complexType name="Container_AdministratieveHandelingGedeblokkeerdeMeldingen_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen">
				<sequence>
					<choice>
						<element name="gedeblokkeerdeMelding" type="brp:Objecttype_GedeblokkeerdeMelding_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GedeblokkeerdeMelding_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_GedeblokkeerdeMelding">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="GedeblokkeerdeMelding"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_AdministratieveHandelingGedeblokkeerdeMeldingen_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Container_AdministratieveHandelingGedeblokkeerdeMeldingen">
				<sequence>
					<choice>
						<element name="gedeblokkeerdeMelding" type="brp:Objecttype_GedeblokkeerdeMelding_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GedeblokkeerdeMelding_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_GedeblokkeerdeMelding">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="melding" type="brp:Meldingtekst" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="GedeblokkeerdeMelding"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<complexType name="Container_AdministratieveHandelingBijgehoudenPersonen_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_AdministratieveHandelingBijgehoudenPersonen">
				<sequence>
					<choice>
						<element name="persoon" type="brp:BijgehoudenPersoon_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="BijgehoudenPersoon_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_BijgehoudenPersoon" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="optional"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers_BijgehoudenPersoon">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Bijgehouden documenten zoals meegegeven door de BZM in het Bijhoudingbericht -->
	<complexType name="Container_AdministratieveHandelingBijgehoudenDocumenten_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_AdministratieveHandelingBijgehoudenDocumenten">
				<sequence>
					<element name="document" type="brp:OvergelegdDocument_Bijhouding" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="OvergelegdDocument_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Document">
				<sequence>
					<element name="soortNaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatie" type="brp:DocumentIdentificatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="aktenummer" type="brp:Aktenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Document"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Bijgehouden documenten zoals vastgelegd in de BRP en gerouteerd in het BijhoudingResultaatbericht -->
	<complexType name="Container_AdministratieveHandelingBijgehoudenDocumenten_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Container_AdministratieveHandelingBijgehoudenDocumenten">
				<sequence>
					<element name="document" type="brp:OvergelegdDocument_BijhoudingResultaat" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="OvergelegdDocument_BijhoudingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Document">
				<sequence>
					<element name="soortNaam" type="brp:NaamEnumeratiewaarde" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatie" type="brp:DocumentIdentificatie" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="partijCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Document"/>
				<attribute ref="brp:technischeSleutel" use="required"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Gemeenschappelijk gebruikte Bijhouding Objecttypen, Groepen, Containers en Views vanuit Actie. Evt.verdere restrictie op module niveau  -->
	<complexType name="Objecttype_Actie_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Actie">
				<sequence>
					<element name="datumAanvangGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEindeGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bronnen" type="brp:Container_ActieBronnen_Bijhouding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<choice>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="persoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Actie"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="optional"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Verwijzing naar één of meerdere bijgehouden documenten en/of rechtsgronden als bron voor betreffende Actie -->
	<complexType name="Container_ActieBronnen_Bijhouding">
		<complexContent>
			<restriction base="brp:Container_ActieBronnen">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="document" type="brp:Objecttype_DocumentVerwijzing_Bijhouding" nillable="false" minOccurs="0" maxOccurs="unbounded"/>
						<!-- <element name="rechtsgrond" type="brp:Objecttype_Rechtsgrond_Bijhouding" nillable="false" minOccurs="0" maxOccurs="unbounded"/> -->
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_DocumentVerwijzing_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Document">
				<sequence/>
				<attribute ref="stuf:entiteittype" use="required" fixed="Document"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="required"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- <complexType name="Objecttype_Rechtsgrond_Bijhouding">
		<complexContent>
			<restriction base="brp:Objecttype_Rechtsgrond">
				<sequence/>
				<attribute ref="stuf:entiteittype" use="required" fixed="Rechtsgrond"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>-->
	<!-- -->
	<!-- Ruimte voor gemeenschappelijk gebruikte Acties en/of Berichtelementen ... vulling naarmate de uitwerking van het BRP-koppelvlak Bijhouding vordert.  -->
	<!-- -->
</schema>
