2013/brp 2013-02-07/BRP/branches/brp-stappen-refactoring/webservice/src/main/webapp/WEB-INF/wsdl/BRP0100_Bevraging_Basis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Datum: 10-01-2013 Status:Concept -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:stuf="http://www.kinggemeenten.nl/StUF/StUF0302" xmlns:brp="http://www.bprbzk.nl/BRP/0100" targetNamespace="http://www.bprbzk.nl/BRP/0100" elementFormDefault="qualified" attributeFormDefault="unqualified" version="010001">
	<import namespace="http://www.kinggemeenten.nl/StUF/StUF0302" schemaLocation="BRP0100_StUF.xsd"/>
	<include schemaLocation="BRP0100_Objecttypen.xsd"/>
	<!-- -->
	<!-- Algemeen te gebruiken 'parameters' bevraging Persoon -->
	<complexType name="Groep_BerichtParameters_Bevraging">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters">
				<sequence>
					<element name="peilmomentMaterieel" type="stuf:Datum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="peilmomentFormeel" type="stuf:DatumTijd-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aanschouwer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="required"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtParameters_PeilmomentMaterieel">
		<complexContent>
			<restriction base="brp:Groep_BerichtParameters_Bevraging">
				<sequence>
					<element name="peilmomentMaterieel" type="stuf:Datum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Algemeen te gebruiken 'meldingen' bevraging Persoon -->
	<complexType name="Container_BerichtMeldingen_Bevraging">
		<complexContent>
			<restriction base="brp:Container_BerichtMeldingen">
				<sequence>
					<element name="melding" type="brp:Objecttype_Melding_Bevraging" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Melding_Bevraging">
		<complexContent>
			<restriction base="brp:Objecttype_Melding">
				<sequence>
					<element name="regelCode" type="brp:RegelCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="soortCode" type="brp:SoortMeldingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="melding" type="brp:Meldingtekst" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="attribuutNaam" type="brp:LangeNaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Melding"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Algemeen te gebruiken combinaties van Zoekcriteria -->
	<complexType name="Groep_BerichtVraag_Zoekcriteria_Burgerservicenummer">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag_Zoekcriteria">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="technischeSleutel" type="brp:Sleutelwaardetekst-s" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_BerichtVraag_Zoekcriteria_Adres">
		<complexContent>
			<restriction base="brp:Groep_BerichtVraag_Zoekcriteria">
				<sequence>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Berichtresultaat Bevraging -->
	<complexType name="Groep_BerichtResultaat_Bevraging">
		<complexContent>
			<restriction base="brp:Groep_BerichtResultaat">
				<sequence>
					<element name="verwerkingCode" type="brp:VerwerkingsresultaatCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="hoogsteMeldingsniveauCode" type="brp:SoortMeldingCode" nillable="false" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Resultaat"/>
				<attribute ref="brp:technischeSleutel" use="prohibited"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Detail-uitwerking antwoorden op bevraging-berichten -->
	<!-- DETAILS PERSOON - ACTUEEL -->
	<complexType name="Objecttype_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="inschrijving" type="brp:Groep_PersoonInschrijving_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijhoudingsaard" type="brp:Groep_PersoonBijhoudingsaard_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="bijhoudingsgemeente" type="brp:Groep_PersoonBijhoudingsgemeente_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="opschorting" type="brp:Groep_PersoonOpschorting_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aanschrijving" type="brp:Groep_PersoonAanschrijving_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_AntwoordA" nillable="true" minOccurs="1" maxOccurs="1"/>
					<element name="nationaliteiten" type="brp:Container_PersoonNationaliteiten_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="immigratie" type="brp:Groep_PersoonImmigratie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="verblijfstitel" type="brp:Groep_PersoonVerblijfstitel_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="bijzondereVerblijfsrechtelijkePositie" type="brp:Groep_PersoonBijzondereVerblijfsrechtelijkePositie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="reisdocumenten" type="brp:Container_PersoonReisdocumenten_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="uitsluitingNLKiesrecht" type="brp:Groep_PersoonUitsluitingNLKiesrecht_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="eUVerkiezingen" type="brp:Groep_PersoonEUVerkiezingen_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="persoonskaart" type="brp:Groep_PersoonPersoonskaart_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAfgeleidAdministratief_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonAfgeleidAdministratief">
				<sequence>
					<element name="tijdstipLaatsteWijziging" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieGegevensInOnderzoek" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaam_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeboorte_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeboorte">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeslachtsaanduiding_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonInschrijving_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonInschrijving">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="versienummer" type="brp:Versienummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="vorigePersoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="volgendePersoon" type="brp:Objecttype_Persoon" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingsaard_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhoudingsaard">
				<sequence>
					<element name="code" type="brp:VerantwoordelijkeCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijhoudingsgemeente_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijhoudingsgemeente">
				<sequence>
					<element name="code" type="brp:GemeenteCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInschrijvingInGemeente" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieOnverwerktDocumentAanwezig" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOpschorting_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonOpschorting">
				<sequence>
					<element name="redenOpschortingBijhoudingCode" type="brp:RedenOpschortingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonOverlijden_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonOverlijden">
				<sequence>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamen_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaam_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaam_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVoornaam">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naam" type="brp:Voornaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonVoornaam"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamcomponenten_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonGeslachtsnaamcomponenten">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponent_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponent_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonGeslachtsnaamcomponent">
				<sequence>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naam" type="brp:Geslachtsnaamcomponent" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonGeslachtsnaamcomponent"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAanschrijving_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonAanschrijving">
				<sequence>
					<element name="naamgebruikCode" type="brp:WijzeGebruikGeslachtsnaamCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieTitelsPredikatenBijAanschrijven" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonAdressen_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonAdressen">
				<sequence>
					<element name="adres" type="brp:Objecttype_PersoonAdres_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonAdres_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonAdres">
				<sequence>
					<element name="soortCode" type="brp:SoortAdresCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenWijzigingCode" type="brp:RedenWijzigingAdresCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aangeverAdreshoudingCode" type="brp:AangeverAdreshoudingCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumAanvangAdreshouding" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adresseerbaarObject" type="brp:AanduidingAdresseerbaarObject" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatiecodeNummeraanduiding" type="brp:IdentificatiecodeNummeraanduiding" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naamOpenbareRuimte" type="brp:NaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="afgekorteNaamOpenbareRuimte" type="brp:AfgekorteNaamOpenbareRuimte" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeentedeel" type="brp:Gemeentedeel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummer" type="brp:Huisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisletter" type="brp:Huisletter" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="huisnummertoevoeging" type="brp:Huisnummertoevoeging" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="postcode" type="brp:Postcode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="locatietovAdres" type="brp:AanduidingBijHuisnummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="locatieOmschrijving" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumVertrekUitNederland" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel1" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel2" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel3" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel4" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel5" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsAdresRegel6" type="brp:Adresregel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatiePersoonNietAangetroffenOpAdres" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonAdres"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonNationaliteiten_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonNationaliteiten">
				<sequence>
					<element name="nationaliteit" type="brp:Objecttype_PersoonNationaliteit_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonNationaliteit_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonNationaliteit">
				<sequence>
					<element name="nationaliteitCode" type="brp:Nationaliteitcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenVerkrijgingCode" type="brp:RedenVerkrijgingCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenVerliesCode" type="brp:RedenVerliesCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonNationaliteit"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<choice minOccurs="0" maxOccurs="7">
						<element name="derdeHeeftGezag" type="brp:Indicator_DerdeHeeftGezag_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="onderCuratele" type="brp:Indicator_OnderCuratele_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="verstrekkingsbeperking" type="brp:Indicator_Verstrekkingsbeperking_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="vastgesteldNietNederlander" type="brp:Indicator_VastgesteldNietNederlander_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="behandeldAlsNederlander" type="brp:Indicator_BehandeldAlsNederlander_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="belemmeringVerstrekkingReisdocument" type="brp:Indicator_BelemmeringVerstrekkingReisdocument_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="staatloos" type="brp:Indicator_Staatloos_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_DerdeHeeftGezag_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_DerdeHeeftGezag">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnderCuratele_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_OnderCuratele">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Verstrekkingsbeperking_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_Verstrekkingsbeperking">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_VastgesteldNietNederlander_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_VastgesteldNietNederlander">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BehandeldAlsNederlander_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_BehandeldAlsNederlander">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BelemmeringVerstrekkingReisdocument_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_BelemmeringVerstrekkingReisdocument">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Staatloos_AntwoordA">
		<complexContent>
			<restriction base="brp:Indicator_Staatloos">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- In Details-Persoon mee te geven Betrokkenheden; te zien vanuit Persoon. 'Kind' te lezen als 'KindVan', zo leidend tot betreffende ouder -->
	<complexType name="Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="kind" type="brp:Objecttype_Kind_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
						<element name="ouder" type="brp:Objecttype_Ouder_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="partner" type="brp:Objecttype_Partner_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - KindVan - Familirechtelijke betrekking - OuderVan - Persoon -->
	<complexType name="Objecttype_Kind_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsOuder_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsOuder_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsOuder_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsOuder_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_DetailsOuder_AntwoordA" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsOuder_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderlijkGezag">
				<sequence>
					<element name="indicatieOuderHeeftGezag" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - OuderVan - Familierechtelijke betrekking - KindVan - Persoon -->
	<complexType name="Objecttype_Ouder_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsKind_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsKind_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsKind_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsKind_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Ouder_DetailsKind_AntwoordA" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsKind_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - PartnerVan - Huwelijk/GeregistreerdPrtnerscahp - PartnerVan - Persoon -->
	<complexType name="Objecttype_Partner_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice minOccurs="1" maxOccurs="1">
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap_DetailsPersoon_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk_DetailsPersoon_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Huwelijk_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartner_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschap_DetailsPersoon_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartner_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsPartner_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_Partner_DetailsPartner_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner_DetailsPartner_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Betrokkene van Persoon in Antwoord; altijd Actueel ongeacht Vraag A/MH/FH -->
	<complexType name="Objectype_PersoonBetrokkene_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummersBetrokkene_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummersBetrokkene_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- Einde uitwerking Betrokkenheden -->
	<complexType name="Groep_PersoonImmigratie_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonImmigratie">
				<sequence>
					<element name="landVanwaarGevestigdCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumVestigingInNederland" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonVerblijfstitel_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonVerblijfstitel">
				<sequence>
					<element name="code" type="brp:CodeVerblijfstitel" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumVoorzienEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonBijzondereVerblijfsrechtelijkePositie_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonBijzondereVerblijfsrechtelijkePositie">
				<sequence>
					<element name="naam" type="brp:NaamEnumeratiewaarde" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonReisdocumenten_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonReisdocumenten">
				<sequence>
					<element name="reisdocument" type="brp:Objecttype_PersoonReisdocument_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonReisdocument_AntwoordA">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonReisdocument">
				<sequence>
					<element name="soortCode" type="brp:SoortNederlandsReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="nummer" type="brp:ReisdocumentNummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="lengteHouder" type="brp:LengteInCm" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="autoriteitVanAfgifteCode" type="brp:AutoriteitVanAfgifteReisdocumentCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumIngangDocument" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumUitgifte" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumVoorzieneEindeGeldigheid" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumInhoudingVermissing" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="redenVervallenCode" type="brp:RedenOntbrekenReisdocumentCode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonReisdocument"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonUitsluitingNLKiesrecht_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonUitsluitingNLKiesrecht">
				<sequence>
					<element name="indicatie" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonEUVerkiezingen_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonEUVerkiezingen">
				<sequence>
					<element name="indicatieDeelname" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanleidingAanpassingDeelnameEUVerkiezing" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEindeUitsluitingEUKiesrecht" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonPersoonskaart_AntwoordA">
		<complexContent>
			<restriction base="brp:Groep_PersoonPersoonskaart">
				<sequence>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieVolledigGeconverteerd" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- DETAILS PERSOON - FORMEEL - THEMA IDENTIFICATIE&INDICATIES -->
	<complexType name="Objecttype_DetailsPersoon_AntwoordFH_ThemaIdentificatieIndicaties">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAfgeleidAdministratief_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonAfgeleidAdministratief">
				<sequence>
					<element name="tijdstipLaatsteWijziging" type="stuf:DatumTijd-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieGegevensInOnderzoek" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonIdentificatienummers_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonIdentificatienummers">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="burgerservicenummer" type="brp:Burgerservicenummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="administratienummer" type="brp:ANummer" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonIndicaties_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="derdeHeeftGezag" type="brp:Indicator_DerdeHeeftGezag_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="onderCuratele" type="brp:Indicator_OnderCuratele_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="verstrekkingsbeperking" type="brp:Indicator_Verstrekkingsbeperking_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="vastgesteldNietNederlander" type="brp:Indicator_VastgesteldNietNederlander_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="behandeldAlsNederlander" type="brp:Indicator_BehandeldAlsNederlander_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="belemmeringVerstrekkingReisdocument" type="brp:Indicator_BelemmeringVerstrekkingReisdocument_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="staatloos" type="brp:Indicator_Staatloos_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_DerdeHeeftGezag_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_DerdeHeeftGezag">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_OnderCuratele_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_OnderCuratele">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Verstrekkingsbeperking_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_Verstrekkingsbeperking">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_VastgesteldNietNederlander_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_VastgesteldNietNederlander">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BehandeldAlsNederlander_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_BehandeldAlsNederlander">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_BelemmeringVerstrekkingReisdocument_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_BelemmeringVerstrekkingReisdocument">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Indicator_Staatloos_AntwoordFH">
		<complexContent>
			<restriction base="brp:Indicator_Staatloos">
				<sequence>
					<element name="waarde" type="brp:Ja" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonIndicatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<complexType name="Groep_PersoonGeboorte_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeboorte">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element name="datum" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaats" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegio" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatie" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- DETAILS PERSOON - FORMEEL - THEMA NAAM&GESLACHT -->
	<complexType name="Objecttype_DetailsPersoon_AntwoordFH_ThemaNaamGeslacht">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>				
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="voornamen" type="brp:Container_PersoonVoornamen_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaamcomponenten" type="brp:Container_PersoonGeslachtsnaamcomponenten_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="aanschrijving" type="brp:Groep_PersoonAanschrijving_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonSamengesteldeNaam_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonSamengesteldeNaam">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieNamenreeks" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonGeslachtsaanduiding_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonGeslachtsaanduiding">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="code" type="brp:GeslachtsaanduidingCode" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonVoornamen_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_PersoonVoornamen">
				<sequence>
					<element name="voornaam" type="brp:Objecttype_PersoonVoornaam_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonVoornaam_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonVoornaam">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="naam" type="brp:Voornaam" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonVoornaam"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_PersoonGeslachtsnaamcomponenten_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_PersoonGeslachtsnaamcomponenten">
				<sequence>
					<element name="geslachtsnaamcomponent" type="brp:Objecttype_PersoonGeslachtsnaamcomponent_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_PersoonGeslachtsnaamcomponent_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_PersoonGeslachtsnaamcomponent">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="volgnummer" type="brp:Volgnummer" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="naam" type="brp:Geslachtsnaamcomponent" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="PersoonGeslachtsnaamcomponent"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_PersoonAanschrijving_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_PersoonAanschrijving">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element name="naamgebruikCode" type="brp:WijzeGebruikGeslachtsnaamCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicatieTitelsPredikatenBijAanschrijven" type="brp:JaNee" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieAlgoritmischAfgeleid" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="predikaatCode" type="brp:PredikaatCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voornamen" type="brp:Voornamen" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adellijkeTitelCode" type="brp:AdellijkeTitelCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="voorvoegsel" type="brp:Voorvoegsel" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="scheidingsteken" type="brp:Scheidingsteken" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="geslachtsnaam" type="brp:Geslachtsnaam" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- DETAILS PERSOON - FORMEEL - THEMA BETROKKENHEDEN -->
	<complexType name="Objecttype_DetailsPersoon_AntwoordFH_ThemaBetrokkenheden">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- In Details-Persoon mee te geven Betrokkenheden; te zien vanuit Persoon. 'Kind' te lezen als 'KindVan', zo leidend tot betreffende ouder -->
	<complexType name="Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_PersoonBetrokkenheden">
				<sequence>
					<choice minOccurs="0" maxOccurs="unbounded">
						<element name="kind" type="brp:Objecttype_Kind_DetailsPersoon_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="ouder" type="brp:Objecttype_Ouder_DetailsPersoon_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
						<element name="partner" type="brp:Objecttype_Partner_DetailsPersoon_AntwoordFH" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					</choice>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - KindVan - Familirechtelijke betrekking - OuderVan - Persoon -->
	<complexType name="Objecttype_Kind_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsOuder_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsOuder_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsOuder_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsOuder_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="ouder" type="brp:Objecttype_Ouder_DetailsOuder_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsOuder_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
					<element name="ouderschap" type="brp:Groep_OuderOuderschap_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderschap_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderschap">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Groep_OuderOuderlijkGezag_AntwoordFH">
		<complexContent>
			<restriction base="brp:Groep_OuderOuderlijkGezag">
				<sequence>
					<element ref="stuf:tijdstipRegistratie" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:tijdstipVervallen" minOccurs="0" maxOccurs="1"/>
					<element ref="stuf:datumAanvangGeldigheid" minOccurs="1" maxOccurs="1"/>
					<element ref="stuf:datumEindeGeldigheid" minOccurs="0" maxOccurs="1"/>
					<element name="indicatieOuderHeeftGezag" type="brp:JaNee" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="prohibited"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - OuderVan - Familirechtelijke betrekking - KindVan - Persoon -->
	<complexType name="Objecttype_Ouder_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Ouder">
				<sequence>
					<choice>
						<element name="familierechtelijkeBetrekking" type="brp:Objecttype_FamilierechtelijkeBetrekking_DetailsKind_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
					<element name="ouderschap" type="brp:Groep_OuderOuderschap_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
					<element name="ouderlijkGezag" type="brp:Groep_OuderOuderlijkGezag_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_FamilierechtelijkeBetrekking_DetailsKind_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_FamilierechtelijkeBetrekking">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsKind_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsKind_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="kind" type="brp:Objecttype_Ouder_DetailsKind_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Ouder_DetailsKind_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Kind">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- ... -->
	<!-- Van Persoon - PartnerVan - Huwelijk/GeregistreerdPrtnerscahp - PartnerVan - Persoon -->
	<complexType name="Objecttype_Partner_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice minOccurs="0" maxOccurs="1">
						<element name="geregistreerdPartnerschap" type="brp:Objecttype_GeregistreerdPartnerschap_DetailsPersoon_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
						<element name="huwelijk" type="brp:Objecttype_Huwelijk_DetailsPersoon_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Huwelijk_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Huwelijk">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartner_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_GeregistreerdPartnerschap_DetailsPersoon_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_GeregistreerdPartnerschap">
				<sequence>
					<element name="betrokkenheden" type="brp:Container_RelatieBetrokkenheden_DetailsPartner_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="datumAanvang" type="stuf:OnvolledigeDatum-e" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="gemeenteAanvangCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsAanvangCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsAanvang" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioAanvang" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieAanvang" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landAanvangCode" type="brp:Landcode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="redenEindeCode" type="brp:RedenBeeindigingRelatieCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="datumEinde" type="stuf:OnvolledigeDatum-e" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="gemeenteEindeCode" type="brp:GemeenteCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="woonplaatsEindeCode" type="brp:Woonplaatscode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandsePlaatsEinde" type="brp:BuitenlandsePlaats" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="buitenlandseRegioEinde" type="brp:BuitenlandseRegio" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="omschrijvingLocatieEinde" type="brp:LocatieOmschrijving" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="landEindeCode" type="brp:Landcode" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Relatie"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Container_RelatieBetrokkenheden_DetailsPartner_AntwoordFH">
		<complexContent>
			<restriction base="brp:Container_RelatieBetrokkenheden">
				<sequence>
					<element name="partner" type="brp:Objecttype_Partner_DetailsPartner_AntwoordFH" nillable="false" minOccurs="1" maxOccurs="unbounded"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<complexType name="Objecttype_Partner_DetailsPartner_AntwoordFH">
		<complexContent>
			<restriction base="brp:Objecttype_Partner">
				<sequence>
					<choice>
						<element name="persoon" type="brp:Objectype_PersoonBetrokkene_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					</choice>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Betrokkenheid"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- Algemeen te gebruiken ReferentiePersonen Bevraging -->
	<!-- een niet-ingeschreven persoon kan retourneren -->
	<complexType name="Referentie_Persoon_BevragingResultaat">
		<complexContent>
			<restriction base="brp:Objecttype_Persoon">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
				<attribute ref="stuf:entiteittype" use="required" fixed="Persoon"/>
				<attribute ref="brp:technischeSleutel" use="optional"/>
				<attribute ref="brp:referentieID" use="prohibited"/>
				<attribute ref="brp:communicatieID" use="prohibited"/>
			</restriction>
		</complexContent>
	</complexType>
	<!-- In Referentie-Persoon slechts n adres mee te geven -->
	<complexType name="Container_PersoonAdressen_Referentie_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonAdressen">
				<sequence>
					<element name="adres" type="brp:Objecttype_PersoonAdres_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- In Referentie-Persoon mee te geven indicaties; dit ivm signalerende werkeing bij gebruik in BZM. Nu alleen Verstrekkingsbeperking -->
	<complexType name="Container_PersoonIndicaties_Referentie_AntwoordA">
		<complexContent>
			<restriction base="brp:Container_PersoonIndicaties">
				<sequence>
					<element name="verstrekkingsbeperking" type="brp:Indicator_Verstrekkingsbeperking_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon met Adres -->
	<complexType name="Referentie_PersoonMetAdres_Antwoord">
		<complexContent>
			<restriction base="brp:Referentie_Persoon_BevragingResultaat">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_Referentie_AntwoordA" nillable="true" minOccurs="1" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon met Adres en Betrokkenheden -->
	<complexType name="Referentie_PersoonMetAdresEnBetrokkenheden">
		<complexContent>
			<restriction base="brp:Referentie_Persoon_BevragingResultaat">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="adressen" type="brp:Container_PersoonAdressen_Referentie_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon met Betrokkenheden;  ten behoeve van InformatieVragen -->
	<complexType name="Referentie_PersoonMetBetrokkenheden_Antwoord">
		<complexContent>
			<restriction base="brp:Referentie_Persoon_BevragingResultaat">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
	<!-- -->
	<!-- ReferentiePersoon Identificerend; ten behoeve van Informatievragen of 'Zoek Persoon' identificerend -->
	<complexType name="Referentie_PersoonIdentificerend_Antwoord">
		<complexContent>
			<restriction base="brp:Referentie_Persoon_BevragingResultaat">
				<sequence>
					<element name="soortCode" type="brp:SoortPersoonCode" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="afgeleidAdministratief" type="brp:Groep_PersoonAfgeleidAdministratief_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="identificatienummers" type="brp:Groep_PersoonIdentificatienummers_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="samengesteldeNaam" type="brp:Groep_PersoonSamengesteldeNaam_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geboorte" type="brp:Groep_PersoonGeboorte_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="geslachtsaanduiding" type="brp:Groep_PersoonGeslachtsaanduiding_AntwoordA" nillable="false" minOccurs="1" maxOccurs="1"/>
					<element name="overlijden" type="brp:Groep_PersoonOverlijden_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="indicaties" type="brp:Container_PersoonIndicaties_Referentie_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
					<element name="betrokkenheden" type="brp:Container_PersoonBetrokkenheden_DetailsPersoon_AntwoordA" nillable="true" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</restriction>
		</complexContent>
	</complexType>
</schema>
